<div class="addContainer">
    <div class="modalHeader">
        <div class="editRowModal">
            <div class="modalHeader clearfix">
                <!-- <img [src]='advanceTable.img' alt="avatar"> -->
                <div class="modal-about">
                    <div class="font-weight-bold p-t-5 font-17">
                        {{dialogTitle}}</div>
                </div>
            </div>
        </div>
        <button mat-icon-button (click)="dialogRef.close()" aria-label="Close dialog">
      <mat-icon>close</mat-icon>
    </button>
    </div>
    <div mat-dialog-content>
        <form class="register-form m-4" [formGroup]="advanceTableForm" (ngSubmit)="submit">

            <div class="row">
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width" appearance="outline"  floatLabel="always">
                        <mat-label>Country</mat-label>
                        <input matInput formControlName="geoPointName" required>
                        <mat-error *ngIf="advanceTableForm.get('geoPointName').hasError('required')">
                            Country is required
                        </mat-error>
                    </mat-form-field>
                    </div>
                    <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                        <mat-form-field class="example-full-width" appearance="outline" floatLabel="always">
                            <mat-label>Geo Search String</mat-label>
                            <input
                            placeholder="Geo Search String"
                            matInput
                            formControlName="geoSearchString"
                            ngx-google-places-autocomplete
                            [options]="options"
                            (onAddressChange)="AddressChange($event)"
                            required  (input)="onPickupTyping()"
                            />
                           <mat-error *ngIf="
advanceTableForm.get('geoSearchString')?.invalid &&
(advanceTableForm.get('geoSearchString')?.touched 
 || advanceTableForm.get('geoSearchString')?.dirty)">

                            <span *ngIf="advanceTableForm.get('geoSearchString')?.hasError('required')">
                                Geo Search String is required
                            </span>

                            <span *ngIf="advanceTableForm.get('geoSearchString')?.hasError('invalidGeoSearchString')">
                                Please select an address from suggestions
                            </span>

                        </mat-error>
    
                        </mat-form-field>
                    </div>  
            </div> 
            
            <!-- <div class="row">
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width" appearance="outline"  floatLabel="always">
                        <mat-label>Longitude</mat-label>
                        <input matInput formControlName="longitude" readonly required>
                        <mat-error *ngIf="advanceTableForm.get('longitude').hasError('required')">
                            Longitude is required
                        </mat-error>
                    </mat-form-field>
                    </div>
                    <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                        <mat-form-field class="example-full-width" appearance="outline" floatLabel="always">
                            <mat-label>Latitude</mat-label>
                            <input matInput formControlName="latitude" readonly required>
                            <mat-error *ngIf="advanceTableForm.get('latitude').hasError('required')">
                                Latitude is required
                            </mat-error>
    
                        </mat-form-field>
                    </div>  
            </div>  -->

            <div class="row">
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width" appearance="outline"  floatLabel="always">
                        <mat-label>ISD Code</mat-label>
                        <input matInput formControlName="countryISDCode" required>
                        <mat-error *ngIf="advanceTableForm.get('countryISDCode').hasError('required')">
                            ISD Code is required
                        </mat-error>
                    </mat-form-field>
                    </div>
                    <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                        <mat-form-field class="example-full-width" appearance="outline" floatLabel="always">
                            <mat-label>ISO Code</mat-label>
                            <input matInput formControlName="countryISOCode" required>
                            <mat-error *ngIf="advanceTableForm.get('countryISOCode').hasError('required')">
                                ISO Code is required
                            </mat-error>
    
                        </mat-form-field>
                    </div>  
            </div> 

            <div class="row">
                <!-- <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width" appearance="outline" floatLabel="always">
                        <mat-label>Currency</mat-label>
                        <mat-select required #currencyVal [class.is-invalid]="currencyVal.invalid && currencyVal.touched" formControlName="countryCurrencyID">
                            <mat-option [value]="Currencies.currencyID" *ngFor="let Currencies of CurrencyList">{{Currencies.currencyName}}</mat-option>
                        </mat-select>
                        <mat-error *ngIf="advanceTableForm.get('countryCurrencyID').hasError('required')">
                            Please select a Currency
                        </mat-error>
                    </mat-form-field>
                </div> 
                 -->
                 <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width" appearance="outline" floatLabel="always"> 
                        <mat-label>Currency</mat-label>                       
                        <input  type="text" matInput [matAutocomplete]="auto"
                        formControlName="currencyName" (keyup)="onCurrencyInputChange($event)">
                        <mat-autocomplete #auto="matAutocomplete" (optionSelected)="onCurrencySelected($event.option.value)">
                            <mat-option *ngFor="let options of filteredOptions | async"
                                [value]="options.currencyName" (click)="getTierID(options.currencyID)">
                                {{options.currencyName}}
                            </mat-option>
                        </mat-autocomplete>
                        <mat-error *ngIf="advanceTableForm.controls['currencyName'].hasError('currencyNameInvalid')">
                            Please select a Currency
                        </mat-error>
                    </mat-form-field>
                </div>
                 
                <div class=" col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                    <mat-label>
                        Flag Icon
                    </mat-label>
                    <br>
                    <a href="{{ ImagePath2 }}" target="_blank" *ngIf="ImagePath2">
                        <img [src]="ImagePath2" class="table " style="height: 80px; width: auto;">
                    </a>
    
                    <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                        <app-myupload (onUploadFinished)="FlagIcon($event)"></app-myupload>
                    </div>
                </div> 
            </div>

            <div class="row">
                <div class=" col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                    <mat-label>
                        Banner Image
                    </mat-label>
                    <br>
                    <a href="{{ ImagePath }}" target="_blank" *ngIf="ImagePath">
                        <img [src]="ImagePath" class="table " style="height: 80px; width: auto;">
                    </a>
    
                    <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                        <app-myupload (onUploadFinished)="uploadFinished($event)"></app-myupload>
                    </div>
                </div> 

                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width" appearance="outline" floatLabel="always">
                        <mat-label>Banner Image Alt Tag</mat-label>
                        <input matInput formControlName="bannerImageAltTag" >
                       
                    </mat-form-field>
                </div>  
            </div> 
            
            <div class="row">
                <div class=" col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                    <mat-label>
                        Icon
                    </mat-label>
                    <br>
                    <a href="{{ ImagePath1 }}" target="_blank" *ngIf="ImagePath1">
                        <img [src]="ImagePath1" class="table " style="height: 80px; width: auto;">
                    </a>
    
                    <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                        <app-myupload (onUploadFinished)="ImageUpload($event)"></app-myupload>
                    </div>
                </div>

                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width" appearance="outline" floatLabel="always">
                        <mat-label>Icon Alt Tag</mat-label>
                        <input matInput formControlName="iconAltTag">
                    </mat-form-field>
                </div>
            </div>
            
            <div class="row">
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width" appearance="outline" floatLabel="always">
                        <mat-label>API Integration Code</mat-label>
                        <input matInput formControlName="apiIntegrationCode">
                    </mat-form-field>
                </div>

                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width" appearance="outline" floatLabel="always">
                        <mat-label>Old RentNet GeoPointName</mat-label>
                        <input matInput formControlName="oldRentNetGeoPointName">
                          <mat-error *ngIf="advanceTableForm.get('oldRentNetGeoPointName').hasError('required')">
                            Old RentNet GeoPointName is required
                        </mat-error>
                    </mat-form-field>
                </div>
            </div>

              <div class="row">
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width" appearance="outline" floatLabel="always">
                        <mat-label>Activation Status</mat-label>
                        <mat-select formControlName="activationStatus">
                            <mat-option [value]=true>Active</mat-option>
                            <mat-option [value]=false>Deleted</mat-option>
                        </mat-select>

                        <mat-error *ngIf="advanceTableForm.get('activationStatus').hasError('required')">
                            Activation Status is required
                        </mat-error>
                    </mat-form-field>
                </div>
            </div>
           
            <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
                    <div class="example-button-row">
                        <button mat-raised-button color="primary" *ngIf="saveDisabled" [type]="submit" [disabled]="!advanceTableForm.valid"  (click)="confirmAdd()">Save</button>
                        <mat-spinner *ngIf="!saveDisabled" diameter="30"></mat-spinner>
                        <button mat-raised-button color="warn" (click)="onNoClick(action)" tabindex="-1">{{ action === 'add' ? 'Reset' :  'Cancel'}}</button>
                    </div>
                </div>
            </div>
        </form>
  </div>
