<div class="modalHeader">
  <div class="modal-about">
    <div class="font-weight-bold p-t-5 font-17">
      {{ dialogTitle }}
    </div>
  </div>

  <button mat-icon-button (click)="dialogRef.close()">
    <mat-icon>close</mat-icon>
  </button>
</div>

<mat-card>
  <mat-card-header>
    <!-- <mat-card-title>{{ dialogTitle }}</mat-card-title> -->
    <!-- <button mat-icon-button (click)="dialogRef.close()" class="close-button">
      <mat-icon>close</mat-icon>
    </button> -->
  </mat-card-header>
  <mat-card-content>
    <mat-dialog-content>

     <ng-container *ngIf="formattedPayload; else noPayload">
         <div class="row">
        <div class="col-xl-3 col-lg-3 col-md-12 col-sm-12 mb-2">
          <span class="TDValueBold">Reason Phrase</span> <br />
          <span class="TDValue"> {{ DynamicEInvoiceDetails?.dynamicsAPIReasonPhrase || 'N/A' }}</span> 
        </div>
        <div class="col-xl-3 col-lg-3 col-md-12 col-sm-12 mb-2">
          <span class="TDValueBold">Response</span> <br />
          <span class="TDValue"> {{DynamicEInvoiceDetails?.dynamicsAPIResponseSuccessStatusCode  || 'N/A' }}</span>
         
        </div>

        <div class="col-xl-3 col-lg-3 col-md-12 col-sm-12 mb-2">
          <span class="TDValueBold">Status Code</span> <br />
          <span class="TDValue"> {{DynamicEInvoiceDetails?.dynamicsAPIStatusCode || 'N/A' }}</span>
         
        </div>
      </div>
      <div class="row">
       <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
          <span class="TDValueBold">Error Message</span> <br />
          <span class="TDValue"> {{DynamicEInvoiceDetails?.dynamicsAPIErrorMessage || 'N/A' }}</span>
        </div>
      </div>

      </ng-container>

      <ng-template #noPayload>
        <div class="alert alert-warning">
          <p>Payload data not available or could not be parsed.</p>
        </div>
      </ng-template>

    </mat-dialog-content>
  </mat-card-content>
</mat-card>

