<div class="modalHeader">
  <div class="editRowModal">
    <div class="modalHeader clearfix">
      <div class="modal-about">
        <div class="font-weight-bold p-t-5 font-17">
          {{ dialogTitle }}
        </div>
      </div>
    </div>
  </div>
  <button mat-icon-button (click)="dialogRef.close()" aria-label="Close dialog">
    <mat-icon class="small-close-icon">close</mat-icon>
  </button>
  <style></style>
</div>
<mat-card>
  <mat-card-content *ngIf="dataSource">
    <mat-dialog-content class="of-hidden">
      <ng-container >
        <div class="row">
          <div class="col-xl-4 col-lg-6 col-md-12 col-sm-12 mb-2">
            <span class="TDValueBold">Total Booking</span> <br />
            <span class="TDValue">
              {{ dataSource.totalBooking || 'N/A' }}</span
            >
          </div>
          <div class="col-xl-4 col-lg-6 col-md-12 col-sm-12 mb-2">
            <span class="TDValueBold">Cancelled</span> <br />
            <span class="TDValue">
              {{ dataSource.cancelled || 'N/A' }}</span
            >
          </div>
          <div class="col-xl-4 col-lg-6 col-md-12 col-sm-12 mb-2">
            <span class="TDValueBold">Not Alloted</span> <br />
            <span class="TDValue">
              {{ dataSource.unalloted || 'N/A' }}</span
            >
          </div>
        </div>
        <div class="row">
          <div class="col-xl-4 col-lg-6 col-md-12 col-sm-12 mb-2">
            <span class="TDValueBold">TNC</span> <br />
            <span class="TDValue">
              {{ dataSource.tnc || 'N/A' }}</span
            >
          </div>
        </div>
      </ng-container>
    </mat-dialog-content>
  </mat-card-content>
</mat-card>
