<div class="container-fluid">
<form [formGroup]="advanceTableForm">
<!-- <div *ngFor="let data of advanceTable"> -->
  <div class="row" style="margin-left: 0px;margin-top: 10px;">
    <div class="col-lg-12">
      <div class="table-responsive">
        <table style="width:100%;">
          <thead>
            <tr>
              <th style="width: 50px;"></th>
              <th style="width: 50px; ">Date</th>
              <th style="width: 50px; ">Time</th>
              <th style="width: 50px; ">Km</th>
              <th style="width: 50px; ">Do Not Apply Formula</th>

              <th colspan="3">
                <div style="text-align: center;">Billing Type
                  <br>
                  <br>
                  <div class="row">
                    <div class="col-xl-4 col-lg-3 col-md-6 col-sm-12 mb-2">
                      <input type="radio" name="heading" value="Manual">
                      Manual KM
                    </div>
                    <div class="col-xl-4 col-lg-3 col-md-6 col-sm-12 mb-2">
                      <input type="radio" name="heading" value="App">
                      App KM
                    </div>
                    <div class="col-xl-4 col-lg-3 col-md-6 col-sm-12 mb-2">
                      <input type="radio" name="heading" value="GtrackKM">
                      GTrack KM
                    </div>
                  </div>
                </div>
              </th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Location Out</td>
              <td>
                <mat-form-field appearance="outline" style="width: 110px;" floatLabel="always">
                  <input matInput [matDatepicker]="locOutDate" formControlName="locationOutDate">
                  <mat-datepicker-toggle matSuffix [for]="locOutDate"></mat-datepicker-toggle>
                  <mat-datepicker #locOutDate></mat-datepicker>
                </mat-form-field>
              </td>
              <td>
                <mat-form-field appearance="outline" style="width: 110px;" floatLabel="always">
                  <input matInput [owlDateTimeTrigger]="time1" [owlDateTime]="time1" formControlName="locationOutTime">
                  <button mat-icon-button matSuffix type="button" [owlDateTimeTrigger]="time1" class="date-icon" aria-label="Open time picker"><mat-icon>schedule</mat-icon></button>
                  <owl-date-time [pickerType]="'timer'" #time1></owl-date-time>
                </mat-form-field>
              </td>
              <td style="width:5%">
                <mat-form-field appearance="outline" style="width: 100px;" floatLabel="always">
                  <input matInput formControlName="locationOutKM">
                </mat-form-field>
              </td>
              <td>

                HUB to Start KM

              </td>
              <td>
                <mat-form-field appearance="outline" style="width: 110px;" floatLabel="always">
                  <!-- <input matInput formControlName="locationOutEntryMethod"> -->
                  <input matInput >
                </mat-form-field>
              </td>
              <!-- <td>{{(data.locationOutDate | date:'dd-MM-yyyy') !== null ? (data.locationOutDate | date:'dd-MM-yyyy') :  'N/A'}} </td>
          <td>{{(data.locationOutTime | date:'shortTime') !== null ? (data.locationOutTime | date:'shortTime') :  'N/A'}}</td>
          <td>{{data.locationOutKM ||  'N/A'}}</td>
          <td>{{data.locationOutEntryMethod ||  'N/A'}}</td> -->
              <td>
                <mat-form-field appearance="outline" style="width: 110px;" floatLabel="always">
                  <input matInput>
                </mat-form-field>
              </td>
              <td>
                <mat-form-field appearance="outline" style="width: 110px;" floatLabel="always">
                  <input matInput>
                </mat-form-field>
              </td>
            </tr>
            <tr>
              <td>Pick up</td>
              <td>
                <mat-form-field appearance="outline" style="width: 110px;" floatLabel="always">
                  <input matInput [matDatepicker]="pickDate" formControlName="pickUpDate">
                  <mat-datepicker-toggle matSuffix [for]="pickDate"></mat-datepicker-toggle>
                  <mat-datepicker #pickDate></mat-datepicker>
                </mat-form-field>
              </td>
              <td>
                <mat-form-field appearance="outline" style="width: 110px;" floatLabel="always">
                  <input matInput [owlDateTimeTrigger]="time2" [owlDateTime]="time2" formControlName="pickUpTime">
                  <button mat-icon-button matSuffix type="button" [owlDateTimeTrigger]="time2" class="date-icon" aria-label="Open time picker"><mat-icon>schedule</mat-icon></button>
                  <owl-date-time [pickerType]="'timer'" #time2></owl-date-time>
                </mat-form-field>
              </td>
              <td style="width:5%">
                <mat-form-field appearance="outline" style="width: 100px;" floatLabel="always">
                  <input matInput formControlName="pickUpKM" required>
                </mat-form-field>
              </td>
              <td style="width: 110px;">

                Start to End KM


              </td>
              <td>
                <mat-form-field appearance="outline" style="width: 110px;" floatLabel="always">
                  <!-- <input matInput formControlName="locationOutEntryMethod"> -->
                  <input matInput >
                </mat-form-field>
              </td>
              <!-- <td>{{(data.pickUpDate | date:'dd-MM-yyyy') !== null ? (data.pickUpDate | date:'dd-MM-yyyy') :  'N/A'}}</td>
          <td>{{(data.pickUpTime | date:'shortTime') !== null ? (data.pickUpTime | date:'shortTime') :  'N/A'}}</td>
          <td>{{data.pickUpKM ||  'N/A'}}</td>
          <td>{{data.pickupEntryMethod ||  'N/A'}}</td> -->
              <td>
                <mat-form-field appearance="outline" style="width: 110px;" floatLabel="always">
                  <input matInput>
                </mat-form-field>
              </td>
              <td>
                <mat-form-field appearance="outline" style="width: 110px;" floatLabel="always">
                  <input matInput>
                </mat-form-field>
              </td>
            </tr>
            <tr>
              <td>Drop</td>
              <td>
                <mat-form-field appearance="outline" style="width: 110px;" floatLabel="always">
                  <input matInput [matDatepicker]="dropDate" formControlName="dropOffDate">
                  <mat-datepicker-toggle matSuffix [for]="dropDate"></mat-datepicker-toggle>
                  <mat-datepicker #dropDate></mat-datepicker>
                </mat-form-field>
              </td>
              <td>
                <mat-form-field appearance="outline" style="width: 110px;" floatLabel="always">
                  <input matInput [owlDateTimeTrigger]="time3" [owlDateTime]="time3" formControlName="dropOffTime">
                  <button mat-icon-button matSuffix type="button" [owlDateTimeTrigger]="time3" class="date-icon" aria-label="Open time picker"><mat-icon>schedule</mat-icon></button>
                  <owl-date-time [pickerType]="'timer'" #time3></owl-date-time>
                </mat-form-field>
              </td>
              <td style="width:5%">
                <mat-form-field appearance="outline" style="width: 100px;" floatLabel="always">
                  <input matInput formControlName="dropOffKM" required>
                </mat-form-field>
              </td>
              <td style="width: 110px;">

                End to HUB KM


              </td>
              <td>
                <mat-form-field appearance="outline" style="width: 110px;" floatLabel="always">
                  <!-- <input matInput formControlName="locationOutEntryMethod"> -->
                  <input matInput >
                </mat-form-field>
              </td>
              <!-- <td>{{(data.dropOffDate | date:'dd-MM-yyyy') !== null ? (data.dropOffDate | date:'dd-MM-yyyy') :  'N/A'}}</td> 
          <td>{{(data.dropOffTime | date:'shortTime') !== null ? (data.dropOffTime | date:'shortTime') :  'N/A'}}</td>
          <td>{{data.dropOffKM||  'N/A'}}</td>
          <td>{{data.dropOffEntryMethod ||  'N/A'}}</td> -->
              <td>
                <mat-form-field appearance="outline" style="width: 110px;" floatLabel="always">
                  <input matInput>
                </mat-form-field>
              </td>
              <td>
                <mat-form-field appearance="outline" style="width: 110px;" floatLabel="always">
                  <input matInput>
                </mat-form-field>
              </td>
            </tr>
            <tr>
              <td>Location In</td>
              <td>
                <mat-form-field appearance="outline" style="width: 110px;" floatLabel="always">
                  <input matInput [matDatepicker]="locInDate" formControlName="locationInDate">
                  <mat-datepicker-toggle matSuffix [for]="locInDate"></mat-datepicker-toggle>
                  <mat-datepicker #locInDate></mat-datepicker>
                </mat-form-field>
              </td>
              <td>
                <mat-form-field appearance="outline" style="width: 110px;" floatLabel="always">
                  <input matInput [owlDateTimeTrigger]="time4" [owlDateTime]="time4" formControlName="locationInTime">
                  <button mat-icon-button matSuffix type="button" [owlDateTimeTrigger]="time4" class="date-icon" aria-label="Open time picker"><mat-icon>schedule</mat-icon></button>
                  <owl-date-time [pickerType]="'timer'" #time4></owl-date-time>
                </mat-form-field>
              </td>
              <td style="width:5%">
                <mat-form-field appearance="outline" style="width: 100px;" floatLabel="always">
                  <input matInput formControlName="locationInKM" required>
                </mat-form-field>
              </td>
              <td>

                Customer Signature

              </td>

            </tr>
            <tr>
              <td style="width: 100px;">Total</td>
              <td style="width: 100px;"></td>
              <td style="width: 100px;"></td>
              <td style="width: 100px;"></td>
              <td style="width: 100px;">Total</td>
              <td style="width: 100px;"></td>
              <td style="width: 100px;"></td>
              <td style="width: 100px;"></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>


  </div>
<!-- </div> -->
</form>
&nbsp;
&nbsp;
<div class="row">
  <div class="col-xl-2 col-lg-6 col-md-12 col-sm-12 mb-2"></div>
  <div class="col-xl-2 col-lg-6 col-md-12 col-sm-12 mb-2">
    <b>Duty Slip Type</b> <br>
    <span>A4 Change</span>
  </div>
  <div class="col-xl-2 col-lg-6 col-md-12 col-sm-12 mb-2">
    <b>Billing Type</b> <br>
    <span>GPS Change</span>
  </div>
  <div class="col-xl-2 col-lg-6 col-md-12 col-sm-12 mb-2"></div>
  <div class="col-xl-2 col-lg-6 col-md-12 col-sm-12 mb-2"></div>
  <div class="col-xl-2 col-lg-6 col-md-12 col-sm-12 mb-2"></div>
</div>
</div>