<div class="modalHeader">
  <div class="editRowModal">
    <div class="modalHeader clearfix">
      <div class="modal-about">
        <h6
          mat-dialog-title
          class="font-weight-bold p-t-5 font-17"
          style="font-family: Poppins"
        >
          {{ dialogTitle }}
        </h6>
      </div>
    </div>
  </div>
  <button mat-icon-button (click)="dialogRef.close()" aria-label="Close dialog">
    <mat-icon class="small-close-icon">close</mat-icon>
  </button>
</div>
<mat-card>
  <mat-card-content>
    <mat-dialog-content class="of-hidden">
      <div *ngFor="let sp of specialInstructionInfo.specialInstruction; let i = index">
        <div class="row">
          <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 mb-2">
            <span class="TDValueBold">Special Instruction</span> <br />
            {{ sp.specialInstruction}}
          </div>
          <!-- <hr /> -->
          <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 mb-2">
            <span class="TDValueBold">Photo</span> <br />
            <span class="table-img tbl-col-width-per-12"><img *ngIf="sp.specialInstructionAttachment && (sp.specialInstructionAttachment.startsWith('http://') || sp.specialInstructionAttachment.startsWith('https://') || sp.specialInstructionAttachment.startsWith('data:') || sp.specialInstructionAttachment.startsWith('/assets/'))" style="cursor: pointer;" [src]="sp.specialInstructionAttachment" (click)="openImageInNewTab(sp.specialInstructionAttachment)" (error)="$any($event.target).style.display='none'"/></span>
          </div>
        </div>
      </div>
    </mat-dialog-content>
  </mat-card-content>
</mat-card>
