<div class="addContainer">
    <div class="modalHeader">
        <div class="editRowModal">
            <div class="modalHeader clearfix">
                <!-- <img [src]='advanceTable.img' alt="avatar"> -->
                <div class="modal-about">
                    <div class="font-weight-bold p-t-5 font-17">
                        {{dialogTitle}}</div>
                </div>
            </div>
        </div>
        <button mat-icon-button (click)="dialogRef.close()" aria-label="Close dialog">
      <mat-icon>close</mat-icon>
    </button>
    </div>
    <div mat-dialog-content>
        <form class="register-form m-4" [formGroup]="advanceTableForm" (ngSubmit)="submit">

            <div class="row">
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width" appearance="outline"  floatLabel="always">
                        <mat-label>Vehicle</mat-label>
                        <input matInput formControlName="vehicle" required>
                        <mat-error *ngIf="advanceTableForm.get('vehicle').hasError('required')">
                            Name is required
                        </mat-error>
                    </mat-form-field>
                </div>

                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                    <!-- <mat-form-field class="example-full-width" appearance="outline" floatLabel="always">
                        <mat-label>Category</mat-label>
                        <mat-select required #categoryVal [class.is-invalid]="categoryVal.invalid && categoryVal.touched" formControlName="vehicleCategoryID" required>
                            <mat-option [value]="VehicleCategory.vehicleCategoryID" *ngFor="let VehicleCategory of VehicleCategoryList" >{{VehicleCategory.vehicleCategory}}</mat-option>
                        </mat-select>
                        <mat-error>
                            Please select a Category
                        </mat-error>
                    </mat-form-field> -->
                    <mat-form-field class="example-full-width" appearance="outline" floatLabel="always">
                        <mat-label>Category</mat-label>
                        <input type="text" matInput formControlName="vehicleCategory" [matAutocomplete]="auto" required>
                        <mat-autocomplete #auto="matAutocomplete" (optionSelected)="onVehicleCategorySelected($event.option.value)">
                          <mat-option *ngFor="let option of filteredVehicleOptions | async" [value]="option.vehicleCategory" (click)="getTitles(option.vehicleCategoryID)">
                            {{option.vehicleCategory}}
                          </mat-option>
                        </mat-autocomplete>
                        <mat-error *ngIf="advanceTableForm.controls['vehicleCategory'].hasError('vehicleCategoryTypeInvalid')">
                            Please select a Category
                        </mat-error>

                      </mat-form-field>
                </div>
            </div>

            <div class="row">
                <div class=" col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                    <mat-label>
                        Image
                    </mat-label>
                    <br>
                    <a href="{{ ImagePath }}" target="_blank" *ngIf="ImagePath">
                        <img [src]="ImagePath" class="table " style="height: 80px; width: auto;">
                    </a>
    
                    <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                        <app-myupload (onUploadFinished)="uploadFinished($event)"></app-myupload>
                    </div>
                </div>

                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width" appearance="outline"  floatLabel="always">
                        <mat-label>Alt Tag</mat-label>
                        <input matInput formControlName="vehicleAltTag">
                        <!-- <mat-error *ngIf="advanceTableForm.get('vehicleAltTag').hasError('required')">
                            Alt Tag is required
                        </mat-error> -->
                    </mat-form-field>
                </div>
            </div>

            <div class="row">
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width" appearance="outline" floatLabel="always">
                        <mat-label>Sitting Capacity</mat-label>
                        <mat-select required #sittingVal [class.is-invalid]="sittingVal.invalid && sittingVal.touched" formControlName="vehicleSittingCapacity" required>
                            <mat-option value="None">None</mat-option>
                            <mat-option [value]="1">01</mat-option>
                            <mat-option [value]="2">02</mat-option>
                            <mat-option [value]="3">03</mat-option>
                            <mat-option [value]="4">04</mat-option>
                            <mat-option [value]="5">05</mat-option>
                            <mat-option [value]="6">06</mat-option>
                            <mat-option [value]="7">07</mat-option>
                            <mat-option [value]="8">08</mat-option>
                            <mat-option [value]="9">09</mat-option>
                            <mat-option [value]="10">10</mat-option>
                            <mat-option [value]="11">11</mat-option>
                            <mat-option [value]="12">12</mat-option>
                            <mat-option [value]="13">13</mat-option>
                            <mat-option [value]="14">14</mat-option>
                            <mat-option [value]="15">15</mat-option>
                            <mat-option [value]="16">16</mat-option>
                            <mat-option [value]="17">17</mat-option>
                            <mat-option [value]="18">18</mat-option>
                            <mat-option [value]="19">19</mat-option>
                            <mat-option [value]="20">20</mat-option>
                            <mat-option [value]="21">21</mat-option>
                            <mat-option [value]="22">22</mat-option>
                            <mat-option [value]="23">23</mat-option>
                            <mat-option [value]="24">24</mat-option>
                            <mat-option [value]="25">25</mat-option>
                            <mat-option [value]="26">26</mat-option>
                            <mat-option [value]="27">27</mat-option>
                            <mat-option [value]="28">28</mat-option>
                            <mat-option [value]="29">29</mat-option>
                            <mat-option [value]="30">30</mat-option>
                            <mat-option [value]="31">31</mat-option>
                            <mat-option [value]="32">32</mat-option>
                            <mat-option [value]="33">33</mat-option>
                            <mat-option [value]="34">34</mat-option>
                            <mat-option [value]="35">35</mat-option>
                            <mat-option [value]="36">36</mat-option>
                            <mat-option [value]="37">37</mat-option>
                            <mat-option [value]="38">38</mat-option>
                            <mat-option [value]="39">39</mat-option>
                            <mat-option [value]="40">40</mat-option>
                            <mat-option [value]="41">41</mat-option>
                            <mat-option [value]="42">42</mat-option>
                            <mat-option [value]="43">43</mat-option>
                            <mat-option [value]="44">44</mat-option>
                            <mat-option [value]="45">45</mat-option>
                            <mat-option [value]="46">46</mat-option>
                            <mat-option [value]="47">47</mat-option>
                            <mat-option [value]="48">48</mat-option>
                            <mat-option [value]="49">49</mat-option>
                            <mat-option [value]="50">50</mat-option>
                            <mat-option [value]="51">51</mat-option>
                            <mat-option [value]="52">52</mat-option>
                            <mat-option [value]="53">53</mat-option>
                            <mat-option [value]="54">54</mat-option>
                            <mat-option [value]="55">55</mat-option>
                            <mat-option [value]="56">56</mat-option>
                            <mat-option [value]="57">57</mat-option>
                            <mat-option [value]="58">58</mat-option>
                            <mat-option [value]="59">59</mat-option>
                            <mat-option [value]="60">60</mat-option>

                        </mat-select>
                        <mat-error>
                            Please select a Sitting Capacity
                        </mat-error>
                    </mat-form-field>
                </div>

                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width" appearance="outline" floatLabel="always">
                        <mat-label>Baggage Capacity</mat-label>
                        <input matInput (keypress)="numberOnly($event)" formControlName="vehicleBaggageCapacity" required>
                        <mat-error *ngIf="advanceTableForm.get('vehicleBaggageCapacity').hasError('required')">
                            Name is required
                        </mat-error>
                    </mat-form-field>
                </div>
            </div>

            <div class="row">
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                    <!-- <mat-form-field class="example-full-width" appearance="outline" floatLabel="always">
                        <mat-label>Manufacturer</mat-label>
                        <mat-select required #manufacturerVal [class.is-invalid]="manufacturerVal.invalid && manufacturerVal.touched" formControlName="vehicleManufacturerID" required>
                            <mat-option [value]="VehicleManufacturer.vehicleManufacturerID" *ngFor="let VehicleManufacturer of VehicleManufacturerList" >{{VehicleManufacturer.vehicleManufacturer}}</mat-option>
                        </mat-select>
                        <mat-error>
                            Please select a Manufacturer
                        </mat-error>
                    </mat-form-field> -->

                    <mat-form-field class="example-full-width" appearance="outline" floatLabel="always">
                        <mat-label>Vehicle Manufacturer</mat-label>
                        <input required type="text" matInput formControlName="vehicleManufacturer" [matAutocomplete]="auto1">
                        <mat-autocomplete #auto1="matAutocomplete" (optionSelected)="onVehicleManufacturerSelected($event.option.value)">
                          <mat-option *ngFor="let option of filteredVehicleManufacturerOptions | async" [value]="option.vehicleManufacturer" (click)="getvehicleManufacturerID(option.vehicleManufacturerID)">
                            {{option.vehicleManufacturer}}
                          </mat-option>
                        </mat-autocomplete>
                        <mat-error *ngIf="advanceTableForm.controls['vehicleManufacturer'].hasError('vehicleManufacturerTypeInvalid')">
                            Please select a Vehicle Manufacturer
                        </mat-error>
                      </mat-form-field>
                </div>

                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                    <!-- <mat-form-field class="example-full-width" appearance="outline"  floatLabel="always">
                        <mat-label>Acriss Code</mat-label>
                        <input matInput formControlName="vehicleAcrissCode" required>
                        <mat-error *ngIf="advanceTableForm.get('vehicleAcrissCode').hasError('required')">
                            Acriss Code is required
                        </mat-error>
                    </mat-form-field> -->

                    <mat-form-field class="example-full-width" appearance="outline" floatLabel="always">
                        <mat-label>Acriss Code</mat-label>
                        <input type="text" matInput formControlName="vehicleAcrissCode" [matAutocomplete]="auto7">
                        <mat-autocomplete #auto7="matAutocomplete" (optionSelected)="onAcrisSelected($event.option.value)">
                          <mat-option *ngFor="let option of filteredsearchAccrissCodeOptions | async" [value]="option.acrisCode" (click)="getacris(option.acrisCode)">
                            {{option.acrisCode}}
                          </mat-option>
                        </mat-autocomplete>
                        <!-- <mat-error *ngIf="advanceTableForm.controls['vehicleAcrissCode'].hasError('acrisCodeTypeInvalid')">
                            Please select a Acriss Code
                        </mat-error> -->
                      </mat-form-field>
                </div>
            </div>

            <div class="row"> 
                 <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width" appearance="outline" floatLabel="always">
                        <mat-label>Old RentNet Car Type</mat-label>
                        <input matInput  formControlName="oldRentNetCar_Type">
                        <mat-error *ngIf="advanceTableForm.get('oldRentNetCar_Type')?.hasError('required')">
                             Old RentNet Car Type is required
                        </mat-error>
                    </mat-form-field>
                </div>   
                   <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                        <mat-form-field class="example-full-width" appearance="outline" floatLabel="always">
                            <mat-label>Activation Status</mat-label>
                            <mat-select formControlName="activationStatus">
                                <mat-option [value]=true>Active</mat-option>
                                <mat-option [value]=false>Deleted</mat-option>
                            </mat-select>
    
                            <mat-error *ngIf="advanceTableForm.get('activationStatus').hasError('required')">
                                Activation Status is required
                            </mat-error>
                        </mat-form-field>
                    </div>
            </div>                    
            
            <div class="row">
                <div class="example-button-row">
                    <!-- Save Button -->
                    <button mat-raised-button color="primary" [type]="submit" [disabled]="!advanceTableForm.valid || isLoading" (click)="confirmAdd()">
                      <!-- Spinner inside button when loading -->
                      <span *ngIf="!isLoading">Save</span>
                      <mat-spinner *ngIf="isLoading" diameter="20" [diameter]="20"></mat-spinner>
                    </button>
                  
                    <!-- Reset Button (only visible when action is 'add') -->
                    <button *ngIf="action === 'add'" mat-raised-button color="warn" (click)="onNoClick()" tabindex="-1">Reset</button>
                  
                    <!-- Cancel Button (only visible when action is 'edit') -->
                    <button *ngIf="action === 'edit'" mat-raised-button color="warn" (click)="onNoClick()" tabindex="-1">Cancel</button>
                  </div>
            </div>     
            
        </form>
  </div>
