/* CENTER THE FORM */
.signup-wrapper
  width: 100%
  min-height: 10vh
  display: flex
  justify-content: center
  align-items: flex-start
  padding-top: 0px
  background: #f5f5f5

/* MATERIAL FIXES */
.mat-form-field-appearance-outline .mat-form-field-flex
  background: #ffffff !important

.mat-form-field
  background: #ffffff !important
  width: 90%

.mat-form-field-outline
  color: #dcdcdc !important
  border-color: #dcdcdc !important

.mat-form-field-outline-thick
  border-color: #ee2b31 !important

.mat-form-field-label
  color: #575757 !important

.mat-input-element
  color: #333 !important

.mat-form-field-prefix .mat-icon
  color: #555 !important
  margin-right: 3px

/* SIGNUP BOX */
.signup-box
  width: 530px
  background: #ffffff
  padding: 15px 20px
  border: 2px solid #353535
  border-radius: 10px
  box-shadow: 0 1px 5px rgba(0,0,0,0.1)
  margin-top: 5px

/* LOGO CENTER */
.logo-box
  text-align: center
  margin-bottom: 5px

  img
    width: 120px

/* REGISTER BUTTON */
.btn-register
  width: 100%
  height: 45px
  background: #ee2b31 !important
  color: #ffffff !important
  font-size: 18px
  border-radius: 5px
  margin-top: 5px

  &:hover
    background: #333 !important
