<div class="addContainer">
    <div class="modalHeader">
        <div class="editRowModal">
            <div class="modalHeader clearfix">
                <!-- <img [src]='advanceTable.img' alt="avatar"> -->
                <div class="modal-about">
                    <div class="font-weight-bold p-t-5 font-17">
                        {{dialogTitle}}</div>
                </div>
            </div>
        </div>
        <button mat-icon-button (click)="dialogRef.close()" aria-label="Close dialog">
      <mat-icon>close</mat-icon>
    </button>
    </div>
    <div mat-dialog-content>
        <form class="register-form m-4" [formGroup]="advanceTableForm" (ngSubmit)="submit">
            <div class="row">
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width" appearance="outline" floatLabel="always">
                        <mat-label>Supplier Name</mat-label>
                        <input required matInput formControlName="supplierName">

                        <mat-error *ngIf="advanceTableForm.get('supplierName').hasError('required')">
                            Supplier Name is required
                        </mat-error>
                    </mat-form-field>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                    <!-- <mat-form-field class="example-full-width" appearance="outline"  floatLabel="always">
                        <mat-label>Document</mat-label>
                         <mat-select required #supplierRequiredDocumentsVal [class.is-invalid]="supplierRequiredDocumentsVal.invalid && supplierRequiredDocumentsVal.touched" 
                         formControlName="supplierRequiredDocumentsID">
                            <mat-option [value]="Document.documentID" *ngFor="let Document of DocumentList">{{Document. documentName}}</mat-option>
                        </mat-select>
                      
                    </mat-form-field> -->
                    <mat-form-field class="example-full-width" appearance="outline" floatLabel="always"> 
                        <mat-label>Document</mat-label>                       
                        <input  type="text" matInput [matAutocomplete]="auto1"
                        formControlName="documentName">
                        <mat-autocomplete #auto1="matAutocomplete" (optionSelected)="onDocumentSelected($event.option.value)">
                            <mat-option *ngFor="let options of filteredDocumentOptions | async"
                                [value]="options.documentName" (click)="getTitles(options.documentID)">
                                {{options.documentName}}
                            </mat-option>
                        </mat-autocomplete>
                        <mat-error *ngIf="advanceTableForm.controls['documentName'].hasError('searchDocumentInvalid')">
                            Please select any Document
                          </mat-error>                       
                        
                    </mat-form-field>
                    <div class="hint-container">
                        <mat-hint align="end">
                          <a style="cursor: pointer; color: #007bff; padding: 10px; font-size: 10px !important; font-style: italic;"
                          (click)="openDocument()">
                            New Document
                          </a>
                        </mat-hint>
                      </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width" appearance="outline"  floatLabel="always">
                        <mat-label>Valid Till</mat-label>
                        <input required matInput [matDatepicker]="validTill" formControlName="validTill"  
                        placeholder="DD/MM/YYYY"  (blur)="onBlurValidTillDate($event.target.value)">
                        <mat-datepicker-toggle matSuffix [for]="validTill"></mat-datepicker-toggle>
                        <mat-datepicker #validTill></mat-datepicker>
                        <mat-error *ngIf="advanceTableForm.get('validTill')?.hasError('required')">
                            Valid Till Date is required.
                          </mat-error>
    
                        <mat-error *ngIf="advanceTableForm.get('validTill')?.hasError('invalidDate')">
                            Invalid date format. Use DD/MM/YYYY.
                          </mat-error>
    
                    </mat-form-field>

                </div>

                <div class=" col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                    <mat-label>
                         Image
                    </mat-label>
                    <br>
                    <a href="{{ ImagePath }}" target="_blank" *ngIf="ImagePath">
                        <img [src]="ImagePath" class="table " style="height: 80px; width: auto;">
                    </a>
    
                    <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                        <app-myupload (onUploadFinished)="uploadFinished($event)"></app-myupload>
                    </div>
                </div> 
                
              
            </div>
            <div class="row">
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2" *ngIf="advanceTableForm.value.supplierRequiredDocumentNonAvailabilityReason === ''">
                    <mat-form-field class="example-full-width" appearance="outline" floatLabel="always">
                        <mat-label>Document Number</mat-label>
                        <input required matInput formControlName="supplierRequiredDocumentsNumber">
                    </mat-form-field>
                </div>

                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2" *ngIf="advanceTableForm.value.supplierRequiredDocumentNonAvailabilityReason">
                    <mat-form-field class="example-full-width" appearance="outline" floatLabel="always">
                        <mat-label>Document Number</mat-label>
                        <input matInput formControlName="supplierRequiredDocumentsNumber">
                    </mat-form-field>
                </div>

                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2" *ngIf="advanceTableForm.value.supplierRequiredDocumentsNumber">
                    <mat-form-field class="example-full-width" appearance="outline" floatLabel="always">
                        <mat-label>Non Availability Reason</mat-label>
                        <input matInput formControlName="supplierRequiredDocumentNonAvailabilityReason">
                    </mat-form-field>
                </div>

                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2" *ngIf="advanceTableForm.value.supplierRequiredDocumentsNumber === ''">
                    <mat-form-field class="example-full-width" appearance="outline" floatLabel="always">
                        <mat-label>Non Availability Reason</mat-label>
                        <input required matInput formControlName="supplierRequiredDocumentNonAvailabilityReason">
                    </mat-form-field>
                </div>
            </div>
            <div class="row">
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width" appearance="outline"  floatLabel="always">
                        <mat-label>Uploading Date</mat-label>
                        <input required matInput [matDatepicker]="supplierRequiredDocumentAdditionDate" formControlName="supplierRequiredDocumentAdditionDate"  
                        placeholder="DD/MM/YYYY" (blur)="onBlurUpdateDate($event.target.value)" disabled>
                        <mat-datepicker-toggle matSuffix [for]="supplierRequiredDocumentAdditionDate"></mat-datepicker-toggle>
                        <mat-datepicker #supplierRequiredDocumentAdditionDate></mat-datepicker>
                        <mat-error *ngIf="advanceTableForm.get('supplierRequiredDocumentAdditionDate')?.hasError('required')">
                            Uploading Date is required.
                          </mat-error>
    
                        <mat-error *ngIf="advanceTableForm.get('supplierRequiredDocumentAdditionDate')?.hasError('invalidDate')">
                            Invalid date format. Use DD/MM/YYYY.
                          </mat-error>
    
                    </mat-form-field>

                </div>

                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width" appearance="outline"  floatLabel="always">
                        <mat-label>Employee Name</mat-label>
                        <input matInput formControlName="employeeName"  required  readonly>
                       
                    </mat-form-field>

                </div>
              </div>
            
            <div class="row">
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                        <mat-form-field class="example-full-width" appearance="outline"  floatLabel="always">
                            <mat-label>Activation Status</mat-label>
                            <mat-select formControlName="activationStatus">
                                <mat-option [value]=true>Active</mat-option>
                                <mat-option [value]=false>Deleted</mat-option>
                            </mat-select>
    
                        </mat-form-field>
                    </div>
            </div>
           
            <div class="row">
                <div class="example-button-row">
                    <!-- Save Button -->
                    <button mat-raised-button color="primary" [type]="submit" [disabled]="!advanceTableForm.valid || isLoading" (click)="confirmAdd()">
                      <!-- Spinner inside button when loading -->
                      <span *ngIf="!isLoading">Save</span>
                      <mat-spinner *ngIf="isLoading" diameter="20" [diameter]="20"></mat-spinner>
                    </button>
                  
                    <!-- Reset Button (only visible when action is 'add') -->
                    <button *ngIf="action === 'add'" mat-raised-button color="warn" (click)="onNoClick()" tabindex="-1">Reset</button>
                  
                    <!-- Cancel Button (only visible when action is 'edit') -->
                    <button *ngIf="action === 'edit'" mat-raised-button color="warn" (click)="onNoClick()" tabindex="-1">Cancel</button>
                  </div>
                  
            </div>
        </form>
    </div>