<div class="addContainer">
    <div class="modalHeader">
        <div class="editRowModal">
            <div class="modalHeader clearfix">
                <!-- <img [src]='advanceTable.img' alt="avatar"> -->
                <div class="modal-about">
                    <div class="font-weight-bold p-t-5 font-17">
                        {{dialogTitle}}</div>
                </div>
            </div>
        </div>
        <button mat-icon-button (click)="dialogRef.close()" aria-label="Close dialog">
      <mat-icon>close</mat-icon>
    </button>
    </div>
    <div mat-dialog-content>
        <form class="register-form m-4" [formGroup]="advanceTableForm" (ngSubmit)="submit">
            <div class="row">
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width" appearance="outline"  floatLabel="always">
                        <mat-label>Duty Start City</mat-label>
                        <input matInput [matAutocomplete]="auto" [formControlName]="'dutyStartCity'"  required >
                        <mat-autocomplete #auto="matAutocomplete">
                            <mat-option *ngFor="let options of filteredStartCityOptions | async"
                                [value]="options.geoPointName" (click)="getStartCityID(options.geoPointID)">
                                {{options.geoPointName}}
                            </mat-option>
                        </mat-autocomplete>
                        <mat-error *ngIf="advanceTableForm.get('dutyStartCity').hasError('required')">
                                City is required
                        </mat-error>
                        </mat-form-field>
                </div>

                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width" appearance="outline" floatLabel="always">
                        <mat-label>Start Address</mat-label>
                        <input matInput [formControlName]="'dutyStartAddress'" required >
                        <mat-error *ngIf="advanceTableForm.get('dutyStartAddress').hasError('required')">
                            Start Address is required
                        </mat-error>
                        </mat-form-field>
                </div>
            </div>
          
            <div class="row">
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width" appearance="outline"  floatLabel="always">
                        <mat-label>Start Date</mat-label>
                        <input matInput [matDatepicker]="dutyStartDate" 
                        [formControlName]="'dutyStartDate'">
                        <mat-datepicker-toggle matSuffix [for]="dutyStartDate"></mat-datepicker-toggle>
                        <mat-datepicker #dutyStartDate></mat-datepicker>
                        <mat-error *ngIf="advanceTableForm.get('dutyStartDate').hasError('required')">
                            Start Date is required
                        </mat-error>
                    </mat-form-field>
                  </div>

                  <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width" appearance="outline"  floatLabel="always">
                        <mat-label>Start Time</mat-label>
                        <input matInput [owlDateTimeTrigger]="time1" [owlDateTime]="time1"
                            [formControlName]="'dutyStartTime'">
                        <button mat-icon-button matSuffix type="button" [owlDateTimeTrigger]="time1" class="date-icon" aria-label="Open time picker"><mat-icon>schedule</mat-icon></button>
                        <owl-date-time [pickerType]="'timer'" #time1 ></owl-date-time>
                        <mat-error *ngIf="advanceTableForm.get('dutyStartTime').hasError('required')">
                            Start Time is required
                        </mat-error>
                    </mat-form-field>
                </div>
            </div>

            <div class="row">
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width" appearance="outline"  floatLabel="always">
                        <mat-label>Start KM</mat-label>
                        <input matInput [formControlName]="'dutyStartKM'" required (input)="getTotalKMs()">
                        <mat-error *ngIf="advanceTableForm.get('dutyStartKM').hasError('required')">
                            Start KM is required
                        </mat-error>
                        </mat-form-field>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width" appearance="outline"  floatLabel="always">
                        <mat-label>End City</mat-label>
                        <input matInput [matAutocomplete]="auto1" [formControlName]="'dutyEndCity'"  >
                        <mat-autocomplete #auto1="matAutocomplete">
                            <mat-option *ngFor="let options of filteredEndCityOptions| async"
                                [value]="options.geoPointName" (click)="getEndCityID(options.geoPointID)">
                                {{options.geoPointName}}
                            </mat-option>
                        </mat-autocomplete>
                        <!-- <mat-error *ngIf="advanceTableForm.get('dutyEndCity').hasError('required')">
                            End City is required
                        </mat-error> -->
                        </mat-form-field>
                </div>
            </div>

            <div class="row">
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width" appearance="outline" floatLabel="always">
                        <mat-label>End Address</mat-label>
                        <input matInput [formControlName]="'dutyEndAddress'" required >
                        <mat-error *ngIf="advanceTableForm.get('dutyEndAddress').hasError('required')">
                            End Address is required
                        </mat-error>
                        </mat-form-field>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width" appearance="outline"  floatLabel="always">
                        <mat-label>End Date</mat-label>
                        <input matInput [matDatepicker]="dutyEndDate" 
                        [formControlName]="'dutyEndDate'" (dateChange)="getDateTime()" >
                        <mat-datepicker-toggle matSuffix [for]="dutyEndDate"></mat-datepicker-toggle>
                        <mat-datepicker #dutyEndDate></mat-datepicker>
                        <mat-error *ngIf="advanceTableForm.get('dutyEndDate').hasError('required')">
                            End Date is required
                        </mat-error>
                    </mat-form-field>
                </div>
            </div>
            <div class="row">
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">  
                    <mat-form-field class="example-full-width" appearance="outline"  floatLabel="always">
                    <mat-label>End Time</mat-label>
                    <input matInput [owlDateTimeTrigger]="time2" [owlDateTime]="time2"
                        [formControlName]="'dutyEndTime'" (input)="getDateTime()">
                    <button mat-icon-button matSuffix type="button" [owlDateTimeTrigger]="time2" class="date-icon" aria-label="Open time picker"><mat-icon>schedule</mat-icon></button>
                    <owl-date-time [pickerType]="'timer'" #time2 (afterPickerClosed)="getDateTime()"></owl-date-time>
                    <mat-error *ngIf="advanceTableForm.get('dutyEndTime').hasError('required')">
                        End Time is required
                    </mat-error>
                </mat-form-field>
            </div>
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width" appearance="outline"  floatLabel="always">
                        <mat-label>End KM</mat-label>
                        <input matInput [formControlName]="'dutyEndKM'" required (input)="getTotalKMs()">
                        <mat-error *ngIf="advanceTableForm.get('dutyEndKM').hasError('required')">
                            End KM is required
                        </mat-error>
                        </mat-form-field>
                </div>
            </div>
            <div class="row">
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width" appearance="outline"  floatLabel="always">
                    <mat-label>Total KM</mat-label>
                    <input matInput [formControlName]="'totalKm'" required >
                    <mat-error *ngIf="advanceTableForm.get('totalKm').hasError('required')">
                        Total KM is required
                    </mat-error>
                    </mat-form-field></div>
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width" appearance="outline"  floatLabel="always">
                        <mat-label>Total Hours</mat-label>
                        <input matInput [formControlName]="'totalHours'" required >
                        <mat-error *ngIf="advanceTableForm.get('totalHours').hasError('required')">
                            Total Hours is required
                        </mat-error>
                        </mat-form-field>
                </div>

            </div>
            <div class="row">
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width" appearance="outline"  floatLabel="always">
                        <mat-label>Package KM</mat-label>
                        <input matInput [formControlName]="'packageKM'" required >
                        <mat-error *ngIf="advanceTableForm.get('packageKM').hasError('required')">
                            Package KM is required
                        </mat-error>
                        </mat-form-field>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width" appearance="outline"  floatLabel="always">
                        <mat-label>Package Hours</mat-label>
                        <input matInput [formControlName]="'packageHours'" required >
                        <mat-error *ngIf="advanceTableForm.get('packageHours').hasError('required')">
                            Package Hours is required
                        </mat-error>
                        </mat-form-field>
                </div>
            </div>
            <div class="row">
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width" appearance="outline"  floatLabel="always">
                        <mat-label>Daily Base Rate</mat-label>
                        <input matInput [formControlName]="'packageBaseRate'" required >
                        <mat-error *ngIf="advanceTableForm.get('packageBaseRate').hasError('required')">
                            Daily Base Rate is required
                        </mat-error>
                        </mat-form-field>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width" appearance="outline"  floatLabel="always">
                        <mat-label>Extra KM</mat-label>
                        <input matInput [formControlName]="'extraKM'" required >
                        <mat-error *ngIf="advanceTableForm.get('extraKM').hasError('required')">
                            Extra KM is required
                        </mat-error>
                        </mat-form-field>
                </div>
            </div>
            <div class="row">
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width" appearance="outline"  floatLabel="always">
                        <mat-label>Extra KM Rate</mat-label>
                        <input matInput [formControlName]="'extraKMRate'" required >
                        <mat-error *ngIf="advanceTableForm.get('extraKMRate').hasError('required')">
                            Extra KM Rate is required
                        </mat-error>
                        </mat-form-field>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width" appearance="outline"  floatLabel="always">
                        <mat-label>Extra KM Amount</mat-label>
                        <input matInput [formControlName]="'extraKMAmount'" required >
                        <mat-error *ngIf="advanceTableForm.get('extraKMAmount').hasError('required')">
                            Extra KM Amount is required
                        </mat-error>
                        </mat-form-field>
                </div>
            </div>
            <div class="row">
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width" appearance="outline"  floatLabel="always">
                    <mat-label>Extra Hours</mat-label>
                    <input matInput [formControlName]="'extraHour'" required >
                    <mat-error *ngIf="advanceTableForm.get('extraHour').hasError('required')">
                        Extra Hours is required
                    </mat-error>
                    </mat-form-field></div> 
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width" appearance="outline"  floatLabel="always">
                        <mat-label>Extra Hours Rate</mat-label>
                        <input matInput [formControlName]="'extraHourRate'" required >
                        <mat-error *ngIf="advanceTableForm.get('extraHourRate').hasError('required')">
                            Extra Hours Rate is required
                        </mat-error>
                        </mat-form-field>
                </div>
            </div>
            <div class="row">
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width" appearance="outline"  floatLabel="always">
                        <mat-label>Extra Hours Amount</mat-label>
                        <input matInput [formControlName]="'extraHourAmount'" required >
                        <mat-error *ngIf="advanceTableForm.get('extraHourAmount').hasError('required')">
                            Extra Hours Amount is required
                        </mat-error>
                        </mat-form-field>
                </div>
                
            </div>

                <div class="row">
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2"> 
                    <mat-form-field class="example-full-width" appearance="outline"  floatLabel="always">
                    <mat-label>Total Toll</mat-label>
                    <input matInput [formControlName]="'totalToll'" (input)="onTotalTollParkingInterStateChange()">
                    <mat-error *ngIf="advanceTableForm.get('totalToll').hasError('required')">
                        Total Toll is required
                    </mat-error>
                    </mat-form-field>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2"> 
                <ng-container *ngIf="!advanceTableForm.get('holiday')?.value">
                    <a [href]="advanceTableForm.get('tollImages')?.value" target="_blank" *ngIf="advanceTableForm.get('tollImages')?.value">
                    <img [src]="advanceTableForm.get('tollImages')?.value" class="table " style="height: 80px; width: auto;">
                    </a>    
                    <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2" style="right: 15px;">
                    <app-myupload (onUploadFinished)="uploadFinishedTollImage($event)"></app-myupload>
                    </div>
                    
                    <!-- <a *ngIf="dataSaved" 
                    style="cursor: pointer;color: #007bff; font-size: 10px !important; font-style: italic;"
                    (click)="openTollImages()">
                        View Image
                    </a> -->
                </ng-container>
                </div>

            </div>

            <div class="row">
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width" appearance="outline"  floatLabel="always">
                        <mat-label>Total Parking</mat-label>
                        <input matInput [formControlName]="'totalParking'" (input)="onTotalTollParkingInterStateChange()">
                        <mat-error *ngIf="advanceTableForm.get('totalParking').hasError('required')">
                            Total Parking is required
                        </mat-error>
                        </mat-form-field>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                    <ng-container *ngIf="!advanceTableForm.get('holiday')?.value">
                        <a [href]="advanceTableForm.get('parkingImages')?.value" target="_blank" *ngIf="advanceTableForm.get('parkingImages')?.value">
                        <img [src]="advanceTableForm.get('parkingImages')?.value" class="table " style="height: 80px; width: auto;">
                        </a>    
                        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2" style="right: 15px;">
                        <app-myupload (onUploadFinished)="uploadFinishedParkingImage($event)" ></app-myupload>
                        </div>

                        <!-- <a *ngIf="dataSaved" 
                        style="cursor: pointer;color: #007bff; font-size: 10px !important; font-style: italic;"
                        (click)="openParkingImages()">
                            View Image
                        </a> -->
                    </ng-container>
                </div>
            </div>
            <div class="row">
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width" appearance="outline"  floatLabel="always">
                        <mat-label>Total Inter State Tax</mat-label>
                        <input matInput [formControlName]="'totalInterStateTax'" (input)="onTotalTollParkingInterStateChange()">
                        <mat-error *ngIf="advanceTableForm.get('totalInterStateTax').hasError('required')">
                            Total Inter State Tax is required
                        </mat-error>
                        </mat-form-field>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                    <ng-container *ngIf="!advanceTableForm.get('holiday')?.value">
                        <a [href]="advanceTableForm.get('interStateTaxImages')?.value" target="_blank" *ngIf="advanceTableForm.get('interStateTaxImages')?.value">
                        <img [src]="advanceTableForm.get('interStateTaxImages')?.value" class="table " style="height: 80px; width: auto;">
                        </a>    
                        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2" style="right: 15px;">
                        <app-myupload  (onUploadFinished)="uploadFinishedInterStateTaxImages($event)"></app-myupload>
                        </div>
                        
                        <!-- <a *ngIf="dataSaved" 
                        style="cursor: pointer;color: #007bff; font-size: 10px !important; font-style: italic;"
                        (click)="openISTImages()">
                            View Image
                        </a> -->
                    </ng-container>
                </div>
            </div>
            <div class="row">
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width" appearance="outline"  floatLabel="always">
                        <mat-label>Number Of Days</mat-label>
                        <input matInput [formControlName]="'numberOfDays'" required >
                        <mat-error *ngIf="advanceTableForm.get('numberOfDays').hasError('required')">
                            Number Of Days is required
                        </mat-error>
                        </mat-form-field>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                <mat-form-field class="example-full-width" appearance="outline"  floatLabel="always">
                    <mat-label>Driver Allowance Rate</mat-label>
                    <input matInput [formControlName]="'driverAllowanceRate'" required >
                    <mat-error *ngIf="advanceTableForm.get('driverAllowanceRate').hasError('required')">
                        Driver Allowance Rate is required
                    </mat-error>
                    </mat-form-field>
                </div>
            </div>
            <div class="row">
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width" appearance="outline"  floatLabel="always">
                        <mat-label>Night Charge Rate</mat-label>
                        <input matInput [formControlName]="'nightChargeRate'" required >
                        <mat-error *ngIf="advanceTableForm.get('nightChargeRate').hasError('required')">
                            Night Charge Rate is required
                        </mat-error>
                        </mat-form-field>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width" appearance="outline"  floatLabel="always">
                        <mat-label>Driver Allowance Amount</mat-label>
                        <input matInput [formControlName]="'driverAllowanceAmount'" required >
                        <mat-error *ngIf="advanceTableForm.get('driverAllowanceAmount').hasError('required')">
                            Driver Allowance Amount is required
                        </mat-error>
                        </mat-form-field>
                </div>
            </div>
            <div class="row">

                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width" appearance="outline"  floatLabel="always">
                        <mat-label>Night Charge Amount</mat-label>
                        <input matInput [formControlName]="'nightChargeAmount'" required >
                        <mat-error *ngIf="advanceTableForm.get('nightChargeAmount').hasError('required')">
                            Night Charge Amount is required
                        </mat-error>
                        </mat-form-field>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width" appearance="outline"  floatLabel="always">
                        <mat-label>Number Of Nights</mat-label>
                        <input matInput [formControlName]="'numberOfNights'" required  >
                        <mat-error *ngIf="advanceTableForm.get('numberOfNights').hasError('required')">
                            Number Of Nights is required
                        </mat-error>
                    </mat-form-field>
                </div>
            </div>
            <div class="row"> 
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width" appearance="outline"  floatLabel="always">
                        <mat-label>Total Amount</mat-label>
                        <input matInput [formControlName]="'totalAmount'" required >
                        <mat-error *ngIf="advanceTableForm.get('totalAmount').hasError('required')">
                            Total Amount is required
                        </mat-error>
                        </mat-form-field>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width" appearance="outline"  floatLabel="always">
                        <mat-label>Activation Status</mat-label>
                        <mat-select [formControlName]="'activationStatus'">
                            <mat-option [value]=true>Active</mat-option>
                            <mat-option [value]=false>Deleted</mat-option>
                        </mat-select>
                        <mat-error *ngIf="advanceTableForm.get('activationStatus').hasError('required')">
                            Activation Status is required
                        </mat-error>
                    </mat-form-field>
                </div>
            </div>

            <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
                    <div class="example-button-row">
                        <button mat-raised-button color="primary" type="submit" 
                        *ngIf="changedControls[index]" 
                        [disabled]="!advanceTableForm.valid" 
                        (click)="confirmAdd()">
                  Save
                </button>
                
                <button mat-raised-button color="primary" type="submit" 
                        *ngIf="editControls[index]" 
                        [disabled]="!advanceTableForm.valid" 
                        (click)="confirmAdd()">
                  Update
                </button>
                 <!-- <button *ngIf="action==='add'" mat-raised-button color="warn" (click)="onNoClick()"
                        tabindex="-1">Reset</button>
                    <button *ngIf="action==='edit'" mat-raised-button color="warn" (click)="onNoClick()"
                        tabindex="-1">Cancel</button> -->
                    </div>
                </div>
            </div>
        </form>
    </div>
