.closing-section-view-dialog
  .dialog-header
    display: flex
    align-items: center
    justify-content: space-between
    padding: 8px 8px 0 16px

    h2
      margin: 0
      font-size: 18px

  .dialog-body
    max-height: 70vh
    min-width: 70vw
    overflow: auto
    padding: 8px 16px 16px

    mat-expansion-panel-header
      display: none

    mat-expansion-panel
      box-shadow: none !important

    .mat-expansion-panel-body
      padding: 0

    .card > .header.bg-cyan
      display: none
