:host ::ng-deep .vehicle-category-image-col
  min-width: 110px !important
  width: 110px !important
  white-space: nowrap !important
  flex: 0 0 110px !important
  height: auto !important

:host ::ng-deep .vehicle-category-image-col .vehicle-category-image-thumb
  display: block
  max-width: 84px
  width: auto
  height: 42px
  object-fit: contain
  border-radius: 4px
