<ng-container *ngIf="customerInformation">
  <div class="card">
    <div class="header bg-cyan">
      <h2>Customer Information</h2>
      <ul class="header-dropdown m-r-10">
        <li>
          <a style="color:#fff;padding:15px;position: relative;"  href="javascript:void(0);" (click)="scrollToLinkButton()">Go To Menu</a>
        </li>
      </ul>
    </div>

    <div style="background-color: #ffffff;;">
      <div class="responsive_table">
        <mat-accordion>
          <mat-expansion-panel [expanded]="panelExpanded" class="p-0 m-0" (opened)="onPanelOpen()" (closed)="onPanelClose()">

            <!-- Panel Header -->
            <mat-expansion-panel-header>
              <mat-panel-title>
              </mat-panel-title>
            </mat-expansion-panel-header>
            <div class="panel-row is-header">
                  <div class="panel-cell"><b>Customer Name</b></div>
                  <div class="panel-cell"><b>Type</b></div>
                  <div class="panel-cell"><b>Category</b></div>
                  <div class="panel-cell"><b>Billing Instruction</b></div>
                </div>
            <!-- Panel Content -->
            <div class="panel-row">
              <div class="panel-cell">
                {{  customerInformation.customerName  || 'N/A' }}
              </div>

              <div class="panel-cell">
                {{
                  customerInformation.customerType || 'N/A'
                }}
              </div>

              <div class="panel-cell">
                {{
                  customerInformation.customerCategory || 'N/A'
                }}
              </div>

              <div class="panel-cell">
                {{
                 customerInformation.reservationBillingInstruction || 'N/A'
                }}
              </div>

            </div>

          </mat-expansion-panel>
        </mat-accordion>
      </div>
    </div>
  </div>
</ng-container>
