<div class="addContainer">
    <div class="modalHeader">
        <div class="editRowModal">
            <div class="modalHeader clearfix">
                <!-- <img [src]='advanceTable.img' alt="avatar"> -->
                <div class="modal-about">
                    <div class="font-weight-bold p-t-5 font-17">
                        {{dialogTitle}} {{CustomerName}}</div>
                </div>
            </div>
        </div>
        <button mat-icon-button (click)="dialogRef.close()" aria-label="Close dialog">
      <mat-icon>close</mat-icon>
    </button>
    </div>
    <div mat-dialog-content>
        <form class="register-form m-4" [formGroup]="advanceTableForm" (ngSubmit)="submit">
            <div class="row">
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width" appearance="outline"  floatLabel="always">
                        <mat-label>Commission To Be Deducted From Vendor</mat-label>
                        <input matInput (keypress)="keyPressNumbersDecimal($event)" formControlName="commissionToBeDeductedFromVendor" required>
                        <mat-error *ngIf="advanceTableForm.get('commissionToBeDeductedFromVendor').hasError('required')">
                            Commission To Be Deducted From Vendor is required
                        </mat-error>
                    </mat-form-field>
                </div> 

                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width" appearance="outline"  floatLabel="always">
                        <mat-label>Deduct Credit Card Fees From Vendor</mat-label>
                        <input matInput (keypress)="keyPressNumbersDecimal($event)" formControlName="deductCreditCardFeesFromVendor" required>
                        <mat-error *ngIf="advanceTableForm.get('deductCreditCardFeesFromVendor').hasError('required')">
                            Deduct Credit Card Fees From Vendor is required
                        </mat-error>
                    </mat-form-field>
                </div> 
            </div> 
            
            <div class="row">
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width" appearance="outline"  floatLabel="always">
                        <mat-label>Supplier Payment Type</mat-label>
                        <mat-select required #supplierVal [class.is-invalid]="supplierVal.invalid && supplierVal.touched" 
                        formControlName="supplierPaymentType">
                            <mat-option value="PercentageBasis">Percentage Basis</mat-option>
                            <mat-option value="NetBasis">Net Basis</mat-option>
                            <mat-option value="None">None</mat-option>
                        </mat-select>

                        <mat-error>
                            Supplier Payment Type is required
                        </mat-error>
                    </mat-form-field>
                </div> 

                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width" appearance="outline"  floatLabel="always">
                        <mat-label>Activation Status</mat-label>
                        <mat-select formControlName="activationStatus">
                            <mat-option [value]=true>Active</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div> 
            </div>

            <div class="row">
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2" *ngIf="advanceTableForm.value.supplierPaymentType==='PercentageBasis'">
                    <mat-form-field class="example-full-width" appearance="outline"  floatLabel="always">
                        <mat-label>Supplier Percentage</mat-label>
                        <input matInput (keypress)="keyPressNumbersDecimal($event)" formControlName="supplierPercentage" required>
                        <mat-error *ngIf="advanceTableForm.get('supplierPercentage').hasError('required')">
                            Supplier Percentage is required
                        </mat-error>
                    </mat-form-field>
                </div> 
            </div>                    
            
            <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
                    <div class="example-button-row">
                        <button mat-raised-button color="primary" [type]="submit" [disabled]="!advanceTableForm.valid"  (click)="openSaveDialog()">Save</button>                        
                        <button mat-raised-button color="warn" (click)="onNoClick(action)" tabindex="-1">{{ action === 'add' ? 'Reset' :  'Cancel'}}</button>
                    </div>
                </div>
            </div>
        </form>
  </div>
