<div class="addContainer">
    <div class="modalHeader">
        <div class="editRowModal">
            <div class="modalHeader clearfix">
                <!-- <img [src]='advanceTable.img' alt="avatar"> -->
                <div class="modal-about">
                    <div class="font-weight-bold p-t-5 font-17">
                        Dispute</div>
                         <div *ngIf="isSaveAllowed">
                        <span style="color:rgb(150, 4, 4);margin-bottom: 10px;font-style: italic;font-size: 12px;">({{verifyDutyStatusAndCacellationStatus}} !!!!!)</span>
                    </div>
                </div>
            </div>
        </div>
        <button mat-icon-button (click)="dialogRef.close()" aria-label="Close dialog">
      <mat-icon>close</mat-icon>
    </button>
    </div>
   <div mat-dialog-content>
  <form class="register-form m-4" [formGroup]="advanceTableForm">
    <!-- Row 1: Dispute Type & Dispute Details -->
    <div class="row">
      <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
        <mat-form-field class="example-full-width" appearance="outline" floatLabel="always">
          <mat-label>Dispute Type</mat-label>
          <input type="text" matInput formControlName="disputeType" [matAutocomplete]="auto1" required>
          <mat-autocomplete #auto1="matAutocomplete" (optionSelected)="OnDisputeTypeSelect($event.option.value)">
            <mat-option *ngFor="let option of filteredDisputeTypeOptions | async"
              [value]="option.disputeType" (click)="getDisputeTypeID(option.disputeTypeID)">
              {{ option.disputeType }}
            </mat-option>
          </mat-autocomplete>
          <mat-error *ngIf="advanceTableForm.controls['disputeType'].hasError('disputeTypeInvalid')">
            Please select a Dispute Type
          </mat-error>
        </mat-form-field>
      </div>

      <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
        <mat-form-field class="example-full-width" appearance="outline" floatLabel="always">
          <mat-label>Dispute Details</mat-label>
          <input required matInput formControlName="disputeDetails">
          <mat-error *ngIf="advanceTableForm.get('disputeDetails')?.hasError('required')">
            Dispute Details is required
          </mat-error>
        </mat-form-field>
      </div>
    </div>

    <!-- Row 3: Dispute KM & Dispute Minutes -->
    <div class="row">
      <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
        <mat-form-field class="example-full-width" appearance="outline" floatLabel="always">
          <mat-label>Dispute KMs</mat-label>
          <input required matInput formControlName="disputeKM">
          <mat-error *ngIf="advanceTableForm.get('disputeKM').hasError('required')">
            Dispute KMs is required
          </mat-error>
        </mat-form-field>
      </div>

      <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
        <mat-form-field class="example-full-width" appearance="outline" floatLabel="always">
          <mat-label>Dispute Minutes</mat-label>
          <input required matInput formControlName="disputeMinutes">
          <mat-error *ngIf="advanceTableForm.get('disputeMinutes').hasError('required')">
            Dispute Minutes is required
          </mat-error>
        </mat-form-field>
      </div>
    </div>

   <!-- <div class="row">
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width" appearance="outline" floatLabel="always">
                        <mat-label>Dispute Date</mat-label>
                        <input  matInput [matDatepicker]="disputeDate" placeholder="DD/MM/YYYY"
                          formControlName="disputeDate">
                        <mat-datepicker-toggle matSuffix [for]="disputeDate"></mat-datepicker-toggle>
                        <mat-datepicker #disputeDate></mat-datepicker>
                      </mat-form-field>

                </div>
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width" appearance="outline" floatLabel="always">
                        <mat-label>Dispute Time</mat-label>
                        <input  required matInput [owlDateTimeTrigger]="time1" [owlDateTime]="time1"
                          formControlName="disputeTime" >
                        <button mat-icon-button matSuffix type="button" [owlDateTimeTrigger]="time1" class="date-icon" aria-label="Open time picker"><mat-icon>schedule</mat-icon></button>
                        <owl-date-time [pickerType]="'timer'" #time1></owl-date-time>
                        <mat-error *ngIf="advanceTableForm.get('disputeTime').hasError('required')">
                          Dispute Time is required
                        </mat-error>
                      </mat-form-field>
                </div>
            </div> -->

   <!-- Row 2: Supporting Doc & Activation Status -->
<div class="row">
  <!-- Supporting Doc -->
  <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
    <mat-label>Supporting Doc</mat-label><br>
    <a href="{{ ImagePath }}" target="_blank" *ngIf="ImagePath">
      <img [src]="ImagePath" class="table" style="height: 80px; width: auto;">
    </a>
    <div>
      <app-myupload (onUploadFinished)="DisputeSupportingDoc($event)"></app-myupload>
    </div>
  </div>

  <!-- Activation Status -->
  <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
    <mat-form-field class="example-full-width" appearance="outline" floatLabel="always">
      <mat-label>Activation Status</mat-label>
      <mat-select formControlName="activationStatus">
        <mat-option [value]="true">Active</mat-option>
        <mat-option [value]="false">Deleted</mat-option>
      </mat-select>
      <mat-error *ngIf="advanceTableForm.get('activationStatus')?.hasError('required')">
        Activation Status is required
      </mat-error>
    </mat-form-field>
  </div>
</div>

    <!-- Row 6: Save & Cancel -->
    <div class="row">
      <!-- <div *ngIf="isSaveAllowed">
        <span style="color:red;margin-bottom: 10px;">{{verifyDutyStatusAndCacellationStatus}}</span>
      </div> -->
      <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
        <div class="example-button-row">
          <button mat-raised-button color="primary" *ngIf="saveDisabled" [type]="submit"
            [disabled]="!advanceTableForm.valid || isSaveAllowed" (click)="Post()">Save</button>
          <mat-spinner *ngIf="!saveDisabled" diameter="30"></mat-spinner>
          <button mat-raised-button color="warn" (click)="onNoClick()" tabindex="-1">Cancel</button>
        </div>
      </div>
    </div>
  </form>
</div>
