<section class="content">
  <div class="content-block">
    <div class="block-header">
      <app-breadcrumb [title]="breadscrums[0].title" [items]="breadscrums[0].items"
        [active_item]="breadscrums[0].active"></app-breadcrumb>
    </div>

    <div class="row">
      <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
        <div class="card compose-card">
          <div class="header">
            <h2>New Message</h2>
          </div>
          <div class="body">
            <form class="compose-form">
              <div class="form-row">
                <mat-form-field appearance="outline" class="w-100" floatLabel="always">
                  <mat-label>To</mat-label>
                  <input matInput placeholder="recipient@example.com">
                  <mat-icon matSuffix>person_outline</mat-icon>
                </mat-form-field>
              </div>

              <div class="form-row">
                <mat-form-field appearance="outline" class="w-100" floatLabel="always">
                  <mat-label>Subject</mat-label>
                  <input matInput placeholder="Enter subject">
                </mat-form-field>
              </div>

              <div class="editor-container m-t-10">
                <div class="NgxEditor__Wrapper">
                  <ngx-editor-menu [editor]="editor!" [toolbar]="toolbar!"> </ngx-editor-menu>
                  <ngx-editor [editor]="editor!" [placeholder]="'Write your message here...'"
                    class="NgxEditorStyles"></ngx-editor>
                </div>
              </div>

              <div class="attachments-area m-t-20">
                <div class="file-upload-wrapper">
                  <input type="file" #fileInput hidden multiple>
                  <button type="button" mat-stroked-button color="primary" (click)="fileInput.click()">
                    <mat-icon>attach_file</mat-icon> Attach Files
                  </button>
                  <span class="m-l-10 text-muted">Max size: 25MB</span>
                </div>
              </div>

              <div class="actions-area m-t-30">
                <button mat-flat-button color="primary" class="send-btn">
                  <mat-icon>send</mat-icon> Send Message
                </button>
                <button mat-stroked-button color="warn" class="m-l-10" routerLink="/email/inbox">
                  Discard
                </button>
                <button mat-icon-button class="m-l-auto" matTooltip="Save Draft">
                  <mat-icon>save</mat-icon>
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>