
<div class="row" style="margin-left: 20px;margin-top: 20px;">
    <a style="cursor: pointer;color: #007bff;">
        Billing Instruction 1 - Edit - Delete</a>
</div>

<div class="row" style="margin-left: 20px;margin-top: 20px;">
    <div class="col-xl-4 col-lg-6 col-md-12 col-sm-12 mb-2">
        <span>
            <b>
                Billing Instruction
            </b>                   
        </span>
        <br/>
        <span>Take All Money In Advance</span>
    </div>

    <div class="col-xl-4 col-lg-6 col-md-12 col-sm-12 mb-2">
        <span>
            <b>
                Billing Instruction By
            </b>                   
        </span>
        <br/>
        <span>4564 - Akshay Kumar</span>
    </div>

    <div class="col-xl-4 col-lg-6 col-md-12 col-sm-12 mb-2">
        <span>
            <b>
                Attachment
            </b>                   
        </span>
        <br/>
        <span>View</span>
    </div>            
</div>

<div class="row" style="margin-left: 20px;margin-top: 20px;">
    <a style="cursor: pointer;color: #007bff;">
        Billing Instruction 2 - Edit - Delete</a>
</div>

<div class="row" style="margin-left: 20px;margin-top: 20px;">
    <div class="col-xl-4 col-lg-6 col-md-12 col-sm-12 mb-2">
        <span>
            <b>
                Billing Instruction
            </b>                   
        </span>
        <br/>
        <span>Take Half Money In Advance</span>
    </div>

    <div class="col-xl-4 col-lg-6 col-md-12 col-sm-12 mb-2">
        <span>
            <b>
                Billing Instruction By
            </b>                   
        </span>
        <br/>
        <span>3235 - Anju Singh</span>
    </div>

    <div class="col-xl-4 col-lg-6 col-md-12 col-sm-12 mb-2">
        <span>
            <b>
                Attachment
            </b>                   
        </span>
        <br/>
        <span>View</span>
    </div>
    
</div>

<div class="row" style="margin-left: 20px;margin-top: 20px;">
    <a style="cursor: pointer;color: #007bff;">
        Billing Instruction 3 - Edit - Delete</a>
</div>

<div class="row" style="margin-left: 20px;margin-top: 20px;">
    <div class="col-xl-4 col-lg-6 col-md-12 col-sm-12 mb-2">
        <span>
            <b>
                Billing Instruction
            </b>                   
        </span>
        <br/>
        <span>Payment Will Be Done After Trip Completion</span>
    </div>

    <div class="col-xl-4 col-lg-6 col-md-12 col-sm-12 mb-2">
        <span>
            <b>
                Billing Instruction By
            </b>                   
        </span>
        <br/>
        <span>4546 - Anubhav Mishra</span>
    </div>

    <div class="col-xl-4 col-lg-6 col-md-12 col-sm-12 mb-2">
        <span>
            <b>
                Attachment
            </b>                   
        </span>
        <br/>
        <span>View</span>
    </div>
    
</div>