<div class="addContainer">
  <div class="modalHeader">
    <div class="editRowModal">
      <div class="modalHeader clearfix">
        <!-- <img [src]='advanceTable.img' alt="avatar"> -->
        <div class="modal-about">
          <div class="font-weight-bold p-t-5 font-17">
            {{ dialogTitle }} For {{incidenceID}}
          </div>
          <div *ngIf="!isSaveAllowed">
            <span
              style="color:rgb(150, 4, 4);margin-bottom: 10px;font-style: italic;font-size: 12px;">({{verifyDutyStatusAndCacellationStatus}}
              !!!!!)</span>
          </div>
        </div>
      </div>
    </div>
    <button mat-icon-button (click)="dialogRef.close()" aria-label="Close dialog">
      <mat-icon>close</mat-icon>
    </button>
  </div>
  <div mat-dialog-content>
    <form class="register-form m-4" [formGroup]="advanceTableForm" (ngSubmit)="(submit)">

      <mat-card>
        <div class="row" *ngIf="dataSource && dataSource.length > 0">
          <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
            <div class="row g-3"> <!-- g-3 will add space between columns -->
              <div class="col-xl-2 col-lg-2 col-md-6 col-sm-6 mb-2">
                <div class="status-display">
                  <strong style="font-size: 10px;">Reservation No.</strong>
                  <br />
                  <span style="font-size: 10px;">{{dataSource[0]?.reservationID}}</span>
                </div>
              </div>

              <div class="col-xl-2 col-lg-2 col-md-6 col-sm-6 mb-2">
                <div class="status-display">
                  <strong style="font-size: 10px;">Duty Slip No.</strong>
                  <br />
                  <span style="font-size: 10px;">{{dataSource[0]?.dutySlipID}}</span>
                </div>
              </div>

              <div class="col-xl-2 col-lg-2 col-md-6 col-sm-6 mb-2">
                <div class="status-display">
                  <strong style="font-size: 10px;">Customer</strong>
                  <br />
                  <span style="font-size: 10px;">{{data?.item?.customerName}}</span>
                </div>
              </div>

              <div class="col-xl-2 col-lg-2 col-md-6 col-sm-6 mb-2">
                <div class="status-display">
                  <strong style="font-size: 10px;">Passenger</strong>
                  <br />
                  <span style="font-size: 10px;">{{dataSource[0]?.customerPersonName}}</span>
                </div>
              </div>

              <div class="col-xl-2 col-lg-2 col-md-6 col-sm-6 mb-2">
                <div class="status-display">
                  <strong style="font-size: 10px;">Car Reg.No.</strong>
                  <br />
                  <span style="font-size: 10px;">{{data?.item?.registrationNumber}}</span>
                </div>
              </div>

              <div class="col-xl-2 col-lg-2 col-md-6 col-sm-6 mb-2">
                <div class="status-display">
                  <strong style="font-size: 10px;">Driver</strong>
                  <br />
                  <span style="font-size: 10px;">{{data?.item?.driverName}}</span>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-xl-2 col-lg-2 col-md-6 col-sm-6 mb-2">
                <div class="status-display">
                  <strong style="font-size: 10px;">Incidence Date</strong>
                  <br />
                  <span style="font-size: 10px;">{{ dataSource[0]?.incidenceDate | date: 'd MMM yyyy' }}</span>
                </div>

              </div>

              <div class="col-xl-2 col-lg-2 col-md-6 col-sm-6 mb-2">
                <div class="status-display">
                  <strong style="font-size: 10px;">Incidence Time</strong>
                  <br />
                  <span style="font-size: 10px;">{{ dataSource[0]?.reportingTime | date: 'h:mm a' }}</span>
                </div>
              </div>

              <div class="col-xl-2 col-lg-2 col-md-6 col-sm-6 mb-2">
                <div class="status-display">
                  <strong style="font-size: 10px;">Incidence Place</strong>
                  <br />
                  <span style="font-size: 10px;">{{dataSource[0]?.incidencePlace}}</span>
                </div>
              </div>

              <div class="col-xl-2 col-lg-2 col-md-6 col-sm-6 mb-2">
                <div class="status-display">
                  <strong style="font-size: 10px;">Dispatch Location</strong>
                  <br />
                  <span style="font-size: 10px;">{{data?.item?.transferedLocation}}</span>
                </div>
              </div>

              <div class="col-xl-2 col-lg-2 col-md-6 col-sm-6 mb-2">
                <div class="status-display">
                  <strong style="font-size: 10px;">Incidence Type </strong>
                  <br />
                  <span style="font-size: 10px;">{{dataSource[0]?.incidenceType}}</span>
                </div>
              </div>

              <div class="col-xl-2 col-lg-2 col-md-6 col-sm-6 mb-2">
                <div class="status-display">
                  <strong style="font-size: 10px;">Issue Category</strong>
                  <br />
                  <span style="font-size: 10px;">{{dataSource[0]?.issueCategory}}</span>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-xl-2 col-lg-2 col-md-6 col-sm-6 mb-2">
                <div class="status-display">
                  <strong style="font-size: 10px;">Reporting Date</strong>
                  <br />
                  <span style="font-size: 10px;">{{dataSource[0]?.reportingDate | date: 'd MMM yyyy'}}</span>
                </div>
              </div>

              <div class="col-xl-2 col-lg-2 col-md-6 col-sm-6 mb-2">
                <div class="status-display">
                  <strong style="font-size: 10px;">Reporting Time </strong>
                  <br />
                  <span style="font-size: 10px;">{{dataSource[0]?.reportingTime | date: 'h:mm a'}}</span>
                </div>
              </div>

              <div class="col-xl-2 col-lg-6 col-md-6 col-sm-6 mb-2">
                <div class="status-display">
                  <strong style="font-size: 10px;">Incidence Detail </strong>
                  <br />
                  <span style="font-size: 10px;">{{dataSource[0]?.incidenceDetails}}</span>
                </div>
              </div>

              <div class="col-xl-2 col-lg-2 col-md-6 col-sm-6 mb-2">
                <div class="status-display">
                  <strong style="font-size: 10px;">Reported By</strong>
                  <br />
                  <span style="font-size: 10px;">{{dataSource[0]?.reportedBy}}</span>
                </div>
              </div>

              <div class="col-xl-2 col-lg-2 col-md-6 col-sm-6 mb-2">
                <div class="status-display">
                  <strong style="font-size: 10px;">Reporter Name</strong>
                  <br />
                  <span style="font-size: 10px;">{{dataSource[0]?.reporterName}}</span>
                </div>
              </div>

              <div class="col-xl-2 col-lg-2 col-md-6 col-sm-6 mb-2">
                <div class="status-display">
                  <strong style="font-size: 10px;">Report Source</strong>
                  <br />
                  <span style="font-size: 10px;">{{dataSource[0]?.reportSource}}</span>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-xl-2 col-lg-2 col-md-6 col-sm-6 mb-2">
                <div class="status-display">
                  <strong style="font-size: 10px;">Report Evidence Doc </strong>
                  <br />
                  <span class="table-img tbl-col-width-per-12"><img style="cursor: pointer;"
                      src="{{dataSource[0]?.reportEvidenceDoc}}"
                      (click)="openImageInNewTab(dataSource[0]?.reportEvidenceDoc)" /></span>
                </div>
              </div>

              <div class="col-xl-2 col-lg-2 col-md-6 col-sm-6 mb-2">
                <div class="status-display">
                  <strong style="font-size: 10px;">Assigned To </strong>
                  <br />
                  <span style="font-size: 10px;">{{dataSource[0]?.assignedToEmployeeName}}</span>
                </div>
              </div>

              <div class="col-xl-2 col-lg-2 col-md-6 col-sm-6 mb-2">
                <div class="status-display">
                  <strong style="font-size: 10px;">Department</strong>
                  <br />
                  <span style="font-size: 10px;">{{dataSource[0]?.assignedToEmployeeDepartment}}</span>
                </div>
              </div>

              <div class="col-xl-2 col-lg-2 col-md-6 col-sm-6 mb-2"
                *ngIf="employeeDataSource && employeeDataSource.length > 0">
                <div class="status-display">
                  <strong style="font-size: 10px;">Opened By</strong>
                  <br />
                  <span style="font-size: 10px;">{{employeeDataSource[0]?.firstName + " " +
                    employeeDataSource[0]?.lastName }}</span>
                </div>
              </div>

              <div class="col-xl-2 col-lg-2 col-md-6 col-sm-6 mb-2">
                <div class="status-display">
                  <strong style="font-size: 10px;">Department</strong>
                  <br />
                  <span style="font-size: 10px;">{{dataSource[0]?.openedByEmployeeDepartment}}</span>
                </div>
              </div>

              <div class="col-xl-2 col-lg-2 col-md-6 col-sm-6 mb-2">
                <div class="status-display">
                  <strong style="font-size: 10px;">Opened Date</strong>
                  <br />
                  <span style="font-size: 10px;">{{dataSource[0]?.openDate | date: 'd MMM yyyy'}}</span>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-xl-2 col-lg-2 col-md-6 col-sm-6 mb-2">
                <div class="status-display">
                  <strong style="font-size: 10px;">Opened Time</strong>
                  <br />
                  <span style="font-size: 10px;">{{dataSource[0]?.openDate | date: 'h:mm a'}}</span>
                </div>
              </div>
            </div>


          </div>
        </div>
      </mat-card>

      <br>


      <!-- Put Start  -->
      <mat-card>
        <ng-container *ngIf="action === 'edit'">
          <div class="row">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
              <mat-form-field class="example-full-width" appearance="outline" floatLabel="always">
                <mat-label>Root Cause Analysis</mat-label>
                <textarea matInput formControlName="rootCauseAnalysis" rows="3"></textarea>
                <mat-error *ngIf="advanceTableForm.get('rootCauseAnalysis')?.hasError('required')">Root Cause Analysis
                  is required</mat-error>
              </mat-form-field>
            </div>
          </div>

          <div class="row">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
              <mat-form-field class="example-full-width" appearance="outline" floatLabel="always">
                <mat-label>Action Taken</mat-label>
                <textarea matInput formControlName="actionTaken" rows="3"></textarea>
                <mat-error *ngIf="advanceTableForm.get('actionTaken')?.hasError('required')">Action Taken is
                  required</mat-error>
              </mat-form-field>
            </div>
          </div>

          <div class="row">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
              <mat-form-field class="example-full-width" appearance="outline" floatLabel="always">
                <mat-label>Follow Up Action</mat-label>
                <textarea matInput formControlName="followUpAction" rows="3"></textarea>
              </mat-form-field>
            </div>
          </div>

          <div class="row">
            <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6 mb-2">
              <mat-form-field class="example-full-width" appearance="outline" floatLabel="always">
                <mat-label>Closed By</mat-label>
                <input required type="text" matInput formControlName="closeByEmployeeName" [matAutocomplete]="auto" />
                <mat-autocomplete #auto="matAutocomplete" (optionSelected)="OnEmployeeSelect($event.option.value)">
                  <mat-option *ngFor="let option of filteredinstructedByOptionss | async"
                    [value]="option.firstName + ' ' + option.lastName" (click)="getemployeeIDTitles(option.employeeID)">
                    {{ option.firstName + ' ' + option.lastName }}
                  </mat-option>
                </mat-autocomplete>
                <mat-error *ngIf="
                          advanceTableForm.controls[
                            'closeByEmployeeName'
                          ].hasError('employeeNameInvalid')
                        ">
                  Please select a Employee
                </mat-error>
              </mat-form-field>
            </div>

            <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6 mb-2">
              <mat-form-field class="example-full-width" appearance="outline" floatLabel="always">
                <mat-label>Closure Date</mat-label>
                <input required matInput [matDatepicker]="closureDate" formControlName="closureDate" required
                  (blur)="onBlurSEZStartDate($event.target.value)">
                <mat-datepicker-toggle matSuffix [for]="closureDate"></mat-datepicker-toggle>
                <mat-datepicker #closureDate></mat-datepicker>
                <mat-error *ngIf="advanceTableForm.get('closureDate').hasError('required')">
                  Closure Date is required
                </mat-error>
                <mat-error *ngIf="advanceTableForm.get('closureDate')?.hasError('invalidDate')">
                  Invalid date format. Use DD/MM/YYYY.
                </mat-error>
              </mat-form-field>
              <!-- <mat-form-field class="example-full-width" appearance="outline" floatLabel="always">
                    <mat-label>Closure Date</mat-label>
                    <input required matInput [matDatepicker]="closureDate" formControlName="closureDate" (blur)="onBlurSEZStartDate($event.target.value)">
                    <mat-datepicker-toggle matSuffix [for]="closureDate"></mat-datepicker-toggle>
                    <mat-datepicker #closureDate></mat-datepicker>
                    <mat-error *ngIf="advanceTableForm.get('closureDate')?.hasError('required')">Closure Date is required</mat-error>
                  </mat-form-field> -->
            </div>

            <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6 mb-2">
              <mat-form-field class="example-full-width" appearance="outline" floatLabel="always">
                <mat-label>Closure Time</mat-label>
                <input matInput [owlDateTimeTrigger]="closureTime" [owlDateTime]="closureTime"
                  formControlName="closureTime" (input)="onEndTimeInput($event)" />
                <mat-icon matSuffix [owlDateTimeTrigger]="closureTime" class="date-icon">schedule</mat-icon>
                <owl-date-time [pickerType]="'timer'" #closureTime></owl-date-time>
                <mat-error *ngIf="advanceTableForm.get('closureTime')?.hasError('required')">Closure Time is
                  required</mat-error>
              </mat-form-field>
            </div>

            <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6 mb-2">
              <mat-form-field class="example-full-width" appearance="outline" floatLabel="always">
                <mat-label>Closure Comment</mat-label>
                <input matInput formControlName="closureComment" />
                <mat-error *ngIf="advanceTableForm.get('closureComment')?.hasError('required')">Closure Comment is
                  required</mat-error>
              </mat-form-field>
            </div>
          </div>

          <div class="row">
            <!-- Responsible 1 -->
            <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6 mb-2">
              <mat-form-field class="example-full-width" appearance="outline" floatLabel="always">
                <mat-label>Responsible 1</mat-label>
                <mat-select formControlName="responsible1Option"
                  (selectionChange)="onResponsibleChange(1, $event.value)">
                  <mat-option value="driver">Driver</mat-option>
                  <mat-option value="vendor">Vendor</mat-option>
                  <mat-option value="employee">Employee</mat-option>
                  <mat-option value="guest">Guest</mat-option>
                </mat-select>
                <mat-error *ngIf="advanceTableForm.get('responsible1Option')?.hasError('required')">Responsible 1 is
                  required</mat-error>
              </mat-form-field>
            </div>

            <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6 mb-2">
              <mat-form-field class="example-full-width" appearance="outline" floatLabel="always">
                <mat-label>{{ autoCompleteLabel1 }}</mat-label>
                <input matInput [matAutocomplete]="auto1" formControlName="responsible1Value">
                <mat-autocomplete #auto1="matAutocomplete" (optionSelected)="onAutoCompleteSelect(1, $event)">
                  <mat-option *ngFor="let option of filteredOptions1" [value]="option">
                    {{ option.name }}
                  </mat-option>
                </mat-autocomplete>
              </mat-form-field>
            </div>

            <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6 mb-2">
              <mat-form-field class="example-full-width" appearance="outline" floatLabel="always">
                <mat-label>Responsible 2</mat-label>
                <mat-select formControlName="responsible2Option"
                  (selectionChange)="onResponsibleChange(2, $event.value)">
                  <mat-option value="driver">Driver</mat-option>
                  <mat-option value="vendor">Vendor</mat-option>
                  <mat-option value="employee">Employee</mat-option>
                  <mat-option value="guest">Guest</mat-option>
                </mat-select>
                <mat-error *ngIf="advanceTableForm.get('responsible2Option')?.hasError('required')">Responsible 2 is
                  required</mat-error>
              </mat-form-field>
            </div>

            <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6 mb-2">
              <mat-form-field class="example-full-width" appearance="outline" floatLabel="always">
                <mat-label>{{ autoCompleteLabel2 }}</mat-label>
                <input matInput [matAutocomplete]="auto2" formControlName="responsible2Value">
                <mat-autocomplete #auto2="matAutocomplete" (optionSelected)="onAutoCompleteSelect(2, $event)">
                  <mat-option *ngFor="let option of filteredOptions2" [value]="option">
                    {{ option.name }}
                  </mat-option>
                </mat-autocomplete>
              </mat-form-field>
            </div>

          </div>

          <div class="row">
            <!-- Responsible 3 -->
            <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6 mb-2">
              <mat-form-field class="example-full-width" appearance="outline" floatLabel="always">
                <mat-label>Responsible 3</mat-label>
                <mat-select formControlName="responsible3Option"
                  (selectionChange)="onResponsibleChange(3, $event.value)">
                  <mat-option value="driver">Driver</mat-option>
                  <mat-option value="vendor">Vendor</mat-option>
                  <mat-option value="employee">Employee</mat-option>
                  <mat-option value="guest">Guest</mat-option>
                </mat-select>
                <mat-error *ngIf="advanceTableForm.get('responsible3Option')?.hasError('required')">Responsible 3 is
                  required</mat-error>
              </mat-form-field>
            </div>

            <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6 mb-2">
              <mat-form-field class="example-full-width" appearance="outline" floatLabel="always">
                <mat-label>{{ autoCompleteLabel3 }}</mat-label>
                <input matInput [matAutocomplete]="auto3" formControlName="responsible3Value">
                <mat-autocomplete #auto3="matAutocomplete" (optionSelected)="onAutoCompleteSelect(3, $event)">
                  <mat-option *ngFor="let option of filteredOptions3" [value]="option">
                    {{ option.name }}
                  </mat-option>
                </mat-autocomplete>
              </mat-form-field>
            </div>
            <!-- Responsible 4 -->
            <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6 mb-2">
              <mat-form-field class="example-full-width" appearance="outline" floatLabel="always">
                <mat-label>Responsible 4</mat-label>
                <mat-select formControlName="responsible4Option"
                  (selectionChange)="onResponsibleChange(4, $event.value)">
                  <mat-option value="driver">Driver</mat-option>
                  <mat-option value="vendor">Vendor</mat-option>
                  <mat-option value="employee">Employee</mat-option>
                  <mat-option value="guest">Guest</mat-option>
                </mat-select>
                <mat-error *ngIf="advanceTableForm.get('responsible4Option')?.hasError('required')">Responsible 4 is
                  required</mat-error>
              </mat-form-field>
            </div>

            <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6 mb-2">
              <mat-form-field class="example-full-width" appearance="outline" floatLabel="always">
                <mat-label>{{ autoCompleteLabel4 }}</mat-label>
                <input matInput [matAutocomplete]="auto4" formControlName="responsible4Value">
                <mat-autocomplete #auto4="matAutocomplete" (optionSelected)="onAutoCompleteSelect(4, $event)">
                  <mat-option *ngFor="let option of filteredOptions4" [value]="option">
                    {{ option.name }}
                  </mat-option>
                </mat-autocomplete>
              </mat-form-field>
            </div>


          </div>

          <div class="row">

            <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6 mb-2">
              <mat-form-field class="example-full-width" appearance="outline" floatLabel="always">
                <mat-label>Incidence Category</mat-label>
                <mat-select formControlName="incidenceCategory">
                  <mat-option value="critical">Critical</mat-option>
                  <mat-option value="normal">Normal</mat-option>
                </mat-select>
                <mat-error *ngIf="advanceTableForm.get('incidenceCategory')?.hasError('required')">Incidence Category is
                  required</mat-error>
              </mat-form-field>
            </div>

            <!-- Incidence Email Acknowledged -->
            <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6 mb-2">
              <mat-form-field class="example-full-width" appearance="outline" floatLabel="always">
                <mat-label>Incidence Email Acknowledged</mat-label>
                <mat-select required #tollVal
                  [class.is-invalid]="advanceTableForm.get('incidenceEmailAcknowledged').invalid && advanceTableForm.get('incidenceEmailAcknowledged').touched"
                  formControlName="incidenceEmailAcknowledged">
                  <mat-option [value]="true">Yes</mat-option>
                  <mat-option [value]="false">No</mat-option>
                </mat-select>

                <mat-error *ngIf="advanceTableForm.get('incidenceEmailAcknowledged').hasError('required')">
                  Incidence Email Acknowledged is required
                </mat-error>
              </mat-form-field>
            </div>

            <!-- Feedback Email Acknowledged -->
            <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6 mb-2">
              <mat-form-field class="example-full-width" appearance="outline" floatLabel="always">
                <mat-label>Feedback Email Acknowledged</mat-label>
                <mat-select required #feedbackVal
                  [class.is-invalid]="advanceTableForm.get('feedbackEmailAcknowledged').invalid && advanceTableForm.get('feedbackEmailAcknowledged').touched"
                  formControlName="feedbackEmailAcknowledged">
                  <mat-option [value]="true">Yes</mat-option>
                  <mat-option [value]="false">No</mat-option>
                </mat-select>

                <mat-error *ngIf="advanceTableForm.get('feedbackEmailAcknowledged').hasError('required')">
                  Feedback Email Acknowledged is required
                </mat-error>
              </mat-form-field>
            </div>

            <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6 mb-2">
              <mat-form-field class="example-full-width" appearance="outline" floatLabel="always">
                <mat-label>Reminder For Follow Up Date</mat-label>
                <input required matInput [matDatepicker]="followUpDate" placeholder="DD/MM/YYYY"
                  formControlName="reminderDateForFollowUp" (blur)="onBlurUpdateDate($event.target.value)">
                <mat-datepicker-toggle matSuffix [for]="followUpDate"></mat-datepicker-toggle>
                <mat-datepicker #followUpDate></mat-datepicker>
                <mat-error *ngIf="advanceTableForm.get('reminderDateForFollowUp').hasError('required')">
                  Follow Up Date is required
                </mat-error>
                <mat-error *ngIf="advanceTableForm.get('reminderDateForFollowUp')?.hasError('invalidDate')">
                  Invalid date format. Use DD/MM/YYYY.
                </mat-error>
              </mat-form-field>
            </div>
          </div>

          <div class="row">
            <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6 mb-2">
              <mat-form-field class="example-full-width" appearance="outline" floatLabel="always">
                <mat-label>Debit Type</mat-label>
                <input required type="text" matInput formControlName="debitType" [matAutocomplete]="auto90">
                <mat-autocomplete #auto90="matAutocomplete" (optionSelected)="OnDebitTypeSelect($event.option.value)">
                  <mat-option *ngFor="let option of filteredDebitTypeOptions | async" [value]="option.debitType">
                    {{option.debitType}}
                  </mat-option>
                </mat-autocomplete>
                <mat-error *ngIf="advanceTableForm.controls['debitType']?.hasError('debitTypeInvalid')">
                  Please select a Debit Type
                </mat-error>
              </mat-form-field>
            </div>

            <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6 mb-2">
              <mat-form-field class="example-full-width" appearance="outline" floatLabel="always">
                <mat-label>Debit Amount</mat-label>
                <input matInput formControlName="debitAmount" required>
                <mat-error *ngIf="advanceTableForm.get('debitAmount').hasError('required')">
                  Debit Amount is required
                </mat-error>
              </mat-form-field>
            </div>
          </div>




        </ng-container>
      </mat-card>

      <br>

      <div class="row">
        <!-- <div *ngIf="isSaveAllowed">
          <span style="color:red;margin-bottom: 10px;">{{verifyDutyStatusAndCacellationStatus}}</span>
        </div> -->
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
          <div class="example-button-row">
            <button mat-raised-button color="primary" [type]="submit" *ngIf="saveDisabled"
              [disabled]="!advanceTableForm.valid || !isSaveAllowed" (click)="confirmAdd()">Save</button>
            <mat-spinner *ngIf="!saveDisabled" diameter="30"></mat-spinner>
            <button *ngIf="action==='add'" mat-raised-button color="warn" (click)="onNoClick()"
              tabindex="-1">Reset</button>
            <button *ngIf="action==='edit'" mat-raised-button color="warn" (click)="onNoClick()"
              tabindex="-1">Cancel</button>
          </div>
        </div>
      </div>
    </form>

  </div>