 <div>
              <div *ngFor="let data of advanceTableKC;index as i">
                <div class="row" style="margin-left: 20px;margin-top: 20px;">
                  <b style="cursor: pointer;color: black">
                    KAM - {{i+1}}</b>
                </div>
                <div class="row" style="margin-left: 20px;margin-top: 20px;">
                  <div class="col-xl-4 col-lg-6 col-md-12 col-sm-12 mb-2">
                    <span>
                      <b>Employee Name</b>
                    </span>
                    <br />
                    <span>{{data.firstName}} {{data.lastName}}</span>
                  </div>
                  <div class="col-xl-4 col-lg-6 col-md-12 col-sm-12 mb-2">
                    <span>
                      <b>Employee Mobile</b>
                    </span>
                    <br />
                    <span>{{data.mobile}}</span>
                  </div>
                  <div class="col-xl-4 col-lg-6 col-md-12 col-sm-12 mb-2">
                    <span>
                      <b>Employee Email</b>
                    </span>
                    <br />showDGP
                    <span>{{data.email}}</span>
                  </div>
                </div>
              </div>
            </div>