<div class="addContainer">
    <div class="modalHeader">
        <div class="editRowModal">
            <div class="modalHeader clearfix">
                <!-- <img [src]='advanceTable.img' alt="avatar"> -->
                <div class="modal-about">
                    <div class="font-weight-bold p-t-5 font-17">
                        Reservation No. - {{ReservationID}}, Location Transfer From {{LocationFrom}}
                    </div>

                    <div *ngIf="status && status.toLowerCase().trim() !== 'changes allow'"
                        style="color:rgb(150, 4, 4);font-style: italic; margin-bottom:12px;">
                        ({{status}}!!!!)
                    </div>
                </div>
            </div>
        </div>

        <button mat-icon-button (click)="dialogRef.close()" aria-label="Close dialog">
            <mat-icon>close</mat-icon>
        </button>
    </div>
    <div mat-dialog-content>
        <form class="register-form m-4" [formGroup]="advanceTableForm" (ngSubmit)="submit">
            <div class="row">
                <!-- <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width" appearance="outline" floatLabel="always">
                        <mat-label>Transfered From Location</mat-label>
                        <input required matInput formControlName="transferedFromLocationName">
                        <mat-error *ngIf="advanceTableForm.get('transferedFromLocationName').hasError('required')">
                            Transfered From Location is required
                        </mat-error>
                    </mat-form-field>
                </div> -->

                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width" appearance="outline" floatLabel="always">
                        <mat-label>Transfer To Location</mat-label>
                        <input required type="text" matInput formControlName="transferedToLocationName"
                            [matAutocomplete]="auto">
                        <mat-autocomplete #auto="matAutocomplete"
                            (optionSelected)="OnTransferToLocationSelect($event.option.value)">
                            <mat-option *ngFor="let option of filteredtransferedToLocationNameOptions | async"
                                [value]="option.organizationalEntityName"
                                (click)="getTransferToLocationID(option.organizationalEntityID)">
                                {{option.organizationalEntityName}}
                            </mat-option>
                        </mat-autocomplete>

                        <mat-error *ngIf="
    advanceTableForm.get('transferedToLocationName')?.hasError('required')">
                            Transfer To Location is required
                        </mat-error>

                        <mat-error *ngIf="
    advanceTableForm.get('transferedToLocationName')?.hasError('transferedToLocationNameInvalid') &&
    !advanceTableForm.get('transferedToLocationName')?.hasError('required')">
                            Please select a Transfer To Location
                        </mat-error>
                    </mat-form-field>
                </div>

                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width" appearance="outline" floatLabel="always">
                        <mat-label>Remark</mat-label>
                        <input required matInput formControlName="transferRemark">
                        <mat-error *ngIf="advanceTableForm.get('transferRemark').hasError('required')">
                            Remark is required
                        </mat-error>
                    </mat-form-field>
                </div>
            </div>

            <!-- <div class="row">
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width" appearance="outline" floatLabel="always">
                        <mat-label>Transfer Date</mat-label>
                        <input required readonly matInput [matDatepicker]="Date" formControlName="transferDate">
                        <mat-datepicker-toggle matSuffix [for]="Date" [disabled]="true"></mat-datepicker-toggle>
                        <mat-datepicker #Date [disabled]="true"></mat-datepicker>
                        <mat-error *ngIf="advanceTableForm.get('transferDate').hasError('required')">
                            Date is required
                        </mat-error>
                    </mat-form-field>
                </div>

                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width" appearance="outline" floatLabel="always">
                        <mat-label>Transfer Time</mat-label>
                        <input matInput readonly [owlDateTimeTrigger]="time1" [owlDateTime]="time1" formControlName="transferTime">
                        <button mat-icon-button matSuffix type="button" [owlDateTimeTrigger]="time1" class="date-icon" aria-label="Open time picker"><mat-icon>schedule</mat-icon></button>
                        <owl-date-time [pickerType]="'timer'" #time1 [disabled]="true"></owl-date-time>
                        <mat-error *ngIf="advanceTableForm.get('transferTime').hasError('required')">
                            Transfer Time is required
                        </mat-error>
                    </mat-form-field>
                </div>
            </div> -->

            <!-- <div class="row">
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width" appearance="outline"  floatLabel="always">
                        <mat-label>Transfered By Employee</mat-label>
                        <input matInput readonly formControlName="transferedByEmployeeName">
                        <mat-error *ngIf="advanceTableForm.get('transferedByEmployeeName').hasError('required')">
                            Transfered By Employee is required
                        </mat-error>
                    </mat-form-field>
                </div>
            </div> -->

            <div class="row">
                <!-- <div class="row" *ngIf="status">
                        <div class="col-12 mb-1">
                          <span style="color:red">{{status}}</span>
                        </div>
                    </div> -->
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
                    <div class="example-button-row">
                        <button mat-raised-button color="primary" *ngIf="saveDisabled" [type]="submit"
                            [disabled]="!advanceTableForm.valid || buttonDisabled" (click)="confirmAdd()">Save</button>
                        <mat-spinner *ngIf="!saveDisabled" diameter="30"></mat-spinner>
                        <button *ngIf="action==='edit'" mat-raised-button color="warn" (click)="onNoClick()"
                            tabindex="-1">Cancel</button>
                    </div>
                </div>
            </div>
        </form>
    </div>