<div class="modalHeader">
  <div class="editRowModal">
    <div class="modalHeader clearfix">
      <div class="modal-about">
        <div class="font-weight-bold p-t-5 font-17">
          {{ dialogTitle }}
        </div>
      </div>
    </div>
  </div>
  <button mat-icon-button (click)="dialogRef.close()" aria-label="Close dialog">
    <mat-icon class="small-close-icon">close</mat-icon>
  </button>
</div>
<mat-card>
  <mat-card-content>
    <mat-dialog-content class="of-hidden">
      <div class="row">
        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
          <span class="TDValueBold">Driver Name</span> <br />
          <span class="TDValue"> {{ qcDetails.driverName || 'N/A' }}</span> 
        </div>
        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
          <span class="TDValueBold">Driver Remark</span> <br />
          <span class="TDValue"> {{qcDetails.driverRemark  || 'N/A' }}</span>
         
        </div>
      </div>
      <div class="row">
        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
          <span class="TDValueBold">Qc Date</span> <br />
           <span class="TDValue"> {{ (qcDetails.qcDate | date : 'dd/MM/yyyy') || 'N/A' }}</span> 
        </div>
        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
          <span class="TDValueBold">Qc Time</span> <br />
          <span class="TDValue"> {{ (qcDetails.qcTime | date : 'shortTime') || 'N/A' }}</span>
        </div>
        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
          <span class="TDValueBold">Body Temperature Celcius</span> <br />
          <span class="TDValue"> {{qcDetails.bodyTemperatureInDegreeCelcius || 'N/A' }}</span>
        </div>
        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
          <span class="TDValueBold"> Car Reg No</span> <br />
          <span class="TDValue">  {{ qcDetails.carRegNo || 'N/A' }}</span>
        </div>
        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
          <span class="TDValueBold">Self Declaration</span> <br />
          <span class="TDValue">
            {{ qcDetails.selfDeclaration == null ? 'N/A' : (qcDetails.selfDeclaration ? 'Yes' : 'No') }}
          </span>
        </div>
        
        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
          <span class="TDValueBold">Executive Remark</span> <br />
          <span class="TDValue"> {{qcDetails.qcCheckedByExecutiveRemark || 'N/A' }}</span>
          <!-- <span class="TDValueBold">Executive Passed</span> <br />
          <span class="TDValue"> {{qcDetails.qcCheckedByExecutivePassed  ? 'Yes' : 'No'|| 'N/A' }}</span> -->
        </div>
        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
          <span class="TDValueBold">Front Photo</span> <br />
          <span class="table-img tbl-col-width-per-12"><img style="cursor: pointer;" src="{{qcDetails.frontPhoto}}" (click)="openImageInNewTab(qcDetails.frontPhoto)"/></span>
        </div>
        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
          <span class="TDValueBold">Selfie With Uniform</span> <br />
          <span class="table-img tbl-col-width-per-12"><img style="cursor: pointer;" src="{{qcDetails.selfieWithUniform}}" (click)="openImageInNewTab(qcDetails.selfieWithUniform)"/></span>
        </div>
        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
          <span class="TDValueBold">Interiors With Amenities</span> <br />
          <span class="table-img tbl-col-width-per-12"><img style="cursor: pointer;" src="{{qcDetails.interiorsWithAmenities}}" (click)="openImageInNewTab(qcDetails.interiorsWithAmenities)"/></span>
        </div>
        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
          <span class="TDValueBold">Isolated Cabin</span> <br />
          <span class="table-img tbl-col-width-per-12"><img style="cursor: pointer;" src="{{qcDetails.isolatedCabin}}" (click)="openImageInNewTab(qcDetails.isolatedCabin)"/></span>
        </div>
        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
          <span class="TDValueBold">Body Temperature Image</span> <br />
          <span class="table-img tbl-col-width-per-12"><img style="cursor: pointer;" src="{{qcDetails.bodyTemperatureImage}}" (click)="openImageInNewTab(qcDetails.bodyTemperatureImage)"/></span>
        </div>
        <!-- <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
          <span class="TDValueBold">Executive Remark</span> <br />
          <span class="TDValue"> {{qcDetails.qcCheckedByExecutiveRemark || 'N/A' }}</span>
        </div> -->
      </div>
      <!-- <div class="row">
        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
          <span class="TDValueBold"> Email</span> <br />
          <span class="TDValue"> {{ DutySlipQualityCheckDetails.primaryEmail }}</span>
        </div>
      </div> -->
    </mat-dialog-content>
  </mat-card-content>
</mat-card>
