::ng-deep .mat-dialog-container
  max-height: 90vh !important
  overflow-y: auto !important

mat-dialog-content
  max-height: 75vh
  overflow-y: hidden !important

.qc-image
  width: 120px
  height: 120px
  object-fit: cover
  border: 1px solid #dcdcdc
  border-radius: 4px
  cursor: pointer
  margin-top: 5px
  display: block