.custom-dialog .mat-dialog-container,
.custom-dialog .mat-mdc-dialog-container
    z-index: 1100 !important

.link-actions-below
  display: flex
  justify-content: flex-end
  align-items: center
  gap: 4px
  margin-top: 2px
  margin-bottom: 2px
  line-height: 1

.link-action
  cursor: pointer
  color: #007bff
  font-size: 10px !important
  font-style: italic
  text-decoration: none
