
<div class="addContainer">
    <div class="modalHeader">
        <div class="editRowModal">
            <div class="modalHeader clearfix">
                <!-- <img [src]='advanceTable.img' alt="avatar"> -->
                <div class="modal-about">
                    <div class="font-weight-bold p-t-5 font-17">
                      Add People</div>
                </div>
            </div>
        </div>
        <button mat-icon-button (click)="dialogRef.close()" aria-label="Close dialog">
      <mat-icon>close</mat-icon>
    </button>
    </div>
    <div mat-dialog-content>
        <form class="register-form m-4" [formGroup]="advanceTableForm" (ngSubmit)="submit">

            <!-- <div class="row">
                <div class="col-xl-12 col-lg-6 col-md-12 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width" appearance="outline"  floatLabel="always">
                        <mat-label>Search Type</mat-label>
                        <mat-select formControlName="addPeople" (selectionChange)="changeValue($event)">
                            <mat-option value="customerPerson">Customer Person</mat-option>
                            <mat-option value="employee">Employee</mat-option>
                            <mat-option value="number">Number</mat-option>
                        </mat-select>

                        <mat-error *ngIf="advanceTableForm.get('addPeople').hasError('required')">
                            Search Type is required
                        </mat-error>
                    </mat-form-field>
                </div> 
            </div> -->
            <div class="row">
                <div class="col-xl-12 col-lg-6 col-md-12 col-sm-12 mb-2">
                   
                        <mat-radio-group formControlName="addPeople" (change)="changeValue($event)">
                            <mat-radio-button value="customerPerson">Customer Person</mat-radio-button>
                            <mat-radio-button value="employee">Employee</mat-radio-button>
                            <mat-radio-button value="number">Number</mat-radio-button>
                        </mat-radio-group>
            
                    
                </div> 
            </div>
            <br>
            
            <div class="row">
                <ng-container *ngIf="selectedValue === 'customerPerson'">
                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
                     
                        <mat-form-field class="example-full-width" appearance="outline" floatLabel="always">
                            <mat-label>Customer Person</mat-label>                      
                            <input required type="text" matInput [matAutocomplete]="auto2"
                            formControlName="customer" >
                            <mat-autocomplete #auto2="matAutocomplete" (optionSelected)="fillNumber($event.option.value)">
                                <mat-option *ngFor="let option of filteredCustomerMobileOptions | async"
                                            [value]="option.primaryMobile + '-' + option.customerPersonName + '-' + option.primaryEmail"
                                            (click)="getCustomerID(option.customerPersonID, option)">
                                            {{option.primaryMobile}} - {{option.customerPersonName}} - {{option.primaryEmail}}
                                        </mat-option>
                            </mat-autocomplete>
                            <mat-error *ngIf="advanceTableForm.get('customer').hasError('required')">
                                Customer Person is required
                            </mat-error>
                        </mat-form-field>
                    </div>
                    <div class="col-xl-6 col-lg-2 col-md-1 col-sm-1 mb-1">

                        <mat-form-field class="example-full-width" appearance="outline" floatLabel="always">
                          <mat-label>Country Code</mat-label>
                          <input required type="text" matInput formControlName="countryCode" [matAutocomplete]="auto9">
                          <mat-autocomplete #auto9="matAutocomplete" (optionSelected)="onCountryCode($event)">
                              <mat-option *ngFor="let option of filteredCountryCodeOptions | async"
                                  [value]="option.countryISDCode">
                                  <div style="display: flex; align-items: center;">
                                    <img *ngIf="option.icon && (option.icon.startsWith('http://') || option.icon.startsWith('https://') || option.icon.startsWith('data:') || option.icon.startsWith('/assets/'))" [src]="option.icon" alt="{{option.countryISOCode}}" width="20" height="20" style="margin-right: 8px;" (error)="$any($event.target).style.display='none'">
                                    <span >{{option.countryISOCode}} {{option.countryISDCode}}</span>
                                  
                                  </div>
                              </mat-option>
                          </mat-autocomplete>
                          <mat-error *ngIf="advanceTableForm.get('countryCode').hasError('required')">
                              Country Code is required
                          </mat-error>
                      </mat-form-field>
                  </div>
                  <div class="col-xl-6 col-lg-12 col-md-12 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width" appearance="outline" floatLabel="always">
                        <mat-label>Mobile</mat-label>
                        <input #mobilenoInput matInput formControlName="number" required readonly>
                        <mat-error *ngIf="advanceTableForm.get('number')?.hasError('required')">
                            Mobile is required
                        </mat-error>
                    </mat-form-field>
                </div>
                

                </ng-container>

                <ng-container *ngIf="selectedValue === 'employee'">
                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
                        <mat-form-field class="example-full-width" appearance="outline" floatLabel="always">
                            <mat-label>Employee</mat-label>                      
                            <input required type="text" matInput [matAutocomplete]="auto3"
                            formControlName="employee">
                            <mat-autocomplete #auto3="matAutocomplete" (optionSelected)="fillNumber($event.option.value)">
                                <mat-option *ngFor="let option of filteredEmployeeMobileOptions | async"
                                [value]="option.mobile + '-' + option.name + '-' + option.email"
                                (click)="getEmployeeID(option.employeeID)">
                                {{option.mobile}} - {{option.name}} - {{option.email}}
                            </mat-option>
                            </mat-autocomplete>
                            <mat-error *ngIf="advanceTableForm.get('employee').hasError('required')">
                                Employee is required
                            </mat-error>
                        </mat-form-field>
                    </div>
                    <div class="col-xl-6 col-lg-2 col-md-1 col-sm-1 mb-1">

                        <mat-form-field class="example-full-width" appearance="outline" floatLabel="always">
                          <mat-label>Country Code</mat-label>
                          <input required type="text" matInput formControlName="countryCode" [matAutocomplete]="auto9">
                          <mat-autocomplete #auto9="matAutocomplete" (optionSelected)="onCountryCode($event)">
                              <mat-option *ngFor="let option of filteredCountryCodeOptions | async"
                                  [value]="option.countryISDCode">
                                  <div style="display: flex; align-items: center;">
                                    <img *ngIf="option.icon && (option.icon.startsWith('http://') || option.icon.startsWith('https://') || option.icon.startsWith('data:') || option.icon.startsWith('/assets/'))" [src]="option.icon" alt="{{option.countryISOCode}}" width="20" height="20" style="margin-right: 8px;" (error)="$any($event.target).style.display='none'">
                                    <span >{{option.countryISOCode}} {{option.countryISDCode}}</span>
                                  
                                  </div>
                              </mat-option>
                          </mat-autocomplete>
                          <mat-error *ngIf="advanceTableForm.get('countryCode').hasError('required')">
                              Country Code is required
                          </mat-error>
                      </mat-form-field>
                  </div>
                  <div class="col-xl-6 col-lg-12 col-md-12 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width" appearance="outline" floatLabel="always">
                        <mat-label>Mobile</mat-label>
                        <input #mobilenoInput matInput formControlName="number" required readonly>
                        <mat-error *ngIf="advanceTableForm.get('number')?.hasError('required')">
                            Mobile is required
                        </mat-error>
                    </mat-form-field>
                </div>
                

                </ng-container>

                <ng-container *ngIf="selectedValue === 'number'">
                    <div class="col-xl-6 col-lg-2 col-md-1 col-sm-1 mb-1">

                        <mat-form-field class="example-full-width" appearance="outline" floatLabel="always">
                          <mat-label>Country Code</mat-label>
                          <input required type="text" matInput formControlName="countryCode" [matAutocomplete]="auto9">
                          <mat-autocomplete #auto9="matAutocomplete" (optionSelected)="onCountryCode($event)">
                              <mat-option *ngFor="let option of filteredCountryCodeOptions | async"
                                  [value]="option.countryISDCode">
                                  <div style="display: flex; align-items: center;">
                                    <img *ngIf="option.icon && (option.icon.startsWith('http://') || option.icon.startsWith('https://') || option.icon.startsWith('data:') || option.icon.startsWith('/assets/'))" [src]="option.icon" alt="{{option.countryISOCode}}" width="20" height="20" style="margin-right: 8px;" (error)="$any($event.target).style.display='none'">
                                    <span >{{option.countryISOCode}} {{option.countryISDCode}}</span>
                                  
                                  </div>
                              </mat-option>
                          </mat-autocomplete>
                          <mat-error *ngIf="advanceTableForm.get('countryCode').hasError('required')">
                              Country Code is required
                          </mat-error>
                      </mat-form-field>
                  </div>
                  <div class="col-xl-6 col-lg-12 col-md-12 col-sm-12 mb-2">
                        <mat-form-field class="example-full-width" appearance="outline" floatLabel="always">
                            <mat-label>Mobile</mat-label>
                            <input #mobilenoInput matInput formControlName="number" required>
                            <mat-error *ngIf="advanceTableForm.get('number')?.hasError('required')">
                                Mobile is required
                            </mat-error>
                        </mat-form-field>
                    </div>
                    <div class="col-xl-12 col-lg- col-md-12 col-sm-12 mb-2">
                        <mat-form-field class="example-full-width" appearance="outline" floatLabel="always">
                            <mat-label>Name</mat-label>
                            <input #mobilenoInput matInput formControlName="name" required>
                            <mat-error *ngIf="advanceTableForm.get('name')?.hasError('required')">
                                Name is required
                            </mat-error>
                        </mat-form-field>
                    </div> 


                </ng-container>
            </div> 
            
            <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
                    <div class="example-button-row">
                        <button mat-raised-button color="primary" [type]="submit" (click)="postAdd()">Save</button>
                    </div>
                </div>
            </div>
        </form>
  </div>
