<div class="addContainer" style="position: relative;">
    <div class="modalHeader" style="position: relative;">
        <button mat-icon-button (click)="onClose()" aria-label="Close dialog" style="position: absolute; right: 5px; top: 5px; z-index: 1000;">
            <mat-icon>close</mat-icon>
        </button>
        <div class="editRowModal">
            <div class="modalHeader clearfix">
                <div class="modal-about">
                    <div class="font-weight-bold p-t-5 font-17">
                        {{dialogTitle}}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div mat-dialog-content>
        <form class="register-form m-4" [formGroup]="advanceTableForm" (ngSubmit)="submit()">
            <div class="row">
                <div class="col-xl-12 col-lg-6 col-md-12 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width" appearance="outline" floatLabel="always">
                        <mat-label>Enter OTP</mat-label>
                        <input required matInput formControlName="enterOTP">
                        <mat-error *ngIf="advanceTableForm.get('enterOTP').hasError('required')">
                            Enter OTP is required
                        </mat-error>
                    </mat-form-field>
                    <div *ngIf="!otpExpired">
                        <span style="color: red;">OTP is valid for 10 minutes</span>
                        <div>Time remaining: {{remainingTime}}</div>
                    </div>
                    <div *ngIf="otpExpired">
                        <span style="color: red;">Time Out</span>
                    </div>
                </div>
            </div>
          
            <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
                    <div class="example-button-row">
                        <button mat-raised-button color="primary" [disabled]="!advanceTableForm.valid || otpExpired" (click)="verifyOTP()">Submit</button>
                        <button mat-raised-button color="primary" (click)="ResendOTP()">Resend OTP</button>
                        <button *ngIf="action==='add'" mat-raised-button color="warn" (click)="onNoClick()"
                        tabindex="-1">Reset</button>
                    <button *ngIf="action==='edit'" mat-raised-button color="warn" (click)="onNoClick()"
                        tabindex="-1">Cancel</button>
                    </div>
                </div>
            </div>

        </form>
    </div>
</div>
