<div *ngFor="let data of advanceTableOD;index as i">


<div class="row" style="margin-left: 20px;margin-top: 20px;margin-bottom: 20px;">
    <div class="col-xl-3 col-lg-6 col-md-12 col-sm-12 mb-2">
        <span>
            <b>
                Ticket Number
            </b>                   
        </span>
        <br/>
        <span>{{data.ticketNumber}}</span>
    </div>

    <div class="col-xl-3 col-lg-6 col-md-12 col-sm-12 mb-2">
        <span>
            <b>
                Attachment
            </b>
        </span>
        <br />
        <span><a href="{{data.attachment}}" target="_blank" style="cursor: pointer;color: #007bff;">
            View</a></span>
    </div>

    <div class="col-xl-3 col-lg-6 col-md-12 col-sm-12 mb-2">
        <span>
            <b>
                Email Link
            </b>                   
        </span>
        <br/>
        <a>{{data.emailLink}}</a>
    </div> 

    <div class="col-xl-3 col-lg-6 col-md-12 col-sm-12 mb-2">
        <span>
            <b>
                Booking Created By
            </b>                   
        </span>
        <br/>
        <span>129 - Amit Sharma</span>
    </div>         
    
</div>

<div class="row" style="margin-left: 20px;margin-top: 20px;margin-bottom: 20px;">
    <div class="col-xl-3 col-lg-6 col-md-12 col-sm-12 mb-2">
        <span>
            <b>
                Reservation Mode
            </b>                   
        </span>
        <br/>
        <span>Rentnet</span>
    </div> 

    <div class="col-xl-3 col-lg-6 col-md-12 col-sm-12 mb-2">
        <span>
            <b>
                Reservation Source
            </b>                   
        </span>
        <br/>
        <span>{{data.reservationSource}}</span>
    </div> 

    <div class="col-xl-3 col-lg-6 col-md-12 col-sm-12 mb-2">
        <span>
            <b>
                Reservation Source Details
            </b>                   
        </span>
        <br/>
        <span>{{data.reservationSourceDetail}}</span>
    </div> 

    <div class="col-xl-3 col-lg-6 col-md-12 col-sm-12 mb-2">
        <span>
            <b>
                Reference No.
            </b>                   
        </span>
        <br/>
        <span>{{data.referenceNumber}}</span>
    </div> 
</div>

</div>