<div class="addContainer">
    <div class="modalHeader">
        <div class="editRowModal">
            <div class="modalHeader clearfix">
                <!-- <img [src]='advanceTable.img' alt="avatar"> -->
                <div class="modal-about" style="text-align: center;">
                    <div class="font-weight-bold p-t-5 font-17">
                        {{dialogTitle}} {{customerName}}
                    </div>
                   
                </div>
            </div>
        </div>
        <button mat-icon-button (click)="dialogRef.close()" aria-label="Close dialog">
      <mat-icon>close</mat-icon>
    </button>
    </div>
    <div mat-dialog-content>
        <form class="register-form m-4" [formGroup]="advanceTableForm" (ngSubmit)="submit">
            <div class="row">
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width" appearance="outline" floatLabel="always">
                        <mat-label>Customer</mat-label>
                        <input required matInput formControlName="customerName" readonly>

                        <mat-error *ngIf="advanceTableForm.get('customerName').hasError('required')">
                            Customer is required
                        </mat-error>
                    </mat-form-field>
                </div>

                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width" appearance="outline" floatLabel="always">
                        <mat-label>Customer Contract Name</mat-label>
                        <input required type="text" matInput [matAutocomplete]="auto" formControlName="customerContractName">
                        <mat-autocomplete #auto="matAutocomplete" (optionSelected)="OnCustomerContractNameSelect($event.option.value)">
                            <mat-option *ngFor="let option of filteredOptions | async"
                                [value]="option.customerContractName" (click)="GetID(option.customerContractID)">
                                {{option.customerContractName}}
                            </mat-option>
                        </mat-autocomplete>
                          <mat-error *ngIf="advanceTableForm.controls['customerContractName'].hasError('customerContractNameInvalid')">
                            Please select a valid Customer Contract Name
                        </mat-error>
                    </mat-form-field>
                </div>
                <!-- <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width" appearance="outline" floatLabel="always">
                        <mat-label>Contract</mat-label>
                        <input  matInput formControlName="customerContractName" readonly>
                    </mat-form-field>
                    <div>
                        <a style="color:blue;cursor: pointer;"  (click)="openSearchDialog()">SearchContract</a>
                    </div>
                </div> -->
             
            </div>
            <div *ngIf="hideDate">
                <span style="color: red;">Previous contract end date : {{EndDate}}</span>
            </div>
            <div class="row">
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width" appearance="outline"  floatLabel="always">
                        <mat-label>Start Date</mat-label>
                        <input required readonly matInput [matDatepicker]="startDate" 
                            formControlName="startDate" (blur)="onBlurStartDate($event.target.value)">
                        <mat-datepicker-toggle matSuffix [for]="startDate"></mat-datepicker-toggle>
                        <mat-datepicker #startDate></mat-datepicker>
                        <mat-error *ngIf="advanceTableForm.get('startDate').hasError('required')">
                            Start Date is required
                        </mat-error>
                        <mat-error *ngIf="advanceTableForm.get('startDate')?.hasError('invalidDate')">
                            Invalid date format. Use DD/MM/YYYY.
                        </mat-error>
                    </mat-form-field>
                </div>
    
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width" appearance="outline"  floatLabel="always">
                        <mat-label>End Date</mat-label>
                        <input required matInput [matDatepicker]="endDate" 
                            formControlName="endDate" (blur)="onBlurEndDate($event.target.value)">
                        <mat-datepicker-toggle matSuffix [for]="endDate"></mat-datepicker-toggle>
                        <mat-datepicker #endDate></mat-datepicker>
                        <mat-error *ngIf="advanceTableForm.get('endDate').hasError('required')">
                            End Date is required
                        </mat-error>
                        <mat-error *ngIf="advanceTableForm.get('endDate')?.hasError('invalidDate')">
                            Invalid date format. Use DD/MM/YYYY.
                        </mat-error>
                    </mat-form-field>
                </div>
            </div>
            <div class="row">     
                <!-- <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width" appearance="outline" floatLabel="always">
                        <mat-label>Negotiated By</mat-label>
                        <mat-select required #employeeVal
                            [class.is-invalid]="employeeVal.invalid && employeeVal.touched"
                            formControlName="negotiatedByID">
                            <mat-option [value]="Employee.employeeID"
                                *ngFor="let Employee of EmployeeList">{{Employee.firstName +' '+
                                Employee.lastName}}</mat-option>
                        </mat-select>
                        <mat-error>
                            Please select a Employee
                        </mat-error>
                    </mat-form-field>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width" appearance="outline" floatLabel="always">
                        <mat-label>Approved By</mat-label>
                        <mat-select required #employeeVal
                            [class.is-invalid]="employeeVal.invalid && employeeVal.touched"
                            formControlName="approvedByID">
                            <mat-option [value]="Employee.employeeID"
                                *ngFor="let Employee of EmployeeList">{{Employee.firstName +' '+
                                Employee.lastName}}</mat-option>
                        </mat-select>
                        <mat-error>
                            Please select a Employee
                        </mat-error>
                    </mat-form-field>
                </div> -->
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                 
                    <mat-form-field class="example-full-width" appearance="outline" floatLabel="always">
                        <mat-label>Negotiated By</mat-label>
                        <input required type="text" matInput formControlName="negotiatedBy" [matAutocomplete]="auto5">
                        <mat-autocomplete #auto5="matAutocomplete" (optionSelected)="OnNegotiatedBySelect($event.option.value)">
                          <mat-option *ngFor="let option of filteredCreatedByOptionss | async" 
                          [value]="option.firstName +' '+option.lastName" (click)="getemployee(option.employeeID)">
                            {{option.firstName +' '+ option.lastName}}
                          </mat-option>
                        </mat-autocomplete>
                        <mat-error *ngIf="advanceTableForm.controls['negotiatedBy'].hasError('employeeNameInvalid')">
                            Please select a Negotiated By
                        </mat-error>
                      </mat-form-field>
                </div>

                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                  
                    <mat-form-field class="example-full-width" appearance="outline" floatLabel="always">
                        <mat-label>Approved By</mat-label>
                        <input required type="text" matInput formControlName="approvedBy" [matAutocomplete]="auto6">
                        <mat-autocomplete #auto6="matAutocomplete" (optionSelected)="OnApprovedBySelect($event.option.value)">
                          <mat-option *ngFor="let option of filteredinstructedByOptionss | async" 
                          [value]="option.firstName +' '+option.lastName" (click)="getemployeeIDTitles(option.employeeID)">
                            {{option.firstName +' '+ option.lastName}}
                          </mat-option>
                        </mat-autocomplete>
                        <mat-error *ngIf="advanceTableForm.controls['approvedBy'].hasError('approvedByInvalid')">
                            Please select a Approved By
                        </mat-error>
                      </mat-form-field>
                
                </div>
       
            </div> 
            <div class="row">
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width" appearance="outline" floatLabel="always">
                        <mat-label>Customer Approver Name</mat-label>
                        <input required matInput formControlName="customerApproverName">

                        <mat-error *ngIf="advanceTableForm.get('customerApproverName').hasError('required')">
                            Customer Approver Name is required
                        </mat-error>
                    </mat-form-field>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width" appearance="outline" floatLabel="always">
                        <mat-label>Customer Approver Designation</mat-label>
                        <input required matInput formControlName="customerApproverDesignation">

                        <mat-error *ngIf="advanceTableForm.get('customerApproverDesignation').hasError('required')">
                            Customer Approver Designation is required
                        </mat-error>
                    </mat-form-field>
                </div>
               </div>
           <div class="row">
            <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                <mat-form-field class="example-full-width" appearance="outline" floatLabel="always">
                    <mat-label>Reference Note</mat-label>
                    <input matInput formControlName="referenceNote">

                    <!-- <mat-error *ngIf="advanceTableForm.get('referenceNote').hasError('required')">
                        Reference Note is required
                    </mat-error> -->
                </mat-form-field>
            </div>
            <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                <mat-form-field class="example-full-width" appearance="outline"  floatLabel="always">
                    <mat-label>Activation Status</mat-label>
                    <mat-select formControlName="activationStatus">
                        <mat-option [value]=true>Active</mat-option>
                        <mat-option [value]=false>Deleted</mat-option>
                    </mat-select>

                    <mat-error *ngIf="advanceTableForm.get('activationStatus').hasError('required')">
                        Activation Status is required
                    </mat-error>
                </mat-form-field>
            </div>
           </div>
            <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
                    <div class="example-button-row">
                        <button mat-raised-button color="primary" *ngIf="saveDisabled" [type]="submit" [disabled]="!advanceTableForm.valid"  (click)="confirmAdd()">Save</button>
                        <mat-spinner *ngIf="!saveDisabled" diameter="30"></mat-spinner>
                        <button mat-raised-button color="warn" (click)="onNoClick(action)" tabindex="-1">{{ action === 'add' ? 'Reset' :  'Cancel'}}</button>
                    </div>
                </div>
            </div>
        </form>
    </div>