<div class="addContainer">
  <div class="modalHeader">
    <div class="avatarDetails">
      <div class="modalTitle">
        {{dialogTitle}}
      </div>
    </div>
    <button mat-icon-button (click)="dialogRef.close()" class="modal-close-button" aria-label="Close dialog">
      <mat-icon>close</mat-icon>
    </button>
  </div>
  <div mat-dialog-content>
    <form class="register-form m-4" [formGroup]="kanbanForm" (ngSubmit)="submit()">
      <div class="row">
        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
          <mat-form-field class="example-full-width" appearance="outline" floatLabel="always">
            <mat-label>Kanban Title</mat-label>
            <input matInput formControlName="name" placeholder="Kanban Title" required>
            <mat-icon class="material-icons-outlined color-icon p-3" matSuffix>title</mat-icon>
            @if (kanbanForm.get('name')?.hasError('required')) {
            <mat-error>
              Kanban Name is required
            </mat-error>
            }
          </mat-form-field>
        </div>
        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
          <mat-form-field class="example-full-width " appearance="outline" floatLabel="always">
            <mat-label>Status</mat-label>
            <mat-select formControlName="status" id="status" required>
              <mat-option [value]="statusChoices.NEWTASK">New Task</mat-option>
              <mat-option [value]="statusChoices.RUNNING">Running</mat-option>
              <mat-option [value]="statusChoices.ONHOLD">On Hold</mat-option>
              <mat-option [value]="statusChoices.FINISHED">Finished</mat-option>
            </mat-select>
            @if (kanbanForm.get('status')?.hasError('required')) {
            <mat-error>
              Status is required
            </mat-error>
            }
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
          <mat-form-field class="example-full-width " appearance="outline" floatLabel="always">
            <mat-label>Assign Members</mat-label>
            <mat-select formControlName="members" class="assign-member" multiple [compareWith]="compareUsers">
              <mat-select-trigger>
                {{kanbanForm.get('members')?.value?.[0]?.name || ''}}
                @if ((kanbanForm.get('members')?.value?.length || 0) > 1) {
                <span class="example-additional-selection">
                  (+{{(kanbanForm.get('members')?.value?.length || 0) - 1}} {{kanbanForm.get('members')?.value?.length
                  === 2 ? 'other' : 'others'}})
                </span>
                }
              </mat-select-trigger>
              @for (user of userList; track user) {
              <mat-option [value]="{ name: user.name, avatar: user.avatar }">
                <div class="select-user">
                  <img [src]="user.avatar" class="rounded-circle-avatar" alt="user">
                  <span>{{user.name}}</span>
                </div>
              </mat-option>
              }
            </mat-select>
            <mat-icon class="material-icons-outlined color-icon p-3" matSuffix>group</mat-icon>
          </mat-form-field>
        </div>
        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
          <mat-form-field class="example-full-width" appearance="outline" floatLabel="always">
            <mat-label>Deadline Of Kanban</mat-label>
            <input matInput [matDatepicker]="picker" formControlName="deadline" required>
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
            @if (kanbanForm.get('deadline')?.hasError('required')) {
            <mat-error>
              Please select date
            </mat-error>
            }
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
          <mat-form-field class="example-full-width " appearance="outline" floatLabel="always">
            <mat-label>Priority</mat-label>
            <mat-select formControlName="priority" id="priority" required>
              <mat-option [value]="priorityChoices.LOW">Low</mat-option>
              <mat-option [value]="priorityChoices.MEDIUM">Medium</mat-option>
              <mat-option [value]="priorityChoices.HIGH">High</mat-option>
            </mat-select>
            @if (kanbanForm.get('priority')?.hasError('required')) {
            <mat-error>
              Priority is required
            </mat-error>
            }
          </mat-form-field>
        </div>
        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
          <mat-form-field class="example-full-width" appearance="outline" floatLabel="always">
            <mat-label>Open Task</mat-label>
            <input matInput formControlName="open_task" type="number" placeholder="Open Task">
            <mat-icon class="material-icons-outlined color-icon p-3" matSuffix>task_alt</mat-icon>
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
          <mat-form-field class="example-full-width " appearance="outline" floatLabel="always">
            <mat-label>Type</mat-label>
            <mat-select formControlName="type" id="type" required>
              <mat-option [value]="kanbanType.WEB">Website</mat-option>
              <mat-option [value]="kanbanType.ANDROID">Android</mat-option>
              <mat-option [value]="kanbanType.IPHONE">IPhone</mat-option>
              <mat-option [value]="kanbanType.TESTING">Testing</mat-option>
            </mat-select>
            @if (kanbanForm.get('type')?.hasError('required')) {
            <mat-error>
              Kanban Type is required
            </mat-error>
            }
          </mat-form-field>
        </div>
        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
          <mat-form-field class="example-full-width" appearance="outline" floatLabel="always">
            <mat-label>Created Date</mat-label>
            <input matInput [matDatepicker]="picker1" formControlName="created" required>
            <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
            <mat-datepicker #picker1></mat-datepicker>
            @if (kanbanForm.get('created')?.hasError('required')) {
            <mat-error>
              Please select date
            </mat-error>
            }
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
          <mat-form-field class="example-full-width" appearance="outline" floatLabel="always">
            <mat-label>Kanban Progress</mat-label>
            <input matInput formControlName="progress" type="number" placeholder="Kanban Progress">
            <mat-icon class="material-icons-outlined color-icon p-3" matSuffix>percent</mat-icon>
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
          <mat-form-field class="example-full-width mb-3" appearance="outline" floatLabel="always">
            <mat-label>Descriptions Of The Kanban</mat-label>
            <textarea matInput formControlName="description" class="description-area" required>
                        </textarea>
            @if (kanbanForm.get('description')?.hasError('required')) {
            <mat-error>
              Descriptions is required
            </mat-error>
            }
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
          <div class="example-button-row">
            <button mat-flat-button class="formSubmitBtn" [disabled]="!kanbanForm.valid" type="submit">Save</button>
            <button mat-flat-button mat-dialog-close class="formCancelBtn" tabindex="-1">Cancel</button>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>