::ng-deep .swal2-actions button.swal2-confirm {
  margin-right: 10px !important;
}

.swal2-disabled {
  opacity: 0.6 !important;
  cursor: not-allowed !important;
}

.btn-secondary {
  background-color: #6c757d !important;
  border-color: #6c757d !important;
  color: white !important;
}