:host ::ng-deep .long-label-field .mat-mdc-form-field-infix
	margin-left: 0 !important
	min-width: 0 !important
	width: auto !important

:host ::ng-deep .long-label-field .mat-mdc-floating-label.mdc-floating-label
	max-width: none !important
	width: auto !important
	white-space: nowrap
	overflow: visible !important

:host ::ng-deep .long-label-field .mdc-notched-outline__notch
	padding-right: 12px

:host ::ng-deep .long-label-field .mat-mdc-select-trigger
	width: 100% !important



