<div class="addContainer">
  <div class="modalHeader">
    <div class="editRowModal">
      <div class="modalHeader clearfix">
        <!-- <img [src]='advanceTable.img' alt="avatar"> -->
        <div class="modal-about">
          <div class="font-weight-bold p-t-5 font-17">
            {{ dialogTitle }}
          </div>
          <div *ngIf="ReasonMessageShow">
            <span style="color: red; font-size: 15px">Reservation for {{ customerDetailData }} are not allowed due to
              the following reason :
              <br />
              {{ Reason }}
            </span>
          </div>
        </div>
      </div>
    </div>
    <ng-container *ngIf="action === 'edit'">
      <button mat-icon-button (click)="dialogRef.close()" aria-label="Close dialog">
        <mat-icon>close</mat-icon>
      </button>
    </ng-container>
  </div>
  <div mat-dialog-content>
    <form class="register-form m-4" [formGroup]="advanceTableForm" (ngSubmit)="(submit)">
      <div class="row">
        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
          <mat-form-field class="example-full-width" appearance="outline" floatLabel="always">
            <mat-label>Customer Group</mat-label>
            <input type="text" matInput formControlName="customerGroup" [matAutocomplete]="auto"/>
            <mat-autocomplete #auto="matAutocomplete" (optionSelected)="onCustomerGrouoSelected($event.option.value)"
              panelWidth="custom-autocomplete-panel">
              <mat-option *ngFor="
                  let option of filteredCustomerGroupOptions | async
                " [value]="option.customerGroup" (click)="
                  getCustomerGroupID(                  
                    option.customerGroupID,
                    option.customerGroup
                  )
                ">
               {{ option.customerGroup }}
              </mat-option>
            </mat-autocomplete>
            <mat-error *ngIf="
                advanceTableForm.controls['customerGroup'].hasError(
                  'customerGroupInvalid'
                )
              ">
              Please select a Customer Group
            </mat-error>
          </mat-form-field>
        
        </div>
      </div>
      <div class="row">
        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2" *ngIf="this.advanceTableForm.value.customerGroupID">
          <mat-form-field class="example-full-width" appearance="outline" floatLabel="always">
            <mat-label>Customer</mat-label>
            <input required type="text" matInput formControlName="customerCustomerGroup" [matAutocomplete]="auto1" />
            <mat-autocomplete #auto1="matAutocomplete" (optionSelected)="onCustomerSelected($event.option.value)"
              panelWidth="custom-autocomplete-panel">
              <mat-option *ngFor="
                  let option of filteredCustomerCustomerGroupOptions | async
                " [value]="option.customerName + '##' + option.tallyCustomerID + '##' + option.stateName" (click)="
                  getCustomerCustomerGroupID(
                    option.customerID,
                    option.customerGroupID,
                    option.customerName,
                    option.customerGroup,
                    option.customerTypeID,
                    option.customerType
                  )
                ">
               {{ option.customerName }} ## {{ option.tallyCustomerID }} ## {{ option.stateName }}
              </mat-option>
            </mat-autocomplete>
            <mat-error *ngIf="
                advanceTableForm.controls['customerCustomerGroup'].hasError(
                  'customerInvalid'
                )
              ">
              Please select a Customer
            </mat-error>
          </mat-form-field>
          <!-- <div class="hint-container">
                    <mat-hint align="end">
                        <div style="display: flex; justify-content: flex-end; gap: 20px;">
                            <a style="cursor: pointer;color: #007bff;
                              padding: 10px; font-size: 10px !important; font-style: italic;"
                                (click)="customerShort()">
                                New Customer
                            </a> 
                            <a style="cursor: pointer;color: #007bff;
                            padding: 10px; font-size: 10px !important; font-style: italic;"
                              (click)="customerAlert()">
                               Alert Message
                          </a>                                 
                        </div>
                    </mat-hint>
                    </div> -->
        </div>
        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2" *ngIf="!this.advanceTableForm.value.customerGroupID">
          <mat-form-field class="example-full-width" appearance="outline" floatLabel="always">
            <mat-label>Customer</mat-label>
            <input required type="text" matInput formControlName="customerCustomerGroup" [matAutocomplete]="auto3" />
            <mat-autocomplete #auto3="matAutocomplete" (optionSelected)="onCustomerRDSelected($event.option.value)"
              panelWidth="custom-autocomplete-panel">
              <mat-option *ngFor="
                  let option of filteredCustomerCustomerGroupOptions | async
                " [value]="option.customerName + '##' + option.tallyCustomerID + '##' + option.stateName" (click)="
                  getCustomerIDForRD(
                    option.customerID,
                    option.customerGroupID,
                    option.customerName,
                    option.customerGroup,
                    option.customerTypeID,
                    option.customerType
                  )
                ">
               {{ option.customerName }} ## {{ option.tallyCustomerID }} ## {{ option.stateName }}
              </mat-option>
            </mat-autocomplete>
            <mat-error *ngIf="
                advanceTableForm.controls['customerCustomerGroup'].hasError(
                  'customerInvalid'
                )
              ">
              Please select a Customer
            </mat-error>
          </mat-form-field>
          <!-- <div class="hint-container">
                    <mat-hint align="end">
                        <div style="display: flex; justify-content: flex-end; gap: 20px;">
                            <a style="cursor: pointer;color: #007bff;
                              padding: 10px; font-size: 10px !important; font-style: italic;"
                                (click)="customerShort()">
                                New Customer
                            </a> 
                            <a style="cursor: pointer;color: #007bff;
                            padding: 10px; font-size: 10px !important; font-style: italic;"
                              (click)="customerAlert()">
                               Alert Message
                          </a>                                 
                        </div>
                    </mat-hint>
                    </div> -->
        </div>
        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
          <mat-form-field class="example-full-width" appearance="outline" floatLabel="always">
            <mat-label>Customer Type</mat-label>
            <input required type="text" matInput formControlName="customerType" readonly />
            <!-- <input required type="text" matInput formControlName="customerType" [matAutocomplete]="auto">
                        <mat-autocomplete #auto="matAutocomplete" (optionSelected)="onCTSelected($event.option.value)">
                            <mat-option *ngFor="let option of filteredCustomerTypeOptions | async"
                                [value]="option.customerType"
                                (click)="getTitles(option.customerTypeID, option)">
                                {{option.customerType}}
                            </mat-option>
                        </mat-autocomplete> -->

            <mat-error *ngIf="
                advanceTableForm.controls['customerType'].hasError(
                  'customerTypeInvalid'
                )
              ">
              Please select a Customer Type
            </mat-error>
          </mat-form-field>
        </div>
      </div>

      <div class="row">
        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
          <mat-form-field class="example-full-width" appearance="outline" floatLabel="always">
            <mat-label>Booker</mat-label>
            <input required type="text" matInput formControlName="primaryBooker" [matAutocomplete]="auto2" />
            <mat-autocomplete #auto2="matAutocomplete" (optionSelected)="onBookerSelected($event.option.value)"
              panelWidth="custom-autocomplete-panel">
              <mat-option *ngFor="let option of filteredBookerOptions | async" [value]="
                  option.customerPersonName +
                  '-' +
                  option.gender +
                  '-' +
                  option.importance +
                  '-' +
                  option.phone +
                  '-' +
                  option.customerDepartment +
                  '-' +
                  option.customerDesignation +
                  '-' +
                  option.customerName
                " (click)="getBookerID(option.customerPersonID)">
                {{ option.customerPersonName }} - {{ option.gender }} -
                {{ option.importance }} - {{ option.phone }} -
                {{ option.customerDepartment }} -
                {{ option.customerDesignation }} - {{ option.customerName }}
              </mat-option>
            </mat-autocomplete>
            <mat-error *ngIf="
                advanceTableForm.controls['primaryBooker'].hasError(
                  'primaryBookerInvalid'
                )
              ">
              Please select a Booker
            </mat-error>
          </mat-form-field>
          <div style="float: right;margin-top: -20px;">
              <div style="float: right;font-family: italic;">
                  <mat-checkbox color="primary" 
                          (change)="onAllBookerChange($event)">
                    All Booker
                  </mat-checkbox>
              </div>
          </div>
          <!-- <div class="hint-container">
                    <mat-hint align="end">
                        <div>
                            <a style="cursor: pointer;color: #007bff;
                                padding: 10px; font-size: 10px !important; font-style: italic;margin-left: 150px;"
                                (click)="personShort()">
                                New Booker
                            </a>

                        </div>
                    </mat-hint>
                    </div> -->
        </div>

        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
          <mat-form-field class="example-full-width" appearance="outline" floatLabel="always">
            <mat-label>No Of Bookings</mat-label>
            <input required matInput formControlName="numberOfBookings" />

            <mat-error *ngIf="
                advanceTableForm.get('numberOfBookings').hasError('required')
              ">
              No Of Bookings is required
            </mat-error>
            
          </mat-form-field>
          
        </div>
      </div>

      <!-- <div class="row">
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width" appearance="outline" floatLabel="always">
                      <mat-label>Start Date</mat-label>
                      <input
                        matInput
                        [matDatepicker]="startDate"
                        placeholder="DD/MM/YYYY"
                        formControlName="reservationStartDate"
                        (blur)="onBlurUpdateDate($event.target.value)"                       
                        required
                      />
                      <mat-datepicker-toggle matSuffix [for]="startDate"></mat-datepicker-toggle>
                      <mat-datepicker #startDate></mat-datepicker>
                      <mat-error *ngIf="advanceTableForm.get('reservationStartDate')?.hasError('required')">
                        Start Date is required
                      </mat-error>
                      <mat-error *ngIf="advanceTableForm.get('reservationStartDate')?.hasError('invalidDate')">
                        Invalid date format. Use DD/MM/YYYY.
                      </mat-error>
                    </mat-form-field>
                  </div>

                  <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width" appearance="outline" floatLabel="always">
                      <mat-label>End Date</mat-label>
                      <input
                        matInput
                        [matDatepicker]="endDate"
                        placeholder="DD/MM/YYYY"
                        formControlName="reservationEndDate"
                        (blur)="onBlurUpdateEndDate($event.target.value)"                       
                        required
                      />
                      <mat-datepicker-toggle matSuffix [for]="endDate"></mat-datepicker-toggle>
                      <mat-datepicker #endDate></mat-datepicker>
                      <mat-error *ngIf="advanceTableForm.get('reservationEndDate')?.hasError('required')">
                        End Date is required
                      </mat-error>
                      <mat-error *ngIf="advanceTableForm.get('reservationEndDate')?.hasError('invalidDate')">
                        Invalid date format. Use DD/MM/YYYY.
                      </mat-error>
                    </mat-form-field>
                  </div>
            </div> -->

      <div class="row">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
          <mat-form-field class="example-full-width" appearance="outline" floatLabel="always">
            <mat-label>Sales Executive</mat-label>
            <input type="text" matInput formControlName="salesExecutive" [matAutocomplete]="auto5" />
            <mat-autocomplete #auto5="matAutocomplete" (optionSelected)="onSESelected($event.option.value)"
              panelWidth="custom-autocomplete-panel">
              <mat-option *ngFor="let option of filteredEmployeeOptions | async" [value]="
                  option.firstName +
                  ' ' +
                  option.lastName +
                  '-' +
                  option.mobile +
                  '-' +
                  option.email
                " (click)="getSalesExecutiveID(option.employeeID)">
                {{
                option.firstName +
                ' ' +
                option.lastName +
                '-' +
                option.mobile +
                '-' +
                option.email
                }}
              </mat-option>
            </mat-autocomplete>

            <mat-error *ngIf="
                advanceTableForm.controls['salesExecutive'].hasError(
                  'salesExecutiveInvalid'
                )
              ">
              Please select a Sales Executive
            </mat-error>
          </mat-form-field>
          <!-- <div style="float: right;margin-top: -20px;">
                        <div style="float: right;font-family: italic;">
                            <div style="cursor: pointer;color: #007bff;font-size: 10px !important; font-style: italic;">
                                <mat-checkbox (change)="onSECheckboxChange($event)">All</mat-checkbox>
                            </div>
                        </div>
                    </div> -->
        </div>
        <!-- <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2" *ngIf="advanceTableForm.get('customerType').value!=='Individual'">
                    <mat-form-field class="example-full-width" appearance="outline" floatLabel="always">
                        <mat-label>Sales Executive</mat-label>
                        <input readonly matInput formControlName="salesExecutive">    
                    </mat-form-field>
                </div> -->
      </div>
      <div class="row">
        <!-- <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width" appearance="outline" floatLabel="always">
                        <mat-label>Booking Group Type</mat-label>
                        <mat-select required #bgtGroupVal [class.is-invalid]="bgtGroupVal.invalid && bgtGroupVal.touched" formControlName="bookingGroupType">
                            <mat-option value="Normal Bookings">Normal Bookings</mat-option>
                            <mat-option value="Multiple Days Bookings">Multiple Days Bookings</mat-option>
                            <mat-option value="Long Term Rental Bookings">Long Term Rental Bookings</mat-option>
                        </mat-select>

                        <mat-error *ngIf="advanceTableForm.get('bookingGroupType').hasError('required')">
                            Booking Group Type is required
                        </mat-error>
                    </mat-form-field>
                </div>
                 -->
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
          <mat-form-field class="example-full-width" appearance="outline" floatLabel="always">
            <mat-label>KAM</mat-label>
            <input type="text" matInput formControlName="kam" [matAutocomplete]="auto6" />
            <mat-autocomplete #auto6="matAutocomplete" (optionSelected)="onKAMSelected($event.option.value)"
              panelWidth="custom-autocomplete-panel">
              <mat-option *ngFor="let option of filteredEmployeesOptions | async" [value]="
                  option.firstName +
                  ' ' +
                  option.lastName +
                  '-' +
                  option.mobile +
                  '-' +
                  option.email
                " (click)="getCustomerKAMID(option.employeeID)">
                {{
                option.firstName +
                ' ' +
                option.lastName +
                '-' +
                option.mobile +
                '-' +
                option.email
                }}
              </mat-option>
            </mat-autocomplete>

            <mat-error *ngIf="advanceTableForm.controls['kam'].hasError('kamInvalid')">
              Please select a KAM
            </mat-error>
          </mat-form-field>
          <!-- <div style="float: right;margin-top: -20px;">
                        <div style="float: right;font-family: italic;">
                            <div style="cursor: pointer;color: #007bff;font-size: 10px !important; font-style: italic;">
                                <mat-checkbox (change)="onKAMCheckboxChange($event)">All</mat-checkbox>
                            </div>
                        </div>
                    </div> -->
        </div>

        <!-- <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2" *ngIf="advanceTableForm.get('customerType').value!=='Individual'">
                    <mat-form-field class="example-full-width" appearance="outline" floatLabel="always">
                        <mat-label>KAM</mat-label>
                        <input readonly matInput formControlName="kam">    
                    </mat-form-field>
                </div> -->
      </div>

      <div class="row">
        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
          <mat-form-field class="example-full-width" appearance="outline" floatLabel="always">
            <mat-label>Booking Type</mat-label>
            <mat-select required #typeVal [class.is-invalid]="typeVal.invalid && typeVal.touched"
              formControlName="bookingType">
              <mat-option value="Normal">Normal</mat-option>
              <mat-option value="Delegation">Delegation</mat-option>
              <mat-option value="Event">Event</mat-option>
            </mat-select>

            <mat-error> Booking Type is required </mat-error>
          </mat-form-field>
        </div>

        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
          <mat-form-field class="example-full-width" appearance="outline" floatLabel="always">
            <mat-label>Location</mat-label>
            <input readonly type="text" matInput formControlName="locationName"/>
            <!-- <mat-autocomplete #auto0="matAutocomplete" (optionSelected)="OnLocationSelect($event.option.value)"
              panelWidth="custom-autocomplete-panel">
              <mat-option *ngFor="let option of filteredLocationNameOptions | async"
                [value]="option.organizationalEntityName" (click)="getLocationID(option.organizationalEntityID)">
                {{ option.organizationalEntityName }}
              </mat-option>
            </mat-autocomplete> -->
            <mat-error *ngIf="advanceTableForm.get('locationName').hasError('required')">
              Location is required
            </mat-error>
          </mat-form-field>
        </div>
      </div>

      <!-- <div class="row">
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width" appearance="outline" floatLabel="always">
                        <mat-label>Activation Status</mat-label>
                        <mat-select formControlName="activationStatus">
                            <mat-option [value]=true>Active</mat-option>
                            <mat-option [value]=false>Deleted</mat-option>
                        </mat-select>

                        <mat-error *ngIf="advanceTableForm.get('activationStatus').hasError('required')">
                            Activation Status is required
                        </mat-error>
                    </mat-form-field>
                </div>
            </div> -->

      <div class="row">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
          <div class="example-button-row">
            <button mat-raised-button *ngIf="saveDisabled" color="primary" [type]="submit" [disabled]="!advanceTableForm.valid"
              (click)="confirmAdd()">
              Save
            </button>
            <mat-spinner *ngIf="!saveDisabled" diameter="30"></mat-spinner>
            <ng-container *ngIf="action === 'edit'">
              <button mat-raised-button color="warn" (click)="onNoClick()" tabindex="-1">
                Cancel
              </button></ng-container>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>