<section class="content">
    <div class="container-fluid">
        <div class="block-header">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <ul>
                        <li class="breadcrumb-item bcrumb-1">
                            <a routerLink="/dashboard/main">
                                <i class="fas fa-home"></i> Home</a>|
                            <a href="#" onClick="return false;">Admin</a>|
                            <a href="#" onClick="return false;">Tally MIS</a>
                        </li>
                    </ul>
                    <ul class="breadcrumb breadcrumb-style ">
                        <li class="breadcrumb-item">
                            <h2>Tally MIS</h2>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <mat-accordion>
            <mat-expansion-panel expanded="true">
                <mat-expansion-panel-header>
                    <mat-panel-title>
                       Quick Search
                    </mat-panel-title>
                </mat-expansion-panel-header>

                <div >
                    <div class="row">
                        <div class="col-xl-3 col-lg-3 col-md-3 col-sm-12 mb-2">
                         <mat-form-field appearance="outline" floatLabel="always" class="example-full-width">
                        <mat-label>From Date</mat-label>
                        <input matInput [matDatepicker]="startDate" [(ngModel)]="SearchFromDate">
                        <mat-datepicker-toggle matSuffix [for]="startDate"></mat-datepicker-toggle>
                        <mat-datepicker #startDate></mat-datepicker>
                    </mat-form-field>
                        </div>

                        <div class="col-xl-3 col-lg-3 col-md-3 col-sm-12 mb-2">
                            <mat-form-field appearance="outline" floatLabel="always" class="example-full-width">
                        <mat-label>To Date</mat-label>
                        <input matInput [matDatepicker]="endDate" [(ngModel)]="SearchToDate">
                        <mat-datepicker-toggle matSuffix [for]="endDate"></mat-datepicker-toggle>
                        <mat-datepicker #endDate></mat-datepicker>
                    </mat-form-field>
                        </div>
                        <div class="col-xl-3 col-lg-3 col-md-3 col-sm-12 mb-2">
                            <mat-form-field appearance="outline" floatLabel="always" class="example-full-width" >
                                <mat-label>Servation Location</mat-label>
                                <input type="text" matInput [matAutocomplete]="auto10" [formControl]="location">
                                <mat-autocomplete #auto10="matAutocomplete">
                                    <mat-option *ngFor="let options of filteredOrganizationalEntityOptions | async"
                                        [value]="options.organizationalEntityName">
                                        {{options.organizationalEntityName}}
                                    </mat-option>
                                </mat-autocomplete>
                            </mat-form-field>
                        </div>
                    </div>


                    <div class="row">
                       
                         <div class="col-xl-4 col-lg-4 col-md-2 col-sm-12 mb-2">
                            <button mat-raised-button color="primary" (click)="SearchData()">
                                Search
                            </button>
                            &nbsp;
                            <button mat-raised-button color="warn" (click)="refresh()" tabindex="-1">
                                Reset
                            </button>
                            &nbsp;
                            <button mat-raised-button color="accent" (click)="downloadExcel()" [disabled]="exporting">
                                {{ exporting ? 'Exporting...' : 'Download Excel' }}
                            </button>
                    </div>

                    </div>
                </div>
            </mat-expansion-panel>
        </mat-accordion>
         <br />
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="card">
                    <div class="body">
                        <div class="responsive_table">
                            <div class="table-responsive">
                                

                              
                                <p *ngIf="!dataSource; then thenBlock2 else elseBlock2">
                                    This is not rendered
                                </p>

                                <ng-template #thenBlock2>
                                    <div class="alert alert-primary"
                                        style="background-color:#E8E8E8; text-align: center;">
                                        No Records Found</div>
                                    <div class="body">
                                        <div class="example-button-row">

                                            <button mat-raised-button color="primary"
                                                (click)="PreviousCall()">Previous</button>
                                            <button mat-raised-button color="primary" (click)="NextCall()">Next</button>

                                        </div>
                                    </div>

                                </ng-template>

                                <ng-template #elseBlock2>   
                                    <div class="scrollable-table-container">
                                    <mat-table #table [dataSource]="dataSource" matSort class="mat-cell floating-header-table"
                                        (matSortChange)="SortingData($event)">


                                        <ng-container matColumnDef="billingBranch">
                                            <mat-header-cell *matHeaderCellDef mat-sort-header>Billing Branch</mat-header-cell>
                                            <mat-cell *matCellDef="let row">{{row.billingBranch ||'N/A'}}</mat-cell>
                                        </ng-container>

                                        <ng-container matColumnDef="customerServiceLocation">
                                            <mat-header-cell *matHeaderCellDef mat-sort-header>Service Location</mat-header-cell>
                                            <mat-cell *matCellDef="let row" (contextmenu)="onContextMenu($event, row)">
                                                {{ row.customerServiceLocation || 'N/A'}}
                                            </mat-cell>
                                        </ng-container>
                                         <ng-container matColumnDef="customerGSTRNo">
                                            <mat-header-cell *matHeaderCellDef mat-sort-header>Customer GSTR No</mat-header-cell>
                                            <mat-cell *matCellDef="let row" (contextmenu)="onContextMenu($event, row)">
                                                {{ row.customerGSTRNo || 'N/A'}}
                                            </mat-cell>
                                        </ng-container>

                                        <ng-container matColumnDef="bookedBy">
                                            <mat-header-cell *matHeaderCellDef mat-sort-header>Booked By</mat-header-cell>
                                            <mat-cell *matCellDef="let row" (contextmenu)="onContextMenu($event, row)">
                                                {{ row.bookedBy || 'N/A'}}
                                            </mat-cell>
                                        </ng-container>

                                        <ng-container matColumnDef="usedBy">
                                            <mat-header-cell *matHeaderCellDef mat-sort-header>Used By</mat-header-cell>
                                            <mat-cell *matCellDef="let row" (contextmenu)="onContextMenu($event, row)">
                                                {{row.usedBy || 'N/A'}}
                                            </mat-cell>
                                        </ng-container>

                                        <ng-container matColumnDef="billno">
                                            <mat-header-cell *matHeaderCellDef mat-sort-header>Bill No</mat-header-cell>
                                            <mat-cell *matCellDef="let row" (contextmenu)="onContextMenu($event, row)">
                                                {{row.billno || 'N/A'}}</mat-cell>
                                        </ng-container>

                                             <ng-container matColumnDef="billDate">
                                            <mat-header-cell *matHeaderCellDef mat-sort-header>Bill Date</mat-header-cell>
                                            <mat-cell *matCellDef="let row" (contextmenu)="onContextMenu($event, row)">
                                                {{row.billDate || 'N/A'}}</mat-cell>
                                        </ng-container>

                                          <ng-container matColumnDef="customerName">
                                            <mat-header-cell *matHeaderCellDef mat-sort-header>Customer Name</mat-header-cell>
                                            <mat-cell *matCellDef="let row" (contextmenu)="onContextMenu($event, row)">
                                                {{row.customerName || 'N/A'}}</mat-cell>
                                        </ng-container>
                                        
                                         <ng-container matColumnDef="customerid">
                                            <mat-header-cell *matHeaderCellDef mat-sort-header>Customer ID</mat-header-cell>
                                            <mat-cell *matCellDef="let row" (contextmenu)="onContextMenu($event, row)">
                                                {{row.customerid || 'N/A'}}</mat-cell>
                                        </ng-container> 

                                         <ng-container matColumnDef="carHireCharges">
                                            <mat-header-cell *matHeaderCellDef mat-sort-header>Car Hire Charges</mat-header-cell>
                                            <mat-cell *matCellDef="let row" (contextmenu)="onContextMenu($event, row)">
                                                {{row.carHireCharges || 'N/A'}}</mat-cell>
                                        </ng-container> 

                                        <ng-container matColumnDef="parkingandToll">
                                            <mat-header-cell *matHeaderCellDef mat-sort-header>Parking and Toll</mat-header-cell>
                                            <mat-cell *matCellDef="let row" (contextmenu)="onContextMenu($event, row)">
                                                {{row.parkingandToll || 'N/A'}}</mat-cell>
                                        </ng-container>  

                                        <ng-container matColumnDef="netCCProcessingamount">
                                            <mat-header-cell *matHeaderCellDef mat-sort-header>Processing Amount</mat-header-cell>
                                            <mat-cell *matCellDef="let row" (contextmenu)="onContextMenu($event, row)">
                                                {{row.netCCProcessingamount || 'N/A'}}</mat-cell>
                                        </ng-container>  

                                        <ng-container matColumnDef="subtotal">
                                            <mat-header-cell *matHeaderCellDef mat-sort-header>Subtotal</mat-header-cell>
                                            <mat-cell *matCellDef="let row" (contextmenu)="onContextMenu($event, row)">
                                                {{row.subtotal || 'N/A'}}</mat-cell>
                                        </ng-container>

                                         <ng-container matColumnDef="netSgstAmount">
                                            <mat-header-cell *matHeaderCellDef mat-sort-header>Net SGST Amount</mat-header-cell>
                                            <mat-cell *matCellDef="let row" (contextmenu)="onContextMenu($event, row)">
                                                {{row.netSgstAmount || 'N/A'}}</mat-cell>
                                        </ng-container>
                                         <ng-container matColumnDef="netCgstAmount">
                                            <mat-header-cell *matHeaderCellDef mat-sort-header>Net CGST Amount</mat-header-cell>
                                            <mat-cell *matCellDef="let row" (contextmenu)="onContextMenu($event, row)">
                                                {{row.netCgstAmount || 'N/A'}}</mat-cell>
                                        </ng-container>

                                         <ng-container matColumnDef="netIgstAmount">
                                            <mat-header-cell *matHeaderCellDef mat-sort-header>Net IGST Amount</mat-header-cell>
                                            <mat-cell *matCellDef="let row" (contextmenu)="onContextMenu($event, row)">
                                                {{row.netIgstAmount || 'N/A'}}</mat-cell>
                                        </ng-container>

                                         <ng-container matColumnDef="finalBillAmount">
                                            <mat-header-cell *matHeaderCellDef mat-sort-header>Final Bill Amount</mat-header-cell>
                                            <mat-cell *matCellDef="let row" (contextmenu)="onContextMenu($event, row)">
                                                {{row.finalBillAmount || 'N/A'}}</mat-cell>
                                        </ng-container>
                                         <ng-container matColumnDef="sgstRate">
                                            <mat-header-cell *matHeaderCellDef mat-sort-header>SGST Rate</mat-header-cell>
                                            <mat-cell *matCellDef="let row" (contextmenu)="onContextMenu($event, row)">
                                                {{row.sgstRate || 'N/A'}}</mat-cell>
                                        </ng-container>

                                         <ng-container matColumnDef="cgstRate">
                                            <mat-header-cell *matHeaderCellDef mat-sort-header>CGST Rate</mat-header-cell>
                                            <mat-cell *matCellDef="let row" (contextmenu)="onContextMenu($event, row)">
                                                {{row.cgstRate || 'N/A'}}</mat-cell>
                                        </ng-container>
                                        <ng-container matColumnDef="igstRate">
                                            <mat-header-cell *matHeaderCellDef mat-sort-header>IGST Rate</mat-header-cell>
                                            <mat-cell *matCellDef="let row" (contextmenu)="onContextMenu($event, row)">
                                                {{row.igstRate || 'N/A'}}</mat-cell>
                                        </ng-container>
                                        <ng-container matColumnDef="roundOff">
                                            <mat-header-cell *matHeaderCellDef mat-sort-header>Round Off</mat-header-cell>
                                            <mat-cell *matCellDef="let row" (contextmenu)="onContextMenu($event, row)">
                                                {{row.roundOff || 'N/A'}}</mat-cell>
                                        </ng-container>

                                        <ng-container matColumnDef="narration">
                                            <mat-header-cell *matHeaderCellDef mat-sort-header>Narration</mat-header-cell>
                                            <mat-cell *matCellDef="let row" (contextmenu)="onContextMenu($event, row)">
                                                {{row.narration || 'N/A'}}</mat-cell>
                                        </ng-container>

                                        <ng-container matColumnDef="billAlter">
                                            <mat-header-cell *matHeaderCellDef mat-sort-header>Bill Alter</mat-header-cell>
                                            <mat-cell *matCellDef="let row" (contextmenu)="onContextMenu($event, row)">
                                                {{row.billAlter || 'N/A'}}</mat-cell>
                                        </ng-container>

                                        <ng-container matColumnDef="irnno">
                                            <mat-header-cell *matHeaderCellDef mat-sort-header>IRN No</mat-header-cell>
                                            <mat-cell *matCellDef="let row" (contextmenu)="onContextMenu($event, row)">
                                                {{row.irnno || 'N/A'}}</mat-cell>
                                        </ng-container>

                                        <ng-container matColumnDef="irndate">
                                            <mat-header-cell *matHeaderCellDef mat-sort-header>IRN Date</mat-header-cell>
                                            <mat-cell *matCellDef="let row" (contextmenu)="onContextMenu($event, row)">
                                                {{row.irndate || 'N/A'}}</mat-cell>
                                        </ng-container>

                                        <!-- <ng-container matColumnDef="organizationalEntityName">
                                            <mat-header-cell *matHeaderCellDef
                                                mat-sort-header>Location</mat-header-cell>
                                            <mat-cell *matCellDef="let row" (contextmenu)="onContextMenu($event, row)">
                                                {{row.location || 'N/A'}}</mat-cell>
                                        </ng-container> -->
                                        


                                        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                                        <mat-row *matRowDef="let row; columns: displayedColumns;"
                                            [style.cursor]="'pointer'" matRipple>
                                        </mat-row>
                                    </mat-table>

                                    </div>
                                    <!-- context menu start -->
                                    <div style="visibility: hidden; position: fixed"
                                        [style.left]="contextMenuPosition.x" [style.top]="contextMenuPosition.y"
                                        [matMenuTriggerFor]="contextMenu">
                                    </div>
                                    <mat-menu #contextMenu="matMenu">
                                        <ng-template matMenuContent let-item="item">
                                            <button mat-menu-item (click)="openAttachDetachForEdit(item)"
                                                [disabled]="item.invoiceType==='InvoiceGeneral'">
                                                <mat-icon>create</mat-icon>
                                                <span>Edit</span>
                                            </button>

                                            <button mat-menu-item (click)="viewCreditNote(item)">
                                                <mat-icon>how_to_reg</mat-icon>
                                                <span>Credit Note History</span>
                                            </button>
                                            <button mat-menu-item (click)="viewInvoiceBilling(item)">
                                                <mat-icon>how_to_reg</mat-icon>
                                                <span>Invoice History</span>
                                            </button>
                                            <button mat-menu-item (click)="ViewBill(item)">
                                                <mat-icon>how_to_reg</mat-icon>
                                                <span>View Bill</span>
                                            </button>
                                        </ng-template>
                                    </mat-menu>

                                    <div class="body">
                                        <div class="example-button-row">

                                            <button mat-raised-button color="primary"
                                                (click)="PreviousCall()">Previous</button>
                                            <button mat-raised-button color="primary" (click)="NextCall()">Next</button>

                                        </div>
                                    </div>

                                </ng-template>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
