<div class="addContainer">
    <div class="modalHeader">
        <div class="editRowModal">
            <div class="modalHeader clearfix">
                <!-- <img [src]='advanceTable.img' alt="avatar"> -->
                <div class="modal-about">
                    <div class="font-weight-bold p-t-5 font-17">
                        {{dialogTitle}} {{customerPersonName}}</div>
                </div>
            </div>
        </div>
        <button mat-icon-button (click)="dialogRef.close()" aria-label="Close dialog">
            <mat-icon>close</mat-icon>
        </button>
    </div>
    <div mat-dialog-content>
        <form class="register-form m-4" [formGroup]="advanceTableForm" (ngSubmit)="submit">
            <div class="row">
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width" appearance="outline" floatLabel="always">
                        <mat-label>Approver Customer Person</mat-label>
                        <input type="text" matInput formControlName="approverName" [matAutocomplete]="auto1" required>

                        <mat-autocomplete #auto1="matAutocomplete"
                            (optionSelected)="OnCustomerPerson($event.option.value)"
                            panelWidth="custom-autocomplete-panel">
                            <mat-option *ngFor="let option of filteredCustomerPersonNameOptions | async"
                                [value]="option.approverName">
                                {{option.approverName}}
                            </mat-option>
                        </mat-autocomplete>

                        <mat-error *ngIf="advanceTableForm.controls['approverName']?.hasError('CustomerPersonInvalid')">
                            Please Select Approver Customer Person
                        </mat-error>
                    </mat-form-field>

                </div>

                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width" appearance="outline" floatLabel="always">
                        <mat-label>Start Date</mat-label>
                        <input required matInput [matDatepicker]="startDate" formControlName="startDate" required
                            (blur)="onBlurSEZStartDate($event.target.value)">
                        <mat-datepicker-toggle matSuffix [for]="startDate"></mat-datepicker-toggle>
                        <mat-datepicker #startDate></mat-datepicker>
                        <mat-error *ngIf="advanceTableForm.get('startDate')?.hasError('required')">
                            SEZ Start Date is required
                        </mat-error>
                        <mat-error *ngIf="advanceTableForm.get('startDate')?.hasError('invalidDate')">
                            Invalid date format. Use DD/MM/YYYY.
                        </mat-error>
                    </mat-form-field>
                </div>
            </div>

            <div class="row">

                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width" appearance="outline" floatLabel="always">
                        <mat-label>End Date</mat-label>
                        <input matInput [matDatepicker]="endDate" formControlName="endDate"
                            (blur)="onBlurSEZToDate($event.target.value)">
                        <mat-datepicker-toggle matSuffix [for]="endDate"></mat-datepicker-toggle>
                        <mat-datepicker #endDate></mat-datepicker>
                        <!-- <mat-error *ngIf="advanceTableForm.get('endDate')?.hasError('required')">
                                    End Date is required
                                </mat-error>
                                <mat-error *ngIf="advanceTableForm.get('endDate')?.hasError('invalidDate')">
                                    Invalid date format. Use DD/MM/YYYY.
                                </mat-error> -->
                    </mat-form-field>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width" appearance="outline" floatLabel="always">
                        <mat-label>Status</mat-label>
                        <mat-select formControlName="customerPersonApproverStatus">
                            <mat-option [value]="true">Active</mat-option>
                            <mat-option [value]="false">Delete</mat-option>
                        </mat-select>

                        <mat-error *ngIf="advanceTableForm?.get('customerPersonApproverStatus')?.hasError('required')">
                            Status is required
                        </mat-error>
                    </mat-form-field>
                </div>
            </div>

            <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
                    <div class="example-button-row">
                        <button mat-raised-button color="primary" *ngIf="saveDisabled" [type]="submit"
                            [disabled]="!advanceTableForm.valid" (click)="confirmAdd()">Save</button>
                        <mat-spinner *ngIf="!saveDisabled" diameter="30"></mat-spinner>
                        <button *ngIf="action==='add'" mat-raised-button color="warn" (click)="reset()"
                            tabindex="-1">Reset</button>
                        <button *ngIf="action==='edit'" mat-raised-button color="warn" (click)="onNoClick()"
                            tabindex="-1">Cancel</button>
                    </div>
                </div>
            </div>
        </form>
    </div>