<div class="addContainer">
    <div class="modalHeader">
        <div class="editRowModal">
            <div class="modalHeader clearfix">
                <div class="modal-about">
                    <div class="font-weight-bold p-t-5 font-17">
                        {{dialogTitle}}</div>
                </div>
            </div>
        </div>
        <button mat-icon-button (click)="dialogRef.close()" aria-label="Close dialog">
            <mat-icon>close</mat-icon>
        </button>
    </div>
    <div mat-dialog-content>
        <form class="register-form m-4" [formGroup]="advanceTableForm" (ngSubmit)="submit">
            <div class="row">
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width" appearance="outline" floatLabel="always">
                        <mat-label>Role</mat-label>
                        <input matInput formControlName="role" />
                        <mat-error *ngIf="advanceTableForm.get('role')?.hasError('required')">Role is required</mat-error>
                    </mat-form-field>
                </div>

                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width" appearance="outline" floatLabel="always">
                        <mat-label>Role For</mat-label>
                        <mat-select formControlName="roleFor">
                            <mat-option value="Internal">Internal</mat-option>
                            <mat-option value="Customer">Customer</mat-option>
                        </mat-select>
                        <mat-error *ngIf="advanceTableForm.get('roleFor')?.hasError('required')">Role For is required</mat-error>
                    </mat-form-field>
                </div>
            </div>

            <div class="row">
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width" appearance="outline" floatLabel="always">
                        <mat-label>Remark</mat-label>
                        <input matInput formControlName="remark" />
                        <mat-error *ngIf="advanceTableForm.get('remark')?.hasError('required')">Remark is required</mat-error>
                    </mat-form-field>
                </div>

                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width" appearance="outline" floatLabel="always">
                        <mat-label>Can Create Reservation</mat-label>
                        <mat-select formControlName="canCreateReservation">
                            <mat-option [value]="true">Yes</mat-option>
                            <mat-option [value]="false">No</mat-option>
                        </mat-select>
                        <mat-error *ngIf="advanceTableForm.get('canCreateReservation')?.hasError('required')">
                            Can Create Reservation is required
                        </mat-error>
                    </mat-form-field>
                </div>
            </div>

            <div class="row">
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width" appearance="outline" floatLabel="always">
                        <mat-label>Is Key Account Manager Role</mat-label>
                        <mat-select formControlName="isThisAKeyAccountManagerRole">
                            <mat-option [value]="true">Yes</mat-option>
                            <mat-option [value]="false">No</mat-option>
                        </mat-select>
                        <mat-error *ngIf="advanceTableForm.get('isThisAKeyAccountManagerRole')?.hasError('required')">
                            Is This A Key Account Manager Role is required
                        </mat-error>
                    </mat-form-field>
                </div>

                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width" appearance="outline" floatLabel="always">
                        <mat-label>Can Create Back Date Booking</mat-label>
                        <mat-select formControlName="canThisRoleCreateBackDateBooking">
                            <mat-option [value]="true">Yes</mat-option>
                            <mat-option [value]="false">No</mat-option>
                        </mat-select>
                        <mat-error *ngIf="advanceTableForm.get('canThisRoleCreateBackDateBooking')?.hasError('required')">
                            Can This Role Create Back Date Booking is required
                        </mat-error>
                    </mat-form-field>
                </div>
            </div>

            <div class="row">
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width" appearance="outline" floatLabel="always">
                        <mat-label>CanThisRoleCreateBillOnClosingScreen</mat-label>
                        <mat-select formControlName="canThisRoleCreateBillOnClosingScreen">
                            <mat-option [value]="true">Yes</mat-option>
                            <mat-option [value]="false">No</mat-option>
                        </mat-select>
                        <mat-error *ngIf="advanceTableForm.get('canThisRoleCreateBillOnClosingScreen')?.hasError('required')">
                            CanThisRoleCreateBillOnClosingScreen is required
                        </mat-error>
                    </mat-form-field>
                </div>

                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width" appearance="outline" floatLabel="always">
                        <mat-label>CanThisRoleViewBillOnClosingScreen</mat-label>
                        <mat-select formControlName="canThisRoleViewBillOnClosingScreen">
                            <mat-option [value]="true">Yes</mat-option>
                            <mat-option [value]="false">No</mat-option>
                        </mat-select>
                        <mat-error *ngIf="advanceTableForm.get('canThisRoleViewBillOnClosingScreen')?.hasError('required')">
                            CanThisRoleViewBillOnClosingScreen is required
                        </mat-error>
                    </mat-form-field>
                </div>
            </div>

            <div class="row">
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width" appearance="outline" floatLabel="always">
                        <mat-label>CanThisRoleDoGoodForBillingOnClosingScreen</mat-label>
                        <mat-select formControlName="canThisRoleDoGoodForBillingOnClosingScreen">
                            <mat-option [value]="true">Yes</mat-option>
                            <mat-option [value]="false">No</mat-option>
                        </mat-select>
                        <mat-error *ngIf="advanceTableForm.get('canThisRoleDoGoodForBillingOnClosingScreen')?.hasError('required')">
                            CanThisRoleDoGoodForBillingOnClosingScreen is required
                        </mat-error>
                    </mat-form-field>
                </div>

                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width" appearance="outline" floatLabel="always">
                        <mat-label>Activation Status</mat-label>
                        <mat-select formControlName="activationStatus">
                            <mat-option [value]="true">Active</mat-option>
                            <mat-option [value]="false">Deleted</mat-option>
                        </mat-select>
                        <mat-error *ngIf="advanceTableForm.get('activationStatus')?.hasError('required')">
                            Activation Status is required
                        </mat-error>
                    </mat-form-field>
                </div>
            </div>

            <div class="row">
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                    <div class="example-button-row">
                        <button mat-raised-button color="primary" type="button" [disabled]="!advanceTableForm.valid"
                            (click)="confirmAdd()">Save</button>
                        <button mat-raised-button color="warn" type="button" (click)="onNoClick()" tabindex="-1">Cancel</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
