<div class="addContainer" #printSection>
  <div class="modalHeader">
    <div class="editRowModal">
      <div class="modalHeader clearfix">
        <!-- <img [src]='advanceTable.img' alt="avatar"> -->
        <div class="modal-about">
          <div class="font-weight-bold p-t-5 font-17">
            <!-- Single Duty Single Bill For Local -->
          </div>
        </div>
      </div>
    </div>
    <!-- <button mat-icon-button (click)="dialogRef.close()" aria-label="Close dialog">
        <mat-icon class="small-close-icon">close</mat-icon>
      </button> -->

  </div>
  <div id="printElem">
    <table width="950" border="0" align="center" cellpadding="0" cellspacing="0"
      style=" margin-top: 100px; background-color: white;">
      <tr class="no-border">
        <td height="1250" class="no-border">
          <table class="no-border" width="900" border="0" align="center" cellpadding="0" cellspacing="0"
            valign="middle">
            <tr>
              <td height="1250" align="center" valign="top">
                <table width="900" border="0" cellpadding="2" cellspacing="0" class="text1009">
                  <tr width="850" height="100" align="center" class="no-border">
                    <td class="auto-style5" align="center" class="no-border"><strong>TAX INVOICE
                        <br />
                        Original for Recipient

                      </strong>
                    </td>
                    <td width="142" class="text1" style="border:none;padding-left: 50px;">

                      <!-- N/A -->

                      <img src="assets/images/Picture.png" width="92" height="73" />
                    </td>
                  </tr>

                  <tr class="no-border" height="100">
                    <td class="no-border" class="auto-style6"><span class="text-heading">ECOS (India) Mobility &
                        Hospitality Limited</span><br />
                      (Formerly known as Ecos (India) Mobility & Hospitality Private Limited)
                      <br />
                      <strong> Branch. Office :</strong> {{dataSource?.invoiceEcoBranchModel?.branchAddress}}
                      <br />
                      <strong>Reg. Office :</strong> 45, First Floor, Corner Market, Malviya Nagar, New Delhi-110017
                      <br />
                      <strong>Correspondence :</strong>
                      {{dataSource?.invoiceEcoCompanyModel?.correspondenceAddress}}
                      ,{{dataSource?.invoiceEcoCompanyModel?.correspondenceCityName}} ,
                      {{dataSource?.invoiceEcoCompanyModel?.correspondenceStateName}}
                      ,{{dataSource?.invoiceEcoCompanyModel?.ecoCompanyCountryName}}
                      <br />
                      <strong>Ph.</strong>{{dataSource?.invoiceEcoCompanyModel?.phoneNumber}},
                      <strong>Fax.</strong>Fax.{{dataSource?.invoiceEcoCompanyModel?.fax}},
                      <strong>Reservation</strong>
                      :{{dataSource?.invoiceEcoCompanyModel?.emailReservation}}, 24/7 : 91-11-40794079<br />
                      <strong>E-mail :</strong> billing@ecorentacar.com, <strong>Reservation :</strong>
                      cars@ecorentacar.com
                      <br />
                      <strong> GSTNo :</strong>{{dataSource?.invoiceEcoBranchModel?.branchGSTNumber}}
                      <br />
                      LUT : {{dataSource?.invoiceEcoBranchModel?.branchLUTNumber}} Exp Date :
                      {{dataSource?.invoiceEcoBranchModel?.branchLUTExpiryDate | date: 'dd/MM/dd'}}
                      <br />

                      IRN : {{dataSource?.invoiceModel?.irn}}
                    </td>
                    <td width="142" style="padding-left: 50px;" class="text1"><img
                        src="http://www.ecoserp.com/bill_printing/logo.jpg" width="92" height="73" />
                    </td>
                  </tr>
                </table>

                <table width="900" border="0" cellpadding="2" cellspacing="0" class="text1">
                  <tr>
                    <td width="369" rowspan="2">To,
                      <br />
                      <strong>{{dataSource?.invoiceCustomerModel?.customerName}}</strong>
                      <br />
                      <div style="font-size:smaller">Billing
                        Address:{{dataSource?.invoiceCustomerModel?.billingAddress}},
                        {{dataSource?.invoiceCustomerModel?.billingCityName}},
                        {{dataSource?.invoiceCustomerModel?.billingStateName}},
                        {{dataSource?.invoiceCustomerModel?.customerCountryName}}
                        <br />
                        Place of Supply & State :{{dataSource?.invoiceCustomerModel?.customerGSTStateName}},
                        State code:{{dataSource?.invoiceCustomerModel?.customerGSTStateCode}}
                        <br />
                        GST/UIN :{{dataSource?.invoiceCustomerModel?.customerGSTNumber}}
                        <br />
                        Reverse Charge(Y/N): N
                      </div>
                    </td>
                    <td width="179" height="35" align="left">Invoice No :
                      {{dataSource?.invoiceModel?.invoiceNumberWithPrefix}}
                    </td>
                  </tr>
                  <tr>
                    <td height="35" align="left">Invoice Date : {{dataSource?.invoiceModel?.invoiceDate | date:
                      'dd/MM/yyyy'}}</td>
                  </tr>
                </table>

                <table width="900" border="0" cellpadding="0" cellspacing="0" class="text1">
                  <tr>
                    <td width="103" align="center"><strong>D.S.No.</strong><br />{{dataSource?.dutySlipID}}
                      <br />
                      <strong>Booking
                        No.</strong><br />{{dataSource?.invoiceReservationModel?.reservationGroupID}}.{{reservationID}}
                    </td>

                    <td width="445" rowspan="8" align="left" valign="top">
                      <table width="100%" border="0" cellspacing="0" cellpadding="0">
                        <tr height="20">
                          <td width="66%" align="center"><strong>Particulars</strong></td>
                          <td width="16%" align="center"><strong>Rate</strong></td>
                          <td width="18%" align="center"><strong>Amount</strong></td>
                        </tr>

                        <tr class="no-border" height="10">
                          <td valign="top" class="text6" style="padding-bottom: 5px;"> &nbsp; Booked By
                            :{{dataSource?.invoiceBookerModel?.bookerSalutation}}
                            {{dataSource?.invoiceBookerModel?.bookerName }}</td>
                          <td valign="top" class="text6"></td>
                          <td valign="top" class="text6"></td>
                        </tr>

                        <tr class="no-border" height="10">
                          <td valign="top" class="text6" style="padding-bottom: 5px;">
                            &nbsp; Used By : {{dataSource?.invoicePassengerModel?.passengerSalutation}}
                            &nbsp; {{dataSource?.invoicePassengerModel?.passengerName}}<br>
                            &nbsp; Dept : {{dataSource?.invoicePassengerModel?.passengerDepartmentName}}<br />
                          </td>
                          <td valign="top" class="text6">
                          </td>
                          <td valign="top" class="text6">&nbsp;</td>
                        </tr>

                        <tr class="no-border" height="10">
                          <td valign="top" class="text6" style="padding-bottom: 5px;">
                            &nbsp; Total Kms : {{dataSource?.invoiceDutyModel?.totalRunningKM}},
                            &nbsp;Total Days :
                            {{dataSource?.invoiceDutyModel?.totalRunningDays}}
                          </td>
                          <td valign="top" class="text6">
                            &nbsp;</td>
                          <td valign="top" class="text6">&nbsp;</td>
                        </tr>

                        <tr class="no-border" height="10">
                          <td valign="top" class="text6" style="padding-bottom: 5px;">
                            &nbsp; {{dataSource?.invoicePackageModel?.packageType}} (Trip To:
                            &nbsp; {{dataSource?.invoicePackageModel?.package}})

                          </td>
                          <td valign="top" class="text7">
                            &nbsp; {{dataSource?.invoicePackageModel?.baseRate}}

                            &nbsp;
                          </td>
                          <td valign="top" class="text7">

                            &nbsp; {{dataSource?.dutyTotalPackageAmount}}
                            &nbsp;
                          </td>
                        </tr>
                         <tr class="no-border" height="10" *ngIf="dataSource?.invoicePackageModel?.minimumKM !=0">
                          <td valign="top" class="text6" style="padding-bottom: 5px;">
                            &nbsp; {{dataSource?.invoicePackageModel?.minimumKM}} Kms @ min
                            &nbsp; {{dataSource?.invoicePackageModel?.minimumKM}} kms running per
                             {{dataSource?.invoicePackageModel?.billingOption}}

                          </td>
                          <td valign="top" class="text7">
                            &nbsp; 
                            <!-- {{dataSource?.invoicePackageModel?.baseRate}} -->

                            &nbsp;
                          </td>
                          <td valign="top" class="text7">

                            &nbsp;
                             <!-- {{dataSource?.dutyTotalPackageAmount}} -->
                            &nbsp;
                          </td>
                        </tr>

                        <tr class="no-border" height="10">
                          <td valign="top" class="text6" style="padding-bottom: 10px;">
                            &nbsp; Pickup City : {{dataSource?.pickupCity}}

                          </td>
                          <td valign="top" class="text7">&nbsp;</td>
                          <td valign="top" class="text7">&nbsp; </td>
                        </tr>

                        <tr *ngIf="dataSource?.invoicePackageValuesModel && dataSource?.invoicePackageValuesModel?.extraKMs!=0" class="no-border" height="10">
                        <!-- <tr class="no-border" height="10"> -->
                          <td valign="top" class="text6" style="padding-bottom: 5px;">
                            &nbsp; Extra KMs : {{dataSource?.invoicePackageValuesModel?.extraKMs}} &nbsp;
                          </td>
                          <td valign="top" class="text7">
                            <span *ngIf="dataSource?.invoicePackageValuesModel?.extraKMRate!=0">
                               &nbsp; {{dataSource?.invoicePackageModel?.extraKMRate}}&nbsp;
                            </span>
                          

                          </td>
                          <td valign="top" class="text7">
                            <span *ngIf="dataSource?.invoicePackageValuesModel?.extraKMAmount!=0">
                              &nbsp; {{dataSource?.invoicePackageValuesModel?.extraKMAmount}} &nbsp;
                            </span>
                          
                          </td>
                        </tr>

                        <tr *ngIf="dataSource?.invoicePackageValuesModel && dataSource?.invoicePackageValuesModel?.extraMinutes!=0"  class="no-border" height="10">
                        <!-- <tr class="no-border" height="10"> -->
                          <td valign="top" class="text6" style="padding-bottom: 5px;">
                            &nbsp; Extra Hours :<ng-container
                              *ngIf="dataSource?.invoicePackageValuesModel?.extraMinutes as extra">
                              <span >
                                {{ getHoursAndMinutes(extra).hours }}:{{getHoursAndMinutes(extra).minutes }} 
                              </span>
                            </ng-container>

                          </td>
                          <td valign="top" class="text7">
                            <span *ngIf="dataSource?.invoicePackageModel?.extraHRRate!=0">
                              &nbsp; {{dataSource?.invoicePackageModel?.extraHRRate}}&nbsp;
                            </span>
                           
                          </td>
                          <td valign="top" class="text7">
                            <span *ngIf="dataSource?.invoicePackageValuesModel?.extraMinutesAmount!=0">
                                  &nbsp; {{dataSource?.invoicePackageValuesModel?.extraMinutesAmount}} &nbsp;
                            </span>
                        

                          </td>
                        </tr>

                        <tr *ngIf="dataSource?.totalParkingTollFastagRFIDAmount !=0" style="border-bottom:hidden;" class="no-border" height="10">
                        <!-- <tr class="no-border" height="10"> -->
                          <td valign="top" class="text6" style="padding-bottom: 5px;">

                            &nbsp; Parking/Toll/Fastag/RFID &nbsp;
                          </td>
                          <td valign="top" class="text6">

                            &nbsp;</td>
                          <td valign="top" class="text7">

                            {{dataSource?.totalParkingTollFastagRFIDAmount}} &nbsp;

                          </td>
                        </tr>

                        <tr *ngIf="dataSource?.invoicePackageFGRModel && dataSource?.invoicePackageFGRModel.fgrFixedAmount!=0" class="no-border" height="10">
                        <!-- <tr class="no-border" height="10"> -->
                          <td valign="top" class="text6" style="padding-bottom: 5px;">

                            &nbsp; FGR Charge &nbsp;{{dataSource?.invoicePackageFGRModel.fgrkm}} KMs -
                            @ {{dataSource?.invoicePackageFGRModel.fgrkmRate}} (Fixed Amount)

                          </td>
                          <td valign="top" class="text7">

                            &nbsp; {{dataSource?.invoicePackageFGRModel.fgrkmRate}} &nbsp;</td>
                          <td valign="top" class="text7">

                            &nbsp;{{dataSource?.invoicePackageFGRModel.fgrkmAmount}}&nbsp;&nbsp;
                          </td>
                        </tr>

                        <!-- <tr *ngIf="dataSource?.invoicePackageFGRModel && dataSource?.invoicePackageFGRModel.fgrFixedAmount!=0" class="no-border" height="10"> -->
                        <!-- <tr class="no-border" height="10">
                          <td valign="top" class="text6" style="padding-bottom: 5px;">
                           
                            &nbsp; FGR Charge (Fixed Amount)
                           
                          </td>
                          <td valign="top" class="text6">
                           
                            &nbsp;</td>
                          <td valign="top" class="text7">
                           
                            {{dataSource?.invoicePackageFGRModel.fgrFixedAmount}} &nbsp;

                          </td>
                        </tr> -->

                        <tr  class="no-border" height="10">
                        <!-- <tr class="no-border" height="10"> -->
                          <td valign="top" class="text6" style="padding-bottom: 5px;">
                            <p style="margin-left: 7px;">
                              <span *ngIf="dataSource?.invoiceNightModel?.totalNights !=0">
                                 Nights : {{dataSource?.invoiceNightModel?.totalNights}} &nbsp;
                              </span>
                             
                            </p>

                          </td>

                          <td valign="top" class="text7">
                            <span *ngIf="dataSource?.invoiceNightModel?.nightChargesPerNight != 0">
                            {{dataSource?.invoiceNightModel?.nightChargesPerNight}} &nbsp;
                            </span>
                      
                          </td>
                          <td valign="top" class="text7">
                            <span *ngIf="dataSource?.invoiceNightModel?.totalNightChargesAmount != 0">
                             {{dataSource?.invoiceNightModel?.totalNightChargesAmount}} &nbsp;
                            </span>
                          </td>
                        </tr>

                        <tr class="no-border" height="10" *ngIf="dataSource?.totalChargebleExpenceAmount!=0">
                          <td valign="top" class="text6" style="padding-bottom: 5px;">
                            &nbsp; Total Expense
                          </td>
                          <td valign="top" class="text6">
                            &nbsp;</td>
                          <td valign="top" class="text7">
                            {{dataSource?.totalChargebleExpenceAmount}} &nbsp;
                          </td>
                        </tr>

                        <tr *ngIf="dataSource?.invoicePackageModel.driverAllowance!=0" class="no-border" height="10">
                        <!-- <tr class="no-border" height="10"> -->
                          <td valign="top" class="text6" style="padding-bottom: 5px;">

                            &nbsp; Driver Allowance

                          </td>
                          <td valign="top" class="text6">

                            &nbsp;</td>
                          <td valign="top" class="text7">
                            {{dataSource?.invoicePackageModel?.driverAllowance}} &nbsp;
                          </td>
                        </tr>


                        <tr *ngIf="dataSource?.totalInterStateAmount!=0" class="no-border" height="10">
                        <!-- <tr class="no-border" height="10"> -->
                          <td valign="top" class="text6" style="padding-bottom: 5px;">
                            &nbsp; Inter State Tax
                          </td>
                          <td valign="top" class="text6">
                          </td>
                          <td valign="top" class="text7">
                            &nbsp;{{dataSource?.totalInterStateAmount}}&nbsp;&nbsp;
                          </td>
                        </tr>

                        <!-- <tr class="no-border" height="10">
                          <td valign="top" >
                            Add CC Processing
                            @{{dataSource?.invoiceCreditCardModel?.creditCardProcessingRate}}%{{dataSource?.invoiceCreditCardModel?.creditCardProcessedAmount}}
                            &nbsp;</td>
                          <td valign="top" class="text6">
                            &nbsp;</td>
                          <td valign="top" class="text7">&nbsp;
                            {{dataSource?.invoiceCreditCardModel?.creditCardProcessedAmount}}&nbsp;
                          </td>
                        </tr> -->

                        <tr  class="no-border" height="10">
                        <!-- <tr class="no-border" height="10"> -->
                          <td valign="top" class="text6" style="padding-bottom: 5px;">
                              <span *ngIf="dataSource?.invoiceFuelSurchargeModel.totalFuelSurchargeOnPackageRate != 0
                        || dataSource?.invoiceFuelSurchargeModel?.totalFuelSurchargeOnExtraKM!=0 ||
                         dataSource?.invoiceFuelSurchargeModel?.totalFuelSurchargeOnExtraHours!=0 ">
                          &nbsp; Fuel Surcharge
                            on Rate {{dataSource?.invoiceFuelSurchargeModel?.totalFuelSurchargeOnPackageRate}}
                            Extra KM ({{dataSource?.invoiceFuelSurchargeModel?.totalFuelSurchargeOnExtraKM}})
                            Extra Hr. ({{dataSource?.invoiceFuelSurchargeModel?.totalFuelSurchargeOnExtraHours}})
                        </span>
                           
                            <br />
                            <br />
                            <span *ngIf="dataSource?.invoiceGSTModel.gstsac!=0">
                               &nbsp; SAC : {{dataSource?.invoiceGSTModel.gstsac}}
                            </span>
                           

                          </td>
                          <td valign="top" class="text6">
                            &nbsp;</td>
                          <td valign="top" class="text7">
                            <span *ngIf="dataSource?.invoiceFuelSurchargeModel.totalFuelSurchargeOnPackageRate != 0">
                         {{dataSource?.invoiceFuelSurchargeModel?.totalFuelSurchargeOnPackageRate}} &nbsp;
                        </span>
                            
                          </td>
                        </tr>

                        <tr class="no-border" height="150">
                          <td valign="top" class="text7" style="padding-bottom: 5px;">Sub Total&nbsp; </td>
                          <td valign="top" class="text6">
                            &nbsp;</td>
                          <td valign="top" class="text7">
                            &nbsp;
                            {{dataSource?.totalAmountAfterExpences}} &nbsp;
                          </td>
                        </tr>

                        <tr class="no-border" height="10">
                          <td class="text6">

                            <p class="text6" style="text-align:right">
                              <span *ngIf="dataSource?.invoiceGSTModel?.igstPercentage">IGST @{{dataSource?.invoiceGSTModel?.igstPercentage}}%</span><br>
                              <span *ngIf="dataSource?.invoiceGSTModel?.sgstPercentage">SGST @{{dataSource?.invoiceGSTModel?.sgstPercentage}}%</span><br>
                              <span *ngIf="dataSource?.invoiceGSTModel?.cgstPercentage">CGST @{{dataSource?.invoiceGSTModel?.cgstPercentage}}%</span>
                              <!-- <span>IGST @{{dataSource?.invoiceGSTModel?.igstPercentage}}%</span><br>
                              <span>SGST @{{dataSource?.invoiceGSTModel?.sgstPercentage}}%</span><br>
                              <span>CGST @{{dataSource?.invoiceGSTModel?.cgstPercentage}}%</span> -->
                            </p>
                            <p class="text6" style="text-align:right">

                              <span *ngIf="dataSource?.invoiceCessModel?.cessPercentage">Cess @
                                {{dataSource?.invoiceCessModel?.cessPercentage}} %</span>
                            </p>
                          </td>
                          <td class="text7">

                          </td>
                          <td class="text7">
                            <!-- <p class="text6" style="text-align:right"> -->
                            <span
                              *ngIf="dataSource?.invoiceGSTModel?.igstAmount">{{dataSource?.invoiceGSTModel?.igstAmount}}</span><br>
                            <span
                              *ngIf="dataSource?.invoiceGSTModel?.sgstAmount">{{dataSource?.invoiceGSTModel?.sgstAmount}}</span><br>
                            <span
                              *ngIf="dataSource?.invoiceGSTModel?.cgstAmount">{{dataSource?.invoiceGSTModel?.cgstAmount}}</span>&nbsp;
                            <!-- </p> -->

                            <br /><br />

                            {{dataSource?.invoiceCessModel?.totalCessAmount}}&nbsp; &nbsp;

                          </td>
                        </tr>

                        <tr class="no-border" height="10">
                          <td valign="top" class="text6" style="padding-bottom: 5px;">
                            <span *ngIf="dataSource?.invoiceDiscountModel?.discountPercentage">
                              Total Discount
                              @{{dataSource?.invoiceDiscountModel?.discountPercentage}} %
                            </span>
                            <!-- <span>
                              Total Discount
                              @{{dataSource?.invoiceDiscountModel?.discountPercentage}}%
                            </span> -->

                          </td>
                          <td valign="top" class="text6">
                            &nbsp;</td>
                          <td valign="top" class="text7">
                            <span *ngIf="dataSource?.invoiceDiscountModel?.discountAmountOnPackage!=0 
                            || dataSource?.invoiceDiscountModel?.discountAmountOnExtraKM!=0 
                            || dataSource?.invoiceDiscountModel?.discountAmountOnExtraHour!=0">
                            {{ (dataSource?.invoiceDiscountModel?.discountAmountOnPackage || 0) +
                            (dataSource?.invoiceDiscountModel?.discountAmountOnExtraKM || 0) +
                            (dataSource?.invoiceDiscountModel?.discountAmountOnExtraHour || 0) }} &nbsp;
                            </span>
                          </td>
                        </tr>

                        <tr class="no-border" height="10">
                          <td valign="top" class="text6" *ngIf="dataSource?.invoiceSEZModel">
                            {{dataSource?.invoiceEcoBranchModel?.branchLUTNumber}} valid Date
                            {{dataSource?.invoiceEcoBranchModel?.branchLUTExpiryDate | date: 'dd/MM/yyyy'}}
                            *Supply meant for Export/supply to SEZ unit or SEZ developer for authorised operations under
                            bond or letter of undertaking without payment of integrated Taxgen <b>(This Text comes when
                              TaxAmount is Zero. This text is Customer Based)</b>
                          </td>
                          <td valign="top" class="text6">
                            &nbsp;</td>
                          <td valign="top" class="text6">&nbsp;

                          </td>
                        </tr>

                        <tr class="text5 no-border" height="10">
                          <td valign="top" class="text6">

                            &nbsp;</td>
                          <td valign="top" class="text6">
                            &nbsp;</td>
                          <td valign="top" class="text7">&nbsp;

                            <!-- N/A -->

                          </td>
                        </tr>

                        <tr class="text5 no-border" height="10">
                          <td valign="top">Less Advance<br />
                            Total Rs.<br />
                            {{dataSource?.totalAmountAfterGSTInWords}} Only
                          </td>
                          <td>&nbsp;</td>
                          <td valign="top">
                            <!-- N/A -->
                             <span *ngIf="dataSource?.invoiceModel?.invoiceAdvance!=0">
                               {{dataSource?.invoiceModel?.invoiceAdvance || 0}}&nbsp;
                             </span>
                           
                            <br />
                            {{dataSource?.invoiceModel?.totalRecivableAfterAdvace}}&nbsp;
                            <!-- {{dataSource?.totalAmountAfterGST}}&nbsp; -->

                          </td>
                        </tr>
                      </table>
                    </td>
                  </tr>
                  <tr align="center">
                    <td>
                      <p><strong>VEH. Type</strong></p>
                      <p>{{vehicleName}}</p>
                    </td>
                  </tr>

                  <tr align="center">
                    <td>
                      <p><strong>Trip Date</strong><br />
                        {{dataSource?.invoiceDutyModel?.dutyStartDateTime | date: 'dd/MM/yyyy'}}
                        <br />
                        <strong>to</strong><br />
                        {{dataSource?.invoiceDutyModel?.dutyEndDateTime | date: 'dd/MM/yyyy'}}
                      </p>
                    </td>
                  </tr>
                  <tr align="center">
                    <td>
                      PNR/Emp ID/Employ ID<br>

                      TR No. <br />

                    </td>
                  </tr>
                  <tr align="center">
                    <td>
                      &nbsp;
                    </td>
                  </tr>
                  <tr align="center">
                    <td>
                      &nbsp;
                    </td>
                  </tr>
                  <tr align="center">
                    <td>
                      &nbsp;
                    </td>
                  </tr>
                  <tr align="center">
                    <td>
                      &nbsp;
                    </td>
                  </tr>
                </table>

                <table width="900" border="0" cellpadding="2" cellspacing="0" class="text1">
                  <tr>
                    <td width="330" valign="top">E &amp; O. E.
                      <strong><u>Terms &amp; Conditions</u> </strong><br />
                      <span class="auto-style7">Our Responsibility of the Signed duty slip rests till we handover the
                        same to you with the bill.<br />
                        Interest @ 24% will be charged if payment is not received as per payment terms settled.

                        No Objection pertaining to this invoice would be entertained thereafter.
                        Sent the RTGS/NEFT Payment to: KOTAK MAHINDRA BANK / A/C NO: 3911291161, IFSC CODE: KKBK0004620,
                        PAN NO: AABCE1357N, TINNO: 07860310884, CIN NO: U74999DL1996PTC076375

                        Electronic Mode of Payments as per Section 269SU of Income Tax Act, 1961:
                        https://www.ecorentacar.com/pay-online/</span>
                    </td>
                    <td width="226" align="left" valign="top">
                      <p style="font-size:smaller"><strong>ECOS (I) MOBILITY &amp; HOSPITALITY PVT. LTD.</strong></p>

                      <p class="text5">
                        <img src="assets/images/Picture1.png" width="80px" height="80px" />

                        Authorized Signatory
                      </p>
                    </td>
                  </tr>
                </table>

              </td>
            </tr>
          </table>
        </td>
      </tr>
    </table>

    <br>

    <div style="text-align: center">
      <button type="button" (click)="print()" color="primary" mat-raised-button id="print">
        Print
      </button>
    </div>
    <br>
  </div>
</div>