<div class="addContainer">
    <div class="modalHeader">
        <div class="editRowModal">
            <div class="modalHeader clearfix">
                <div class="modal-about">
                    <div class="font-weight-bold p-t-5 font-17">
                        {{dialogTitle}}
                    </div>
                </div>
            </div>
        </div>
        <button mat-icon-button (click)="dialogRef.close()" aria-label="Close dialog">
            <mat-icon>close</mat-icon>
        </button>
    </div>
    <div mat-dialog-content>
        <form class="register-form m-4" [formGroup]="advanceTableForm" (ngSubmit)="submit">
           
            <!-- Vendor Section -->
            <p>Vendor</p>
            <div class="row">
                <!-- <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                    <mat-checkbox (change)="getExisting($event)" color="primary">Existing</mat-checkbox>
                </div> -->

                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width" appearance="outline" floatLabel="always">
                      <mat-label>Type</mat-label>
                      <mat-select required #typeVal
                        [class.is-invalid]="typeVal.invalid && typeVal.touched" (selectionChange)="getExisting($event.value)" formControlName="isVendorExisting">
                        <mat-option value="Existing">Existing</mat-option>
                        <mat-option value="New">New</mat-option>
                      </mat-select>          
                      <mat-error> Please Select a Type </mat-error>
                    </mat-form-field>
                  </div>
          

                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2" *ngIf="advanceTableForm.value.isVendorExisting === 'Existing'">
                    <mat-form-field class="example-full-width" appearance="outline" floatLabel="always"> 
                        <mat-label>Vendor</mat-label>                       
                        <input required type="text" matInput [matAutocomplete]="auto7" formControlName="supplierName">
                        <mat-autocomplete #auto7="matAutocomplete" (optionSelected)="OnSupplierSelect($event.option.value)">
                            <mat-option *ngFor="let supplier of filteredSupplierOptions | async"
                                [value]="supplier.supplierName" (click)="getSupplierID(supplier.supplierID)">
                                {{supplier.supplierName}} - {{supplier.supplierPhone}}
                            </mat-option>
                        </mat-autocomplete>
                        <mat-error *ngIf="advanceTableForm.controls['supplierName'].hasError('required')">
                            Please select a  Vendor
                        </mat-error>
                    </mat-form-field>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2" *ngIf="!advanceTableForm.value?.isVendorExisting || advanceTableForm.value.isVendorExisting === 'New'">
                    <mat-form-field class="example-full-width" appearance="outline" floatLabel="always">
                        <mat-label>Vendor</mat-label>
                        <input required type="text" matInput formControlName="supplierName">
                        <mat-error *ngIf="advanceTableForm.controls['supplierName'].hasError('required')">
                            Vendor is required
                        </mat-error>
                    </mat-form-field>
                </div>
                
               
            </div>
            <div class="row">
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2" *ngIf="advanceTableForm.value.isVendorExisting === 'Existing'">
                    <mat-form-field class="example-full-width" appearance="outline" floatLabel="always">
                        <mat-label>Email</mat-label>
                        <input matInput formControlName="supplierEmail" readonly>
                        <!-- <mat-error *ngIf="advanceTableForm.get('supplierEmail').hasError('required')">
                            Email is required
                        </mat-error> -->
                    </mat-form-field>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2"*ngIf="!advanceTableForm.value?.isVendorExisting || advanceTableForm.value.isVendorExisting === 'New'">
                    <mat-form-field class="example-full-width" appearance="outline" floatLabel="always">
                        <mat-label>Email</mat-label>
                        <input matInput formControlName="supplierEmail">
                        <!-- <mat-error *ngIf="advanceTableForm.get('supplierEmail').hasError('required')">
                            Email is required
                        </mat-error> -->
                    </mat-form-field>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-1 col-sm-1 mb-1" *ngIf="advanceTableForm.value.isVendorExisting === 'Existing'">
                   
                    <mat-form-field class="example-full-width" appearance="outline" floatLabel="always">
                        <mat-label>Country Code</mat-label>
                        <input  type="text" matInput formControlName="countryCode" [matAutocomplete]="auto10" required>
                        <mat-autocomplete #auto10="matAutocomplete"  (optionSelected)="onCountryCode($event)">
                            <mat-option *ngFor="let option of filteredCountryCodesOptions | async"
                                [value]="option.countryISDCode">
                                <div style="display: flex; align-items: center;">
                                    <img [src]="option.icon" alt="{{option.countryISOCode}}" width="20" height="20" style="margin-right: 8px;">
                                    <span >{{option.countryISOCode}} {{option.countryISDCode}}</span>
                                  
                                  </div>
                            </mat-option>
                        </mat-autocomplete>
                        <mat-error *ngIf="advanceTableForm.controls['countryCode'].hasError('countryTypesInvalid')">
                            Please select a Country Code
                         </mat-error>
                    </mat-form-field>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-1 col-sm-1 mb-1" *ngIf="advanceTableForm.value.isVendorExisting === 'Existing'">
                    <mat-form-field class="example-full-width" appearance="outline" floatLabel="always">
                        <mat-label>Phone No</mat-label>
                        <input matInput formControlName="supplierPhone" readonly>
                        <!-- <mat-error *ngIf="advanceTableForm.get('supplierPhone').hasError('required')">
                            Phone No is required
                        </mat-error> -->
                    </mat-form-field>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-1 col-sm-1 mb-1" *ngIf="!advanceTableForm.value?.isVendorExisting || advanceTableForm.value.isVendorExisting === 'New'">
                   
                    <mat-form-field class="example-full-width" appearance="outline" floatLabel="always">
                        <mat-label>Country Code</mat-label>
                        <input  type="text" matInput formControlName="countryCode" [matAutocomplete]="auto10" required>
                        <mat-autocomplete #auto10="matAutocomplete"  (optionSelected)="onCountryCode($event)">
                            <mat-option *ngFor="let option of filteredCountryCodesOptions | async"
                                [value]="option.countryISDCode">
                                <div style="display: flex; align-items: center;">
                                    <img [src]="option.icon" alt="{{option.countryISOCode}}" width="20" height="20" style="margin-right: 8px;">
                                    <span >{{option.countryISOCode}} {{option.countryISDCode}}</span>
                                  
                                  </div>
                            </mat-option>
                        </mat-autocomplete>
                        <mat-error *ngIf="advanceTableForm.controls['countryCode'].hasError('countryTypesInvalid')">
                            Please select a Country Code
                         </mat-error>
                    </mat-form-field>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-1 col-sm-1 mb-1" *ngIf="!advanceTableForm.value?.isVendorExisting || advanceTableForm.value.isVendorExisting === 'New'">
                    <mat-form-field class="example-full-width" appearance="outline" floatLabel="always">
                        <mat-label>Phone No</mat-label>
                        <input matInput formControlName="supplierPhone" required>
                        <mat-error *ngIf="advanceTableForm.get('supplierPhone').hasError('required')">
                            Phone No is required
                        </mat-error>
                    </mat-form-field>
                </div>
            </div>
            
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
                <mat-checkbox (change)="copyVendorToDriver($event)" #copyCheckBox color="primary" [disabled]="copydetails===false">
                    Copy Email or Phone to driver?
                </mat-checkbox>
           </div>
           <br>
            <!-- Driver Section -->
            <p>Driver</p>
            <div class="row">
                <!-- <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                    <mat-checkbox (change)="getDriverExisting($event)" color="primary">Existing</mat-checkbox>
                </div> -->
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width" appearance="outline" floatLabel="always">
                      <mat-label>Type</mat-label>
                      <mat-select required #typeVal
                        [class.is-invalid]="typeVal.invalid && typeVal.touched" (selectionChange)="getDriverExisting($event.value)" formControlName="isDriverExisting">
                        <mat-option value="Existing">Existing</mat-option>
                        <mat-option value="New">New</mat-option>
                      </mat-select>          
                      <mat-error> Please Select a Type </mat-error>
                    </mat-form-field>
                  </div>
                 <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2" *ngIf="!advanceTableForm.value?.isDriverExisting  || advanceTableForm.value.isDriverExisting === 'New'">
                    <mat-form-field class="example-full-width" appearance="outline" floatLabel="always">
                        <mat-label>Driver Name</mat-label>
                        <input matInput formControlName="driverName" required>
                        <mat-error *ngIf="advanceTableForm.get('driverName').hasError('required')">
                            Driver Name is required
                        </mat-error>
                    </mat-form-field>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2" *ngIf=" advanceTableForm.value.isDriverExisting === 'Existing'">
                    <mat-form-field class="example-full-width" appearance="outline" floatLabel="always"> 
                        <mat-label>Driver Name</mat-label>                       
                        <input required type="text" matInput [matAutocomplete]="auto1" formControlName="driverName">
                        <mat-autocomplete #auto1="matAutocomplete" (optionSelected)="OnDriverSelect($event.option.value)">
                            <mat-option *ngFor="let driver of filteredDriverOptions | async"
                                [value]="driver.driverName" (click)="getDriverID(driver.driverID)">
                                {{driver.driverName}} - {{driver.driverPhone}}
                            </mat-option>
                        </mat-autocomplete>
                        <mat-error *ngIf="advanceTableForm.controls['driverName'].hasError('required')">
                            Please select a  Driver Name 
                        </mat-error>
                    </mat-form-field>
                </div>
                 
            </div>
            <div class="row">
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2" *ngIf="!advanceTableForm.value?.isDriverExisting  || advanceTableForm.value.isDriverExisting === 'New'">
                    <mat-form-field class="example-full-width" appearance="outline" floatLabel="always">
                        <mat-label>Email</mat-label>
                        <input matInput formControlName="driverEmail">
                        <!-- <mat-error *ngIf="advanceTableForm.get('driverEmail').hasError('required')">
                            Email is required
                        </mat-error> -->
                    </mat-form-field>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-1 col-sm-1 mb-1" *ngIf="!advanceTableForm.value?.isDriverExisting  || advanceTableForm.value.isDriverExisting === 'New'">
                   
                    <mat-form-field class="example-full-width" appearance="outline" floatLabel="always">
                        <mat-label>Country Code</mat-label>
                        <input  type="text" matInput formControlName="countryCodes" [matAutocomplete]="auto10" required>
                        <mat-autocomplete #auto10="matAutocomplete"  (optionSelected)="onCountryCode($event)">
                            <mat-option *ngFor="let option of filteredCountryCodesOptions | async"
                                [value]="option.countryISDCode">
                                <div style="display: flex; align-items: center;">
                                    <img [src]="option.icon" alt="{{option.countryISOCode}}" width="20" height="20" style="margin-right: 8px;">
                                    <span >{{option.countryISOCode}} {{option.countryISDCode}}</span>
                                  
                                  </div>
                            </mat-option>
                        </mat-autocomplete>
                        <mat-error *ngIf="advanceTableForm.controls['countryCodes'].hasError('countryTypesInvalid')">
                            Please select a Country Code
                         </mat-error>
                    </mat-form-field>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-1 col-sm-1 mb-1" *ngIf="!advanceTableForm.value?.isDriverExisting  || advanceTableForm.value.isDriverExisting === 'New'">
                    <mat-form-field class="example-full-width" appearance="outline" floatLabel="always">
                        <mat-label>Phone No</mat-label>
                        <input matInput formControlName="driverPhone" required>
                        <mat-error *ngIf="advanceTableForm.get('driverPhone').hasError('required')">
                            Phone No is required
                        </mat-error>
                    </mat-form-field>
                </div>
               
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2" *ngIf=" advanceTableForm.value.isDriverExisting === 'Existing'">
                    <mat-form-field class="example-full-width" appearance="outline" floatLabel="always">
                        <mat-label>Email</mat-label>
                        <input matInput formControlName="driverEmail" readonly>
                        <!-- <mat-error *ngIf="advanceTableForm.get('driverEmail').hasError('required')">
                            Email is required
                        </mat-error> -->
                    </mat-form-field>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-1 col-sm-1 mb-1" *ngIf=" advanceTableForm.value.isDriverExisting === 'Existing'">
                   
                    <mat-form-field class="example-full-width" appearance="outline" floatLabel="always">
                        <mat-label>Country Code</mat-label>
                        <input  type="text" matInput formControlName="countryCodes" [matAutocomplete]="auto10" required>
                        <mat-autocomplete #auto10="matAutocomplete"  (optionSelected)="onCountryCode($event)">
                            <mat-option *ngFor="let option of filteredCountryCodesOptions | async"
                                [value]="option.countryISDCode">
                                <div style="display: flex; align-items: center;">
                                    <img [src]="option.icon" alt="{{option.countryISOCode}}" width="20" height="20" style="margin-right: 8px;">
                                    <span >{{option.countryISOCode}} {{option.countryISDCode}}</span>
                                  
                                  </div>
                            </mat-option>
                        </mat-autocomplete>
                        <mat-error *ngIf="advanceTableForm.controls['countryCodes'].hasError('countryTypesInvalid')">
                            Please select a Country Code
                         </mat-error>
                    </mat-form-field>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-1 col-sm-1 mb-1" *ngIf=" advanceTableForm.value.isDriverExisting === 'Existing'">
                    <mat-form-field class="example-full-width" appearance="outline" floatLabel="always">
                        <mat-label>Phone No</mat-label>
                        <input matInput formControlName="driverPhone" readonly>
                        <!-- <mat-error *ngIf="advanceTableForm.get('driverPhone').hasError('required')">
                            Phone No is required
                        </mat-error> -->
                    </mat-form-field>
                </div>
                
                
            </div>
            <div class="row">
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2" *ngIf=" advanceTableForm.value.isDriverExisting === 'Existing'">
                    <mat-form-field class="example-full-width" appearance="outline" floatLabel="always">
                        <mat-label>Father's Name</mat-label>
                        <input matInput formControlName="driverFatherName" readonly>
                        <!-- <mat-error *ngIf="advanceTableForm.get('driverFatherName').hasError('required')">
                            Father's Name is required
                        </mat-error> -->
                    </mat-form-field>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2" *ngIf="!advanceTableForm.value?.isDriverExisting  || advanceTableForm.value.isDriverExisting === 'New'">
                    <mat-form-field class="example-full-width" appearance="outline" floatLabel="always">
                        <mat-label>Father's Name</mat-label>
                        <input matInput formControlName="driverFatherName">
                        <!-- <mat-error *ngIf="advanceTableForm.get('driverFatherName').hasError('required')">
                            Father's Name is required
                        </mat-error> -->
                    </mat-form-field>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2" *ngIf="!advanceTableForm.value?.isDriverExisting || advanceTableForm.value.isDriverExisting === 'New'">
                    <mat-form-field class="example-full-width" appearance="outline" floatLabel="always">
                        <mat-label>Identity Number</mat-label>
                        <input matInput formControlName="driverOfficialIdentityNumber">
                        <!-- <mat-error *ngIf="advanceTableForm.get('driverOfficialIdentityNumber').hasError('required')">
                            Identity Number is required
                        </mat-error> -->
                    </mat-form-field>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2" *ngIf=" advanceTableForm.value.isDriverExisting === 'Existing'">
                    <mat-form-field class="example-full-width" appearance="outline" floatLabel="always">
                        <mat-label>Identity Number</mat-label>
                        <input matInput formControlName="driverOfficialIdentityNumber" readonly>
                        <!-- <mat-error *ngIf="advanceTableForm.get('driverOfficialIdentityNumber').hasError('required')">
                            Identity Number is required
                        </mat-error> -->
                    </mat-form-field>
                </div>
            </div>
            <div class="row">
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2"  *ngIf="!advanceTableForm.value?.isDriverExisting  || advanceTableForm.value.isDriverExisting === 'New'">
                    <mat-form-field class="example-full-width" appearance="outline" floatLabel="always"> 
                        <mat-label>RTO State</mat-label>                       
                        <input type="text" matInput [matAutocomplete]="auto6"
                        formControlName="rtoState">
                        <mat-autocomplete #auto6="matAutocomplete" (optionSelected)="OnRTOStateSelect($event.option.value)">
                            <mat-option *ngFor="let options of filteredStateOptions | async"
                                [value]="options.geoPointName" (click)="getStateID(options.geoPointID)">
                                {{options.geoPointName}}
                            </mat-option>
                        </mat-autocomplete>
                        <!-- <mat-error *ngIf="advanceTableForm.controls['rtoState'].hasError('required')">
                        Please select a Rto State 
                        </mat-error> -->
                    </mat-form-field>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2" *ngIf=" advanceTableForm.value.isDriverExisting === 'Existing'">
                    <mat-form-field class="example-full-width" appearance="outline" floatLabel="always">
                        <mat-label>RTO State</mat-label>
                        <input matInput formControlName="rtoState" readonly>
                    </mat-form-field>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2" *ngIf="!advanceTableForm.value?.isDriverExisting  || advanceTableForm.value.isDriverExisting === 'New'">
                    <mat-form-field class="example-full-width" appearance="outline" floatLabel="always">
                        <mat-label>Company</mat-label>
                        <input required type="text" matInput formControlName="companyName" [matAutocomplete]="auto14">
                        <mat-autocomplete #auto14="matAutocomplete" (optionSelected)="OnCompanySelect($event.option.value)">
                            <mat-option *ngFor="let option of filteredCompanyOptions | async"
                                [value]="option.organizationalEntityName"
                                (click)="getCompanyID(option.organizationalEntityID)">
                                {{option.organizationalEntityName}}
                            </mat-option>
                        </mat-autocomplete>
                        <mat-error *ngIf="advanceTableForm.controls['companyName'].hasError('required')">
                            Please select a Company
                        </mat-error>
                    </mat-form-field>
                </div>
              </div>  

            <!-- Car Section -->
            <p>Inventory</p>
            <div class="row">
                <!-- <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                    <mat-checkbox (change)="getCarExisting($event)" color="primary">Existing</mat-checkbox>
                </div> -->
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width" appearance="outline" floatLabel="always">
                      <mat-label>Type</mat-label>
                      <mat-select required #typeVal
                        [class.is-invalid]="typeVal.invalid && typeVal.touched" (selectionChange)="getCarExisting($event.value)" formControlName="isCarExisting">
                        <mat-option value="Existing">Existing</mat-option>
                        <mat-option value="New">New</mat-option>
                      </mat-select>          
                      <mat-error> Please Select a Type </mat-error>
                    </mat-form-field>
                  </div>
               <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2" *ngIf="!advanceTableForm.value?.isCarExisting || advanceTableForm.value.isCarExisting === 'New'">
                    <mat-form-field class="example-full-width" appearance="outline" floatLabel="always">
                        <mat-label>Registration No</mat-label>
                        <input matInput formControlName="registrationNumber" required>
                        <mat-error *ngIf="advanceTableForm.get('registrationNumber').hasError('required')">
                            Registration No is required
                        </mat-error>
                    </mat-form-field>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2" *ngIf=" advanceTableForm.value.isCarExisting === 'Existing'">
                    <mat-form-field class="example-full-width" appearance="outline" floatLabel="always">
                        <mat-label>Registration No</mat-label>
                        <input required type="text" matInput formControlName="registrationNumber" [matAutocomplete]="auto4">
                        <mat-autocomplete #auto4="matAutocomplete" (optionSelected)="OnRegistrationNumberSelect($event.option.value)">
                          <mat-option *ngFor="let option of filteredRegistrationNumberOptions | async" [value]="option.vehicle" (click)="getRegistrationNumberID(option.vehicle)">
                            {{option.vehicle}}
                          </mat-option>
                        </mat-autocomplete>
                        <mat-error *ngIf="advanceTableForm.controls['registrationNumber']?.hasError('required')">
                            Please select a Registration No
                        </mat-error>
                      </mat-form-field>
                </div>
               
            </div>
            <div class="row">
                 <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2" *ngIf=" advanceTableForm.value.isCarExisting === 'Existing'">
                    <mat-form-field class="example-full-width" appearance="outline" floatLabel="always">
                        <mat-label>Vehicle</mat-label>
                        <input readonly type="text" matInput formControlName="vehicle" >
                      </mat-form-field>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2" *ngIf="!advanceTableForm.value?.isCarExisting || advanceTableForm.value.isCarExisting === 'New'">
                    <mat-form-field class="example-full-width" appearance="outline" floatLabel="always">
                        <mat-label>Vehicle</mat-label>
                        <input required type="text" matInput formControlName="vehicle" (keyup)="onvechileInputChanges($event)" [matAutocomplete]="auto5">
                        <mat-autocomplete #auto5="matAutocomplete" (optionSelected)="OnVehicleSelect($event.option.value)">
                          <mat-option *ngFor="let option of filteredVehicleOptions | async" [value]="option.vehicle" (click)="getvehicleID(option.vehicleID)">
                            {{option.vehicle}}
                          </mat-option>
                        </mat-autocomplete>
                        <mat-error *ngIf="advanceTableForm.controls['vehicle'].hasError('required')">
                            Please select a Vehicle
                        </mat-error>
                      </mat-form-field>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2" *ngIf=" advanceTableForm.value.isCarExisting === 'Existing'">
                    <mat-form-field class="example-full-width" appearance="outline" floatLabel="always">
                        <mat-label>Vehicle Category</mat-label>
                        <input readonly type="text" matInput formControlName="vehicleCategory" >
                      </mat-form-field>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2" *ngIf="!advanceTableForm.value?.isCarExisting || advanceTableForm.value.isCarExisting === 'New'">
                     <mat-label>Vehicle Category : </mat-label>
                    <span >{{VehicleCategoryList?.vehicleCategory || 'N/A'}}</span>
                    <!-- <mat-form-field class="example-full-width" appearance="outline" floatLabel="always">
                        <mat-label>Vehicle Category</mat-label>
                     
                        <input required type="text" matInput formControlName="vehicleCategory" [matAutocomplete]="auto" >
                        <mat-autocomplete #auto="matAutocomplete" (optionSelected)="OnVehicleCategorySelect($event.option.value)">
                          <mat-option *ngFor="let option of filteredVehicleCategoryOptions | async" [value]="option.vehicleCategory" (click)="getTitles(option.vehicleCategoryID)">
                            {{option.vehicleCategory}}
                          </mat-option>
                        </mat-autocomplete>
                        <mat-error *ngIf="advanceTableForm.controls['vehicleCategory']?.hasError('required')">
                            Please select a Vehicle Category
                        </mat-error>
                      </mat-form-field> -->
                </div>
               
            </div>

            <div class="row">
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width" appearance="outline" floatLabel="always">
                        <mat-label>Location</mat-label>
                        <input required type="text" matInput formControlName="locationName" [matAutocomplete]="auto">
                        <mat-autocomplete #auto="matAutocomplete" (optionSelected)="OnLocationSelect($event.option.value)">
                          <mat-option *ngFor="let option of filteredLocationNameOptions | async" 
                                            [value]="option.organizationalEntityName" 
                                            (click)="getLocationID(option.organizationalEntityID)">
                            {{option.organizationalEntityName}}
                          </mat-option>
                        </mat-autocomplete>
                        <mat-error *ngIf="advanceTableForm.get('locationName').hasError('required')">
                            Location is required
                        </mat-error>
                      </mat-form-field>
                </div>
            </div>

            <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
                    <div class="example-button-row" *ngIf="!allExisting">
                        <button mat-raised-button color="primary" type="button" [disabled]="!advanceTableForm.valid" (click)="confirmAdd()">Save</button>
                      </div>
                      <!-- <p *ngIf="!advanceTableForm.valid" class="text-danger">Form is invalid!</p> -->
                      
                      <p *ngIf="allExisting" class="text-danger font-weight-bold">Already Exists</p>
                    <!-- <div class="example-button-row">
                        <button mat-raised-button color="primary" [type]="submit" [disabled]="!advanceTableForm.valid">Save</button>
                        <button mat-raised-button color="primary">Save and Attach</button>
                    </div> -->
                </div>
            </div>
        </form>
    </div>
</div>
