<div class="addContainer">
    <div class="modalHeader">
        <div class="editRowModal">
            <div class="modalHeader clearfix">
                <div class="modal-about">
                    <div class="font-weight-bold p-t-5 font-17">
                        {{dialogTitle}}
                    </div>
                    <div *ngIf="buttonDisabled" style="color:rgb(150, 4, 4);font-weight:bold; margin-bottom:8px;">
                        {{ status }}
                    </div>
                </div>
            </div>
        </div>
        <button mat-icon-button (click)="dialogRef.close()" aria-label="Close dialog">
            <mat-icon>close</mat-icon>
        </button>
    </div>
    <div mat-dialog-content>
        <form class="register-form m-4" [formGroup]="advanceTableForm" (ngSubmit)="submit">
            <div class="row">
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width" appearance="outline" floatLabel="always">
                        <mat-label>Amenities</mat-label>
                        <input required type="text" matInput [matAutocomplete]="auto200" formControlName="amenitie"
                            (keyup)="onDutyAmenitieChanges($event)">
                        <mat-autocomplete #auto200="matAutocomplete"
                            (optionSelected)="onAmenitieSelected($event.option.value)">
                            <mat-option *ngFor="let options of filteredDutyAmenitiesOptions | async"
                                [value]="options.amenitie" (click)="getAmenitieID(options.amenitieID)">
                                {{options.amenitie}}
                            </mat-option>
                        </mat-autocomplete>
                        <mat-error *ngIf="advanceTableForm.controls['amenitie'].hasError('amenitieInvalid')">
                            Please select a Amenitie
                        </mat-error>

                    </mat-form-field>
                </div>

                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width" appearance="outline" floatLabel="always">
                        <mat-label>Amenitie Remark</mat-label>
                        <input matInput formControlName="amenitieRemark">
                    </mat-form-field>
                </div>
            </div>

            <div class="row">
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 mb-2">
                    <mat-label>Amenitie Image</mat-label>
                    <br>
                    <a href="{{ ImagePath }}" target="_blank" *ngIf="ImagePath">
                        <img [src]="ImagePath" class="table " style="height: 80px; width: auto;">
                    </a>

                    <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2" style="right: 15px;">
                        <app-myupload (onUploadFinished)="uploadFinished($event)"></app-myupload>
                    </div>
                </div>

                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width" appearance="outline" floatLabel="always">
                        <mat-label>Activation Status</mat-label>
                        <mat-select formControlName="activationStatus">
                            <mat-option [value]=true>Active</mat-option>
                            <mat-option [value]=false>Deleted</mat-option>
                        </mat-select>
                        <mat-error *ngIf="advanceTableForm.get('activationStatus').hasError('required')">
                            Activation Status is required
                        </mat-error>
                    </mat-form-field>
                </div>
            </div>

            <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
                    <div class="example-button-row">
                        <!-- <div *ngIf="status" style="color:red;font-weight:bold;margin-bottom:8px;">{{ status }}</div> -->
                        <button mat-raised-button color="primary" *ngIf="saveDisabled" [type]="submit"
                            [disabled]="!advanceTableForm.valid || buttonDisabled" (click)="confirmAdd()">Save</button>
                        <mat-spinner *ngIf="!saveDisabled" diameter="30"></mat-spinner>
                        <button mat-raised-button color="warn" (click)="onNoClick()" tabindex="-1">Cancel</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
    