<div class="addContainer">
    <div class="modalHeader">
        <div class="editRowModal">
            <div class="modalHeader clearfix">
                <!-- <img [src]='advanceTable.img' alt="avatar"> -->
                <div class="modal-about">
                    <div class="font-weight-bold p-t-5 font-17" *ngIf="redirectingFrom==='Inventory'">
                        {{dialogTitle}} For {{RegistrationNumber}}
                    </div>
                    <div class="font-weight-bold p-t-5 font-17" *ngIf="redirectingFrom==='State'">
                        {{dialogTitle}} For {{State}}
                    </div>
                    
                    <div class="font-weight-bold p-t-5 font-17" *ngIf="!redirectingFrom">
                        {{dialogTitle}}
                    </div>
                </div>
            </div>
        </div>
        <button mat-icon-button (click)="dialogRef.close()" aria-label="Close dialog">
      <mat-icon>close</mat-icon>
    </button>
    </div>
    <div mat-dialog-content *ngIf="redirectingFrom">
        <form class="register-form m-4" [formGroup]="advanceTableForm" (ngSubmit)="submit">

            <div class="row" *ngIf="redirectingFrom==='Inventory'">
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2" >
                    <mat-form-field class="example-full-width" appearance="outline" floatLabel="always">
                        <mat-label>State</mat-label>
                        <input required type="text" matInput [matAutocomplete]="auto1" formControlName="state">
                        <mat-autocomplete #auto1="matAutocomplete">
                            <mat-option *ngFor="let options of filteredStateOptions | async"
                                [value]="options.geoPointName" (click)="getTitles(options.geoPointID)">
                                {{options.geoPointName}}
                            </mat-option>
                        </mat-autocomplete>
                        <mat-error *ngIf="advanceTableForm.controls['state'].hasError('stateNameInvalid')">
                            Please select a State
                        </mat-error>
                    </mat-form-field>
                </div> 

                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width" appearance="outline"  floatLabel="always">
                        <mat-label>Tax Amount</mat-label>
                        <input matInput (keypress)="keyPressNumbersDecimal($event)" formControlName="interStateTaxAmount" required>
                        <mat-error *ngIf="advanceTableForm.get('interStateTaxAmount').hasError('required')">
                            Tax Amount is required
                        </mat-error>
                    </mat-form-field>
                </div>
            </div>

            <div class="row" *ngIf="redirectingFrom==='State'">
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2" >
                    <mat-form-field class="example-full-width" appearance="outline" floatLabel="always">
                        <mat-label>Registration Number</mat-label>
                        <input required type="text" matInput [matAutocomplete]="auto2" formControlName="registrationNumber">
                        <mat-autocomplete #auto2="matAutocomplete">
                            <mat-option *ngFor="let options of filteredRegistrationOptions | async"
                                [value]="options.registrationNumber" (click)="getInventoryID(options.inventoryID)">
                                {{options.registrationNumber}}
                            </mat-option>
                        </mat-autocomplete>
                        <mat-error *ngIf="advanceTableForm.get('registrationNumber').hasError('required')">
                            Registration Number is required
                        </mat-error>
                    </mat-form-field>
                </div> 

                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width" appearance="outline"  floatLabel="always">
                        <mat-label>Tax Amount</mat-label>
                        <input matInput (keypress)="keyPressNumbersDecimal($event)" formControlName="interStateTaxAmount" required>
                        <mat-error *ngIf="advanceTableForm.get('interStateTaxAmount').hasError('required')">
                            Tax Amount is required
                        </mat-error>
                    </mat-form-field>
                </div>
            </div>

            <div class="row">
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width" appearance="outline"  floatLabel="always">
                        <mat-label>Start Date</mat-label>
                        <input required matInput [matDatepicker]="startDate" formControlName="interStateTaxStartDate">
                        <mat-datepicker-toggle matSuffix [for]="startDate"></mat-datepicker-toggle>
                        <mat-datepicker #startDate></mat-datepicker>
                        <mat-error *ngIf="advanceTableForm.get('interStateTaxStartDate').hasError('required')">
                            Start Date is required
                        </mat-error>
                    </mat-form-field>

                </div>
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width" appearance="outline"  floatLabel="always">
                        <mat-label>End Date</mat-label>
                        <input required matInput [matDatepicker]="endDate" formControlName="interStateTaxEndDate">
                        <mat-datepicker-toggle matSuffix [for]="endDate"></mat-datepicker-toggle>
                        <mat-datepicker #endDate></mat-datepicker>
                        <mat-error *ngIf="advanceTableForm.get('interStateTaxEndDate').hasError('required')">
                            End Date is required
                        </mat-error>
                    </mat-form-field>
                </div>
            </div>

            <div class="row">
                <div class=" col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                    <mat-label style="margin-left: 18px;">
                       Tax Image
                    </mat-label>
                    <br>
                    <a href="{{ ImagePath }}" target="_blank" *ngIf="ImagePath">
                        <img [src]="ImagePath" class="table " style="height: 80px; width: auto;">
                    </a>
    
                    <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                        <app-myupload (onUploadFinished)="uploadFinished($event)"></app-myupload>
                    </div>
                </div>

                    <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                        <mat-form-field class="example-full-width" appearance="outline"  floatLabel="always">
                            <mat-label>Activation Status</mat-label>
                            <mat-select formControlName="activationStatus">
                                <mat-option [value]=true>Active</mat-option>
                                <mat-option [value]=false>Deleted</mat-option>
                            </mat-select>
    
                            <mat-error *ngIf="advanceTableForm.get('activationStatus').hasError('required')">
                                Activation Status is required
                            </mat-error>
                        </mat-form-field>
                    </div> 
            </div>                    
            
            <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
                    <div class="example-button-row">
                        <button mat-raised-button color="primary" [type]="submit" [disabled]="!advanceTableForm.valid"  (click)="confirmAdd()">Save</button>
                        <button *ngIf="action==='add'" mat-raised-button color="warn" (click)="reset()" tabindex="-1">Reset</button>
                        <button *ngIf="action==='edit'" mat-raised-button color="warn" (click)="onNoClick()" tabindex="-1">Cancel</button>
                    </div>
                </div>
            </div>
        </form>
  </div>

  <div mat-dialog-content *ngIf="!redirectingFrom">
    <form class="register-form m-4" [formGroup]="advanceTableForm" (ngSubmit)="submit">

        <div class="row">
            <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2" >
                <mat-form-field class="example-full-width" appearance="outline" floatLabel="always">
                    <mat-label>State</mat-label>
                    <input required type="text" matInput [matAutocomplete]="auto1" formControlName="state">
                    <mat-autocomplete #auto1="matAutocomplete">
                        <mat-option *ngFor="let options of filteredStateOptions | async"
                            [value]="options.geoPointName" (click)="getTitles(options.geoPointID)">
                            {{options.geoPointName}}
                        </mat-option>
                    </mat-autocomplete>
                    <mat-error *ngIf="advanceTableForm.get('state').hasError('required')">
                        State is required
                    </mat-error>
                </mat-form-field>
            </div>
            
            <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2" >
                <mat-form-field class="example-full-width" appearance="outline" floatLabel="always">
                    <mat-label>Registration Number</mat-label>
                    <input required type="text" matInput [matAutocomplete]="auto2" formControlName="registrationNumber">
                    <mat-autocomplete #auto2="matAutocomplete">
                        <mat-option *ngFor="let options of filteredRegistrationOptions | async"
                            [value]="options.registrationNumber" (click)="getInventoryID(options.inventoryID)">
                            {{options.registrationNumber}}
                        </mat-option>
                    </mat-autocomplete>
                    <mat-error *ngIf="advanceTableForm.get('registrationNumber').hasError('required')">
                        Registration Number is required
                    </mat-error>
                </mat-form-field>
            </div> 

        </div>

        <div class="row">
            <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                <mat-form-field class="example-full-width" appearance="outline"  floatLabel="always">
                    <mat-label>Tax Amount</mat-label>
                    <input matInput (keypress)="keyPressNumbersDecimal($event)" formControlName="interStateTaxAmount" required>
                    <mat-error *ngIf="advanceTableForm.get('interStateTaxAmount').hasError('required')">
                        Tax Amount is required
                    </mat-error>
                </mat-form-field>
            </div>

            <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                <mat-form-field class="example-full-width" appearance="outline"  floatLabel="always">
                    <mat-label>Start Date</mat-label>
                    <input required matInput [matDatepicker]="startDate" formControlName="interStateTaxStartDate">
                    <mat-datepicker-toggle matSuffix [for]="startDate"></mat-datepicker-toggle>
                    <mat-datepicker #startDate></mat-datepicker>
                    <mat-error *ngIf="advanceTableForm.get('interStateTaxStartDate').hasError('required')">
                        Start Date is required
                    </mat-error>
                </mat-form-field>

            </div>
        </div>

        <div class="row">           
            <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                <mat-form-field class="example-full-width" appearance="outline"  floatLabel="always">
                    <mat-label>End Date</mat-label>
                    <input required matInput [matDatepicker]="endDate" formControlName="interStateTaxEndDate">
                    <mat-datepicker-toggle matSuffix [for]="endDate"></mat-datepicker-toggle>
                    <mat-datepicker #endDate></mat-datepicker>
                    <mat-error *ngIf="advanceTableForm.get('interStateTaxEndDate').hasError('required')">
                        End Date is required
                    </mat-error>
                </mat-form-field>
            </div>

            <div class=" col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                <mat-label style="margin-left: 18px;">
                   Tax Image
                </mat-label>
                <br>
                <a href="{{ ImagePath }}" target="_blank" *ngIf="ImagePath">
                    <img [src]="ImagePath" class="table " style="height: 80px; width: auto;">
                </a>

                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                    <app-myupload (onUploadFinished)="uploadFinished($event)"></app-myupload>
                </div>
            </div>
        </div>

        <div class="row">
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width" appearance="outline"  floatLabel="always">
                        <mat-label>Activation Status</mat-label>
                        <mat-select formControlName="activationStatus">
                            <mat-option [value]=true>Active</mat-option>
                            <mat-option [value]=false>Deleted</mat-option>
                        </mat-select>

                        <mat-error *ngIf="advanceTableForm.get('activationStatus').hasError('required')">
                            Activation Status is required
                        </mat-error>
                    </mat-form-field>
                </div> 
        </div>                    
        
        <div class="row">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
                <div class="example-button-row">
                    <button mat-raised-button color="primary" [type]="submit" [disabled]="!advanceTableForm.valid"  (click)="confirmAdd()">Save</button>
                    <button *ngIf="action==='add'" mat-raised-button color="warn" (click)="reset()" tabindex="-1">Reset</button>
                    <button *ngIf="action==='edit'" mat-raised-button color="warn" (click)="onNoClick()" tabindex="-1">Cancel</button>
                </div>
            </div>
        </div>
    </form>
</div>
</div>
