<div class="addContainer">
    <div class="modalHeader">
        <div class="editRowModal">
            <div class="modalHeader clearfix">
                <!-- <img [src]='advanceTable.img' alt="avatar"> -->
                <div class="modal-about">
                    <div class="font-weight-bold p-t-5 font-17">
                        Dispatch {{DriverName}} with {{RegistrationNumber}} for Reservation No: {{ReservationID}},
                        Allotment No: {{AllotmentID}},
                        Duty Slip No : {{dutySlipID}}, Pickup Date : {{actualDate | date:'dd-MM-yyyy'}}, Pickup Time :
                        {{pickupTime | date:'hh:mm a'}}
                        <!-- <div class="p-t-5 font-15 alert" *ngIf="CustomerAlert" >
                            Alert Message : {{CustomerAlert}}
                        </div> -->
                    </div>
                    <div *ngIf="CustomerAlert" class="alert alert-danger">
                        <span style="color: red;font-size: 15px;">
                            Alert Message : {{CustomerAlert}}
                        </span>
                    </div>
                 
                    <div *ngIf="!isSaveAllowed" style="color:rgb(150, 4, 4); margin-top:5px; font-style: italic;">
                        ({{ verifyDutyStatusAndCacellationStatus }}!!!!!)
                    </div>
                </div>
            </div>
        </div>
        <button mat-icon-button (click)="dialogRef.close()" aria-label="Close dialog">
            <mat-icon>close</mat-icon>
        </button>
    </div>

    <div mat-dialog-content>
        <form class="register-form m-4" [formGroup]="advanceTableForm" (ngSubmit)="submit">
            <!-- <div class="row">
                <div class="col-xl-12 col-lg-4 col-md-4 col-sm-12 mb-2">
                            <mat-radio-group formControlName="locationOutEntryMethod" (change)="selectRadioButton($event)"  class="d-flex justify-content-between" >
                                <mat-radio-button value="Manual" (click)="getDataManual()">Manual</mat-radio-button>
                                <mat-radio-button value="App" (click)="getDataApp()">App</mat-radio-button>
                                <mat-radio-button value="GPS" >GPS</mat-radio-button>
                        </mat-radio-group>  
                </div> 
            </div> -->
            <!-- <div class="row">
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width" appearance="outline" floatLabel="always">
                        <mat-label>Entry Method</mat-label>
                        <mat-select required #typeVal [class.is-invalid]="typeVal.invalid && typeVal.touched"
                         formControlName="locationOutEntryMethod">
                            <mat-option value="App">App</mat-option>
                            <mat-option value="Manual">Manual</mat-option>
                        </mat-select>

                        <mat-error>
                            Please Select Entry Method
                        </mat-error>
                    </mat-form-field>
                </div>

                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width" appearance="outline"  floatLabel="always">
                        <mat-label>Executive</mat-label>
                        <input matInput readonly formControlName="executive">
                    </mat-form-field>
                </div>
            </div> -->
            <div class="row">
                <ng-container *ngIf="tab === 'Manual'">

                    <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                        <mat-form-field class="example-full-width" appearance="outline" floatLabel="always">
                            <mat-label>Manual Duty Slip No</mat-label>
                            <input matInput formControlName="manualDutySlipNumber">

                            <!-- <mat-error *ngIf="advanceTableForm.get('manualDutySlipNumber').hasError('required')">
                            Manual Duty Slip No is required
                        </mat-error> -->
                        </mat-form-field>
                    </div>

                    <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                        <mat-form-field class="example-full-width" appearance="outline" floatLabel="always">
                            <mat-label>KM(ODO)</mat-label>
                            <input required matInput formControlName="locationOutKM">

                            <mat-error *ngIf="advanceTableForm.get('locationOutKM').hasError('required')">
                                KM(ODO) is required
                            </mat-error>
                        </mat-form-field>
                    </div>

                    <!-- <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width" appearance="outline"  floatLabel="always">
                        <mat-label>Car Moved From</mat-label>
                        <mat-select required #typeVal [class.is-invalid]="typeVal.invalid && typeVal.touched" 
                        formControlName="actualCarMovedFrom">
                            <mat-option value="DriverHome">Driver Home</mat-option>
                            <mat-option value="Field">Field</mat-option>
                            <mat-option value="Hub">Hub</mat-option>
                        </mat-select>

                        <mat-error>
                            Please Select a Car Moved From
                        </mat-error>
                    </mat-form-field>
                </div> -->

                    <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                        <mat-form-field class="example-full-width" appearance="outline" floatLabel="always">
                            <mat-label>Location/Hub</mat-label>
                            <input required type="text" matInput formControlName="locationOutLocationOrHub"
                                [matAutocomplete]="auto3">
                            <mat-autocomplete #auto3="matAutocomplete"
                                (optionSelected)="onLocHubSelected($event.option.value)">
                                <mat-option *ngFor="let option of filteredOrganizationalEntityOptions | async"
                                    [value]="option.organizationalEntityName"
                                    (click)="getlocationHubID(option.organizationalEntityID.option.organizationalEntityAddressString)">
                                    {{option.organizationalEntityName}}
                                </mat-option>
                            </mat-autocomplete>
                            <!-- <mat-error *ngIf="advanceTableForm.get('locationOutLocationOrHub').hasError('required')">
                                Location/Hub is required
                            </mat-error> -->
                            <mat-error
                                *ngIf="advanceTableForm.get('locationOutLocationOrHub').hasError('locationTypeInvalid')">
                                Please select a Location/Hub is required
                            </mat-error>
                        </mat-form-field>
                    </div>

                    <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                        <mat-form-field class="example-full-width" appearance="outline" floatLabel="always">
                            <mat-label>Date</mat-label>
                            <input required matInput [matDatepicker]="Date" placeholder="DD/MM/YYYY"
                                (ngModelChange)="validateLocationOutTime()"
                                (blur)="onBlurUpdateDate($event.target.value)" formControlName="locationOutDate">
                            <mat-datepicker-toggle matSuffix [for]="Date"></mat-datepicker-toggle>
                            <mat-datepicker #Date></mat-datepicker>
                            <mat-error *ngIf="advanceTableForm.get('locationOutDate').hasError('required')">
                                Date is required
                            </mat-error>
                            <mat-error *ngIf="advanceTableForm.get('locationOutDate')?.hasError('invalidDate')">
                                Invalid date format. Use DD/MM/YYYY.
                            </mat-error>
                        </mat-form-field>
                    </div>
                    <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                        <mat-form-field class="example-full-width" appearance="outline" floatLabel="always">
                            <mat-label>Time</mat-label>
                            <input matInput [owlDateTimeTrigger]="time1" [owlDateTime]="time1"
                                (input)="onTimeInput($event)" (ngModelChange)="validateLocationOutTime()"
                                formControlName="locationOutTime">
                            <button mat-icon-button matSuffix type="button" [owlDateTimeTrigger]="time1" class="date-icon" aria-label="Open time picker"><mat-icon>schedule</mat-icon></button>
                            <owl-date-time [pickerType]="'timer'" #time1></owl-date-time>
                            <mat-error *ngIf="advanceTableForm.get('locationOutTime').hasError('required')">
                                Time is required
                            </mat-error>
                            <mat-error *ngIf="advanceTableForm.get('locationOutTime').hasError('invalidTime')">
                                Selected time cannot be later than Pickup Time.
                            </mat-error>
                        </mat-form-field>
                    </div>

                    <!-- <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2"> -->
                    <!-- <mat-form-field class="example-full-width" appearance="outline" floatLabel="always">
                        <mat-label>Address</mat-label>
                        <input placeholder="Address String" matInput formControlName="locationOutAddressString" ngx-google-places-autocomplete
                            [options]="options" (onAddressChange)="AddressChange($event)" required/>
                        <mat-error *ngIf="advanceTableForm.get('locationOutAddressString').hasError('required')">
                            Please select a Address
                        </mat-error>

                    </mat-form-field> -->

                    <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2" *ngIf="ifBlock; else elseBlock">
                        <mat-form-field class="example-full-width" appearance="outline" floatLabel="always">
                            <mat-label>Address</mat-label>
                            <input required type="text" matInput formControlName="locationOutAddressString"
                                [matAutocomplete]="auto20" (input)="onLocationHubTyping()"
                                (blur)="advanceTableForm.get('locationOutAddressString')?.markAsTouched()" />

                            <!-- Material Autocomplete options -->
                            <mat-autocomplete #auto20="matAutocomplete"
                                (optionSelected)="onAddressSelected($event.option.value)">
                                <mat-option *ngFor="let option of ((filteredGoogleAddressOptions | async) || [])"
                                    [value]="option.geoSearchString" (click)="bindPickupSpotTypeandSpot(option)">
                                    {{ option.geoSearchString }}
                                </mat-option>
                            </mat-autocomplete>
                            <mat-error
                                *ngIf="advanceTableForm.get('locationOutAddressString')?.hasError('googleAddressNotSelected')">
                                Please select address from suggestions
                            </mat-error>

                            <!-- INVALID GOOGLE SELECTION ERROR -->
                            <mat-error
                                *ngIf="advanceTableForm.get('locationOutAddressString')?.hasError('googleAddressNotSelected')">
                                Please select a valid address from suggestions
                            </mat-error>

                        </mat-form-field>

                        <!-- Google Addresses Checkbox (Always Visible) -->
                        <div style="text-align: right; margin-top: -10px;">
                            <mat-checkbox color="primary" formControlName="googleAddresses"
                                [(indeterminate)]="indeterminate" [labelPosition]="labelPosition"
                                (change)="valueSwitch()">
                                Google Addresses
                            </mat-checkbox>
                        </div>
                    </div>

                    <!-- Else Block for Google Autocomplete -->
                    <ng-template #elseBlock>
                        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                            <mat-form-field class="example-full-width" appearance="outline" floatLabel="always">
                                <mat-label>Address</mat-label>
                                <input matInput type="text" [matAutocomplete]="googleAuto"
                                    formControlName="locationOutAddressString" required (input)="onAddressTyping()" />
                                <mat-autocomplete #googleAuto="matAutocomplete"
                                    (optionSelected)="onGooglePredictionSelected($event.option.value)">
                                    <mat-option *ngFor="let option of ((filteredGooglePlacesOptions | async) || [])"
                                        [value]="option">
                                        {{ option }}
                                    </mat-option>
                                </mat-autocomplete>

                                <!-- Error message -->
                                <mat-error
                                    *ngIf="advanceTableForm.get('locationOutAddressString')?.hasError('required')">
                                    Please select an Address
                                </mat-error>

                                <mat-error
                                    *ngIf="advanceTableForm.get('locationOutAddressString')?.hasError('invalidAddress')">
                                    Please select address from suggestions
                                </mat-error>

                            </mat-form-field>

                            <!-- Google Addresses Checkbox (Always Visible) -->
                            <div style="text-align: right; margin-top: -10px;">
                                <mat-checkbox color="primary" formControlName="googleAddresses"
                                    [(indeterminate)]="indeterminate" [labelPosition]="labelPosition"
                                    (change)="valueSwitch()">
                                    Google Addresses
                                </mat-checkbox>
                            </div>
                        </div>
                    </ng-template>

                    <!-- </div> -->

                    <!-- <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width" appearance="outline"  floatLabel="always">
                        <mat-label>Latitude</mat-label>
                        <input matInput formControlName="locationOutLatitude" readonly required>
                        <mat-error *ngIf="advanceTableForm.get('locationOutLatitude').hasError('required')">
                            Latitude is required
                        </mat-error>
                    </mat-form-field>
                </div> 
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2" >
                    <mat-form-field class="example-full-width" appearance="outline"  floatLabel="always">
                        <mat-label>Longitude</mat-label>
                        <input matInput formControlName="locationOutLongitude" readonly required>
                        <mat-error *ngIf="advanceTableForm.get('locationOutLongitude').hasError('required')">
                            Longitude is required
                        </mat-error>
                    </mat-form-field>
                </div> -->
                </ng-container>
                <ng-container *ngIf="tab === 'App'">

                    <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                        <mat-form-field class="example-full-width" appearance="outline" floatLabel="always">
                            <mat-label>Manual Duty Slip No</mat-label>
                            <input matInput formControlName="manualDutySlipNumberByApp">

                        </mat-form-field>
                    </div>

                    <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                        <mat-form-field class="example-full-width" appearance="outline" floatLabel="always">
                            <mat-label>KM(ODO)</mat-label>
                            <input required matInput formControlName="locationOutKMByApp">

                            <mat-error *ngIf="advanceTableForm.get('locationOutKMByApp').hasError('required')">
                                KM(ODO) is required
                            </mat-error>
                        </mat-form-field>
                    </div>

                    <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                        <mat-form-field class="example-full-width" appearance="outline" floatLabel="always">
                            <mat-label>Car Moved From</mat-label>
                            <mat-select required #typeVal [class.is-invalid]="typeVal.invalid && typeVal.touched"
                                formControlName="actualCarMovedFromByApp">
                                <mat-option value="DriverHome">Driver Home</mat-option>
                                <mat-option value="Field">Field</mat-option>
                                <mat-option value="Hub">Hub</mat-option>
                            </mat-select>

                            <mat-error>
                                Please Select a Car Moved From
                            </mat-error>
                        </mat-form-field>
                    </div>

                    <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                        <mat-form-field class="example-full-width" appearance="outline" floatLabel="always">
                            <mat-label>Location/Hub</mat-label>
                            <input required type="text" matInput formControlName="locationOutLocationOrHubByApp"
                                [matAutocomplete]="auto3">
                            <mat-autocomplete #auto3="matAutocomplete"
                                (optionSelected)="onLocHubSelected($event.option.value)">
                                <mat-option *ngFor="let option of filteredOrganizationalEntityOptions | async"
                                    [value]="option.organizationalEntityName"
                                    (click)="getlocationHubID(option.organizationalEntityID)">
                                    {{option.organizationalEntityName}}
                                </mat-option>
                            </mat-autocomplete>
                            <mat-error
                                *ngIf="advanceTableForm.get('locationOutLocationOrHubByApp').hasError('required')">
                                Location/Hub is required
                            </mat-error>
                        </mat-form-field>
                    </div>

                    <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                        <mat-form-field class="example-full-width" appearance="outline" floatLabel="always">
                            <mat-label>Date</mat-label>
                            <input required matInput [matDatepicker]="Date" formControlName="locationOutDateByApp">
                            <mat-datepicker-toggle matSuffix [for]="Date"></mat-datepicker-toggle>
                            <mat-datepicker #Date></mat-datepicker>
                            <mat-error *ngIf="advanceTableForm.get('locationOutDateByApp').hasError('required')">
                                Date is required
                            </mat-error>
                        </mat-form-field>
                    </div>
                    <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                        <mat-form-field class="example-full-width" appearance="outline" floatLabel="always">
                            <mat-label>Time</mat-label>
                            <input matInput [owlDateTimeTrigger]="time1" [owlDateTime]="time1"
                                formControlName="locationOutTimeByApp">
                            <button mat-icon-button matSuffix type="button" [owlDateTimeTrigger]="time1" class="date-icon" aria-label="Open time picker"><mat-icon>schedule</mat-icon></button>
                            <owl-date-time [pickerType]="'timer'" #time1></owl-date-time>
                            <mat-error *ngIf="advanceTableForm.get('locationOutTimeByApp').hasError('required')">
                                Time is required
                            </mat-error>
                        </mat-form-field>
                    </div>

                    <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                        <mat-form-field class="example-full-width" appearance="outline" floatLabel="always">
                            <mat-label>Address</mat-label>
                            <input placeholder="Address String" matInput formControlName="locationOutAddressStringByApp"
                                ngx-google-places-autocomplete [options]="options"
                                (onAddressChange)="AddressChange($event)" required />
                            <mat-error
                                *ngIf="advanceTableForm.get('locationOutAddressStringByApp').hasError('required')">
                                Please select a Address
                            </mat-error>

                        </mat-form-field>
                    </div>

                    <!-- <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                        <mat-form-field class="example-full-width" appearance="outline"  floatLabel="always">
                            <mat-label>Latitude</mat-label>
                            <input matInput formControlName="locationOutLatitudeByApp" readonly required>
                            <mat-error *ngIf="advanceTableForm.get('locationOutLatitudeByApp').hasError('required')">
                                Latitude is required
                            </mat-error>
                        </mat-form-field>
                    </div>  -->
                    <!-- <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2" >
                        <mat-form-field class="example-full-width" appearance="outline"  floatLabel="always">
                            <mat-label>Longitude</mat-label>
                            <input matInput formControlName="locationOutLongitudeByApp" readonly required>
                            <mat-error *ngIf="advanceTableForm.get('locationOutLongitudeByApp').hasError('required')">
                                Longitude is required
                            </mat-error>
                        </mat-form-field>
                    </div>           -->

                </ng-container>
                <div class="col-xl-6 col-lg-12 col-md-12 col-sm-12 mb-2"></div>

                <!-- <div class="col-xl-6 col-lg-12 col-md-12 col-sm-12 mb-2">
                    <div class="example-button-row">
                        <button mat-raised-button color="primary" [type]="submit" [disabled]=" dataSource[0].locationOutEntryMethod==='App'"  (click)="fetchDataGPS()">Fetch Data From GPS</button>
                    </div>
                </div> -->

                <!-- <div class="col-xl-4 col-lg-12 col-md-12 col-sm-12 mb-2"></div> -->

                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2" *ngIf="tab==='Manual'">
                    <!-- <div *ngIf="isSaveAllowed">
                        <span style="color:red;margin-bottom: 10px;">{{verifyDutyStatusAndCacellationStatus}}</span>
                    </div> -->

                    <div class="example-button-row">
                        <button mat-raised-button color="primary" *ngIf="saveDisabled" [type]="submit"
                            [disabled]="!advanceTableForm.valid || !isSaveAllowed" (click)="Put()">Save</button>
                        <mat-spinner *ngIf="!saveDisabled" diameter="30"></mat-spinner>
                    </div>
                </div>

                <div class="col-xl-4 col-lg-12 col-md-12 col-sm-12 mb-2">
                    <div class="example-button-row">
                        <!-- <button  mat-raised-button color="warn" (click)="onNoClick()"
                            [disabled]="locationOutEntry"
                            tabindex="-1">Reset</button> -->
                    </div>
                </div>

                <div class="col-xl-4 col-lg-12 col-md-12 col-sm-12 mb-2">
                    <div class="example-button-row">
                        <!-- <button mat-raised-button color="primary" [type]="submit" [disabled]="locationOutEntry"  (click)="FetchDataSearch()">Fetch Data From App</button>                     -->
                    </div>
                </div>

            </div>

        </form>
    </div>