<div class="addContainer">
    <div class="modalHeader">
        <div class="editRowModal">
            <div class="modalHeader clearfix">
                <!-- <img [src]='advanceTable.img' alt="avatar"> -->
                <div class="modal-about">
                    <div class="font-weight-bold p-t-5 font-17">
                        {{dialogTitle}}</div>
                </div>
            </div>
        </div>
        <button mat-icon-button (click)="dialogRef.close()" aria-label="Close dialog">
      <mat-icon>close</mat-icon>
    </button>
    </div>
    <div mat-dialog-content>
        <form class="register-form m-4" [formGroup]="advanceTableForm" (ngSubmit)="submit">

            <div class="row">
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width" appearance="outline"  floatLabel="always">
                        <mat-label>Supplier Name</mat-label>
                        <input matInput readonly formControlName="supplierName" required>
                        <mat-error *ngIf="advanceTableForm.get('supplierName').hasError('required')">
                            Supplier Name is required
                        </mat-error>
                    </mat-form-field>
                </div>

                    <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                        <mat-form-field class="example-full-width" appearance="outline"  floatLabel="always">
                            <mat-label>Status</mat-label>
                            <mat-select formControlName="supplierStatus">
                                <mat-option value="Active">Active</mat-option>
                                <mat-option value="On Hold">On Hold</mat-option>
                                <mat-option value="Exited">Exited</mat-option>
                            </mat-select>
    
                            <mat-error *ngIf="advanceTableForm.get('supplierStatus').hasError('required')">
                                Status is required
                            </mat-error>
                        </mat-form-field>
                    </div> 
            </div>    
            
            <div class="row">
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2" *ngIf="advanceTableForm.value.supplierStatus === 'On Hold' || advanceTableForm.value.supplierStatus === 'Exited' || advanceTableForm.value.supplierStatus === '' ">
                    <mat-form-field class="example-full-width" appearance="outline"  floatLabel="always">
                        <mat-label>Reason</mat-label>
                        <input matInput formControlName="supplierStatusReason" required>
                        <mat-error *ngIf="advanceTableForm.get('supplierStatusReason').hasError('required')">
                            Reason is required
                        </mat-error>
                    </mat-form-field>
                </div>

                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2" *ngIf="advanceTableForm.value.supplierStatus === 'Active'">
                    <mat-form-field class="example-full-width" appearance="outline"  floatLabel="always">
                        <mat-label>Reason</mat-label>
                        <input matInput formControlName="supplierStatusReason">
                    </mat-form-field>
                </div>
            </div>
            
            <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
                    <div class="example-button-row">
                      <!-- Save button with loading state -->
                      <button
                        mat-raised-button
                        color="primary"
                        [disabled]="!advanceTableForm.valid || isLoading"
                        (click)="confirmAdd()"
                        *ngIf="!isLoading"
                      >
                        Save
                      </button>
                      <mat-spinner *ngIf="isLoading" diameter="30"></mat-spinner>
                  
                      <!-- Reset button -->
                      <button
                        *ngIf="action === 'add'"
                        mat-raised-button
                        color="warn"
                        (click)="reset()"
                        tabindex="-1"
                        [disabled]="isLoading"
                      >
                        Reset
                      </button>
                  
                      <!-- Cancel button -->
                      <button
                        *ngIf="action === 'edit'"
                        mat-raised-button
                        color="warn"
                        (click)="onNoClick()"
                        tabindex="-1"
                        [disabled]="isLoading"
                      >
                        Cancel
                      </button>
                    </div>
                  </div>
                  
            </div>
        </form>
  </div>
