<div class="addContainer">
    <div class="modalHeader">
        <div class="editRowModal">
            <div class="modalHeader clearfix">
                <!-- <img [src]='advanceTable.img' alt="avatar"> -->
                <div class="modal-about" style="text-align: center;">
                    <div class="font-weight-bold p-t-5 font-17">
                        {{dialogTitle}} {{customerName}}
                    </div>

                </div>
            </div>
        </div>
        <button mat-icon-button (click)="dialogRef.close()" aria-label="Close dialog">
            <mat-icon>close</mat-icon>
        </button>
    </div>
    <div mat-dialog-content>
        <form class="register-form m-4" [formGroup]="advanceTableForm" (ngSubmit)="submit">
            <div class="row">
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width" appearance="outline" floatLabel="always">
                        <mat-label>IS Base For Invoicing</mat-label>
                        <mat-select formControlName="isBaseForInvoicing">
                            <mat-option [value]=true>Yes</mat-option>
                            <mat-option [value]=false>No</mat-option>
                        </mat-select>

                        <mat-error *ngIf="advanceTableForm.get('isBaseForInvoicing').hasError('required')">
                            IsBaseForInvoicing is required
                        </mat-error>
                    </mat-form-field>
                </div>
            </div>

            <div class="row">
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width" appearance="outline" floatLabel="always">
                        <mat-label>GST Number</mat-label>
                        <input matInput formControlName="gstNumber"
                            pattern="[0-9]{2}[A-Z]{3}[ABCFGHLJPTF]{1}[A-Z]{1}[0-9]{4}[A-Z]{1}[1-9A-Z]{1}Z[0-9A-Z]{1}"
                            maxlength="20">
                        <!-- <mat-error *ngIf="advanceTableForm.get('gstNumber').hasError('required')">
                            GST Number is required
                        </mat-error> -->
                    </mat-form-field>
                </div>

                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width" appearance="outline" floatLabel="always">
                        <mat-label>GST Rate</mat-label>
                        <input matInput formControlName="gstRate" required>
                        <mat-error *ngIf="advanceTableForm.get('gstRate').hasError('required')">
                            GST Rate is required
                        </mat-error>
                    </mat-form-field>
                </div>
            </div>
            <div class="row">
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width" appearance="outline" floatLabel="always">
                        <mat-label>Billing Name</mat-label>
                        <input matInput formControlName="customerName" readonly>
                        <!-- <mat-error *ngIf="advanceTableForm.get('customerName').hasError('required')">
                            Billing Name is required
                        </mat-error> -->
                    </mat-form-field>
                </div>

                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width" appearance="outline" floatLabel="always">
                        <mat-label>Billing Address</mat-label>
                        <input matInput formControlName="billingAddress" required maxlength="500" />

                        <mat-hint align="end">
                            {{ advanceTableForm.get('billingAddress')?.value?.length || 0 }}/500
                        </mat-hint>

                        <mat-error *ngIf="advanceTableForm.get('billingAddress')?.hasError('required')">
                            Billing Address is required
                        </mat-error>

                        <mat-error *ngIf="advanceTableForm.get('billingAddress')?.hasError('maxlength')">
                            Billing Address cannot exceed 500 characters
                        </mat-error>
                    </mat-form-field>

                </div>
            </div>
            <div class="row">
                <!-- <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width" appearance="outline" floatLabel="always">
                        <mat-label>Billing State</mat-label>
                        <mat-select required #stateVal [class.is-invalid]="stateVal.invalid && stateVal.touched"
                            formControlName="billingStateID">
                            <mat-option [value]="State.geoPointID" *ngFor="let State of StatesList">{{State.geoPointName}}</mat-option>
                        </mat-select>
                        <mat-error>
                            Please select a State
                        </mat-error>
                    </mat-form-field>
                </div>
 -->
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">

                    <mat-form-field class="example-full-width" appearance="outline" floatLabel="always">
                        <mat-label>Billing State</mat-label>
                        <input required type="text" matInput [matAutocomplete]="auto2"
                            formControlName="billingStateName" (change)="onStateInputChange($event)">
                        <mat-autocomplete #auto2="matAutocomplete"
                            (optionSelected)="OnStateSelect($event.option.value)">
                            <mat-option *ngFor="let options of filteredStateOptions | async"
                                [value]="options.geoPointName" (click)="getStateID(options.geoPointID)">
                                {{options.geoPointName}}
                            </mat-option>
                        </mat-autocomplete>
                        <mat-error
                            *ngIf="advanceTableForm.controls['billingStateName'].hasError('billingStateNameInvalid')">
                            Please select a Billing State
                        </mat-error>
                    </mat-form-field>
                </div>

                <!-- <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width" appearance="outline" floatLabel="always">
                        <mat-label>City</mat-label>
                        <mat-select required #cityVal [class.is-invalid]="cityVal.invalid && cityVal.touched"
                            formControlName="billingCityID">
                            <mat-option [value]="City.geoPointID"
                                *ngFor="let City of CityList">{{City.geoPointName}}</mat-option>
                        </mat-select>
                        <mat-error>
                            Please select a City
                        </mat-error>
                    </mat-form-field>
                </div> -->
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">

                    <mat-form-field class="example-full-width" appearance="outline" floatLabel="always">
                        <mat-label>City</mat-label>
                        <input required type="text" matInput [matAutocomplete]="auto3"
                            formControlName="billingCityName" (blur)="triggerBillingCityValidation()">
                        <mat-autocomplete #auto3="matAutocomplete" (optionSelected)="OnCitySelect($event.option.value)">
                            <mat-option *ngFor="let options of filteredCityOptions | async"
                                [value]="options.geoPointName" (click)="getCityID(options.geoPointID)">
                                {{options.geoPointName}}
                            </mat-option>
                        </mat-autocomplete>
                            <mat-error
                        *ngIf="advanceTableForm.get('billingCityName').touched &&
                                advanceTableForm.get('billingCityName').hasError('billingCityNameInvalid')">
                            Please select a Billing City
                          </mat-error>
                    </mat-form-field>
                </div>
            </div>
            <div class="row">
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width" appearance="outline" floatLabel="always">
                        <mat-label>Billing Pin</mat-label>
                        <input matInput formControlName="billingPin" required>
                        <mat-error *ngIf="advanceTableForm.get('billingPin').hasError('required')">
                            Billing Pin is required
                        </mat-error>
                    </mat-form-field>
                </div>

                <!-- <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width" appearance="outline" floatLabel="always">
                        <mat-label>E-Invoice Address</mat-label>
                        <input matInput formControlName="eInvoiceAddress" required>
                        <mat-error *ngIf="advanceTableForm.get('eInvoiceAddress').hasError('required')">
                            EInvoiceAddress is required
                        </mat-error>
                    </mat-form-field>
                </div> -->
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width" appearance="outline" floatLabel="always">
                        <mat-label>E-Invoice Address</mat-label>
                        <input matInput formControlName="eInvoiceAddress" (input)="checkMaxLength()" required>

                        <!-- Required validation -->
                        <mat-error *ngIf="advanceTableForm.get('eInvoiceAddress').hasError('required')">
                            E-Invoice Address is required.
                        </mat-error>

                        <!-- Max length validation -->
                        <mat-error *ngIf="isMaxLengthExceeded">
                            Maximum 100 characters allowed.
                        </mat-error>
                    </mat-form-field>
                </div>

            </div>
            <div class="row">
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width" appearance="outline" floatLabel="always">
                        <mat-label>Start Date</mat-label>
                        <input required matInput [matDatepicker]="startDate" formControlName="startDate"
                            (blur)="onBlurStartDate($event.target.value)">
                        <mat-datepicker-toggle matSuffix [for]="startDate"></mat-datepicker-toggle>
                        <mat-datepicker #startDate></mat-datepicker>
                        <mat-error *ngIf="advanceTableForm.get('startDate').hasError('required')">
                            Start Date is required
                        </mat-error>
                        <mat-error *ngIf="advanceTableForm.get('fromDate')?.hasError('invalidDate')">
                            Invalid date format. Use DD/MM/YYYY.
                        </mat-error>
                    </mat-form-field>

                </div>
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width" appearance="outline" floatLabel="always">
                        <mat-label>End Date</mat-label>
                        <!-- <input matInput [matDatepicker]="endDate" formControlName="endDate" (blur)="onBlurEndDate($event.target.value)"> -->
                        <input matInput [matDatepicker]="endDate" formControlName="endDate">
                        <mat-datepicker-toggle matSuffix [for]="endDate"></mat-datepicker-toggle>
                        <mat-datepicker #endDate></mat-datepicker>
                        <!-- <mat-error *ngIf="advanceTableForm.get('endDate').hasError('required')">
                            End Date is required
                        </mat-error> -->
                        <!-- <mat-error *ngIf="advanceTableForm.get('endDate')?.hasError('invalidDate')">
                            Invalid date format. Use DD/MM/YYYY.
                        </mat-error> -->
                    </mat-form-field>
                </div>
            </div>

            <div class="row">
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width" appearance="outline" floatLabel="always">
                        <mat-label>Activation Status</mat-label>
                        <mat-select formControlName="activationStatus">
                            <mat-option [value]=true>Active</mat-option>
                            <mat-option [value]=false>Deleted</mat-option>
                        </mat-select>

                        <mat-error *ngIf="advanceTableForm.get('activationStatus').hasError('required')">
                            Activation Status is required
                        </mat-error>
                    </mat-form-field>
                </div>
            </div>

            <mat-card class="mat-elevation-z0 outline" style="margin-bottom: 5px;">
                <div class="row">
                    <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                        <!-- <mat-form-field class="example-full-width" appearance="outline" floatLabel="always">
                            <mat-label>Is SEZ</mat-label>
                            <mat-select formControlName="isSEZ">
                                <mat-option [value]=true>Yes</mat-option>
                                <mat-option [value]=false>No</mat-option>
                            </mat-select>
                            <mat-error *ngIf="advanceTableForm.get('isSEZ').hasError('required')">
                                Is SEZ is required
                            </mat-error>
                        </mat-form-field> -->
                        <mat-form-field class="example-full-width" appearance="outline" floatLabel="always">
                            <mat-label>Is SEZ</mat-label>
                            <mat-select required #isSezVal [class.is-invalid]="isSezVal.invalid && isSezVal.touched"
                        formControlName="isSEZ">
                            <mat-option [value]=true>Yes</mat-option>
                            <mat-option [value]=false>No</mat-option>
                        </mat-select>

                        <mat-error>
                            Is SEZ is required
                        </mat-error>
                    </mat-form-field>
                    </div>
                </div>

                <div class="row" *ngIf="advanceTableForm.value.isSEZ === true">
                    <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                        <mat-form-field class="example-full-width" appearance="outline" floatLabel="always">
                            <mat-label>SEZ Start Date</mat-label>
                            <input required matInput [matDatepicker]="sezStartDate" formControlName="sezStartDate"
                                (blur)="onBlurSEZStartDate($event.target.value)">
                            <mat-datepicker-toggle matSuffix [for]="sezStartDate"></mat-datepicker-toggle>
                            <mat-datepicker #sezStartDate></mat-datepicker>
                            <mat-error *ngIf="advanceTableForm.get('sezStartDate').hasError('required')">
                                SEZ Start Date is required
                            </mat-error>
                            <mat-error *ngIf="advanceTableForm.get('sezStartDate')?.hasError('invalidDate')">
                                Invalid date format. Use DD/MM/YYYY.
                            </mat-error>
                        </mat-form-field>
                    </div>
                    <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                        <mat-form-field class="example-full-width" appearance="outline" floatLabel="always">
                            <mat-label>SEZ End Date</mat-label>
                            <input required matInput [matDatepicker]="sezEndDate" formControlName="sezEndDate"
                                (blur)="onBlurSEZEndDate($event.target.value)">
                            <mat-datepicker-toggle matSuffix [for]="sezEndDate"></mat-datepicker-toggle>
                            <mat-datepicker #sezEndDate></mat-datepicker>
                            <mat-error *ngIf="advanceTableForm.get('sezEndDate').hasError('required')">
                                SEZ End Date is required
                            </mat-error>
                            <mat-error *ngIf="advanceTableForm.get('sezEndDate')?.hasError('invalidDate')">
                                Invalid date format. Use DD/MM/YYYY.
                            </mat-error>
                        </mat-form-field>
                    </div>
                </div>

                <div class="row" *ngIf="advanceTableForm.value.isSEZ === false || advanceTableForm.value.isSEZ === '' ">
                    <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                        <mat-form-field class="example-full-width" appearance="outline" floatLabel="always">
                            <mat-label>SEZ Start Date</mat-label>
                            <input matInput [matDatepicker]="sezStartDate" formControlName="sezStartDate">
                            <mat-datepicker-toggle matSuffix [for]="sezStartDate"></mat-datepicker-toggle>
                            <mat-datepicker #sezStartDate></mat-datepicker>
                        </mat-form-field>
                    </div>
                    <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                        <mat-form-field class="example-full-width" appearance="outline" floatLabel="always">
                            <mat-label>SEZ End Date</mat-label>
                            <input matInput [matDatepicker]="sezEndDate" formControlName="sezEndDate">
                            <mat-datepicker-toggle matSuffix [for]="sezEndDate"></mat-datepicker-toggle>
                            <mat-datepicker #sezEndDate></mat-datepicker>
                        </mat-form-field>
                    </div>
                </div>

            </mat-card>

            <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
                    <div class="example-button-row">
                        <button mat-raised-button color="primary" *ngIf="saveDisabled" [type]="submit"
                            [disabled]="!advanceTableForm.valid" (click)="confirmAdd()">Save</button>
                        <mat-spinner *ngIf="!saveDisabled" diameter="30"></mat-spinner>
                        <button mat-raised-button color="warn" (click)="onNoClick(action)" tabindex="-1">{{ action ===
                            'add' ? 'Reset' : 'Cancel'}}</button>
                    </div>
                </div>
            </div>
        </form>
    </div>