<section class="content">
    <div class="container-fluid">
        <div class="block-header">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <ul>
                        <li class="breadcrumb-item bcrumb-1">
                            <a routerLink="/dashboard/main">
                                <i class="fas fa-home"></i> Home</a>|
                            <a href="#" onClick="return false;">Admin</a>|
                            <a href="#" onClick="return false;">Show Late Dispatch MIS</a>
                        </li>
                    </ul>
                    <ul class="breadcrumb breadcrumb-style ">
                        <li class="breadcrumb-item">
                            <h2>Show Late Dispatch MIS</h2>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="card">
                    <div class="body">
                        <div class="responsive_table">
                            <div class="table-responsive">
                                <div class="materialTableHeader">
                                    <div class="row">
                                        <div style="width: 70%; float:left;padding-top: 6px;padding-left: 12px;">
                                            <!-- <div style="float:left" *ngIf="SearchCustomerGroup"><b>Customer Group</b> : {{SearchCustomerGroup}}</div> -->
                                        </div>
                                        <div style="width: 30%; text-align:right;">
                                            <button mat-raised-button color="primary" (click)="openSearchDialog()">
                                                Search
                                            </button>
                                            &nbsp;
                                            &nbsp;
                                            <button mat-mini-fab color="primary" (click)="refresh()">
                                                <mat-icon class="col-white">refresh</mat-icon>
                                            </button>
                                            &nbsp;
                                        </div>
                                    </div>
                                </div>

                                <p *ngIf="!dataSource; then thenBlock2 else elseBlock2">
                                    This is not rendered
                                </p>

                                <ng-template #thenBlock2>
                                    <div class="alert alert-primary" style="background-color:#E8E8E8; text-align: center;">No Records Found</div>
                                    <div class="body">
                                        <div class="example-button-row">    
                                            <button mat-raised-button color="primary" (click)="PreviousCall()">Previous</button>
                                            <button mat-raised-button color="primary" (click)="NextCall()">Next</button>    
                                        </div>
                                    </div>    
                                </ng-template>

                                <ng-template #elseBlock2>
                                    <div class="scrollable-table-container">
                                    <div style="width: 100%; overflow-y: hidden;">
                                        <mat-table #table [dataSource]="dataSource" matSort class="mat-cell floating-header-table" (matSortChange)="SortingData($event)">
                                        <ng-container matColumnDef="ReservationID">
                                            <mat-header-cell *matHeaderCellDef mat-sort-header>Booking No</mat-header-cell>
                                            <mat-cell *matCellDef="let row">{{row.reservationID ? row.reservationID : 'N/A'}}</mat-cell>
                                        </ng-container>

                                        <ng-container matColumnDef="CustomerName">
                                            <mat-header-cell *matHeaderCellDef mat-sort-header>Customer</mat-header-cell>
                                            <mat-cell *matCellDef="let row">{{row.customerName ? row.customerName : 'N/A'}}</mat-cell>
                                        </ng-container>

                                        <ng-container matColumnDef="LocationOutDate">
                                            <mat-header-cell *matHeaderCellDef mat-sort-header>Location Out Date</mat-header-cell>                                            
                                            <mat-cell *matCellDef="let row">
                                                {{row.locationOutDate ? (row.locationOutDate | date: 'yyyy-MM-dd') : 'N/A'}}</mat-cell>
                                        </ng-container>

                                        <ng-container matColumnDef="LocationOutTime">
                                            <mat-header-cell *matHeaderCellDef mat-sort-header>Location Out Time</mat-header-cell>
                                            <mat-cell *matCellDef="let row">{{row.locationOutTime ? (row.locationOutTime | date:'HH:mm:ss') : 'N/A'}}</mat-cell>
                                        </ng-container>

                                        <ng-container matColumnDef="DispatchDate">
                                            <mat-header-cell *matHeaderCellDef mat-sort-header>Dispatch Date</mat-header-cell>
                                            <mat-cell *matCellDef="let row" (contextmenu)="onContextMenu($event, row)">
                                                {{row.dispatchDate ? (row.dispatchDate | date: 'yyyy-MM-dd') : 'N/A'}}</mat-cell>
                                        </ng-container>

                                        <ng-container matColumnDef="DispatchTime">
                                            <mat-header-cell *matHeaderCellDef mat-sort-header>Dispatch Time</mat-header-cell>
                                            <mat-cell *matCellDef="let row" (contextmenu)="onContextMenu($event, row)">
                                                {{row.dispatchTime ? (row.dispatchTime | date:'HH:mm:ss') : 'N/A'}}</mat-cell>
                                        </ng-container>

                                        <ng-container matColumnDef="TimeDiff">
                                            <mat-header-cell *matHeaderCellDef mat-sort-header>Time Differnce</mat-header-cell>
                                            <mat-cell *matCellDef="let row" (contextmenu)="onContextMenu($event, row)">
                                                {{row.timeDiff ? ((row.timeDiff / 60 | number: '2.0-0') + ':' + (row.timeDiff % 60 | number: '2.0-0')) : 'N/A'}}</mat-cell>
                                        </ng-container>

                                        <ng-container matColumnDef="EmployeeName">
                                            <mat-header-cell *matHeaderCellDef mat-sort-header>Car Alloted By</mat-header-cell>
                                            <mat-cell *matCellDef="let row" (contextmenu)="onContextMenu($event, row)">
                                                {{row.employeeName ? row.employeeName : 'N/A'}}</mat-cell>
                                        </ng-container>

                                        <ng-container matColumnDef="ServiceLocationName">
                                            <mat-header-cell *matHeaderCellDef mat-sort-header>Service Location</mat-header-cell>
                                            <mat-cell *matCellDef="let row" (contextmenu)="onContextMenu($event, row)">
                                                {{row.serviceLocationName ? row.serviceLocationName : 'N/A'}}</mat-cell>
                                        </ng-container>
                                  
                                        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                                        <mat-row *matRowDef="let row; columns: displayedColumns;" [style.cursor]="'pointer'" matRipple>
                                        </mat-row>
                                        </mat-table>
                                    </div>
                                    </div>

                                    <div class="body">
                                        <div class="example-button-row">
                                            <button mat-raised-button color="primary" (click)="PreviousCall()">Previous</button>
                                            <button mat-raised-button color="primary" (click)="NextCall()">Next</button>
                                        </div>
                                    </div>
                                </ng-template>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- modelpopup -->
<ng-template #searchDialog let-dialogRef="dialogRef">
    <h2 mat-dialog-title>Show Late Dispatch MIS</h2>
    <div mat-dialog-content>
<div class="row">
                    <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                        <mat-form-field class="example-full-width" appearance="outline" floatLabel="always">
                            <mat-label>From Date</mat-label>
                            <input type="text" matInput [matDatepicker]="fromDate" [(ngModel)]="SearchFromDate">
                            <mat-datepicker-toggle matSuffix [for]="fromDate"></mat-datepicker-toggle>
                            <mat-datepicker #fromDate></mat-datepicker>
                        </mat-form-field>
                    </div>
                    
                    <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                        <mat-form-field class="example-full-width" appearance="outline" floatLabel="always">
                            <mat-label>To Date</mat-label>
                            <input type="text" matInput [matDatepicker]="toDate" [(ngModel)]="SearchToDate">
                            <mat-datepicker-toggle matSuffix [for]="toDate"></mat-datepicker-toggle>
                            <mat-datepicker #toDate></mat-datepicker>
                        </mat-form-field>
                    </div>
                </div>

                <div class="row">                    
                    <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                        <mat-form-field class="example-full-width" appearance="outline" floatLabel="always">
                            <mat-label>Dispatch Location</mat-label>
                            <input type="text" matInput [formControl]="SearchServiceLocation"  [matAutocomplete]="auto">
                            <mat-autocomplete #auto="matAutocomplete">
                                <mat-option *ngFor="let option of filteredServiceLocationOptions | async" [value]="option.geoPointName">
                                    {{option.geoPointName}}
                                </mat-option>
                            </mat-autocomplete>
                        </mat-form-field>
                    </div>
                </div>
    </div>
    <div mat-dialog-actions align="end">
        <button mat-button (click)="dialogRef.close()">Cancel</button>
        <button mat-raised-button color="primary" (click)="SearchFromDialog(dialogRef)">Search</button>
    </div>
</ng-template>