<div class="addContainer">
    <div class="modalHeader">
        <div class="editRowModal">
            <div class="modalHeader clearfix">
                <!-- <img [src]='advanceTable.img' alt="avatar"> -->
                <div class="modal-about">
                    <div class="font-weight-bold p-t-5 font-17">
                       {{driverName}}'s {{dialogTitle}}</div>
                </div>
            </div>
        </div>
        <button mat-icon-button (click)="dialogRef.close()" aria-label="Close dialog">
      <mat-icon>close</mat-icon>
    </button>
    </div>
    <div mat-dialog-content>
        <form class="register-form m-4" [formGroup]="advanceTableForm" (ngSubmit)="submit">

            <div class="row">
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width" appearance="outline"  floatLabel="always">
                        <mat-label>Permanent Address</mat-label>
                        <input matInput formControlName="permanentAddress" required>
                        <mat-error *ngIf="advanceTableForm.get('permanentAddress').hasError('required')">
                            Permanent Address is required
                        </mat-error>
                    </mat-form-field>
                </div>

                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width" appearance="outline" floatLabel="always"> 
                        <mat-label>Address City</mat-label>                       
                        <input  type="text" matInput [matAutocomplete]="auto"
                        formControlName="addressCity" required>
                        <mat-autocomplete #auto="matAutocomplete" (optionSelected)="OnCitySelect($event.option.value)">
                            <mat-option *ngFor="let option of filteredOptions | async"
                                [value]="option.geoPointName" (click)="getTitle(option.geoPointID)">
                                {{option.geoPointName}}
                            </mat-option>
                        </mat-autocomplete>
                        <mat-error *ngIf="advanceTableForm.controls['addressCity'].hasError('addressCityInvalid')">
                            Please select a  Address City 
                            </mat-error>
                    </mat-form-field>
                </div>
            </div>

            <div class="row">
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width" appearance="outline"  floatLabel="always">
                        <mat-label>License No</mat-label>
                        <input matInput formControlName="drivingLicenseNo" required>
                        <mat-error *ngIf="advanceTableForm.get('drivingLicenseNo').hasError('required')">
                            License No is required
                        </mat-error>
                    </mat-form-field>
                </div>

                <div class=" col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                    <mat-label>
                       License Image
                    </mat-label>
                    <br>
                    <a href="{{ ImagePath }}" target="_blank" *ngIf="ImagePath">
                        <img [src]="ImagePath" class="table " style="height: 80px; width: auto;">
                    </a>
    
                    <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                        <app-myupload (onUploadFinished)="uploadFinished($event)"></app-myupload>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2" *ngIf="!advanceTableForm.value.licenseImage">
                    <mat-form-field class="example-full-width" appearance="outline" floatLabel="always">
                        <mat-label>Reason(If Image Not Available)</mat-label>
                        <input matInput formControlName="reasonOfLicenseImageNonAvailblity" required>
                        <mat-error *ngIf="advanceTableForm.get('reasonOfLicenseImageNonAvailblity').hasError('required')">
                            Reason is required
                        </mat-error>
                    </mat-form-field>
                </div>

                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2" *ngIf="advanceTableForm.value.licenseImage">
                    <mat-form-field class="example-full-width" appearance="outline" floatLabel="always">
                        <mat-label>Reason(If Image Not Available)</mat-label>
                        <input matInput formControlName="reasonOfLicenseImageNonAvailblity">
                    </mat-form-field>
                </div>

                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width" appearance="outline"  floatLabel="always">
                        <mat-label>Issuing Authority</mat-label>
                        <input matInput formControlName="licenseAuthorityName" required>
                        <mat-error *ngIf="advanceTableForm.get('licenseAuthorityName').hasError('required')">
                            Issuing Authority is required
                        </mat-error>
                    </mat-form-field>
                </div>
            </div>
            
            <div class="row">
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width" appearance="outline" floatLabel="always"> 
                        <mat-label>Issuing City</mat-label>                       
                        <input  type="text" matInput [matAutocomplete]="auto1"
                        formControlName="issuingCity" required>
                        <mat-autocomplete #auto1="matAutocomplete" (optionSelected)="OnCitySelected($event.option.value)">
                            <mat-option *ngFor="let options of filteredCityOptions | async"
                                [value]="options.geoPointName" (click)="getTitles(options.geoPointID)">
                                {{options.geoPointName}}
                            </mat-option>
                        </mat-autocomplete>
                        <mat-error *ngIf="advanceTableForm.controls['issuingCity'].hasError('issuingCityInvalid')">
                            Please select a Issuing City 
                        </mat-error>
                    </mat-form-field>
                </div>

                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width" appearance="outline"  floatLabel="always">
                        <mat-label>Uploaded By</mat-label>
                        <input readonly matInput formControlName="uploadedBy" required>
                    </mat-form-field>
                </div>
            </div>

            <div class="row">
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width" appearance="outline"  floatLabel="always">
                        <mat-label>Upload Date</mat-label>
                        <input readonly required matInput [matDatepicker]="startDate" placeholder="DD/MM/YYYY"
                        formControlName="uploadEditedDate" (blur)="onBlurUpdateDate($event.target.value)">
                        <mat-datepicker-toggle matSuffix [for]="startDate"></mat-datepicker-toggle>
                        <mat-datepicker disabled="true" #startDate></mat-datepicker>
                        <mat-error *ngIf="advanceTableForm.get('uploadEditedDate').hasError('required')">
                            Upload Date is required
                        </mat-error>
                        <mat-error *ngIf="advanceTableForm.get('uploadEditedDate')?.hasError('invalidDate')">
                            Invalid date format. Use DD/MM/YYYY.
                          </mat-error>
     
                    </mat-form-field>
                </div>

                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width" appearance="outline"  floatLabel="always">
                        <mat-label>Upload Remark</mat-label>
                        <input matInput formControlName="uploadRemark" required>
                        <mat-error *ngIf="advanceTableForm.get('uploadRemark').hasError('required')">
                            Upload Remark is required
                        </mat-error>
                    </mat-form-field>
                </div>
            </div>

            <div class="row">
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width" appearance="outline"  floatLabel="always">
                        <mat-label>Driving License Expiry Date</mat-label>
                        <input readonly required matInput [matDatepicker]="expDate" placeholder="DD/MM/YYYY"
                        formControlName="drivingLicenseExpiryDate" (blur)="onBlurDrivingLicenseExpiryDate($event.target.value)">
                        <mat-datepicker-toggle matSuffix [for]="expDate"></mat-datepicker-toggle>
                        <mat-datepicker  #expDate></mat-datepicker>
                        <mat-error *ngIf="advanceTableForm.get('drivingLicenseExpiryDate').hasError('required')">
                            Driving License Expiry Date is required
                        </mat-error>
                        <mat-error *ngIf="advanceTableForm.get('drivingLicenseExpiryDate')?.hasError('invalidExpDate')">
                            Invalid date format. Use DD/MM/YYYY.
                          </mat-error>
     
                    </mat-form-field>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width" appearance="outline"  floatLabel="always">
                        <mat-label>Activation Status</mat-label>
                        <mat-select formControlName="activationStatus">
                            <mat-option [value]=true>Active</mat-option>
                            <mat-option [value]=false>Deleted</mat-option>
                        </mat-select>

                        <mat-error *ngIf="advanceTableForm.get('activationStatus').hasError('required')">
                            Activation Status is required
                        </mat-error>
                    </mat-form-field>
                </div> 
            </div>       

            <div class="row" *ngIf="action === 'edit'">
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                    <!-- <mat-form-field class="example-full-width" appearance="outline"  floatLabel="always">
                        <mat-label>Verified</mat-label>
                        <input readonly matInput formControlName="verifiedData">
                    </mat-form-field> -->
                    <div class="status-display">
                        <strong>Verified : </strong>
                        <span>{{advanceTable.verified}}</span>   
                      </div>
                </div>

                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                    <!-- <mat-form-field class="example-full-width" appearance="outline"  floatLabel="always">
                        <mat-label>Verified By</mat-label>
                        <input readonly matInput formControlName="verifiedBy">
                    </mat-form-field> -->
                    <div class="status-display">
                        <strong>Verified By : </strong>
                        <span>{{advanceTable.verifiedBy}}</span>   
                      </div>
                </div>
            </div>
            <div class="row" *ngIf="action === 'edit'">
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                    <!-- <mat-form-field class="example-full-width" appearance="outline"  floatLabel="always">
                        <mat-label>Verification Remark</mat-label>
                        <input readonly matInput formControlName="verificationRemark">
                    </mat-form-field> -->
                    <div class="status-display">
                        <strong>Verification Remark : </strong>
                        <span>{{advanceTable.verificationRemark}}</span>   
                    </div>
                </div>

                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                    <!-- <mat-form-field class="example-full-width" appearance="outline"  floatLabel="always">
                        <mat-label>Verification Date</mat-label>
                        <input readonly type="verificationDate" matInput formControlName="verificationDate">
                    </mat-form-field> -->

                    <div class="status-display">
                        <strong>Verification Date : </strong>
                        <span>{{advanceTable.verificationDate}}</span>   
                    </div>
                    <!-- <mat-form-field class="example-full-width" appearance="outline"  floatLabel="always">
                        <mat-label>Verification Date</mat-label>
                        <input readonly required matInput [matDatepicker]="verifyDate" formControlName="verificationDate">
                        <mat-datepicker-toggle matSuffix [for]="verifyDate"></mat-datepicker-toggle>
                        <mat-datepicker disabled="true" #verifyDate></mat-datepicker>
                    </mat-form-field> -->
                </div>
            </div>

            <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
                    <div class="example-button-row">
                        <button mat-raised-button color="primary" *ngIf="saveDisabled" [type]="submit" [disabled]="!advanceTableForm.valid"  (click)="confirmAdd()">Save</button>
                        <mat-spinner *ngIf="!saveDisabled" diameter="30"></mat-spinner>
                        <button *ngIf="action==='add'" mat-raised-button color="warn" (click)="reset()" tabindex="-1">Reset</button>
                        <button *ngIf="action==='edit'" mat-raised-button color="warn" (click)="onNoClick()" tabindex="-1">Cancel</button>
                    </div>
                </div>
            </div>
        </form>
  </div>
