<div class="addContainer">
    <div class="modalHeader">
        <div class="editRowModal">
            <div class="modalHeader clearfix">
                <!-- <img [src]='advanceTable.img' alt="avatar"> -->
                <div class="modal-about">
                    <div class="font-weight-bold p-t-5 font-17">
                        {{dialogTitle}}</div>
                </div>
            </div>
        </div>
        <button mat-icon-button (click)="dialogRef.close()" aria-label="Close dialog">
      <mat-icon>close</mat-icon>
    </button>
    </div>
    <div mat-dialog-content>
        <form class="register-form m-4" [formGroup]="advanceTableForm" (ngSubmit)="submit">

            <div class="row">
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width" appearance="outline"  floatLabel="always">
                        <mat-label>Driver Name</mat-label>
                        <input matInput formControlName="driverName" required>
                        <mat-error *ngIf="advanceTableForm.get('driverName').hasError('required')">
                            Driver Name is required
                        </mat-error>
                    </mat-form-field>
                </div>
                <!-- <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width" appearance="outline" floatLabel="always"> 
                        <mat-label>Driver Grade</mat-label>                       
                        <input required type="text" matInput [matAutocomplete]="auto1"
                        formControlName="driverGrade">
                        <mat-autocomplete #auto1="matAutocomplete">
                            <mat-option *ngFor="let options of filteredGradeOptions | async"
                                [value]="options.driverGradeName" (click)="getdriverGradeID(options.driverGradeID)">
                                {{options.driverGradeName}}
                            </mat-option>
                        </mat-autocomplete>
                        <mat-error *ngIf="advanceTableForm.controls['driverGrade'].hasError('driverGradeTypeInvalid')">
                          Please select any  Driver Grade 
                        </mat-error>
                    </mat-form-field>
                </div> -->
            </div>

            <div class="row">
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width" appearance="outline"  floatLabel="always">
                        <mat-label>Father's Name</mat-label>
                        <input matInput formControlName="driverFatherName" required>
                        <mat-error *ngIf="advanceTableForm.get('driverFatherName').hasError('required')">
                            Father's Name is required
                        </mat-error>
                    </mat-form-field>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                    <!-- <mat-form-field class="example-full-width" appearance="outline"  floatLabel="always">
                        <mat-label>DOB</mat-label>
                        <input required matInput [matDatepicker]="dateofbirth" formControlName="dob" (blur)="onBlurUpdateDate($event.target.value)">
                        <mat-datepicker-toggle matSuffix [for]="dateofbirth"></mat-datepicker-toggle>
                        <mat-datepicker #dateofbirth></mat-datepicker>
                        <mat-error *ngIf="advanceTableForm.get('dob').hasError('required')">
                            DOB is required
                        </mat-error>
                        <mat-error *ngIf="advanceTableForm.get('dob')?.hasError('invalidDate')">
                            Invalid date format. Use DD/MM/YYYY.
                          </mat-error>
                    </mat-form-field> -->

                    <mat-form-field class="example-full-width" appearance="outline" floatLabel="always">
                        <mat-label>DoB</mat-label>
                        <input
                          matInput
                          [matDatepicker]="dob"
                          placeholder="DD/MM/YYYY"
                          formControlName="dob"
                          (blur)="onBlurUpdateDate($event.target.value)"                       
                          required
                        />
                        <mat-datepicker-toggle matSuffix [for]="dob"></mat-datepicker-toggle>
                        <mat-datepicker #dob></mat-datepicker>
                        <mat-error *ngIf="advanceTableForm.get('dob')?.hasError('required')">
                            Dob is required
                        </mat-error>
                        <mat-error *ngIf="advanceTableForm.get('dob')?.hasError('invalidDate')">
                          Invalid date format. Use DD/MM/YYYY.
                        </mat-error>
                      </mat-form-field>
                </div>

                <!-- <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width" appearance="outline"  floatLabel="always">
                        <mat-label>Identity No.</mat-label>
                        <input matInput formControlName="driverOfficialIdentityNumber" required>
                        <mat-error *ngIf="advanceTableForm.get('driverOfficialIdentityNumber').hasError('required')">
                            Identity No. is required
                        </mat-error>
                    </mat-form-field>
                </div> -->
            </div>

            <!-- <div class="row">
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width" appearance="outline"  floatLabel="always">
                        <mat-label>AADHAR Auth Token</mat-label>
                        <input matInput formControlName="aadharAuthenticationToken" required>
                        <mat-error *ngIf="advanceTableForm.get('aadharAuthenticationToken').hasError('required')">
                            AADHAR Auth Token is required
                        </mat-error>
                    </mat-form-field>
                </div>                
            </div> -->

            <!-- <div class="row">
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width" appearance="outline"  floatLabel="always">
                        <mat-label>Identity Mark</mat-label>
                        <input matInput formControlName="idMark" required>
                        <mat-error *ngIf="advanceTableForm.get('idMark').hasError('required')">
                            Identity Mark is required
                        </mat-error>
                    </mat-form-field>
                </div>

                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width" appearance="outline" floatLabel="always">
                        <mat-label>Highest Qualification</mat-label>
                        <mat-select required #qualificationVal [class.is-invalid]="qualificationVal.invalid && qualificationVal.touched" formControlName="highestQualificationID">
                            <mat-option [value]="Qualification.qualificationID" *ngFor="let Qualification of QualificationList">{{Qualification.qualification}}</mat-option>
                        </mat-select>
                        <mat-error>
                            Please select a Highest Qualification
                        </mat-error>
                    </mat-form-field>
                </div>
            </div> -->

            <div class="row">
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width" appearance="outline"  floatLabel="always">
                        <mat-label>Blood Group</mat-label>
                        <mat-select required #bloodVal [class.is-invalid]="bloodVal.invalid && bloodVal.touched" 
                        formControlName="bloodGroup">
                            <mat-option value="O+">O+</mat-option>
                            <mat-option value="O-">O-</mat-option>
                            <mat-option value="A+">A+</mat-option>
                            <mat-option value="A-">A-</mat-option>
                            <mat-option value="B+">B+</mat-option>
                            <mat-option value="B-">B-</mat-option>
                            <mat-option value="AB+">AB+</mat-option>
                            <mat-option value="AB-">AB-</mat-option>
                        </mat-select>

                        <mat-error>
                            Blood Group is required
                        </mat-error>
                    </mat-form-field>
                </div>
                
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width" appearance="outline"  floatLabel="always">
                        <mat-label>Driver Status</mat-label>
                        <mat-select required #driverstatusVal [class.is-invalid]="driverstatusVal.invalid && driverstatusVal.touched" 
                        formControlName="driverStatus">
                            <mat-option value="Active">Active</mat-option>
                            <mat-option value="Left">Left</mat-option>
                            <mat-option value="BlackListed">Black Listed</mat-option>
                            <mat-option value="Hold">Hold</mat-option>
                            <mat-option value="OnLeave">On Leave</mat-option>
                        </mat-select>

                        <mat-error>
                            Driver Status is required
                        </mat-error>
                    </mat-form-field>
                </div>
            </div> 

            <div class="row">
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width" appearance="outline"  floatLabel="always">
                        <mat-label>Date Of Joining</mat-label>
                        <input required matInput [matDatepicker]="startDate"  placeholder="DD/MM/YYYY" formControlName="dateOfJoining" (blur)="onBlurUpdateEndDate($event.target.value)" >
                        <mat-datepicker-toggle matSuffix [for]="startDate"></mat-datepicker-toggle>
                        <mat-datepicker #startDate></mat-datepicker>
                        <mat-error *ngIf="advanceTableForm.get('dateOfJoining').hasError('required')">
                            Date Of Joining is required
                        </mat-error>
                        <mat-error *ngIf="advanceTableForm.get('dateOfJoining')?.hasError('invalidDate')">
                            Invalid date format. Use DD/MM/YYYY.
                          </mat-error>
                    </mat-form-field>
                </div>

                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width" appearance="outline"  floatLabel="always">
                        <mat-label>Date Of Leaving</mat-label>
                        <input matInput [matDatepicker]="endDate"  placeholder="DD/MM/YYYY" formControlName="dateOfLeaving" (blur)="onBlurdateOfLeaving($event.target.value)" >
                        <mat-datepicker-toggle matSuffix [for]="endDate"></mat-datepicker-toggle>
                        <mat-datepicker #endDate></mat-datepicker>
                        <!-- <mat-error *ngIf="advanceTableForm.get('dateOfLeaving').hasError('required')">
                            Date Of Leaving is required
                        </mat-error> -->
                        <!-- <mat-error *ngIf="advanceTableForm.get('dateOfLeaving')?.hasError('invalidDate')">
                            Invalid date format. Use DD/MM/YYYY.
                          </mat-error> -->
                    </mat-form-field>
                </div>
            </div>

            <div class="row">
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width" appearance="outline" floatLabel="always">
                        <mat-label>Local Address String</mat-label>
                        <input
                        placeholder="Address String"
                        matInput
                        formControlName="localAddressAddressString"
                        ngx-google-places-autocomplete
                        [options]="options"
                        (onAddressChange)="AddressChange($event)"
                        required (input)="onPickupTyping()"
                        />
                           <mat-error *ngIf="
advanceTableForm.get('localAddressAddressString')?.invalid &&
(advanceTableForm.get('localAddressAddressString')?.touched 
 || advanceTableForm.get('localAddressAddressString')?.dirty)">

                            <span *ngIf="advanceTableForm.get('localAddressAddressString')?.hasError('required')">
                                Local Address String is required
                            </span>

                            <span *ngIf="advanceTableForm.get('localAddressAddressString')?.hasError('invalidGeoSearchString')">
                                Please select an address from suggestions
                            </span>

                        </mat-error>

                    </mat-form-field>
                </div>
                
                <!-- <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width" appearance="outline" floatLabel="always"> 
                        <mat-label>Local Address City</mat-label>                       
                        <input required type="text" matInput [matAutocomplete]="auto3"
                        formControlName="localAddressCity">
                        <mat-autocomplete #auto3="matAutocomplete" (optionSelected)="OnCitySelect($event.option.value)">
                            <mat-option *ngFor="let option of filteredOptions | async"
                                [value]="option.geoPointName" (click)="getTitle(option.geoPointID)">
                                {{option.geoPointName}}
                            </mat-option>
                        </mat-autocomplete>
                        <mat-error *ngIf="advanceTableForm.controls['localAddressCity'].hasError('localAddressCityTypeInvalid')">
                            Please select any  Local Address City
                          </mat-error>
                    </mat-form-field>
                </div> -->       
            </div>

            <div class="row" [hidden]="isHidden">
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width" appearance="outline"  floatLabel="always">
                        <mat-label>Local Address Longitude</mat-label>
                        <input matInput formControlName="longitude" readonly required>
                        <mat-error *ngIf="advanceTableForm.get('longitude').hasError('required')">
                            Local Address Longitude is required
                        </mat-error>
                    </mat-form-field>
                </div>
                
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2" >
                    <mat-form-field class="example-full-width" appearance="outline"  floatLabel="always">
                        <mat-label>Local Address Latitude</mat-label>
                        <input matInput formControlName="latitude" readonly required>
                        <mat-error *ngIf="advanceTableForm.get('latitude').hasError('required')">
                            Local Address Latitude is required
                        </mat-error>
                    </mat-form-field>
                </div>    
            </div>

            <div class="row">
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width" appearance="outline"  floatLabel="always">
                        <mat-label>Local Address</mat-label>
                        <input matInput formControlName="localAddress" required>
                        <mat-error *ngIf="advanceTableForm.get('localAddress').hasError('required')">
                            Local Address is required
                        </mat-error>
                    </mat-form-field>
                </div>

                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width" appearance="outline"  floatLabel="always">
                        <mat-label>Local Pincode</mat-label>
                        <input matInput formControlName="localPincode" required>
                        <mat-error *ngIf="advanceTableForm.get('localPincode').hasError('required')">
                            Local Pincode is required
                        </mat-error>
                    </mat-form-field>
                </div>
                <div class="col-xl-12">
                    <mat-checkbox (change)="copyAddress($event.checked)">
                        Same as Local Address
                    </mat-checkbox>
                </div>
            </div>

            <div class="row">
                <!-- <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width" appearance="outline" floatLabel="always"> 
                        <mat-label>Permanent Address City</mat-label>                       
                        <input required type="text" matInput [matAutocomplete]="auto4"
                        formControlName="permanentAddressCity">
                        <mat-autocomplete #auto4="matAutocomplete" (optionSelected)="OnPermanentAddressCitySelect($event.option.value)">
                            <mat-option *ngFor="let options of filteredCityOptions | async"
                                [value]="options.geoPointName" (click)="getTitles(options.geoPointID)">
                                {{options.geoPointName}}
                            </mat-option>
                        </mat-autocomplete>
                        <mat-error *ngIf="advanceTableForm.controls['permanentAddressCity'].hasError('permanentTypeInvalid')">
                            Please select any  Permanent Address City
                          </mat-error>
                    </mat-form-field>
                </div> -->

                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width" appearance="outline"  floatLabel="always">
                        <mat-label>Permanent Address</mat-label>
                        <input matInput formControlName="permanentAddress" required>
                        <mat-error *ngIf="advanceTableForm.get('permanentAddress').hasError('required')">
                            Permanent Address is required
                        </mat-error>
                    </mat-form-field>
                </div>

                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width" appearance="outline"  floatLabel="always">
                        <mat-label>Permanent Address Pincode</mat-label>
                        <input matInput formControlName="permanentAddressPincode" required>
                        <mat-error *ngIf="advanceTableForm.get('permanentAddressPincode').hasError('required')">
                            Permanent Address Pincode is required
                        </mat-error>
                    </mat-form-field>
                </div>
            </div>

            <div class="row">               
                <div class="col-xl-3 col-lg-3 col-md-1 col-sm-1 mb-1">                   
                    <mat-form-field class="example-full-width" appearance="outline" floatLabel="always">
                        <mat-label>Country Code</mat-label>
                        <input  type="text" matInput formControlName="countryCodes" [matAutocomplete]="auto10" required>
                        <mat-autocomplete #auto10="matAutocomplete"  (optionSelected)="onCountryCode($event)">
                            <mat-option *ngFor="let option of filteredCountryCodesOptions | async"
                                [value]="option.countryISDCode">
                                <div style="display: flex; align-items: center;">
                                    <img [src]="option.icon" alt="{{option.countryISOCode}}" width="20" height="20" style="margin-right: 8px;">
                                    <span >{{option.countryISOCode}} {{option.countryISDCode}}</span>
                                  
                                  </div>
                            </mat-option>
                        </mat-autocomplete>
                        <mat-error *ngIf="advanceTableForm.controls['countryCodes'].hasError('countryTypesInvalid')">
                            Please select a Country Code
                         </mat-error>
                    </mat-form-field>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6 mb-1">
                    <mat-form-field class="example-full-width" appearance="outline" floatLabel="always">
                        <mat-label>Mobile 1</mat-label>
                        <input matInput formControlName="mobile1" required (input)="onMobileChange()">
                        <mat-error *ngIf="advanceTableForm.get('mobile1').hasError('required')">
                             Mobile 1 is required
                        </mat-error>
                         <mat-error *ngIf="advanceTableForm.get('mobile1').hasError('duplicate')">
                            Mobile  No  already exist
                        </mat-error>
                    </mat-form-field>
                </div>

                <div class="col-xl-3 col-lg-3 col-md-1 col-sm-1 mb-1">                   
                    <mat-form-field class="example-full-width" appearance="outline" floatLabel="always">
                        <mat-label>Country Code</mat-label>
                        <input  type="text" matInput formControlName="countryCode" [matAutocomplete]="auto11">
                        <mat-autocomplete #auto11="matAutocomplete" (optionSelected)="onCountryCodes($event)">
                            <mat-option *ngFor="let option of filteredCountryCodeOptions | async"
                                [value]="option.countryISDCode">
                                <div style="display: flex; align-items: center;">
                                    <img [src]="option.icon" alt="{{option.countryISOCode}}" width="20" height="20" style="margin-right: 8px;">
                                    <span >{{option.countryISOCode}} {{option.countryISDCode}}</span>                                  
                                  </div>
                            </mat-option>
                        </mat-autocomplete>
                        <mat-error *ngIf="advanceTableForm.controls['countryCode'].hasError('countryTypeInvalid')">
                          Please select a Country Code
                       </mat-error>
                    </mat-form-field>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6 mb-1">
                    <mat-form-field class="example-full-width" appearance="outline" floatLabel="always">
                        <mat-label>Mobile 2</mat-label>
                        <input matInput formControlName="mobile2">
                        <mat-error *ngIf="advanceTableForm.get('mobile2').hasError('required')">
                             Mobile 2 is required
                        </mat-error>
                    </mat-form-field>
                </div>

                <!-- <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width" appearance="outline"  floatLabel="always">
                        <mat-label>Mobile 1</mat-label>
                        <input matInput formControlName="mobile1" required>
                        <mat-error *ngIf="advanceTableForm.get('mobile1').hasError('required')">
                            Mobile 1 is required
                        </mat-error>
                    </mat-form-field>
                </div> -->
            </div>

            <div class="row">
                
                <!-- <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width" appearance="outline"  floatLabel="always">
                        <mat-label>Mobile 2</mat-label>
                        <input matInput formControlName="mobile2">
                    </mat-form-field>
                </div> -->

                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width" appearance="outline"  floatLabel="always">
                        <mat-label>English Speaking Skills</mat-label>
                        <mat-select required #essVal [class.is-invalid]="essVal.invalid && essVal.touched"
                        formControlName="englishSpeakingSkills">
                            <mat-option value="Excellent">Excellent</mat-option>
                            <mat-option value="Good">Good</mat-option>
                            <mat-option value="Fair">Fair</mat-option>
                            <mat-option value="Poor">Poor</mat-option>
                        </mat-select>

                        <mat-error>
                            English Speaking Skills is required
                        </mat-error>
                    </mat-form-field>
                </div>

                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width" appearance="outline" floatLabel="always">
                        <mat-label>Company</mat-label>
                        <input required type="text" matInput formControlName="companyName" [matAutocomplete]="auto14">
                        <mat-autocomplete #auto14="matAutocomplete" (optionSelected)="OnCompanySelect($event.option.value)">
                            <mat-option *ngFor="let option of filteredCompanyOptions | async"
                                [value]="option.organizationalEntityName"
                                (click)="getCompanyID(option.organizationalEntityID)">
                                {{option.organizationalEntityName}}
                            </mat-option>
                        </mat-autocomplete>
                        <mat-error *ngIf="advanceTableForm.controls['companyName'].hasError('companyNameInvalid')">
                            Please select a Company
                        </mat-error>
                    </mat-form-field>
                </div>
            </div>

            <!-- <div class="row">
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width" appearance="outline" floatLabel="always"> 
                        <mat-label>RTO State</mat-label>                       
                        <input required type="text" matInput [matAutocomplete]="auto5"
                        formControlName="rtoState">
                        <mat-autocomplete #auto5="matAutocomplete" (optionSelected)="OnRTOStateSelect($event.option.value)">
                            <mat-option *ngFor="let options of filteredStateOptions | async"
                                [value]="options.geoPointName" (click)="getStateID(options.geoPointID)">
                                {{options.geoPointName}}
                            </mat-option>
                        </mat-autocomplete>
                        <mat-error *ngIf="advanceTableForm.controls['rtoState'].hasError('stateTypeInvalid')">
                        Please select a Rto State 
                        </mat-error>
                    </mat-form-field>
                </div> -->
                <!-- <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width" appearance="outline"  floatLabel="always">
                        <mat-label>Reference Of</mat-label>
                        <input matInput formControlName="referenceOf"> -->
                        <!-- <mat-error *ngIf="advanceTableForm.get('referenceOf').hasError('required')">
                            Reference Of is required
                        </mat-error> -->
                    <!-- </mat-form-field>
                </div>
            </div> -->

        <!-- <div class="row">            
            <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                <mat-form-field class="example-full-width" appearance="outline"  floatLabel="always">
                    <mat-label>Owned/Supplier</mat-label>
                    <mat-select required #ownedVal [class.is-invalid]="ownedVal.invalid && ownedVal.touched"
                    formControlName="ownedSupplier" >
                        <mat-option value="Owned">Owned</mat-option>
                        <mat-option value="Supplier">Supplier</mat-option>
                    </mat-select>
                    <mat-error>
                        Owned/Supplier is required
                    </mat-error>
                </mat-form-field>
            </div>
            <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2" >
                <mat-form-field class="example-full-width" appearance="outline" floatLabel="always"> 
                    <mat-label>Supplier</mat-label>                       
                    <input required type="text" matInput [matAutocomplete]="auto7" formControlName="supplier">
                    <mat-autocomplete #auto7="matAutocomplete" (optionSelected)="OnSupplierSelect($event.option.value)">
                        <mat-option *ngFor="let supplier of filteredSupplierOptions | async"
                            [value]="supplier.supplierName" (click)="getSupplierID(supplier.supplierID)">
                            {{supplier.supplierName}}
                        </mat-option>
                    </mat-autocomplete>
                    <mat-error *ngIf="advanceTableForm.controls['supplier'].hasError('supplierTypeInvalid')">
                        Please select a  Supplier 
                    </mat-error>
                </mat-form-field>
            </div>
        </div> -->


           <div class="row">
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width" appearance="outline"  floatLabel="always">
                        <mat-label>Owned/Supplied</mat-label>
                        <mat-select required #ownedSupplierVal [class.is-invalid]="ownedSupplierVal.invalid && ownedSupplierVal.touched" 
                        formControlName="ownedSupplier" (selectionChange)="onOwnershipChange()">
                            <mat-option value="Owned">Owned</mat-option>
                            <mat-option value="Supplier">Supplier</mat-option>
                        </mat-select>

                        <mat-error>
                            Owned/Supplied is required
                        </mat-error>
                    </mat-form-field>    
                </div> 

                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2" *ngIf="owned">
                    <mat-form-field class="example-full-width" appearance="outline" floatLabel="always">
                        <mat-label>Supplier</mat-label>
                        <input matInput formControlName="supplier" required [matAutocomplete]="auto20">
                        <mat-autocomplete #auto20="matAutocomplete" (optionSelected)="OnSupplierForOwnerSelect($event.option.value)">
                            <mat-option *ngFor="let option of filteredSupplierForOwnerOptions | async" [value]="option.supplierName" (click)="getsupplierIDForOwner(option.supplierID)">
                              {{option.supplierName}}
                            </mat-option>
                          </mat-autocomplete>
                        <mat-error *ngIf="advanceTableForm.get('supplier').hasError('supplierForOwnerInvalid')">
                            Supplier is required
                        </mat-error>
                    </mat-form-field>
                </div>

                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2" *ngIf="supplier">
                    <mat-form-field class="example-full-width" appearance="outline" floatLabel="always">
                        <mat-label>Supplier</mat-label>
                        <input required type="text" matInput formControlName="supplier" [matAutocomplete]="auto4">
                        <mat-autocomplete #auto4="matAutocomplete" (optionSelected)="OnSupplierSelect($event.option.value)">
                          <mat-option *ngFor="let option of filteredSupplierOptions | async" [value]="option.supplierName" (click)="getsupplierID(option.supplierID)">
                            {{option.supplierName}}
                          </mat-option>
                        </mat-autocomplete>
                        <mat-error *ngIf="advanceTableForm.controls['supplier'].hasError('supplierInvalid')">
                            Please select a Supplier
                        </mat-error>
                      </mat-form-field>
                </div>
            </div> 
        <div class="row">
                
                <!-- <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2" *ngIf="owned">
                    <mat-form-field class="example-full-width" appearance="outline" floatLabel="always">
                        <mat-label>Supplier</mat-label>
                        <input readonly matInput formControlName="supplier" required>
                        <mat-error *ngIf="advanceTableForm.get('supplier').hasError('required')">
                            Supplier is required
                        </mat-error>
                    </mat-form-field>
                </div> -->

                <!-- <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2" *ngIf="supplier"> -->
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width" appearance="outline" floatLabel="always"> 
                        <mat-label>Location</mat-label>                       
                        <input required type="text" matInput [matAutocomplete]="auto9"
                        formControlName="location">
                        <mat-autocomplete #auto9="matAutocomplete" (optionSelected)="OnLocationSelect($event.option.value)">
                            <mat-option *ngFor="let location of filteredLocationOptions | async"
                                [value]="location.organizationalEntityName" (click)="getLocationID(location.organizationalEntityID)">
                                {{location.organizationalEntityName}}
                            </mat-option>
                        </mat-autocomplete>
                        <mat-error *ngIf="advanceTableForm.controls['location'].hasError('locationTypeInvalid')">
                            Please select a Location 
                        </mat-error>
                    </mat-form-field>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width" appearance="outline"  floatLabel="always">
                        <mat-label>Police Verification</mat-label>
                        <mat-select required #policeVal [class.is-invalid]="policeVal.invalid && policeVal.touched"
                        formControlName="policeVerification">
                            <mat-option value="Yes">Yes</mat-option>
                            <mat-option value="No">No</mat-option>
                        </mat-select>

                        <mat-error>
                            Police Verification is required
                        </mat-error>
                    </mat-form-field>
                </div>
            </div>

            <div class="row">
                
                <!-- <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width" appearance="outline" floatLabel="always"> 
                        <mat-label>Hub</mat-label>                       
                        <input type="text" matInput [matAutocomplete]="auto8"
                        formControlName="hub">
                        <mat-autocomplete #auto8="matAutocomplete" (optionSelected)="OnHubSelect($event.option.value)">
                            <mat-option *ngFor="let hub of filteredHubOptions | async"
                            [value]="hub.organizationalEntityName" (click)="getHubID(hub.organizationalEntityID)">
                            {{hub.organizationalEntityName}}
                        </mat-option>
                        </mat-autocomplete>
                        <mat-error *ngIf="advanceTableForm.controls['hub'].hasError('hubInvalid')">
                            Please select a Hub
                          </mat-error>
                    </mat-form-field>
                </div> -->
                <!-- <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width" appearance="outline" floatLabel="always"> 
                        <mat-label>Hub</mat-label>                       
                        <input type="text" matInput [matAutocomplete]="auto8"
                        formControlName="hub">
                        <mat-autocomplete #auto8="matAutocomplete">
                            <mat-option *ngFor="let hub of filteredHubOptions | async"
                                [value]="hub.organizationalEntityName" (click)="getHubID(hub.organizationalEntityID)">
                                {{hub.organizationalEntityName}}
                            </mat-option>
                        </mat-autocomplete>
                        <mat-error *ngIf="advanceTableForm.controls['hub'].hasError('hubInvalid')">
                            Please select any hub
                          </mat-error>
                    </mat-form-field>
                </div> -->

            </div>

            <div class="row">
               
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width" appearance="outline"  floatLabel="always">
                        <mat-label>Medical Insurance</mat-label>
                        <mat-select required #medicalVal [class.is-invalid]="medicalVal.invalid && medicalVal.touched"
                        formControlName="medicalInsurance">
                        <mat-option [value]=true>Yes</mat-option>
                        <mat-option [value]=false>No</mat-option>
                        </mat-select>

                        <mat-error>
                            Medical Insurance is required
                        </mat-error>
                    </mat-form-field>
                </div>
                <!-- <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width" appearance="outline" floatLabel="always">
                        <mat-label>Email</mat-label>
                        <input required matInput formControlName="driverEmail">

                        <mat-error *ngIf="advanceTableForm.get('driverEmail').hasError('required')">
                            Driver Email is required
                        </mat-error>
                    </mat-form-field>
                </div> -->
                <div class=" col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                    <mat-label>
                       Driver Image
                    </mat-label>
                    <br>
                    <a href="{{ ImagePath }}" target="_blank" *ngIf="ImagePath">
                        <img [src]="ImagePath" class="table " style="height: 80px; width: auto;">
                    </a>
    
                    <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                        <app-myupload (onUploadFinished)="uploadFinished($event)"></app-myupload>
                    </div>
                </div>
            </div>

            <div class="row">
                
                <!-- <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width" appearance="outline"  floatLabel="always">
                        <mat-label>Driving Since Date</mat-label>
                        <input required matInput [matDatepicker]="drivingDate"  placeholder="DD/MM/YYYY"
                        formControlName="drivingSinceDate"  (blur)="onBlurdrivingSinceDate($event.target.value)"  >
                        <mat-datepicker-toggle matSuffix [for]="drivingDate"></mat-datepicker-toggle>
                        <mat-datepicker #drivingDate></mat-datepicker>
                        <mat-error *ngIf="advanceTableForm.get('drivingSinceDate').hasError('required')">
                            Driving Since Date is required
                        </mat-error>
                        <mat-error *ngIf="advanceTableForm.get('drivingSinceDate')?.hasError('invalidDate')">
                            Invalid date format. Use DD/MM/YYYY.
                          </mat-error>
                    </mat-form-field>
                </div> -->
            </div>
            
            <div class="row">
                <!-- <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width" appearance="outline"  floatLabel="always">
                        <mat-label>Password</mat-label>
                        <input type="password" matInput formControlName="password">
                        <mat-error *ngIf="advanceTableForm.get('password').hasError('required')">Password is required</mat-error>
                    </mat-form-field>
                </div> -->

                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width" appearance="outline" floatLabel="always">
                        <mat-label>Password</mat-label>
                        <input name="password" matInput formControlName="password" [type]="showPassword ? 'text' : 'password'">
                        <mat-icon matSuffix (click)="showPassword = !showPassword">{{ showPassword ? 'visibility_off' : 'visibility' }}</mat-icon>
                    </mat-form-field>
                </div>

                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width" appearance="outline"  floatLabel="always">
                        <mat-label>Confirm Password</mat-label>
                        <input [type]="showConfirmPassword ? 'text' : 'password'"  name="password" matInput formControlName="confirmPassword" (click)="markAsTouched('confirmPassword')">
                        
                        <mat-error *ngIf="advanceTableForm.get('confirmPassword').hasError('required') ">Confirm Password is required</mat-error>
                        <mat-icon matSuffix (click)="showConfirmPassword = !showConfirmPassword">{{ showConfirmPassword ? 'visibility_off' : 'visibility' }}</mat-icon>
            
                        <mat-error *ngIf="advanceTableForm.get('confirmPassword').hasError('confirmPasswordValidator') || advanceTableForm.get('confirmPassword').touched">Passsword and
                            Confirm Password didn't match. </mat-error>
                        
                    </mat-form-field>
                
                </div>
            </div>

            <!-- <div class="row">
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2" >
                    <mat-form-field class="example-full-width" appearance="outline"  floatLabel="always">
                        <mat-label>PAN Number</mat-label>
                        <input matInput formControlName="driverPANNo" required>
                        <mat-error *ngIf="advanceTableForm.get('driverPANNo').hasError('required')">
                            PAN Number is required
                        </mat-error>
                    </mat-form-field>
                </div>

                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2" >
                    <mat-form-field class="example-full-width" appearance="outline"  floatLabel="always">
                        <mat-label>Driver Beneficiary</mat-label>
                        <input matInput formControlName="driverBeneficiaryName" required>
                        <mat-error *ngIf="advanceTableForm.get('driverBeneficiaryName').hasError('required')">
                            Driver Beneficiary is required
                        </mat-error>
                    </mat-form-field>
                </div>
            </div>

            <div class="row">
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2" >
                    <mat-form-field class="example-full-width" appearance="outline"  floatLabel="always">
                        <mat-label>Bank</mat-label>
                        <input matInput formControlName="driverBankName" required>
                        <mat-error *ngIf="advanceTableForm.get('driverBankName').hasError('required')">
                            Bank is required
                        </mat-error>
                    </mat-form-field>
                </div>

                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2" >
                    <mat-form-field class="example-full-width" appearance="outline"  floatLabel="always">
                        <mat-label>IFSC Code</mat-label>
                        <input matInput formControlName="driverIFSCCode" required>
                        <mat-error *ngIf="advanceTableForm.get('driverIFSCCode').hasError('required')">
                            IFSC Code is required
                        </mat-error>
                    </mat-form-field>
                </div>
            </div> -->

           <div class="row">
  <!-- Activation Status -->
  <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
    <mat-form-field class="example-full-width" appearance="outline" floatLabel="always">
      <mat-label>Activation Status</mat-label>
      <mat-select formControlName="activationStatus">
        <mat-option [value]="true">Active</mat-option>
        <mat-option [value]="false">Deleted</mat-option>
      </mat-select>
      <mat-error *ngIf="advanceTableForm.get('activationStatus')?.hasError('required')">
        Activation Status is required
      </mat-error>
    </mat-form-field>
  </div>

  <!-- Identity No. only in Edit Mode -->
  <div *ngIf="action === 'edit'" class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
    <div class="status-display" style="margin-top: 10px;">
      <strong>Identity No.:</strong>
      <span>{{ advanceTable.driverOfficialIdentityNumber }}</span>
    </div>
  </div>
        </div>

            <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
                    <div class="example-button-row">
                        <button mat-raised-button color="primary" [type]="submit" *ngIf="saveDisabled" [disabled]="!advanceTableForm.valid"  (click)="confirmAdd()">Save</button>
                        <mat-spinner *ngIf="!saveDisabled" diameter="30"></mat-spinner>
                        <!-- <button  mat-raised-button color="warn" (click)="reset()" tabindex="-1">Reset</button> -->
                        <button mat-raised-button color="warn" (click)="onNoClick()" tabindex="-1">Cancel</button>
                    </div>
                </div>
            </div>
        </form>
  </div>
