<div *ngFor="let data of toArray(advanceTableINData);index as i">
    <div class="row" style="margin-left: 20px;margin-top: 20px;">
        <!-- <a style="cursor: pointer;color: #007bff;" (click)="InternalNoteEdit(i)">
            Internal Note {{i+1}} - Edit - Delete</a> -->
            <a style="cursor: pointer; color: #007bff;">
                Internal Note {{i + 1}} -
                <span style="cursor: pointer; color: #007bff;" (click)="InternalNoteEdit(i)">Edit</span> -
                <span style="cursor: pointer; color: #007bff;" (click)="deleteItem(i)">Delete</span>
            </a>
    </div>

    <div class="row" style="margin-left: 20px;margin-top: 20px;">
        <div class="col-xl-4 col-lg-6 col-md-12 col-sm-12 mb-2">
            <span>
                <b>
                    Internal Note
                </b>                   
            </span>
            <br/>
            <span>{{data.reservationInternalNote}}</span>
        </div>

        <div class="col-xl-4 col-lg-6 col-md-12 col-sm-12 mb-2">
            <span>
                <b>
                    Internal Note By
                </b>                   
            </span>
            <br/>
            <span>{{data.firstName}} {{data.lastName}}</span>
        </div>

        <div class="col-xl-4 col-lg-6 col-md-12 col-sm-12 mb-2">
            <span>
                <b>
                    Attachment
                </b>                   
            </span>
            <br/>
            <span>
                <a href="{{data.reservationInternalNoteAttachment}}" target="_blank" style="cursor: pointer;color: #007bff;">
                <!-- View -->
                <img [src]="data.reservationInternalNoteAttachment" style="max-width: 70px; max-height: 70px;" />
                </a>
            </span>
        </div>            
    </div>

</div>