<ng-container  *ngIf="iternallinformation !== null">
  <div class="card">
    <div class="header bg-cyan">
      <h2>Internal Note Details</h2>
     <ul class="header-dropdown m-r-10">
            <li>
              <a style="color:#fff;padding:15px;position: relative;"  href="javascript:void(0);" (click)="scrollToLinkButton()">Go To Menu</a>              
            </li>
      </ul>
    </div>

    <div style="background-color:  #ffffff">
      <div class="responsive_table">
        <mat-accordion>
          <mat-expansion-panel [expanded]="panelExpanded" class="p-0 m-0" (opened)="onPanelOpen()" (closed)="onPanelClose()">

            <!-- Panel Header -->
            <mat-expansion-panel-header>
              <mat-panel-title>
              </mat-panel-title>
            </mat-expansion-panel-header>
            <div class="panel-row is-header">
                  <div class="panel-cell"><b>Internal Note</b></div>
                  <div class="panel-cell"><b>Internal Note By</b></div>
                  <div class="panel-cell"><b>Attachment</b></div>
                </div>
            <!-- Panel Content -->
            <div class="panel-row">
              <div class="panel-cell">
              {{ iternallinformation?.reservationInternalNote || 'N/A' }}
                    <!-- {{ currentdataInformation.driverSupplierName || 'N/A' }} -->
              </div>
              <!-- <pre>{{ specialinformation | json }}</pre> -->
              <div class="panel-cell">
                {{ iternallinformation?.firstName || 'N/A' }} {{ iternallinformation?.lastName || 'N/A' }}
              </div>

              <div class="panel-cell">
                <br/>
                <span>
                    <a href="{{iternallinformation?.reservationInternalNoteAttachment}}" target="_blank" style="cursor: pointer;color: #007bff;">
                    <!-- View -->
                    <img [src]="iternallinformation?.reservationInternalNoteAttachment" style="max-width: 70px; max-height: 70px;" />
                    </a>
                </span>
            </div> 
            </div>

          </mat-expansion-panel>
        </mat-accordion>
      </div>
    </div>
  </div>
</ng-container>
