<div class="addContainer">
    <div class="modalHeader">
        <div class="editRowModal">
            <div class="modalHeader clearfix">
                <!-- <img [src]='advanceTable.img' alt="avatar"> -->
                <div class="modal-about">
                    <div class="font-weight-bold p-t-5 font-17">
                        {{dialogTitle}}</div>
                         <div *ngIf="statusMessage && statusMessage !== 'Changes allow'" style="color:rgb(150, 4, 4);; margin-top:5px; font-style: italic;">
                       ({{ statusMessage }}!!!!!)
                    </div>
                </div>
            </div>
        </div>
        <button mat-icon-button (click)="dialogRef.close()" aria-label="Close dialog">
      <mat-icon>close</mat-icon>
    </button>
    </div>
    <div mat-dialog-content >
        <form class="register-form m-4" [formGroup]="advanceTableForm" (ngSubmit)="submit">
            <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width" appearance="outline" floatLabel="always">
                        <mat-label>Internal Note</mat-label>
                        <input required matInput formControlName="reservationInternalNote">
                        <mat-error *ngIf="advanceTableForm.get('reservationInternalNote')?.hasError('required')">
                            Internal Note is required
                        </mat-error>
                    </mat-form-field>
                    </div>
            </div>
            <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
                 
                    <mat-form-field class="example-full-width" appearance="outline" floatLabel="always">
                        <mat-label>Internal Note By</mat-label>
                        <input type="text" matInput formControlName="reservationInternalNoteByEmployee" [matAutocomplete]="auto5">
                        <mat-autocomplete #auto5="matAutocomplete" (optionSelected)="onEmployeeSelected($event.option.value)">
                          <mat-option *ngFor="let option of filteredCreatedByOptionss | async" 
                          [value]="option.firstName +' '+option.lastName" (click)="getemployee(option.employeeID)">
                            {{option.firstName +' '+ option.lastName}}
                          </mat-option>
                        </mat-autocomplete>
                        <mat-error *ngIf="advanceTableForm.controls['reservationInternalNoteByEmployee'].value && advanceTableForm.controls['reservationInternalNoteByEmployee'].hasError('reservationInternalNoteByEmployeeInvalid')">
                            Please select a valid Internal Note By
                        </mat-error>
                      </mat-form-field>
                </div>
            </div>
            <div class="row">
                <div class=" col-xl-8 col-lg-8 col-md-12 col-sm-12 mb-2">
                    <mat-label>
                        Attachment
                    </mat-label>
                    <br>
                    <a href="{{ ImagePath }}" target="_blank" *ngIf="ImagePath">
                        <img [src]="ImagePath" class="table " style="height: 80px; width: auto;">
                    </a>
    
                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
                        <app-myupload (onUploadFinished)="uploadFinished($event)"></app-myupload>
                    </div>
                </div> 
            </div>
          <div class="row">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
                <mat-form-field class="example-full-width" appearance="outline" floatLabel="always">
                    <mat-label>Activation Status</mat-label>
                    <mat-select formControlName="activationStatus">
                        <mat-option [value]=true>Active</mat-option>
                        <mat-option [value]=false>Deleted</mat-option>
                    </mat-select>
                    <!-- <mat-error *ngIf="advanceTableForm.get('activationStatus').hasError('required')">
                        Activation Status is required
                    </mat-error> -->
                </mat-form-field>
            </div>  
          </div>
            <div class="row">
                <!-- <span style="color: red;">{{status}}</span> -->
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
                    <div class="example-button-row">
                        <button mat-raised-button color="primary" *ngIf="!isSaving" [disabled]="!advanceTableForm.valid || isSaving" type="button" (click)="onSaveClick()">Save</button>
                        <mat-spinner *ngIf="isSaving" diameter="30"></mat-spinner>
                        <button mat-raised-button color="warn" (click)="onNoClick()" tabindex="-1">Cancel</button>
                        
                    </div>
                </div>
            </div>
        </form>
    </div>