/* ngx-scrollbar customization */
ng-scrollbar {
  --scrollbar-size: 5px;
  --scrollbar-track-thickness: 5px;
  --scrollbar-track-hover-thickness: 6px;
  --scrollbar-thumb-color: #c9c8c8;
  --scrollbar-thumb-hover-color: #959595;
  --scrollbar-track-color: #f1f1f1;
  --scrollbar-border-radius: 10px;
}
