<section class="content">
    <div class="container-fluid">
        <div class="block-header">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <ul>
                        <li class="breadcrumb-item bcrumb-1">
                            <a routerLink="/dashboard/main">
                                <i class="fas fa-home"></i> Home</a>|
                            <a href="#" onClick="return false;">Admin</a>|
                            <a href="#" onClick="return false;">Attach/Detach Duties</a>
                        </li>
                    </ul>
                    <ul class="breadcrumb breadcrumb-style ">
                        <li class="breadcrumb-item" *ngIf="!InvoiceNumberWithPrefix">
                            <h2>Attach Duties For New Invoice</h2>
                        </li>
                        <li class="breadcrumb-item" *ngIf="InvoiceNumberWithPrefix">
                            <h2>Attach Duties to - {{InvoiceNumberWithPrefix}}</h2>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="card">
                    <div class="body">
                        <div class="responsive_table">
                            <div class="table-responsive">
                                <div class="materialTableHeader" >
                                    <div class="row">
                                        <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog">
                                            <div class="modal-dialog modal-dialog-centered" style="max-width: 65%;">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <h5 class="modal-title" id="exampleModalLongTitle">Attach/Detach Duties</h5>
                                                        <button type="button" class="close" data-dismiss="modal"
                                                            aria-label="Close">
                                                            <span aria-hidden="true">&times;</span>
                                                        </button>
                                                    </div>
                                                    <div class="modal-body">                                  
                                                        <div class="row">
                                                            <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12 mb-2">
                                                                <mat-form-field class="example-full-width" appearance="outline" floatLabel="always">
                                                                    <mat-label>Customer</mat-label>
                                                                    <input type="text" matInput [matAutocomplete]="auto1" [formControl]="customer">
                                                                    <mat-autocomplete #auto1="matAutocomplete" (optionSelected)="onCustomerSelected($event.option.value)" panelWidth="custom-autocomplete-panel">
                                                                        <mat-option  *ngFor="let option of filteredCustomerOptions | async"
                                                                        [value]="option.customerName">
                                                                        {{option.customerName}}
                                                                        </mat-option>
                                                                    </mat-autocomplete>
                                                                </mat-form-field>
                                                            </div>

                                                            <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12 mb-2">
                                                                <mat-form-field class="example-full-width" appearance="outline" floatLabel="always">
                                                                    <mat-label>Branch</mat-label>
                                                                    <input type="text" matInput [matAutocomplete]="auto2" [formControl]="SearchBranch">
                                                                    <mat-autocomplete #auto2="matAutocomplete" (optionSelected)="OnBranchSelect($event.option.value)">
                                                                        <mat-option *ngFor="let options of filteredBranchOptions | async"
                                                                            [value]="options.organizationalEntityName">
                                                                            {{options.organizationalEntityName}}
                                                                        </mat-option>
                                                                    </mat-autocomplete>
                                                                </mat-form-field>
                                                            </div>

                                                            <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12 mb-2">
                                                                <mat-form-field class="example-full-width" appearance="outline" floatLabel="always">
                                                                    <mat-label>Duty Slip No.</mat-label>
                                                                    <input type="text" matInput [(ngModel)]="SearchDutySlipID">
                                                                </mat-form-field>
                                                            </div>

                                                            <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12 mb-2">
                                                                <mat-form-field class="example-full-width" appearance="outline" floatLabel="always">
                                                                    <mat-label>Reservation No.</mat-label>
                                                                    <input type="text" matInput [(ngModel)]="SearchReservationID">
                                                                </mat-form-field>
                                                            </div>
                                                        </div>

                                                        <div class="row"> 
                                                            <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12 mb-2">
                                                                <mat-form-field class="example-full-width mb-3" appearance="outline" floatLabel="always">
                                                                    <mat-label>GST Type</mat-label>
                                                                    <mat-select [(ngModel)]="SearchGSTType">
                                                                        <mat-option value="CGSTSGST">CGST + SGST</mat-option>
                                                                        <mat-option value="IGST">IGST</mat-option>
                                                                    </mat-select>
                                                                </mat-form-field>
                                                            </div>                                                  
                                                        
                                                            <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12 mb-2">
                                                                <mat-form-field class="example-full-width" appearance="outline"  floatLabel="always">
                                                                    <mat-label>Duty From</mat-label>
                                                                    <input matInput [matDatepicker]="startingDate" [(ngModel)]="SearchDutyFromDate">
                                                                    <mat-datepicker-toggle matSuffix [for]="startingDate"></mat-datepicker-toggle>
                                                                    <mat-datepicker #startingDate></mat-datepicker>
                                                                </mat-form-field>
                                                            </div>

                                                            <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12 mb-2">
                                                                <mat-form-field class="example-full-width" appearance="outline"  floatLabel="always">
                                                                    <mat-label>Duty To</mat-label>
                                                                    <input matInput [matDatepicker]="endingDate" [(ngModel)]="SearchDutyToDate">
                                                                    <mat-datepicker-toggle matSuffix [for]="endingDate"></mat-datepicker-toggle>
                                                                    <mat-datepicker #endingDate></mat-datepicker>
                                                                </mat-form-field>
                                                            </div>

                                                            <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12 mb-2">
                                                                <mat-form-field class="example-full-width" appearance="outline" floatLabel="always">
                                                                    <mat-label>Passenger Name</mat-label>
                                                                    <input type="text" matInput [(ngModel)]="SearchPassengerName">
                                                                </mat-form-field>
                                                            </div>
                                                        </div>

                                                        <div class="row">                                                            
                                                            <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12 mb-2">
                                                                <mat-form-field class="example-full-width" appearance="outline" floatLabel="always">
                                                                    <mat-label>Passenger Mobile</mat-label>
                                                                    <input type="text" matInput [(ngModel)]="SearchPassengerMobile">
                                                                </mat-form-field>
                                                            </div>

                                                            <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12 mb-2">
                                                                <mat-form-field class="example-full-width" appearance="outline" floatLabel="always">
                                                                    <mat-label>Package Type</mat-label>
                                                                    <input type="text" matInput [formControl]="SearchPackageType" [matAutocomplete]="auto6">
                                                                    <mat-autocomplete #auto6="matAutocomplete" (optionSelected)="onPackageTypeSelected($event.option.value)">
                                                                    <mat-option *ngFor="let option of filteredPackageTypeOptions | async" 
                                                                    [value]="option.packageType" (click)="getPackageTypeID(option.packageTypeID)">
                                                                        {{option.packageType}}
                                                                    </mat-option>
                                                                    </mat-autocomplete>
                                                                </mat-form-field>
                                                            </div>

                                                            <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12 mb-2">
                                                                <mat-form-field class="example-full-width" appearance="outline" floatLabel="always">
                                                                    <mat-label>Package</mat-label>
                                                                    <input type="text" matInput [formControl]="SearchPackage" [matAutocomplete]="auto7">
                                                                    <mat-autocomplete #auto7="matAutocomplete" (optionSelected)="onPackageSelected($event.option.value)">
                                                                    <mat-option *ngFor="let option of filteredPackageOptions | async" [value]="option.package">
                                                                        {{option.package}}
                                                                    </mat-option>
                                                                    </mat-autocomplete>
                                                                </mat-form-field>
                                                            </div>

                                                            <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12 mb-2">
                                                                <mat-form-field class="example-full-width mb-3" appearance="outline" floatLabel="always">
                                                                    <mat-label>DS Status</mat-label>
                                                                    <mat-select [(ngModel)]="SearchDSStatus">
                                                                        <mat-option value="Closed">Closed</mat-option>
                                                                        <mat-option value="VirtualClosing">Virtual Closing</mat-option>
                                                                        <mat-option value="Disputed">Disputed</mat-option>
                                                                    </mat-select>
                                                                </mat-form-field>
                                                            </div>
                                                        </div>

                                                        <div class="row">
                                                            <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12 mb-2">
                                                                <mat-form-field class="example-full-width mb-3" appearance="outline" floatLabel="always">
                                                                    <mat-label>Billing Status</mat-label>
                                                                    <mat-select [(ngModel)]="SearchBillingStatus">
                                                                        <mat-option [value]=true>Yes</mat-option>
                                                                        <mat-option [value]=false>No</mat-option>
                                                                    </mat-select>
                                                                </mat-form-field>
                                                            </div>
                                                        </div>
                                                                                                            
                                                    </div>

                                                    <div class="modal-footer">
                                                        <button mat-raised-button color="primary" (click)="SearchData()"  data-dismiss="modal">Search</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div style="width: 100%; text-align: right;">
                                            <button mat-raised-button color="primary" data-dismiss="modal"
                                                data-toggle="modal" data-backDrop="false" *ngIf="InvoiceNumberWithPrefix"
                                                (click)="AttachDuty()">
                                                Attach Duty
                                            </button>
                                            &nbsp; 
                                            <button mat-raised-button color="primary" data-dismiss="modal"
                                                data-toggle="modal" data-backDrop="false"
                                               *ngIf="!InvoiceNumberWithPrefix"
                                                (click)="GenerateSingleInvoiceforSingleDuty()">
                                                Generate Single Invoice for Single Duty
                                            </button>
                                            &nbsp; 
                                            <button mat-raised-button color="primary" data-dismiss="modal"
                                                data-toggle="modal" data-backDrop="false" *ngIf="!InvoiceNumberWithPrefix"
                                                (click)="GenerateSingleInvoiceforMultipleDuties()">
                                                Generate Single Invoice for Multiple Duties
                                            </button>
                                            &nbsp; 
                                            <button mat-raised-button color="primary" data-dismiss="modal"
                                                data-toggle="modal" data-backDrop="false"
                                                data-target="#exampleModalCenter">
                                                Search
                                            </button>
                                            &nbsp;                                           
                                            <button mat-mini-fab color="primary" (click)="refresh()">
                                                <mat-icon class="col-white">refresh</mat-icon>
                                            </button>
                                        </div>
                                    </div>
                                </div>

                               
                                <p *ngIf="!dataSource; then thenBlock2 else elseBlock2">
                                    This is not rendered
                                </p>

                                <ng-template #thenBlock2>
                                    <div class="alert alert-primary"
                                        style="background-color:#E8E8E8; text-align: center;">
                                        No Records Found</div>
                                    <div class="body">
                                        <div class="example-button-row">

                                            <button mat-raised-button color="primary"
                                                (click)="PreviousCall()">Previous</button>
                                            <button mat-raised-button color="primary" (click)="NextCall()">Next</button>

                                        </div>
                                    </div>

                                </ng-template>

                                <ng-template #elseBlock2>
                                    <div class="scrollable-table-container">
                                    <div style="width: 100%; overflow-y: hidden;">
                                        <mat-table #table [dataSource]="dataSource" matSort class="mat-cell floating-header-table invoice-attach-grid" style="font-size: 11px; line-height: 1.25;"
                                            (matSortChange)="SortingData($event)">
                                            <ng-container matColumnDef="check">
                                                <mat-header-cell *matHeaderCellDef>
                                                    <mat-checkbox color="primary"
                                                        (change)="checkAll($event.checked)"
                                                        [checked]="selectAll"
                                                        [indeterminate]="isIndeterminate()"
                                                        matTooltip="Select All"
                                                        matTooltipPosition="above">
                                                    </mat-checkbox>
                                                </mat-header-cell>
                                                <mat-cell *matCellDef="let row">
                                                     <mat-checkbox color="primary"
                                                        (change)="onCheckBox($event.checked, row)"
                                                        [checked]="row.checked">
                                                    </mat-checkbox>
                                                </mat-cell>
                                            </ng-container>

                                            <!-- <ng-container matColumnDef="id">
                                                <mat-header-cell *matHeaderCellDef mat-sort-header>Id</mat-header-cell>
                                                <mat-cell *matCellDef="let row">{{row.customerID}}</mat-cell>
                                            </ng-container> -->

                                            <ng-container matColumnDef="DutySlipID">
                                                <mat-header-cell *matHeaderCellDef mat-sort-header>DS. No./ Res. No.</mat-header-cell>
                                                <mat-cell *matCellDef="let row" (contextmenu)="onContextMenu($event, row)">
                                                    {{row.dutySlipID}} 
                                                    <br>
                                                    {{row.reservationID}}</mat-cell>
                                            </ng-container>

                                            <ng-container matColumnDef="CustomerName">
                                                <mat-header-cell *matHeaderCellDef mat-sort-header><span matTooltip="Customer Name" matTooltipPosition="above">
                                                Cus Name</span></mat-header-cell>
                                                <mat-cell *matCellDef="let row" (contextmenu)="onContextMenu($event, row)">
                                                    {{row.customerName}}</mat-cell>
                                            </ng-container>
                                            
                                             <ng-container matColumnDef="CustomerState">
                                                <mat-header-cell *matHeaderCellDef mat-sort-header> <span matTooltip="Customer State" matTooltipPosition="above">
                                                Cus State</span></mat-header-cell>
                                                <mat-cell *matCellDef="let row" (contextmenu)="onContextMenu($event, row)">
                                                    {{row.customerState}}</mat-cell>
                                            </ng-container>
                                            <ng-container matColumnDef="CustomerPersonName">
                                                <mat-header-cell *matHeaderCellDef mat-sort-header><span matTooltip="Passenger Name" matTooltipPosition="above">
                                                Passen..</span></mat-header-cell>
                                                <mat-cell *matCellDef="let row" (contextmenu)="onContextMenu($event, row)">
                                                    {{row.customerPersonName}}</mat-cell>
                                            </ng-container>

                                            <ng-container matColumnDef="BranchName">
                                                <mat-header-cell *matHeaderCellDef mat-sort-header>Branch</mat-header-cell>
                                                <mat-cell *matCellDef="let row" (contextmenu)="onContextMenu($event, row)">
                                                    {{row.branchName || 'N/A'}}</mat-cell>
                                            </ng-container>

                                            <ng-container matColumnDef="VerifyDuty">
                                                <mat-header-cell *matHeaderCellDef mat-sort-header>Verified/ GFB</mat-header-cell>
                                                <mat-cell *matCellDef="let row" (contextmenu)="onContextMenu($event, row)">
                                                    {{row.verifyDuty === "True" ? 'Verified' : 'Not verfied'}}
                                                    <br>
                                                    {{row.goodForBilling === "True" ? 'Good For Billing' : 'Not Good For Billing'}}</mat-cell>
                                            </ng-container>

                                            <ng-container matColumnDef="InvoiceNumberWithPrefix">
                                                <mat-header-cell *matHeaderCellDef mat-sort-header>Invoice Number</mat-header-cell>
                                                <mat-cell *matCellDef="let row" (contextmenu)="onContextMenu($event, row)">
                                                    {{row.invoiceNumberWithPrefix || 'N/A'}}</mat-cell>
                                            </ng-container>

                                            <ng-container matColumnDef="PickUpDate">
                                                <mat-header-cell *matHeaderCellDef mat-sort-header>Start/End Date</mat-header-cell>
                                                <mat-cell *matCellDef="let row" (contextmenu)="onContextMenu($event, row)">
                                                    {{ (row.pickUpDate | date: 'dd-MM-yyyy') || 'N/A'}} 
                                                    <br>
                                                    {{ (row.dropOffDate | date: 'dd-MM-yyyy') || 'N/A'}}</mat-cell>
                                            </ng-container>

                                            <ng-container matColumnDef="Vehicle">
                                                <mat-header-cell *matHeaderCellDef mat-sort-header>Car / City</mat-header-cell>
                                                <mat-cell *matCellDef="let row" (contextmenu)="onContextMenu($event, row)">
                                                    {{row.vehicle}}
                                                    <br>
                                                    {{row.geoPointName}}</mat-cell>
                                            </ng-container>

                                            <ng-container matColumnDef="PackageType">
                                                <mat-header-cell *matHeaderCellDef mat-sort-header>Package Type / Package</mat-header-cell>
                                                <mat-cell *matCellDef="let row" (contextmenu)="onContextMenu($event, row)">
                                                   {{row.packageType}}
                                                   <br>
                                                   {{row.package}}</mat-cell>
                                            </ng-container>

                                            <ng-container matColumnDef="ReservationBillingInstruction">
                                                <mat-header-cell *matHeaderCellDef mat-sort-header>Billing Instruction</mat-header-cell>
                                                <mat-cell *matCellDef="let row" (contextmenu)="onContextMenu($event, row)">
                                                    {{row.reservationBillingInstruction || 'N/A'}}</mat-cell>
                                            </ng-container>

                                            <ng-container matColumnDef="ApplicableGST">
                                                <mat-header-cell *matHeaderCellDef mat-sort-header>GST Type / Percentage</mat-header-cell>
                                                <mat-cell *matCellDef="let row" (contextmenu)="onContextMenu($event, row)">
                                                   {{row.applicableGST}} 
                                                   <br>
                                                   {{row.gstPercentage}} %</mat-cell>
                                            </ng-container>

                                            <ng-container matColumnDef="TotalAmountAfterGST">
                                                <mat-header-cell *matHeaderCellDef mat-sort-header>Amount</mat-header-cell>
                                                <mat-cell *matCellDef="let row" (contextmenu)="onContextMenu($event, row)" style="text-align: right;justify-content: flex-end;">
                                                    {{row.totalAmountAfterGST | number:'1.2-2'}}</mat-cell>
                                            </ng-container>
                                            
                                            <ng-container matColumnDef="DiscountPercentage">
                                                <mat-header-cell *matHeaderCellDef mat-sort-header>Discount % / Discount</mat-header-cell>
                                                <mat-cell *matCellDef="let row" (contextmenu)="onContextMenu($event, row)" style="text-align: right;justify-content: flex-end;">
                                                   {{row.discountPercentage}} %
                                                   <br>
                                                   {{row.discount | number:'1.2-2'}}</mat-cell>
                                            </ng-container>
                                            
                                             <!-- actions -->
                                             <ng-container matColumnDef="unlock">
                                                <mat-header-cell *matHeaderCellDef class="pr-0"
                                                    [ngClass]="'tbl-col-width-per-9'">Actions</mat-header-cell>
                                                <mat-cell *matCellDef="let row; let i=index;" class="pr-0"
                                                    [ngClass]="'tbl-col-width-per-9'">


                                                </mat-cell>
                                            </ng-container>


                                            <mat-header-row *matHeaderRowDef="displayedColumns" style="font-size: 11px; line-height: 1.2;"></mat-header-row>
                                            <mat-row *matRowDef="let row; columns: displayedColumns;"
                                                [style.cursor]="'pointer'" style="font-size: 11px; line-height: 1.25;" matRipple>
                                            </mat-row>
                                        </mat-table>
                                    </div>
                                    </div>

                                    <!-- context menu start -->
                                    <div style="visibility: hidden; position: fixed"
                                        [style.left]="contextMenuPosition.x" [style.top]="contextMenuPosition.y"
                                        [matMenuTriggerFor]="contextMenu">
                                    </div>
                                    <mat-menu #contextMenu="matMenu">
                                        <ng-template matMenuContent let-item="item">

                                        </ng-template>
                                    </mat-menu>



                                    <div class="body">
                                        <div class="example-button-row">

                                            <button mat-raised-button color="primary"
                                                (click)="PreviousCall()">Previous</button>
                                            <button mat-raised-button color="primary" (click)="NextCall()">Next</button>

                                        </div>
                                    </div>



                                </ng-template>
                            </div>

                            

                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div *ngIf="InvoiceNumberWithPrefix">
            <app-invoiceDetach [InvoiceID]="InvoiceID"></app-invoiceDetach>
        </div>
    </div>
</section>