:host ::ng-deep .invoice-attach-search-dialog
  max-width: 60% !important
  width: 60% !important

:host ::ng-deep .invoice-attach-search-dialog .modal-body.quick-search-panel
  padding-top: 1rem

:host ::ng-deep .invoice-attach-grid
  min-width: 1700px

:host ::ng-deep .invoice-attach-grid .mat-header-cell,
:host ::ng-deep .invoice-attach-grid .mat-cell
  word-break: normal !important
  overflow-wrap: normal !important
  white-space: normal !important
  line-height: 1.35
  font-size: 12px
  padding: 8px 10px !important
  align-items: flex-start

:host ::ng-deep .invoice-attach-grid .mat-header-cell
  font-weight: 600
  color: #222
  white-space: nowrap !important
  align-items: center
  font-size: 10.5px !important
  line-height: 1.15 !important

:host ::ng-deep .invoice-attach-grid .mat-cell
  color: #333
