:host ::ng-deep .mdc-notched-outline__notch
	max-width: none !important

:host ::ng-deep .mat-mdc-floating-label.mdc-floating-label
	white-space: nowrap
	overflow: visible
	max-width: none !important

