<div class="addContainer" #printDutyBill>
<div class="modalHeader">
  <div class="editRowModal">
    <div class="modalHeader clearfix">
      <div class="modal-about">
        <div class="font-weight-bold p-t-5 font-17">
          <!-- {{ dialogTitle }} -->
        </div>
      </div>
    </div>
  </div>
  <!-- <button mat-icon-button (click)="dialogRef.close()" aria-label="Close dialog">
    <mat-icon class="small-close-icon">close</mat-icon>
  </button> -->
</div>

<!-- <mat-card>
  <mat-card-content> -->
    <mat-dialog-content>
      <div id="printElem"  style=" margin-top: 100px;">
          <table width="950" border="0" align="center" cellpadding="0" cellspacing="0">
            <tr class="no-border">
              <td height="1250" valign="top" class="no-border">
                <table width="900" border="0" align="center" cellpadding="0" cellspacing="0"  valign="middle">
                  <tr>
                    <td height="1250" align="center" valign="top">
                      <table width="900" border="0" align="center" cellpadding="0" cellspacing="0">
                        <tr width="850" height="100" class="no-border" align="center">
                            <td class="no-border" style="font-size: 12pt;">
                              <span class="text-heading">TAX INVOICE        
                                <br />Original for Recipient
                                <br />    
                              </span>
                              <span class="text-subheading"></span>
                            </td>
                            <td width="142" class="text1" style="border:none;">
                              <!-- {{"N/A"}}                         -->
                              <img src="" width="92" height="73" />           
                            </td>
                        </tr>

                        <tr class="no-border" height="100">
                          <td class="no-border" class="auto-style6">
                            <span class="text-heading">ECOS (I) MOBILITY &amp; HOSPITALITY PVT. LTD</span><br />
                            <strong>Branch. Office : </strong>{{dataSource?.invoiceEcoBranchModel?.branchAddress}}
                            <br />
                            <strong>Reg. Office :</strong> 45, First Floor, Corner Market, Malviya Nagar, New Delhi-110017
                            <br />
                            <strong>Correspondence : </strong> {{dataSource?.invoiceEcoCompanyModel?.correspondenceAddress}},
                            <br />
                            <strong>Ph. {{dataSource?.invoiceEcoCompanyModel?.phoneNumber}}, </strong>
                            <strong>Fax. {{dataSource?.invoiceEcoCompanyModel?.fax}}</strong>
                            <strong>Reservation :</strong> 24/7 : 91-11-40794079<br />
                            <strong>E-mail :</strong> billing@ecorentacar.com, <strong>Reservation :</strong> cars@ecorentacar.com
                            <br />
                            <strong>GST No : {{dataSource?.invoiceEcoBranchModel?.branchGSTNumber}}</strong>
                            <br />   
                            LUT : {{dataSource?.invoiceEcoBranchModel?.branchLUTNumber}},  Exp Date : {{dataSource?.invoiceEcoBranchModel?.branchLUTExpiryDate | date: 'yyyy-MM-dd'}}  
                            <br />  
                            IRN : {{dataSource?.invoiceModel?.irn}}  
                          </td>
                          <td width="142" class="text1">
                            <img src="http://www.ecoserp.com/bill_printing/logo.jpg" width="92" height="73" /> 
                          </td>
                        </tr>
                      </table>

                      <table width="900" border="0" cellpadding="2" cellspacing="0" class="text1">
                        <tr>
                          <td width="369" rowspan="2">To,
                            <br />
                            <strong>CustomerName : {{dataSource?.invoiceCustomerModel?.customerName}}</strong>
                            <br />
                            <div style="font-size:smaller">
                              <b>Billing Address </b>: {{dataSource?.invoiceCustomerModel?.billingAddress}}
                              <br />
                              Place of Supply & State  : {{dataSource?.invoiceModel?.placeOfSupply}}, State : {{dataSource?.invoiceCustomerModel?.customerGSTStateName}},  State code : {{dataSource?.invoiceCustomerModel?.customerGSTStateCode}}
                              <br />
                              GST/UIN : {{dataSource?.invoiceEcoBranchModel?.branchGSTNumber}}
                              <br />
                              Reverse Charge(Y/N): N
                            </div>                 
                          </td>
                          <td width="179" height="35" align="left">Invoice No : {{dataSource?.invoiceModel?.invoiceNumber}}</td>
                        </tr>
                        <tr>
                          <td height="35" align="left">Invoice Date : {{dataSource?.invoiceModel?.invoiceDate | date: 'yyyy-MM-dd'}}</td>
                        </tr>
                      </table>

                      <table width="900" height="780" border="0" cellpadding="0" cellspacing="0" class="text1">
                        <tr>
                          <td width="103" align="center"><strong>D.S.No.</strong><br />{{dutySlipID}}
                            <br />
                            <strong>Booking No.</strong><br />{{reservationID}}
                            <br/>
                          </td>
                          <td width="445" rowspan="8" align="left" valign="top"><table width="100%" cellspacing="0" cellpadding="0">
                            <tr height="20">
                              <td width="66%" align="center"><strong>Particulars</strong></td>
                              <td width="16%" align="center"><strong>Rate</strong></td>
                              <td width="18%" align="center"><strong>Amount</strong></td>
                            </tr>

                            <tr class="no-border" height="10">
                              <td class="no-border" valign="top" class="text6">Booked By : {{dataSource?.invoiceBookerModel?.bookerName}}</td>
                              <td class="no-border" valign="top"  class="text6">&nbsp;</td>
                              <td class="no-border" valign="top"  class="text6">&nbsp;</td>
                            </tr>

                            <tr class="no-border" height="10">
                              <td class="no-border" valign="top" class="text6" >Used By : {{dataSource?.invoiceCustomerModel?.customerName}}<br /></td>
                              <td class="no-border" valign="top"  class="text6"></td>
                              <td class="no-border" valign="top"  class="text6">&nbsp;</td>
                            </tr>

                            <tr class="no-border" height="10">
                              <td class="no-border" valign="top"  class="text6">
                                  Total Kms :	{{dataSource?.invoiceDutyModel?.totalRunningKM}},
                                  Total Hrs :	{{dataSource?.invoiceDutyModel?.totalRunningHours}}<br />
                              </td>
                              <td class="no-border" valign="top"  class="text6">
                                  &nbsp;</td>
                              <td class="no-border" valign="top"  class="text6">&nbsp;</td>
                            </tr>

                            <tr class="no-border" height="70">
                              <td class="no-border" valign="top"  class="text6">
                                   Local  Upto 
                                   8 Hrs / 80 Km
                              </td>
                              <td class="no-border" valign="top"   class="text7">
                                  3800.00 
                                   &nbsp;  
                              </td>
                              <td class="no-border" valign="top"  class="text7">
                                  3800.00
                                   &nbsp;
                              </td>
                            </tr>

                            <tr class="no-border" height="10">
                              <td class="no-border" valign="top" class="text6">SURAT</td>
                              <td class="no-border" valign="top"  class="text6"></td>
                              <td class="no-border" valign="top"   class="text6"></td>
                            </tr>

                            <tr class="no-border" height="10">
                              <td class="no-border" valign="top"  class="text6"></td>
                              <td class="no-border" valign="top"  class="text7"></td>
                              <td class="no-border" valign="top"   class="text7"></td>
                            </tr>

                            <tr class="no-border" height="10">
                              <td class="no-border" valign="top"  class="text6">
                                Extra Hrs :  3.25&nbsp;
                              </td>
                              <td class="no-border" valign="top"  class="text7">
                                    340.00&nbsp;    
                              </td>
                              <td class="no-border" valign="top"   class="text7">
                                   1105.00&nbsp;    
                              </td>
                            </tr>

                            <tr class="no-border" height="10" style="border-bottom:hidden;">
                              <td class="no-border" valign="top"  class="text6">
                                  Parking/Toll/Fastag/RFID &nbsp;
                                  <br />
                              </td>
                              <td class="no-border" valign="top"  class="text6" >
                                  &nbsp;</td>
                              <td class="no-border" valign="top"   class="text7">
                                   105.00&nbsp;<br />
                              </td>
                            </tr>

                            <tr class="no-border" height="50">
                              <td class="no-border" valign="top"  class="text6"></td>
                              <td class="no-border" valign="top"  class="text6"></td>
                              <td class="no-border" valign="top"   class="text7"></td>
                            </tr>
                              
                            <tr class="no-border" height="50">
                              <td class="no-border" valign="top"  class="text6"></td>
                              <td class="no-border" valign="top"  class="text7"></td>
                              <td class="no-border" valign="top"   class="text7"></td>
                            </tr>

                            <tr class="no-border" height="50">
                              <td class="no-border" valign="top"  class="text6"></td>
                              <td class="no-border" valign="top"  class="text6"></td>
                              <td class="no-border" valign="top"   class="text7"></td>
                            </tr>

                            <tr class="no-border" height="50">
                              <td class="no-border" valign="top"  class="text6"></td>
                              <td class="no-border" valign="top"  class="text6"></td>
                              <td class="no-border" valign="top"   class="text7"></td>
                            </tr>

                            <tr class="no-border" height="70">
                              <td class="no-border" valign="top"  class="text6"></td>
                              <td class="no-border" valign="top"  class="text6"></td>
                              <td class="no-border" valign="top"   class="text7"></td>
                            </tr>

                            <tr class="no-border" height="70">
                              <td class="no-border" valign="top"  class="text7">  
                              &nbsp;</td>
                              <td class="no-border" valign="top"  class="text6"></td>
                              <td class="no-border" valign="top"   class="text7">
                                &nbsp;</td>
                            </tr>

                            <tr class="no-border" height="10">
                              <td class="no-border" valign="top"  class="text6">
                                <br />
                                SAC : {{dataSource?.sacNumber}}
                              </td>
                              <td class="no-border" valign="top"  class="text6">
                                  &nbsp;</td>
                              <td class="no-border" valign="top"   class="text6"></td>
                            </tr>

                            <tr class="no-border" height="10">
                              <td class="no-border" valign="top"  class="text7">Sub Total&nbsp; </td>
                              <td class="no-border" valign="top"  class="text6">
                                  &nbsp;</td>
                              <td class="no-border" valign="top"   class="text7">
                                 5010.00 &nbsp;</td>
                            </tr>

                            <tr class="no-border" height="50">
                              <td class="no-border" valign="top"  class="text6"></td>
                              <td class="no-border" valign="top"  class="text6">
                                  &nbsp;</td>
                              <td class="no-border" valign="top"   class="text7"></td>
                            </tr>

                            <tr class="no-border" height="10">
                              <td class="no-border" class="text6">
                                <p class="text6" style="text-align:right"> 
                                          <!-- IGST @5.00%  <br> SGST  <br> CGST -->
                                          IGST @{{dataSource?.invoiceGSTModel?.igstPercentage}}  
                                          <br> SGST  @{{dataSource?.invoiceGSTModel?.sgstPercentage}} 
                                          <br> CGST  @{{dataSource?.invoiceGSTModel?.cgstPercentage}} 
                                </p>
                              </td>
                              <td class="no-border" class="text6"></td>
                              <td class="no-border" class="text7">
                                  250.50&nbsp;
                                <br /><br /><br />
                              </td>
                            </tr>

                            <tr class="no-border" height="50">
                              <td class="no-border" valign="top"  class="text6"></td>
                              <td class="no-border" valign="top"  class="text6"></td>
                              <td class="no-border" valign="top"  class="text6">&nbsp;</td>
                            </tr>
                            
                            <tr class="no-border" height="10" class="text6">
                              <td class="no-border" valign="top"  class="text6">
                                  &nbsp;</td>
                              <td class="no-border" valign="top"  class="text6">
                                  &nbsp;</td>
                              <td class="no-border" valign="top"  class="text7">&nbsp;5260.50</td>
                            </tr>

                            <tr class="text5">
                              <td valign="top">Less Advance<br />
                                Total Rs.<br />
                                Rupees Five Thousand Two Hundred Sixty  Only
                                <br /></td>
                              <td>&nbsp;</td>
                              <td valign="top">
                                0.00
                                <br />
                                5261.00&nbsp;</td>
                            </tr>
                          </table>
                          </td>
                        </tr>

                    <tr class="no-border" align="center">
                      <td><p><strong>VEH. Type</strong></p>
                          <p>{{vehicleName}}</p></td>
                    </tr>
                    <tr class="no-border" align="center">
                      <td><p><strong>Trip Date</strong><br />07/01/2024<br />
                        <strong>to</strong><br />07/01/2024 </p>
                      </td>
                    </tr>
                    <tr align="center">
                      <td>
                        <br />0<br />
                      </td>
                    </tr>
                    <tr align="center">
                      <td><br />.</td>
                    </tr>
                    <tr align="center">
                      <td>
                        <br />.</td>
                    </tr>
                    <tr align="center">
                      <td>
                      <br />.
                    </td>
                    </tr>
                    <tr align="center">
                      <td>
                        <br />.
                      </td>
                    </tr>
                      </table>

                      <table width="900" border="0" cellpadding="2" cellspacing="0" class="text1">
                        <tr>
                          <td width="330" valign="top">E &amp; O. E. <br />
                            <strong><u>Terms &amp; Conditions</u> </strong><br />
                              <span class="auto-style7">Our Responsibility of the Signed duty slip rests till we handover the same to you with the bill.<br />
                              Interest @ 24% will be charged if payment is not received as per payment terms settled. <br />
                            
                            No Objection pertaining to this invoice would be entertained thereafter. <br />
                              Sent the RTGS/NEFT Payment to: KOTAK MAHINDRA BANK / A/C NO: 3911291161, IFSC CODE: KKBK0004620, PAN NO: AABCE1357N, TINNO: 07860310884, CIN NO: U74999DL1996PTC076375  
                              <br />
                              Electronic Mode of Payments as per Section 269SU of Income Tax Act, 1961: https://www.ecorentacar.com/pay-online/</span></td>
                          <td width="226" align="left" valign="top"><p style="font-size:smaller"><strong>ECOS (I) MOBILITY &amp; HOSPITALITY PVT. LTD.</strong></p>
                          
                              <p class="text5">
                              <img src="" width="80px"  height="80px" />
                              <br />
                            Authorized Signatory
                            </p></td>
                        </tr>
                      </table>
                           
                    </td>
                  </tr>
                </table>

              </td>
            </tr>
          </table>
      </div>
      <br />
      <div style="text-align: center">
        <button type="button" (click)="print()" color="primary" mat-raised-button id="print">
          Print
        </button>
      </div>
    </mat-dialog-content>
  <!-- </mat-card-content>
</mat-card> -->
