<!-- <div class="addContainer">
    <div class="modalHeader">
        <div class="editRowModal">
            <div class="modalHeader clearfix">
                
                <div class="modal-about">
                   
                </div>
            </div>
        </div>
        <button mat-icon-button (click)="dialogRef.close()" aria-label="Close dialog">
            <mat-icon>close</mat-icon>
        </button>
    </div>
    <div mat-dialog-content style="width: 600px;">
            <div *ngFor="let data of advanceTable;index as i">  
                <br>  
                    <h5>
                        <span style="float: left;">
                            Address {{i+1}} 
                        </span>
                    
                        <a style="cursor: pointer;color: #007bff;padding-left: 10px;" (click)="select(i)">
                            Select
                        </a>
                   </h5>
                   
                    <mat-card style="width: 550px;">
                        <div class="row" style="font-size: medium;">
                            {{data.address}}({{data.landmark}}) + {{data.addressStringForMap}} {{data.city}} {{data.state}} {{data.country}} 
                        </div>
                    </mat-card>
            </div>
    </div>
</div>   -->

<div class="modalHeader">
    <div class="editRowModal">
        <div class="modalHeader clearfix">
            <!-- <img [src]='advanceTable.img' alt="avatar"> -->
            <div class="modal-about">
                <div class="font-weight-bold p-t-5 font-17">
                </div>
            </div>
        </div>
    </div>
    <button mat-icon-button (click)="dialogRef.close()" aria-label="Close dialog">
        <mat-icon>close</mat-icon>
    </button>
</div>

<div class="row">
    <div style="padding-bottom: 20px;padding-left: 20px;width: 80%;">
        <h5>Saved Address For &nbsp;<b>{{passenger}}</b> </h5>
    </div>
    <div style="float: right;">
        <a style="cursor: pointer;color: #007bff;" (click)="openCPAddress()">Add Address</a>
    </div>
</div>
<div *ngIf="!dataSource" class="alert alert-primary" style="background-color:#E8E8E8; text-align: center;width: 100%;">
    No Saved Address..Please add a new address
</div>
<div style="max-height: 400px; overflow-y: auto;">
    <div *ngFor="let data of dataSource;index as i">
        <mat-card class="example-card">
            <mat-card-header>
                <span style="float: left;">
                    <h5 style="color: white;margin-left:-25px !important">Address {{i+1}}-{{data.addressType}}-{{data.addressName}}</h5>
                </span>

                <a style="cursor: pointer;color: #f7f8fa;padding-left: 65%;float: right;" (click)="select(i)">
                    Select
                </a>
            </mat-card-header>
            <mat-card-content>
                <div class="row" style="font-size: medium;">
                    {{data.address}}({{data.landmark}}) + {{data.addressStringForMap}}, {{data.city}} {{data.state}}
                    {{data.country}}
                </div>
            </mat-card-content>
        </mat-card>
    </div>
</div>