.stop-location-panel
  z-index: 2000 !important

::ng-deep
  .stop-location-panel
    z-index: 2000 !important

  .mat-autocomplete-panel
    z-index: 2000 !important

  .cdk-overlay-pane
    z-index: 2000 !important

mat-dialog-container
  z-index: 1000




