<div class="addContainer">
    <div class="modalHeader">
        <div class="editRowModal">
            <div class="modalHeader clearfix">
                <!-- <img [src]='advanceTable.img' alt="avatar"> -->
                <div class="modal-about">
                    <div class="font-weight-bold p-t-5 font-17">
                        {{dialogTitle}} - {{DutySlipID}}</div>
                    <div *ngIf="isSaveAllowed">
                        <span style="color:rgb(150, 4, 4);margin-bottom: 10px;font-style: italic;font-size: 12px;">({{goodForBillingStatusAndCancellationStatus}} !!!!!)</span>
                    </div>
                </div>
            </div>
        </div>
        <button mat-icon-button (click)="dialogRef.close()" aria-label="Close dialog">
      <mat-icon>close</mat-icon>
    </button>
    </div>
    <div mat-dialog-content *ngIf="action==='add' || action==='edit'">
        <form class="register-form m-4" [formGroup]="advanceTableForm" (ngSubmit)="submit">
            <div class="row">
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2" >
                    <mat-form-field class="example-full-width" appearance="outline" floatLabel="always">
                        <mat-label>Toll Parking Type</mat-label>
                        <mat-select required #tollParkingTypeVal [class.is-invalid]="tollParkingTypeVal.invalid && tollParkingTypeVal.touched" formControlName="tollParkingTypeID">
                            <mat-option [value]="TollParkingType.tollParkingTypeID" *ngFor="let TollParkingType of TollParkingTypeList">{{TollParkingType.tollParkingType}}</mat-option>
                        </mat-select>
                        <mat-error *ngIf="advanceTableForm.get('tollParkingTypeID').hasError('required')">
                            Please select a Toll Parking Type
                        </mat-error>
                    </mat-form-field>
                </div> 
                
                
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width" appearance="outline" floatLabel="always">
                        <mat-label>Amount</mat-label>
                        <input required matInput formControlName="tollParkingAmount">

                        <mat-error *ngIf="advanceTableForm.get('tollParkingAmount').hasError('required')">
                            Amount is required
                        </mat-error>
                    </mat-form-field>
                </div>
            </div>

            <div class="row">
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width" appearance="outline" floatLabel="always">
                        <mat-label>Payment Type</mat-label>
                        <mat-select formControlName="paymentType" required>
                            <mat-option value="Driver">Driver</mat-option>
                            <mat-option value="Eco">Eco</mat-option>
                        </mat-select>

                        <mat-error *ngIf="advanceTableForm.get('paymentType').hasError('required')">
                            Payment Type is required
                        </mat-error>
                    </mat-form-field>
                </div>

                <div class=" col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                    <mat-label style="margin-left: 20px;">
                        Image
                    </mat-label>
                    <br>
                    <a href="{{ ImagePath }}" target="_blank" *ngIf="ImagePath">
                        <img [src]="ImagePath" class="table " style="height: 80px; width: auto;">
                    </a>
    
                    <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                        <app-myupload (onUploadFinished)="uploadFinished($event)"></app-myupload>
                    </div>
                </div> 
            </div>

            <!-- <div class="row">
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width" appearance="outline" floatLabel="always">
                        <mat-label>Approval Status</mat-label>
                        <input  readonly matInput formControlName="approvalStatus">

                        <mat-error *ngIf="advanceTableForm.get('approvalStatus').hasError('required')">
                            Approval Status is required
                        </mat-error>
                    </mat-form-field>
                </div>

                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width" appearance="outline" floatLabel="always">
                        <mat-label>Approved By</mat-label>
                        <input readonly matInput formControlName="approvedBy">

                        <mat-error *ngIf="advanceTableForm.get('approvedByID').hasError('required')">
                            Approved By is required
                        </mat-error>
                    </mat-form-field>
                </div>
            </div>

            <div class="row">
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width" appearance="outline" floatLabel="always">
                        <mat-label>Approval Remark</mat-label>
                        <input readonly matInput formControlName="approvalRemark">

                        
                    </mat-form-field>
                </div>

                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width" appearance="outline" floatLabel="always">
                        <mat-label>Approval Date</mat-label>
                        <input readonly required matInput [matDatepicker]="startDate" formControlName="approvalDate">
                        <mat-datepicker-toggle matSuffix [for]="startDate"></mat-datepicker-toggle>
                        <mat-datepicker [disabled]="true" #startDate></mat-datepicker>
                        <mat-error *ngIf="advanceTableForm.get('approvalDate').hasError('required')">
                            Approval Date is required
                        </mat-error>
                    </mat-form-field>
                </div>
            </div> -->
          
            <div class="row">
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width" appearance="outline" floatLabel="always">
                        <mat-label>Activation Status</mat-label>
                        <mat-select formControlName="activationStatus">
                            <mat-option [value]=true>Active</mat-option>
                            <mat-option [value]=false>Deleted</mat-option>
                        </mat-select>

                        <mat-error *ngIf="advanceTableForm.get('activationStatus').hasError('required')">
                            Activation Status is required
                        </mat-error>
                    </mat-form-field>
                </div>
            </div>
            <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">                    
                    <div class="example-button-row">
                        <button mat-raised-button color="primary" [type]="submit" [disabled]="!advanceTableForm.valid || isSaveAllowed"  (click)="confirmAdd()">Save</button>
                        <button *ngIf="action==='add'" mat-raised-button color="warn" (click)="onNoClick()"
                        tabindex="-1">Reset</button>
                    <button *ngIf="action==='edit'" mat-raised-button color="warn" (click)="onNoClick()"
                        tabindex="-1">Cancel</button>
                    </div>
                </div>
            </div>
        </form>
    </div>

    <div mat-dialog-content *ngIf="action==='approval'">
        <form class="register-form m-4" [formGroup]="advanceTableForm" (ngSubmit)="submit">
            <div class="row">
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width" appearance="outline" floatLabel="always">
                        <mat-label>Toll Parking Type</mat-label>
                        <input readonly matInput formControlName="tollParkingType">
                    </mat-form-field>
                </div> 
                
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width" appearance="outline" floatLabel="always">
                        <mat-label>Amount</mat-label>
                        <input readonly matInput formControlName="tollParkingAmount">
                    </mat-form-field>
                </div>
            </div>

            <div class="row">
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width" appearance="outline" floatLabel="always">
                        <mat-label>Payment Type</mat-label>
                        <input readonly matInput formControlName="paymentType">
                    </mat-form-field>
                </div>

                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                    <span>
                        <b>
                            
                        </b>
                    </span>
                    <!-- <br /> -->
                    
                    <span *ngIf="advanceTable"><a href="{{advanceTable.tollParkingImage}}" target="_blank" style="cursor: pointer;">
                        <img [src]="advanceTable.tollParkingImage" height="50px" alt="Image"></a></span>
                        <!-- <span>View</span> -->
                </div>
            </div>

            <div class="row">
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width" appearance="outline" floatLabel="always">
                        <mat-label>Approval Status</mat-label>
                        <mat-select required #approvalStatusVal [class.is-invalid]="approvalStatusVal.invalid && approvalStatusVal.touched" formControlName="approvalStatus">
                            <mat-option value="Approved">Approved</mat-option>
                            <mat-option value="Rejected">Rejected</mat-option>
                        </mat-select>

                        <mat-error>
                            Approval Status is required
                        </mat-error>
                    </mat-form-field>
                </div>

                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width" appearance="outline" floatLabel="always">
                        <mat-label>Approved By</mat-label>
                        <input readonly matInput formControlName="approvedBy">

                        <mat-error *ngIf="advanceTableForm.get('approvedByID').hasError('required')">
                            Approved By is required
                        </mat-error>
                    </mat-form-field>
                </div>
            </div>

            <div class="row">
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width" appearance="outline" floatLabel="always">
                        <mat-label>Approval Remark</mat-label>
                        <input required matInput formControlName="approvalRemark">

                        <mat-error *ngIf="advanceTableForm.get('approvalRemark').hasError('required')">
                            Approval Remark is required
                        </mat-error>
                    </mat-form-field>
                </div>

                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width" appearance="outline" floatLabel="always">
                        <mat-label>Approval Date</mat-label>
                        <input readonly required matInput [matDatepicker]="startDate" formControlName="approvalDate">
                        <mat-datepicker-toggle matSuffix [for]="startDate"></mat-datepicker-toggle>
                        <mat-datepicker [disabled]="true" #startDate></mat-datepicker>
                        <!-- <mat-error *ngIf="advanceTableForm.get('approvalDate').hasError('required')">
                            Approval Date is required
                        </mat-error> -->
                    </mat-form-field>
                </div>
            </div>
          
            <div class="row">
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width" appearance="outline" floatLabel="always">
                        <mat-label>Activation Status</mat-label>
                        <mat-select formControlName="activationStatus">
                            <mat-option [value]=true>Active</mat-option>
                            <mat-option [value]=false>Deleted</mat-option>
                        </mat-select>

                        <mat-error *ngIf="advanceTableForm.get('activationStatus').hasError('required')">
                            Activation Status is required
                        </mat-error>
                    </mat-form-field>
                </div>
            </div>
            <div class="row">
                <!-- <span style="color:red;margin-bottom: 10px;">{{goodForBillingStatusAndCancellationStatus}}</span> -->
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
                    <div class="example-button-row">
                        <button mat-raised-button color="primary" *ngIf="saveDisabled" [type]="submit" [disabled]="!advanceTableForm.valid || isSaveAllowed"  (click)="confirmAdd()">Save</button>
                        <mat-spinner *ngIf="!saveDisabled" diameter="30"></mat-spinner>
                        <button mat-raised-button color="warn" (click)="onNoClick()"
                         tabindex="-1">Cancel</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>    