<div class="modalHeader">
  <div class="editRowModal">
    <div class="modalHeader clearfix">
      <div class="modal-about">
        <div class="font-weight-bold p-t-5 font-17">
          <span>Billing History</span>
        </div>
      </div>
    </div>
  </div>
  <button mat-icon-button (click)="dialogRef.close()" aria-label="Close dialog">
    <mat-icon class="small-close-icon">close</mat-icon>
  </button>
</div>
<mat-card *ngFor="let dataSourceDetails of dataSource" style="margin-bottom: 16px;">
  <mat-card-content *ngIf="dataSource">
    <mat-dialog-content class="of-hidden">
      
        <div class="row">
          <div class="col-xl-4 col-lg-6 col-md-12 col-sm-12 mb-2">
            <span class="TDValueBold">Employee Name</span> <br />
            <span class="TDValue">
              {{ dataSourceDetails.employeeName || 'N/A' }}</span
            >
          </div>
          <div class="col-xl-4 col-lg-6 col-md-12 col-sm-12 mb-2">
            <span class="TDValueBold">Billing Date</span> <br />
            <span class="TDValue">
              {{ dataSourceDetails.billingDate | date:'dd/MM/YYYY' }}</span
            >
          </div>
          <div class="col-xl-4 col-lg-6 col-md-12 col-sm-12 mb-2">
            <span class="TDValueBold">Billing Time</span> <br />
            <span class="TDValue">
              {{ dataSourceDetails.billingTime | date : 'shortTime' }}</span
            >
          </div>
        </div>
        <div class="row">
          <div class="col-xl-4 col-lg-6 col-md-12 col-sm-12 mb-2">
            <span class="TDValueBold">Action Taken</span> <br />
            <span class="TDValue">
              {{ dataSourceDetails.actionTaken || 'N/A' }}</span
            >
          </div>
          <div class="col-xl-4 col-lg-6 col-md-12 col-sm-12 mb-2">
            <span class="TDValueBold">Action Details</span> <br />
            <span class="TDValue">
              {{ dataSourceDetails.actionDetails || 'N/A' }}</span
            >
          </div>
          
        </div>
      
    </mat-dialog-content>
  </mat-card-content>
</mat-card>
<br>
<mat-progress-bar mode="indeterminate" *ngIf="isLoading"></mat-progress-bar>
<mat-paginator #paginator [length]="totalRecord" [pageSize]="recordsPerPage" (page)="onChangedPage($event)"
  showFirstLastButtons></mat-paginator>
