<div class="addContainer">
    <div class="modalHeader">
        <div class="editRowModal">
            <div class="modalHeader clearfix">
                <!-- <img [src]='advanceTable.img' alt="avatar"> -->
                <div class="modal-about" style="text-align: center;">
                    <div class="font-weight-bold p-t-5 font-17">
                        {{dialogTitle}}
                    </div>
                    <div class=" p-t-5 font-12">
                        Customer Contract <b>{{customerContractName}}</b> Applicable From <b>{{applicableFrom | date:'dd-MM-yyyy'}}</b> to <b>{{applicableTo | date:'dd-MM-yyyy'}}</b>
                    </div>
                    <div class=" p-t-5 font-12">
                        Rate Card 
                    </div>
                </div>
            </div>
        </div>
        <button mat-icon-button (click)="dialogRef.close()" aria-label="Close dialog">
      <mat-icon>close</mat-icon>
    </button>
    </div>
    <div mat-dialog-content>
        <form class="register-form m-4" [formGroup]="advanceTableForm" (ngSubmit)="submit">

            <div class="row">
                <!-- <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width" appearance="outline" floatLabel="always">
                        <mat-label>Vehicle Category</mat-label>
                        <mat-select required #vehicleCatVal [class.is-invalid]="vehicleCatVal.invalid && vehicleCatVal.touched" formControlName="customerContractCarCategoryID">
                            <mat-option [value]="VehicleCategory.customerContractCarCategoryID" *ngFor="let VehicleCategory of VehicleCategoryList">{{VehicleCategory.customerContractCarCategory}}</mat-option>
                        </mat-select>
                        <mat-error>
                            Please select a Vehicle Category
                        </mat-error>
                    </mat-form-field>
                </div>

                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width" appearance="outline" floatLabel="always">
                        <mat-label>City Tier</mat-label>
                        <mat-select required #citytierVal [class.is-invalid]="citytierVal.invalid && citytierVal.touched" formControlName="customerContractCityTiersID">
                            <mat-option [value]="CityTiers.customerContractCityTiersID" *ngFor="let CityTiers of CityTierList">{{CityTiers.customerContractCityTier}}</mat-option>
                        </mat-select>
                        <mat-error>
                            Please select a City Tier
                        </mat-error>
                    </mat-form-field>
                </div> -->
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">

                    <mat-form-field class="example-full-width" appearance="outline" floatLabel="always">
                        <mat-label>Vehicle Category</mat-label>
                        <input required type="text" matInput formControlName="vehicleCategory" [matAutocomplete]="auto">
                        <mat-autocomplete #auto="matAutocomplete" (optionSelected)="OnVehicleCategorySelect($event.option.value)">
                          <mat-option *ngFor="let option of filteredCategoryOptions | async" 
                          [value]="option.customerContractCarCategory" (click)="getTitles(option.customerContractCarCategoryID)">
                            {{option.customerContractCarCategory}}
                          </mat-option>
                        </mat-autocomplete>
                        <mat-error *ngIf="advanceTableForm.get('vehicleCategory').hasError('invalidVCSelection')">
                           Please Select Vehicle Category
                        </mat-error>
                      </mat-form-field>

                </div>
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">

                    <mat-form-field class="example-full-width" appearance="outline" floatLabel="always">
                        <mat-label>City Tier</mat-label>
                        <input required type="text" matInput formControlName="cityTier" [matAutocomplete]="auto1">
                        <mat-autocomplete #auto1="matAutocomplete" (optionSelected)="OnCityTierSelect($event.option.value)">
                          <mat-option *ngFor="let option of filteredTierOptions | async" 
                          [value]="option.customerContractCityTier" (click)="getTierTitles(option.customerContractCityTiersID)">
                            {{option.customerContractCityTier}}
                          </mat-option>
                        </mat-autocomplete>
                        <mat-error *ngIf="advanceTableForm.get('cityTier').hasError('invalidCTSelection')">
                           Please Select City Tier
                        </mat-error>
                      </mat-form-field>

                </div>
            </div>

            <div class="row">
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width" appearance="outline" floatLabel="always">
                        <mat-label>Package</mat-label>
                        <input required type="text" matInput formControlName="package" [matAutocomplete]="auto2">
                        <mat-autocomplete #auto2="matAutocomplete" (optionSelected)="OnPackageSelect($event.option.value)">
                          <mat-option *ngFor="let option of filteredPackageOptions | async" 
                          [value]="option.package" (click)="getPackage(option.packageID)">
                            {{option.package}}
                          </mat-option>
                        </mat-autocomplete>
                        <mat-error *ngIf="advanceTableForm.get('package').hasError('invalidPackageSelection')">
                           Please Select Package
                        </mat-error>
                      </mat-form-field>

                </div>

                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width" appearance="outline"  floatLabel="always">
                        <mat-label>Bill From/To</mat-label>
                        <mat-select required #billfromtoVal [class.is-invalid]="billfromtoVal.invalid && billfromtoVal.touched" formControlName="billFromTo">
                            <mat-option value="Garage">Garage</mat-option>
                            <mat-option value="Pickup">Pickup</mat-option>
                        </mat-select>

                        <mat-error>
                            Bill From/To is required
                        </mat-error>
                    </mat-form-field>
                </div> 
            </div>

            <div class="row">
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width" appearance="outline"  floatLabel="always">
                        <mat-label>Minimum KMs Per Day</mat-label>
                        <input matInput (keypress)="numberOnly($event)" formControlName="minimumKmsPerDay" required>
                        <mat-error *ngIf="advanceTableForm.get('minimumKmsPerDay').hasError('required')">
                            Minimum KMs Per Day is required
                        </mat-error>
                    </mat-form-field>
                </div>
            </div>

            <div class="row">
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width" appearance="outline"  floatLabel="always">
                        <mat-label>Rate Per KM</mat-label>
                        <input matInput (keypress)="keyPressNumbersDecimal($event)" formControlName="ratePerDay" required>
                        <mat-error *ngIf="advanceTableForm.get('ratePerDay').hasError('required')">
                            Rate Per Day is required
                        </mat-error>
                    </mat-form-field>
                </div>
                
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width" appearance="outline"  floatLabel="always">
                        <mat-label>Extra KMs Rate</mat-label>
                        <input matInput (keypress)="keyPressNumbersDecimal($event)" formControlName="extraKmsRate" required>
                        <mat-error *ngIf="advanceTableForm.get('extraKmsRate').hasError('required')">
                            Extra KMs Rate is required
                        </mat-error>
                    </mat-form-field>
                </div>
                <!-- <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width" appearance="outline"  floatLabel="always">
                        <mat-label>Rate Per Day For Supplier</mat-label>
                        <input matInput (keypress)="keyPressNumbersDecimal($event)" formControlName="ratePerDayForSupplier" required>
                        <mat-error *ngIf="advanceTableForm.get('ratePerDayForSupplier').hasError('required')">
                            Rate Per Day For Supplier is required
                        </mat-error>
                    </mat-form-field>
                </div> -->
            </div>

            <!-- <div class="row">  
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width" appearance="outline"  floatLabel="always">
                        <mat-label>Extra KMs Rate For Supplier</mat-label>
                        <input matInput (keypress)="keyPressNumbersDecimal($event)" formControlName="extraKmsRateForSupplier" required>
                        <mat-error *ngIf="advanceTableForm.get('extraKmsRateForSupplier').hasError('required')">
                            Extra KMs Rate For Supplier is required
                        </mat-error>
                    </mat-form-field>
                </div>
            </div> -->

            <div class="row">
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width" appearance="outline"  floatLabel="always">
                        <mat-label>Next Day Charging</mat-label>
                        <mat-select required #ndcVal [class.is-invalid]="ndcVal.invalid && ndcVal.touched" 
                        formControlName="nextDayCharging">
                            <mat-option value="Calender Basis">Calender Basis</mat-option>
                            <mat-option value="Mintues Basis">Mintues Basis</mat-option>
                        </mat-select>

                        <mat-error>
                            Next Day Charging is required
                        </mat-error>
                    </mat-form-field>
                </div> 

                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width" appearance="outline"  floatLabel="always">
                        <mat-label>Grace Minutes For Next Day Charge</mat-label>
                        <input matInput (keypress)="numberOnly($event)" formControlName="graceMinutesForNextDayCharges" required>
                        <mat-error *ngIf="advanceTableForm.get('graceMinutesForNextDayCharges').hasError('required')">
                            Grace Minutes For Next Day Charge is required
                        </mat-error>
                    </mat-form-field>
                </div>
            </div>

            <div class="row">
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width" appearance="outline"  floatLabel="always">
                        <mat-label>Driver Allowance</mat-label>
                        <input matInput (keypress)="keyPressNumbersDecimal($event)" formControlName="driverAllowance" required>
                        <mat-error *ngIf="advanceTableForm.get('driverAllowance').hasError('required')">
                            Driver Allowance is required
                        </mat-error>
                    </mat-form-field>
                </div>

                <!-- <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width" appearance="outline"  floatLabel="always">
                        <mat-label>Driver Allowance For Supplier</mat-label>
                        <input matInput (keypress)="keyPressNumbersDecimal($event)" formControlName="driverAllowanceForSupplier" required>
                        <mat-error *ngIf="advanceTableForm.get('driverAllowanceForSupplier').hasError('required')">
                            Driver Allowance For Supplier is required
                        </mat-error>
                    </mat-form-field>
                </div> -->
            </div>       

            <!-- <div class="row">
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width" appearance="outline"  floatLabel="always">
                        <mat-label>Night Chargeable</mat-label>
                        <mat-select required #nightVal [class.is-invalid]="nightVal.invalid && nightVal.touched" formControlName="nightChargeable">
                            <mat-option [value]=true>Yes</mat-option>
                            <mat-option [value]=false>No</mat-option>
                        </mat-select>

                        <mat-error>
                            Night Chargeable is required
                        </mat-error>
                    </mat-form-field>
                </div>
            </div> -->
            <div class="row">
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width" appearance="outline" floatLabel="always">
                        <mat-label>Night Chargeable</mat-label>
                        <mat-select 
                            required 
                            #nightVal 
                            [class.is-invalid]="nightVal.invalid && nightVal.touched" 
                            formControlName="nightChargeable"
                            (selectionChange)="onNightChargeableChange($event.value)">
                            <mat-option [value]="true">Yes</mat-option>
                            <mat-option [value]="false">No</mat-option>
                        </mat-select>
            
                        <mat-error>Night Chargeable is required</mat-error>
                    </mat-form-field>
                </div>
                
            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 mb-2">
                                <mat-form-field class="example-full-width" appearance="outline" floatLabel="always">
                                    <mat-label>Night Charges Based On</mat-label>
                                    <mat-select required #NightChargesBasedOnVal
                                        [class.is-invalid]="NightChargesBasedOnVal.invalid && NightChargesBasedOnVal.touched"
                                        formControlName="nightChargesBasedOn">
                                        <mat-option value="Garage">Garage</mat-option>
                                        <mat-option value="Pickup">Pickup</mat-option>
                                    </mat-select>
                                    <mat-error>Night Charges Based On is required</mat-error>
                                </mat-form-field>
                            </div>
            </div>  
            
            <div class="row">
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width" appearance="outline"  floatLabel="always">
                        <mat-label>Night Charges</mat-label>
                        <input matInput (keypress)="keyPressNumbersDecimal($event)" formControlName="nightCharge" required>
                        <mat-error *ngIf="advanceTableForm.get('nightCharge').hasError('required')">
                            Night Charges is required
                        </mat-error>
                    </mat-form-field>
                </div>

                <!-- <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width" appearance="outline"  floatLabel="always">
                        <mat-label>Night Charges For Supplier</mat-label>
                        <input matInput (keypress)="keyPressNumbersDecimal($event)" formControlName="nightChargeForSupplier" required>
                        <mat-error *ngIf="advanceTableForm.get('nightChargeForSupplier').hasError('required')">
                            Night Charges For Supplier is required
                        </mat-error>
                    </mat-form-field>
                </div> -->
            </div>

            <div class="row">
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width" appearance="outline" floatLabel="always">
                        <mat-label>Night Charge Start Time</mat-label>
                        <input required matInput [owlDateTimeTrigger]="time1" [owlDateTime]="time1" formControlName="nightChargesStartTime" (input)="onTimeInput($event)">
                        <button mat-icon-button matSuffix type="button" [owlDateTimeTrigger]="time1" class="date-icon" aria-label="Open time picker"><mat-icon>schedule</mat-icon></button>
                        <owl-date-time [pickerType]="'timer'" #time1></owl-date-time>

                        <mat-error *ngIf="advanceTableForm.get('nightChargesStartTime').hasError('required')">
                            Night Charge Start Time is required
                        </mat-error>
                    </mat-form-field>
                </div>

                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width" appearance="outline" floatLabel="always">
                        <mat-label>Night Charge End Time</mat-label>
                        <input required matInput [owlDateTimeTrigger]="time2" [owlDateTime]="time2" formControlName="nightChargesEndTime" (input)="onEndTimeInput($event)">
                        <button mat-icon-button matSuffix type="button" [owlDateTimeTrigger]="time2" class="date-icon" aria-label="Open time picker"><mat-icon>schedule</mat-icon></button>
                        <owl-date-time [pickerType]="'timer'" #time2></owl-date-time>

                        <mat-error *ngIf="advanceTableForm.get('nightChargesEndTime').hasError('required')">
                            Night Charge End Time is required
                        </mat-error>
                    </mat-form-field>
                </div>
            </div>

            <div class="row">
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width" appearance="outline"  floatLabel="always">
                        <mat-label>Grace Minutes For Night Charge</mat-label>
                        <input matInput (keypress)="numberOnly($event)" formControlName="graceMinutesForNightCharge" required>
                        <mat-error *ngIf="advanceTableForm.get('graceMinutesForNightCharge').hasError('required')">
                            Grace Minutes For Night Charge is required
                        </mat-error>
                    </mat-form-field>
                </div>

                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width" appearance="outline"  floatLabel="always">
                        <mat-label>Grace Minutes Night Charge Amount</mat-label>
                        <input matInput (keypress)="keyPressNumbersDecimal($event)" formControlName="graceMinutesNightChargeAmount" required>
                        <mat-error *ngIf="advanceTableForm.get('graceMinutesNightChargeAmount').hasError('required')">
                            Grace Minutes Night Charge Amount is required
                        </mat-error>
                    </mat-form-field>
                </div>
            </div>

            <div class="row">
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width" appearance="outline"  floatLabel="always">
                        <mat-label>Additional KM</mat-label>
                        <input matInput (keypress)="numberOnly($event)" formControlName="additionalKM" required>
                        <mat-error *ngIf="advanceTableForm.get('additionalKM').hasError('required')">
                            Additional KM is required
                        </mat-error>
                    </mat-form-field>
                </div>

                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width" appearance="outline"  floatLabel="always">
                        <mat-label>Additional Minutes</mat-label>
                        <input matInput (keypress)="numberOnly($event)" formControlName="additionalMinutes" required>
                        <mat-error *ngIf="advanceTableForm.get('additionalMinutes').hasError('required')">
                            Additional Minutes is required
                        </mat-error>
                    </mat-form-field>
                </div>
            </div>

            <div class="row">
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width" appearance="outline"  floatLabel="always">
                        <mat-label>Toll Chargeable</mat-label>
                        <mat-select required #tollVal [class.is-invalid]="tollVal.invalid && tollVal.touched" formControlName="tollChargeable">
                            <mat-option [value]=true>Yes</mat-option>
                            <mat-option [value]=false>No</mat-option>
                        </mat-select>

                        <mat-error>
                            Toll Chargeable is required
                        </mat-error>
                    </mat-form-field>
                </div>

                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width" appearance="outline"  floatLabel="always">
                        <mat-label>Parking Chargeable</mat-label>
                        <mat-select required #parkingVal [class.is-invalid]="parkingVal.invalid && parkingVal.touched" formControlName="parkingChargeable">
                            <mat-option [value]=true>Yes</mat-option>
                            <mat-option [value]=false>No</mat-option>
                        </mat-select>

                        <mat-error>
                            Parking Chargeable is required
                        </mat-error>
                    </mat-form-field>
                </div>
            </div>  
            
            <div class="row">
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width" appearance="outline"  floatLabel="always">
                        <mat-label>Inter State Tax Chargeable</mat-label>
                        <mat-select required #interstateVal [class.is-invalid]="interstateVal.invalid && interstateVal.touched" formControlName="interStateChargeable">
                            <mat-option [value]=true>Yes</mat-option>
                            <mat-option [value]=false>No</mat-option>
                        </mat-select>

                        <mat-error>
                            Inter State Tax Chargeable is required
                        </mat-error>
                    </mat-form-field>
                </div>

                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width" appearance="outline"  floatLabel="always">
                        <mat-label>Activation Status</mat-label>
                        <mat-select formControlName="activationStatus">
                            <mat-option [value]=true>Active</mat-option>
                            <mat-option [value]=false>Deleted</mat-option>
                        </mat-select>

                        <mat-error *ngIf="advanceTableForm.get('activationStatus').hasError('required')">
                            Activation Status is required
                        </mat-error>
                    </mat-form-field>
                </div> 
                
            </div>                    
            
            <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
                    <div class="example-button-row">
                        <button mat-raised-button *ngIf="saveDisabled" color="primary" [type]="submit" [disabled]="!advanceTableForm.valid"  (click)="confirmAdd()">Save</button>
                        <mat-spinner *ngIf="!saveDisabled" diameter="30"></mat-spinner>
                        <button *ngIf="action==='add'" mat-raised-button color="warn" (click)="reset()" tabindex="-1">Reset</button>
                        <button *ngIf="action==='edit'" mat-raised-button color="warn" (click)="onNoClick()" tabindex="-1">Cancel</button>
                    </div>
                </div>
            </div>
        </form>
  </div>
