<div class="addContainer">
    <div class="modalHeader">
        <h5> Customer Contract Name</h5>
        <button mat-icon-button (click)="dialog.close()" aria-label="Close dialog">
            <mat-icon style="right: 500%;">close</mat-icon>
        </button>
    </div>
    <div mat-dialog-content>
        <form class="register-form m-4">
            <div class="row">
                <!-- <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width" appearance="outline" floatLabel="always">
                        <mat-label>Customer Contract Name</mat-label>
                        <mat-select [(ngModel)]="customerContractID" name="customer">
                            <mat-option [value]="CustomerContract" 
                                *ngFor="let CustomerContract of CustomerList">{{CustomerContract.customerContractName}}</mat-option>
                        </mat-select>
                       
                    </mat-form-field>
                </div> -->

                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width" appearance="outline" floatLabel="always">
                        <mat-label>Customer Contract Name</mat-label>
                        <input type="text" matInput [matAutocomplete]="auto" [formControl]="search"
                            [(ngModel)]="customerContractID">
                        <mat-icon matSuffix style="cursor: pointer;">keyboard_arrow_down</mat-icon>
                        <mat-autocomplete #auto="matAutocomplete">
                            <mat-option *ngFor="let option of filteredOptions | async"
                                [value]="option.customerContractName" (click)="GetID(option)">
                                {{option.customerContractName}}
                            </mat-option>
                        </mat-autocomplete>
                    </mat-form-field>
                </div>
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
                    <div class="example-button-row">
                        <button mat-raised-button (click)="submit()" color="primary">OK</button>
                        <button mat-raised-button (click)="CloseDialog()">Cancel</button>
                    </div>
                </div>
            </div>
        </form>
    </div>