<h2 mat-dialog-title class="dialog-title">
    <mat-icon color="warn">error_outline</mat-icon>
    Validation Errors
</h2>

<mat-dialog-content>

    <!-- Validation Errors -->
    <div class="error-box">

        <ul>
            <li *ngFor="let error of data.errors">
                {{error}}
            </li>
        </ul>

    </div>

     <div class="row align-items-start" [formGroup]="advanceTableForm">
                            <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2" *ngIf="showBooker">
                                <!-- <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 mb-2"> -->
                                <mat-form-field class="example-full-width cp-booking-field" appearance="fill" floatLabel="auto" subscriptSizing="dynamic">
                                    <mat-label>Booker</mat-label>
                                    <input required type="text" matInput formControlName="booker"
                                        [matAutocomplete]="auto2">
                                    <mat-autocomplete #auto2="matAutocomplete"
                                        (optionSelected)="onBookerSelected($event.option.value)"
                                        panelWidth="custom-autocomplete-panel">                                      

                                        <mat-option *ngFor="let option of toArray(filteredBookerOptions | async)"
                                            [value]="option.customerPersonName + '-' + option.gender + '-' + option.importance + '-' + option.phone + '-' +  option.customerDepartment + '-' + option.customerDesignation + '-' + option.customerName"
                                            (click)="getBookerID(option.customerPersonID)">
                                            {{option.customerPersonName}} - {{option.gender}} -
                                            {{option.importance}} - {{option.phone}}  - {{option.customerDepartment}} -
                                            {{option.customerDesignation}} - {{option.customerName}}
                                        </mat-option>                                        
                                    </mat-autocomplete>
                                    <mat-error *ngIf="advanceTableForm.controls['booker'].hasError('primaryBookerInvalid')">
                                        Please Select Valid Booker
                                    </mat-error>
                                </mat-form-field>
                                <div class="link-actions-below-left">
                                    <a class="link-action" (click)="createNewBooker()">Create new Booker</a>
                                </div>
                                    
                                   
                            </div>
                            <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2"  *ngIf="showPassenger">
                                <mat-form-field class="example-full-width cp-booking-field" appearance="fill" floatLabel="auto" subscriptSizing="dynamic">
                                    <mat-label>Passenger (Gender, VIP Status)</mat-label>
                                    <input required type="text" matInput formControlName="passenger"
                                        [matAutocomplete]="auto3">
                                    <mat-autocomplete #auto3="matAutocomplete"
                                        (optionSelected)="onPassengerSelected($event.option.value)"
                                        panelWidth="custom-autocomplete-panel">
                                        <mat-option *ngFor="let option of toArray(filteredPassengerOptions | async)"
                                            [value]="option.customerPersonName + '-' + option.gender + '-' + option.importance + '-' + option.phone + '-' + option.customerName"
                                            (click)="getPassengerID(option.customerPersonID, option.customerPersonName)">
                                            {{option.customerPersonName}} - {{option.gender}} -
                                            {{option.importance}} - {{option.phone}} - {{option.customerName}}
                                        </mat-option>
                                    </mat-autocomplete>
                                </mat-form-field>
                                <div class="link-actions-below">
                                    <a class="link-action" (click)="personShort()">New Passenger</a>
                                    
                                </div>
                                <mat-error *ngIf="advanceTableForm.controls['passenger'].hasError('passengerInvalid')">
                                    Please Select Valid Passenger
                                </mat-error>
                               
                                                

                            </div>
                        </div>

</mat-dialog-content>

<mat-dialog-actions align="end">

    <button
        mat-raised-button
        color="warn"
        mat-dialog-close>

        Cancel

    </button>

    <button 
        mat-raised-button
        color="primary"
        (click)="save()" *ngIf="showPassenger || showBooker">

        Update Entity

    </button>

</mat-dialog-actions>