<div class="modalHeader">
  <div class="editRowModal">
    <div class="modalHeader clearfix">
      <div class="modal-about">
        <div class="font-weight-bold p-t-5 font-17">
          {{ dialogTitle }}
        </div>
      </div>
    </div>
  </div>
  <button mat-icon-button (click)="dialogRef.close()" aria-label="Close dialog">
    <mat-icon class="small-close-icon">close</mat-icon>
  </button>
</div>
<mat-card>
  <mat-card-content>
    <mat-dialog-content class="of-hidden">
      <div class="row" *ngIf="action==='Pickup'">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
          <span class="TDValueBold">Pickup Details</span> <br />
          <span class="TDValue"> {{advanceTable.pickupAddress}}</span> <br>
          <span class="TDValue">{{advanceTable.pickupAddressDetails}}</span><br>
           <span class="TDValue">{{advanceTable.pickupCity}},{{advanceTable.stateName}},{{advanceTable.country}}</span><br >
        </div>
      </div>
      <div class="row" *ngIf="action==='DropOff'">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
          <span class="TDValueBold">DropOff Details</span> <br />
          <span class="TDValue"> {{advanceTable.dropOffAddress}}</span> <br>
          <span class="TDValue">{{advanceTable.dropOffAddressDetails}}</span><br>
           <span class="TDValue">{{advanceTable.dropOffCity}},{{advanceTable.dropOffState}},{{advanceTable.dropOffCountry}}</span><br >
        </div>
      </div>
    </mat-dialog-content>
  </mat-card-content>
</mat-card>
