<div class="addContainer">
  <div class="modalHeader">
    <div class="editRowModal">
      <div class="modalHeader clearfix">
        <div class="modal-about">
          <div class="font-weight-bold p-t-5 font-17">{{dialogTitle}}</div>
        </div>
      </div>
    </div>
    <button mat-icon-button (click)="dialogRef.close()" aria-label="Close dialog">
      <mat-icon>close</mat-icon>
    </button>
  </div>

  <div mat-dialog-content>
    <form class="register-form m-4" [formGroup]="statusForm">
      <div class="row">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-3">
          <label class="field-label">Meeting Status</label>
          <mat-form-field class="example-full-width" appearance="outline">
            <mat-select formControlName="meetingStatus" required>
              <mat-option *ngFor="let item of meetingStatusList" [value]="item.value">{{item.label}}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>

      <div class="row">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-3">
          <label class="field-label">Meeting Status Remark</label>
          <mat-form-field class="example-full-width" appearance="outline">
            <textarea matInput formControlName="meetingStatusRemark" maxlength="500" rows="4"></textarea>
          </mat-form-field>
        </div>
      </div>

      <div class="row">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
          <div class="example-button-row">
            <button mat-raised-button color="primary" *ngIf="saveDisabled" [disabled]="!statusForm.valid"
              (click)="confirmUpdate()">Save</button>
            <mat-spinner *ngIf="!saveDisabled" diameter="30"></mat-spinner>
            <button mat-raised-button color="warn" (click)="dialogRef.close()" tabindex="-1">Cancel</button>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
