.addContainer
  min-width: 480px
  max-width: 720px

.modalHeader
  display: flex
  align-items: center
  justify-content: space-between
  gap: 8px

.small-close-icon
  font-size: 20px
  line-height: 20px
  width: 20px
  height: 20px

.dispute-history-content
  max-height: 60vh
  overflow-y: auto

.no-records-banner
  background-color: #e8e8e8
  text-align: center
  width: 100%
  margin-top: 10px
