<div class="modalHeader">
  <div class="editRowModal">
    <div class="modalHeader clearfix">
      <div class="modal-about">
        <div class="font-weight-bold p-t-5 font-17">
          {{ dialogTitle }}
        </div>
      </div>
    </div>
  </div>
  <button mat-icon-button (click)="dialogRef.close()" aria-label="Close dialog">
    <mat-icon class="small-close-icon">close</mat-icon>
  </button>
</div>
<div *ngIf="dataSource.length === 0" class="alert alert-primary" style="background-color:#E8E8E8; text-align: center;width: 100%;margin-top: 10px;">
  {{ noRecords }}
</div>

<ng-container *ngIf="dataSource.length > 0">
  <mat-dialog-content class="mat-typography">
    <ng-container *ngFor="let item of dataSource">
      <mat-card>
        <mat-card-content>
          <div class="row">
           
            <div class="col-md-6 mb-2">
              <span class="TDValueBold">Dispute KM</span><br>
              <span class="TDValue">{{ item.disputeKM }}</span>
            </div>

            <div class="col-md-6 mb-2">
              <span class="TDValueBold">Dispute Minutes</span><br>
              <span class="TDValue">{{ item.disputeMinutes }}</span>
            </div>

            <div class="col-md-6 mb-2">
              <span class="TDValueBold">Dispute Date</span><br>
              <span class="TDValue">{{ item.disputeDate | date: 'yyyy-MM-dd' }}</span>
            </div>

            <div class="col-md-6 mb-2">
              <span class="TDValueBold">Dispute Time</span><br>
              <span class="TDValue">{{ item.disputeTime | date: 'shortTime' }}</span>
            </div>

            <div class="col-md-6 mb-2">
              <span class="TDValueBold">Dispute Details</span><br>
              <span class="TDValue">{{ item.disputeDetails || 'N/A' }}</span>
            </div>

            <!-- <div class="col-md-6 mb-2">
              <span class="TDValueBold">Dispute type</span><br>
              <span class="TDValue">{{ item.disputetype || 'N/A' }}</span>
            </div> -->
          </div>
          
        </mat-card-content>
      </mat-card>
      <br />
    </ng-container>
  </mat-dialog-content>
</ng-container>