
<ng-container *ngFor="let additionaDetail of dataSource ;index as i">
    <div class="row" style="margin-left: 20px;margin-top: 20px;">
           <a style="cursor: pointer; color: #007bff;">
            Additional SMS Details {{i + 1}}
        </a>
    </div>
    
    <div class="row" style="margin-left: 20px;margin-top: 20px;">
        <div class="col-xl-3 col-lg-6 col-md-12 col-sm-12 mb-2">
            <span>
                <b>
                    Name
                </b>                   
            </span>
            <br/>
            <span>{{additionaDetail.personToBeMessaged}}</span>
        </div>
    
        <div class="col-xl-3 col-lg-6 col-md-12 col-sm-12 mb-2">
            <span>
                <b>
                    Email
                </b>                   
            </span>
            <br/>
            <span>{{additionaDetail.emailID || 'N/A'}}</span>
        </div>
    
        <div class="col-xl-3 col-lg-6 col-md-12 col-sm-12 mb-2">
            <span>
                <b>
                    Mobile
                </b>                   
            </span>
            <br/>
            <span>{{additionaDetail.mobileNumber || 'N/A'}}</span>
        </div>
    </div>
    
    <!-- <div class="row" style="margin-left: 20px;margin-top: 20px;">
        <a style="cursor: pointer;color: #007bff;" (click)="additionaSMS(additionaDetail)">
            Record 2 - Edit - Delete</a>
    </div>
    
    <div class="row" style="margin-left: 20px;margin-top: 20px;">
        <div class="col-xl-3 col-lg-6 col-md-12 col-sm-12 mb-2">
            <span>
                <b>
                    Name
                </b>                   
            </span>
            <br/>
            <span>{{{{additionaDetail.personToBeMessaged}}}}</span>
        </div>
    
        <div class="col-xl-3 col-lg-6 col-md-12 col-sm-12 mb-2">
            <span>
                <b>
                    Email
                </b>                   
            </span>
            <br/>
            <span>amit@gmail.com</span>
        </div>
    
        <div class="col-xl-3 col-lg-6 col-md-12 col-sm-12 mb-2">
            <span>
                <b>
                    Mobile
                </b>                   
            </span>
            <br/>
            <span>6767987799</span>
        </div>
    </div>
    
    <div class="row" style="margin-left: 20px;margin-top: 20px;">
        <a style="cursor: pointer;color: #007bff;" (click)="additionaSMS()">
            Record 3 - Edit - Delete</a>
    </div>
    
    <div class="row" style="margin-left: 20px;margin-top: 20px;">
        <div class="col-xl-3 col-lg-6 col-md-12 col-sm-12 mb-2">
            <span>
                <b>
                    Name
                </b>                   
            </span>
            <br/>
            <span>Amrita</span>
        </div>
    
        <div class="col-xl-3 col-lg-6 col-md-12 col-sm-12 mb-2">
            <span>
                <b>
                    Email
                </b>                   
            </span>
            <br/>
            <span>amrita@gmail.com</span>
        </div>
    
        <div class="col-xl-3 col-lg-6 col-md-12 col-sm-12 mb-2">
            <span>
                <b>
                    Mobile
                </b>                   
            </span>
            <br/>
            <span>8768768769</span>
        </div>
    </div> -->
    </ng-container>
    