<div class="addContainer">
  <div class="modalHeader">
      <div class="editRowModal">
          <div class="modalHeader clearfix">
              <!-- <img [src]='advanceTable.img' alt="avatar"> -->
              <div class="modal-about">
                <div class="font-weight-bold p-t-5 font-17">
                    Duplicate Booking
                    <br>
                    <h4>
                        {{CustomerName}} - {{PassengerName}} - <br>
                        {{City}} - {{PickupDate | date:'dd/MM/yyyy'}} - {{PickupTime | date:'hh:mm'}}
                    </h4>
                </div>
              </div>
          </div>
      </div>
      <button mat-icon-button (click)="dialogRef.close()" aria-label="Close dialog">
    <mat-icon>close</mat-icon>
  </button>
  </div>
  <div mat-dialog-content>
      <form class="register-form m-4" [formGroup]="advanceTableForm" (ngSubmit)="submit">
        <div class="row">
          <div class="col-xl-6 col-l66 col-md-12 col-sm-12 mb-2">
            
                <mat-radio-button color="primary" #newDuplicate value="newDuplicate">New</mat-radio-button>
                 <!-- <mat-checkbox formControlName="newDuplicate" (change)="onCheckboxChange('newDuplicate', $event)">New</mat-checkbox> -->
            
          </div>

            <div class="col-xl-6 col-l66 col-md-12 col-sm-12 mb-2" *ngFor="let data of ReservationNumbers">
            
                <mat-radio-button color="primary" #reservationRadio 
                [value]="data.reservationID" (change)="onCheckboxChange(data.reservationID)">{{data.reservationID}}</mat-radio-button>
                 <!-- <mat-checkbox formControlName="unfilledBooking" (change)="onCheckboxChange(data.reservationID, $event)">{{data.reservationID}}</mat-checkbox> -->
            
          </div>
          
        </div>
        <br>
          <div class="row">
              <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
                  <div class="example-button-row">
                      <button mat-raised-button color="primary" *ngIf="saveDisabled" [type]="submit" [disabled]="!advanceTableForm.valid"  (click)="newduplicate()">Save</button>
                      <mat-spinner *ngIf="!saveDisabled" diameter="30"></mat-spinner>
                      <button mat-raised-button color="warn" (click)="onNoClick()" tabindex="-1">Cancel</button>
                  </div>
              </div>
          </div>
      </form>
  </div>