<div class="addContainer">
    <div class="modalHeader">
        <div class="editRowModal">
            <div class="modalHeader clearfix">
                <!-- <img [src]='advanceTable.img' alt="avatar"> -->
                <div class="modal-about">
                    <div class="p-t-5 font-17">
                        {{dialogTitle}} <b>{{CustomerName}}</b> Contract Applicable <b>{{StartDate | date:'dd-MM-yyyy'}}</b> - <b>{{EndDate | date:'dd-MM-yyyy'}}</b></div>
                </div>
            </div>
        </div>
        <button mat-icon-button (click)="dialogRef.close()" aria-label="Close dialog">
      <mat-icon>close</mat-icon>
    </button>
    </div>
    <div mat-dialog-content>
        <form class="register-form m-4" [formGroup]="advanceTableForm" (ngSubmit)="submit">
            <div class="row">
                <div class="col-xl-6 col-l66 col-md-12 col-sm-12 mb-2">
                    <section>
                        <mat-checkbox formControlName="isAllowedOnPackageRate">Package Rate</mat-checkbox>
                    </section>
                </div>

                <div class="col-xl-6 col-l66 col-md-12 col-sm-12 mb-2">
                    <section>
                        <mat-checkbox formControlName="isAllowedOnExtras">Extras</mat-checkbox>
                    </section>
                </div>

                <div class="col-12">
                    <mat-error *ngIf="advanceTableForm.hasError('atLeastOneRequired') && advanceTableForm.touched">
                        At least one option (Package Rate or Extras) must be selected
                    </mat-error>
                </div>
           </div>

            <div class="row">
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width" appearance="outline"  floatLabel="always">
                        <mat-label>Discount Start Date</mat-label>
                        <input required matInput [matDatepicker]="startDate" formControlName="discountPercentageStartDate">
                        <mat-datepicker-toggle matSuffix [for]="startDate"></mat-datepicker-toggle>
                        <mat-datepicker #startDate></mat-datepicker>
                        <mat-error *ngIf="advanceTableForm.get('discountPercentageStartDate').hasError('required')">
                            Discount Start Date is required
                        </mat-error>
                    </mat-form-field>

                </div>
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width" appearance="outline"  floatLabel="always">
                        <mat-label>Discount End Date</mat-label>
                        <input required matInput [matDatepicker]="endDate" formControlName="discountPercentageEndDate">
                        <mat-datepicker-toggle matSuffix [for]="endDate"></mat-datepicker-toggle>
                        <mat-datepicker #endDate></mat-datepicker>
                        <mat-error *ngIf="advanceTableForm.get('discountPercentageEndDate').hasError('required')">
                            Discount End Date is required
                        </mat-error>
                    </mat-form-field>
                </div>
            </div>

            <div class="row">
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width" appearance="outline"  floatLabel="always">
                        <mat-label>Discount Percentage</mat-label>
                        <input matInput (keypress)="keyPressNumbersDecimal($event)" formControlName="discountPercentage" required>
                        <mat-error *ngIf="advanceTableForm.get('discountPercentage').hasError('required')">
                            Discount Percentage On Package is required
                        </mat-error>
                    </mat-form-field>
                </div>

                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width" appearance="outline"  floatLabel="always">
                        <mat-label>Activation Status</mat-label>
                        <mat-select formControlName="activationStatus">
                            <mat-option [value]=true>Active</mat-option>
                            <mat-option [value]=false>Deleted</mat-option>
                        </mat-select>
    
                        <mat-error *ngIf="advanceTableForm.get('activationStatus').hasError('required')">
                            Activation Status is required
                        </mat-error>
                    </mat-form-field>
                </div> 
            </div>                 
            
            <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
                    <div class="example-button-row">
                        <button mat-raised-button color="primary" *ngIf="saveDisabled" [type]="submit" [disabled]="!advanceTableForm.valid"  (click)="confirmAdd()">Save</button>
                        <mat-spinner *ngIf="!saveDisabled" diameter="30"></mat-spinner>
                        <button *ngIf="action==='add'" mat-raised-button color="warn" (click)="onNoClick()" tabindex="-1">Reset</button>
                        <button *ngIf="action==='edit'" mat-raised-button color="warn" (click)="onNoClick()" tabindex="-1">Cancel</button>
                    </div>
                </div>
            </div>
        </form>
  </div>
