<section class="content">
  <div class="container-fluid">
    <div class="block-header">
      <div class="row">
        <div class="col-12">
          <ul>
            <li class="breadcrumb-item">
              <a routerLink="/dashboard/main"><i class="fas fa-home"></i> Home</a> |
              <a href="#" (click)="false">Admin</a> |
              <a href="#" (click)="false">Booking Screen</a>
            </li>
          </ul>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-12">
        <div class="card">
          <div class="body">
            <h4 *ngIf="action !== 'edit'">Create Reservation - {{ReservationGroupID}}.{{ReservationID}}</h4>
            <h4 *ngIf="action === 'edit'">Edit Reservation - {{ReservationGroupID}}.{{ReservationID}}</h4>
            <br>

            <!-- Status message -->
            <!-- <div *ngIf="status && status !== 'Changes allow'" 
                 style="color: rgb(112,3,3); margin-top:5px; font-style: italic;">
              ({{status}})
            </div> -->

            <!-- Save button -->


            <app-reservation [status]="status"></app-reservation>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>