
:host ::ng-deep .city-tier-name-field .mat-mdc-floating-label.mdc-floating-label
	font-size: 14.4px
	line-height: 1.2

:host ::ng-deep .register-form .mat-mdc-form-field-subscript-wrapper
	display: block !important
	position: static !important
	min-height: auto
	margin-top: 0 !important
	padding-top: 0 !important

:host ::ng-deep .register-form .mat-mdc-form-field-bottom-align
	display: block !important

:host ::ng-deep .register-form .mat-mdc-form-field-bottom-align::before
	height: 0 !important
	display: none !important

:host ::ng-deep .register-form .mat-mdc-form-field-error-wrapper
	position: static !important
	padding: 0 !important

:host ::ng-deep .register-form .mat-mdc-form-field-error
	display: block



