<div class="modalHeader">
  <div class="editRowModal">
    <div class="modalHeader clearfix">
      <div class="modal-about">
        <div class="font-weight-bold p-t-5 font-17">
          {{ dialogTitle }}
        </div>
      </div>
    </div>
  </div>
  <!-- <button mat-icon-button (click)="dialogRef.close()" aria-label="Close dialog">
    <mat-icon class="small-close-icon">close</mat-icon>
  </button> -->
  <style></style>
</div>
<mat-card>
  <mat-card-content>
    <mat-dialog-content class="of-hidden">
      <form
        class="register-form"
        [formGroup]="advanceTableForm"
        (ngSubmit)="(submit)"
      >
        <div>
          <div class="row">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
              <span class="TDValueBold">User Email</span> <br />
              <mat-form-field class="example-full-width" appearance="outline" floatLabel="always">
                <mat-label>Email</mat-label>
                <input matInput formControlName="email" />
              </mat-form-field>
            </div>
          </div>
          <div class="row">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
              <span class="TDValueBold">Old Password</span> <br />
              <mat-form-field class="example-full-width" appearance="outline" floatLabel="always">
                <mat-label>Old Password</mat-label>
                <input
                  matInput
                  formControlName="currentPassword"
                  required
                  type="password"
                />
                <mat-error
                  *ngIf="
                    advanceTableForm.get('currentPassword').hasError('required')
                  "
                >
                  Old Password is required
                </mat-error>
              </mat-form-field>
            </div>
          </div>
          <div class="row">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
              <span class="TDValueBold">New Password</span> <br />
              <mat-form-field class="example-full-width" appearance="outline" floatLabel="always">
                <mat-label>Enter New Password</mat-label>
                <input
                  matInput
                  formControlName="newPassword"
                  required
                  type="password"
                  pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[@$!%*?&])[A-Za-z\d@$!%*?&]{8,25}$"
                />
                <mat-error
                  *ngIf="
                    advanceTableForm.get('newPassword').hasError('required')
                  "
                >
                  New Password is required
                </mat-error>
                <mat-error
                  *ngIf="
                    advanceTableForm.get('newPassword').hasError('pattern')
                  "
                >
                  Password must contain atleast 1 number, 1 uppercase and
                  lowercase letter and 1 special character and b/w 8-25 char.
                </mat-error>
              </mat-form-field>
            </div>
          </div>
          <div class="row">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
              <span class="TDValueBold">Confirm New Password</span> <br />
              <mat-form-field class="example-full-width" appearance="outline" floatLabel="always">
                <mat-label>Re-enter New Password</mat-label>
                <input
                  matInput
                  formControlName="confirmNewPassword"
                  required
                  type="password"
                  pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[@$!%*?&])[A-Za-z\d@$!%*?&]{8,25}$"
                />
                <mat-error
                  *ngIf="
                    advanceTableForm
                      .get('confirmNewPassword')
                      .hasError('required')
                  "
                >
                  Confirm New Password is required
                </mat-error>
                <mat-error
                  *ngIf="
                    advanceTableForm
                      .get('confirmNewPassword')
                      .hasError('pattern')
                  "
                >
                  Password must contain atleast 1 number, 1 uppercase and
                  lowercase letter and 1 special character and b/w 8-25 char.
                </mat-error>
                <mat-error
                  *ngIf="
                    advanceTableForm
                      .get('confirmNewPassword')
                      .hasError('matching')
                  "
                >
                  Password must match.
                </mat-error>
              </mat-form-field>
            </div>
          </div>
          <div class="row">
            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 mb-2">
              <button
                type="submit"
                color="primary"
                mat-raised-button
                (click)="resetPassword()"
                [disabled]="!advanceTableForm.valid"
              >
              
                Reset Password
              </button>
            </div>
          </div>
        </div>
      </form>
    </mat-dialog-content>
  </mat-card-content>
</mat-card>
