<div class="block-header">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <ul class="breadcrumb breadcrumb-style ">
                <li class="breadcrumb-item" *ngIf="!InvoiceNumberWithPrefix">
                    <h2>Detach Duties</h2>
                </li>
                <li class="breadcrumb-item" *ngIf="InvoiceNumberWithPrefix">
                    <h2>Detach Duties to - {{InvoiceNumberWithPrefix}}</h2>
                </li>
            </ul>
        </div>
    </div>
</div>
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="card">
                    <div class="body">
                        <div class="responsive_table">
                            <div class="table-responsive">
                                <div class="materialTableHeader" >
                                    <div class="row">
                                        <ng-template #searchDialog let-dialogRef="dialogRef">
    <h2 mat-dialog-title>Search</h2>
    <div mat-dialog-content>

    </div>
    <div mat-dialog-actions align="end">
        <button mat-button (click)="dialogRef.close()">Cancel</button>
        <button mat-raised-button color="primary" (click)="SearchFromDialog(dialogRef)">Search</button>
    </div>
</ng-template> 

                                        <div style="width: 100%; text-align: right;">
                                            <button mat-raised-button color="primary" *ngIf="InvoiceNumberWithPrefix"
                                                (click)="DetachDuty()">
                                                Detach Duty
                                            </button>
                                            &nbsp; 
                                            <button mat-raised-button color="primary" *ngIf="!InvoiceNumberWithPrefix"
                                                (click)="GenerateSingleInvoiceforSingleDuty()">
                                                Generate Single Invoice for Single Duty 
                                            </button>
                                            &nbsp; 
                                            <button mat-raised-button color="primary" *ngIf="!InvoiceNumberWithPrefix"
                                                (click)="GenerateSingleInvoiceforMultipleDuties()">
                                                Generate Single Invoice for Multiple Duties
                                            </button>
                                            &nbsp; 
                                            <!-- <button mat-raised-button color="primary">
                                                Search
                                            </button>
                                            &nbsp; -->
                                            <button mat-mini-fab color="primary" (click)="refresh()">
                                                <mat-icon class="col-white">refresh</mat-icon>
                                            </button>
                                        </div>
                                    </div>
                                </div>

                               
                                <p *ngIf="!dataSource; then thenBlock2 else elseBlock2">
                                    This is not rendered
                                </p>

                                <ng-template #thenBlock2>
                                    <div class="alert alert-primary"
                                        style="background-color:#E8E8E8; text-align: center;">
                                        No Records Found</div>
                                    <div class="body">
                                        <div class="example-button-row">

                                            <button mat-raised-button color="primary"
                                                (click)="PreviousCall()">Previous</button>
                                            <button mat-raised-button color="primary" (click)="NextCall()">Next</button>

                                        </div>
                                    </div>

                                </ng-template>

                                <ng-template #elseBlock2>
                                    <div class="scrollable-table-container">
                                    <div style="width: 100%; overflow-y: hidden;">
                                        <mat-table #table [dataSource]="dataSource" matSort class="mat-cell floating-header-table"
                                            (matSortChange)="SortingData($event)">
                                            <ng-container matColumnDef="check">
                                                <mat-header-cell *matHeaderCellDef>
                                                    <mat-checkbox color="primary"
                                                        (change)="checkAll($event.checked)"
                                                        [checked]="selectAll"
                                                        [indeterminate]="isIndeterminate()"
                                                        matTooltip="Select All"
                                                        matTooltipPosition="above">
                                                    </mat-checkbox>
                                                </mat-header-cell>
                                                <mat-cell *matCellDef="let row">
                                                     <mat-checkbox color="primary"
                                                        (change)="onCheckBox($event.checked, row)"
                                                        [checked]="row.checked">
                                                    </mat-checkbox>
                                                </mat-cell>
                                            </ng-container>

                                            <!-- <ng-container matColumnDef="id">
                                                <mat-header-cell *matHeaderCellDef mat-sort-header>Id</mat-header-cell>
                                                <mat-cell *matCellDef="let row">{{row.customerID}}</mat-cell>
                                            </ng-container> -->

                                            <ng-container matColumnDef="DutySlipID">
                                                <mat-header-cell *matHeaderCellDef mat-sort-header>DS. No./ Res. No.</mat-header-cell>
                                                <mat-cell *matCellDef="let row" (contextmenu)="onContextMenu($event, row)">
                                                    {{row.dutySlipID}} 
                                                    <br>
                                                    {{row.reservationID}}</mat-cell>
                                            </ng-container>

                                            <ng-container matColumnDef="CustomerName">
                                                <mat-header-cell *matHeaderCellDef mat-sort-header>Customer Namer</mat-header-cell>
                                                <mat-cell *matCellDef="let row" (contextmenu)="onContextMenu($event, row)">
                                                    {{row.customerName}}</mat-cell>
                                            </ng-container>

                                            <ng-container matColumnDef="BranchName">
                                                <mat-header-cell *matHeaderCellDef mat-sort-header>Branch</mat-header-cell>
                                                <mat-cell *matCellDef="let row" (contextmenu)="onContextMenu($event, row)">
                                                    {{row.branchName}}</mat-cell>
                                            </ng-container>

                                            <ng-container matColumnDef="VerifyDuty">
                                                <mat-header-cell *matHeaderCellDef mat-sort-header>Verified/ GFB</mat-header-cell>
                                                <mat-cell *matCellDef="let row" (contextmenu)="onContextMenu($event, row)">
                                                    {{row.verifyDuty === "True" ? 'Verified' : 'Not verfied'}}
                                                    <br>
                                                    {{row.goodForBilling === "True" ? 'Good For Billing' : 'Not Good For Billing'}}</mat-cell>
                                            </ng-container>

                                            <ng-container matColumnDef="InvoiceNumberWithPrefix">
                                                <mat-header-cell *matHeaderCellDef mat-sort-header>Invoice Number</mat-header-cell>
                                                <mat-cell *matCellDef="let row" (contextmenu)="onContextMenu($event, row)">
                                                    {{row.invoiceNumberWithPrefix}}</mat-cell>
                                            </ng-container>

                                            <ng-container matColumnDef="PickUpDate">
                                                <mat-header-cell *matHeaderCellDef mat-sort-header>Start/End Date</mat-header-cell>
                                                <mat-cell *matCellDef="let row" (contextmenu)="onContextMenu($event, row)">
                                                    {{row.pickUpDate | date: 'dd-MM-yyyy'}} 
                                                    <br>
                                                    {{row.dropOffDate | date: 'dd-MM-yyyy'}}</mat-cell>
                                            </ng-container>

                                            <ng-container matColumnDef="Vehicle">
                                                <mat-header-cell *matHeaderCellDef mat-sort-header>Car / City</mat-header-cell>
                                                <mat-cell *matCellDef="let row" (contextmenu)="onContextMenu($event, row)">
                                                    {{row.vehicle}}
                                                    <br>
                                                    {{row.geoPointName}}</mat-cell>
                                            </ng-container>

                                            <ng-container matColumnDef="PackageType">
                                                <mat-header-cell *matHeaderCellDef mat-sort-header>Package Type / Package</mat-header-cell>
                                                <mat-cell *matCellDef="let row" (contextmenu)="onContextMenu($event, row)">
                                                   {{row.packageType}}
                                                   <br>
                                                   {{row.package}}</mat-cell>
                                            </ng-container>

                                            <ng-container matColumnDef="ReservationBillingInstruction">
                                                <mat-header-cell *matHeaderCellDef mat-sort-header>Billing Instruction</mat-header-cell>
                                                <mat-cell *matCellDef="let row" (contextmenu)="onContextMenu($event, row)">
                                                    {{row.reservationBillingInstruction}}</mat-cell>
                                            </ng-container>

                                            <ng-container matColumnDef="ApplicableGST">
                                                <mat-header-cell *matHeaderCellDef mat-sort-header>GST Type / Percentage</mat-header-cell>
                                                <mat-cell *matCellDef="let row" (contextmenu)="onContextMenu($event, row)">
                                                   {{row.applicableGST}} 
                                                   <br>
                                                   {{row.gstPercentage}} %</mat-cell>
                                            </ng-container>

                                            <ng-container matColumnDef="TotalAmountAfterGST">
                                                <mat-header-cell *matHeaderCellDef mat-sort-header>Amount</mat-header-cell>
                                                <mat-cell *matCellDef="let row" (contextmenu)="onContextMenu($event, row)" style="text-align: right;justify-content: flex-end;">
                                                    {{row.totalAmountAfterGST | number:'1.2-2'}}</mat-cell>
                                            </ng-container>
                                            
                                            <ng-container matColumnDef="DiscountPercentage">
                                                <mat-header-cell *matHeaderCellDef mat-sort-header>Discount % / Discount</mat-header-cell>
                                                <mat-cell *matCellDef="let row" (contextmenu)="onContextMenu($event, row)" style="text-align: right;justify-content: flex-end;">
                                                   {{row.discountPercentage}} %
                                                   <br>
                                                   {{row.discount | number:'1.2-2'}}</mat-cell>
                                            </ng-container>
                                            
                                             <!-- actions -->
                                             <ng-container matColumnDef="unlock">
                                                <mat-header-cell *matHeaderCellDef class="pr-0"
                                                    [ngClass]="'tbl-col-width-per-9'">Actions</mat-header-cell>
                                                <mat-cell *matCellDef="let row; let i=index;" class="pr-0"
                                                    [ngClass]="'tbl-col-width-per-9'">


                                                </mat-cell>
                                            </ng-container>


                                            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                                            <mat-row *matRowDef="let row; columns: displayedColumns;"
                                                [style.cursor]="'pointer'" matRipple>
                                            </mat-row>
                                        </mat-table>
                                    </div>
                                    </div>

                                    <!-- context menu start -->
                                    <div style="visibility: hidden; position: fixed"
                                        [style.left]="contextMenuPosition.x" [style.top]="contextMenuPosition.y"
                                        [matMenuTriggerFor]="contextMenu">
                                    </div>
                                    <mat-menu #contextMenu="matMenu">
                                        <ng-template matMenuContent let-item="item">

                                        </ng-template>
                                    </mat-menu>



                                    <div class="body">
                                        <div class="example-button-row">

                                            <button mat-raised-button color="primary"
                                                (click)="PreviousCall()">Previous</button>
                                            <button mat-raised-button color="primary" (click)="NextCall()">Next</button>

                                        </div>
                                    </div>

                                </ng-template>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
   