<div class="modalHeader">
    <div class="editRowModal">
        <div class="modalHeader clearfix">
            <!-- <img [src]='advanceTable.img' alt="avatar"> -->
            <div class="modal-about">
                <div class="font-weight-bold p-t-5 font-17">
                    </div>
            </div>
        </div>
    </div>
    <button mat-icon-button (click)="dialogRef.close()" aria-label="Close dialog">
  <mat-icon>close</mat-icon>
</button>
</div>
<div class="row" style="padding-bottom: 20px;padding-left: 20px;">
    <h5>Key Account Manager For &nbsp;<b>{{customerName}}</b> </h5>     
</div>
<div *ngIf="!dataSource" class="alert alert-primary" style="background-color:#E8E8E8; text-align: center;width: 100%;">
    No key account manager to show
</div>
<div *ngFor="let title of dataSource; index as i">
    <mat-card class="example-card">
        <mat-card-header>
            <h5 style="color: white;margin-left:-25px !important">KAM {{i + 1}}</h5>
        </mat-card-header>
        <mat-card-content>
            <div class="row">
                          
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2" >
                    <span style="font-size: 12px;" class="h5"> Name </span> <br />
                    <span style="font-size: 12px;" class="text-muted"> {{ title.firstName }} {{title.lastName}}</span>
                  </div>
           
            <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                <span style="font-size: 12px;" class="h5"> Mobile </span> <br />
                <span  style="font-size: 12px;" class="text-muted">{{title.mobile}}</span>
              </div>
        </div>
        <div class="row">
           
            <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                <span style="font-size: 12px;" class="h5"> Email </span> <br />
                <span  style="font-size: 12px;" class="text-muted">{{title.email}}</span>
              </div>
            
            <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                <span  style="font-size: 12px;" class="h5"> Service Description </span> <br />
                <span style="font-size: 12px;"  class="text-muted">{{title.serviceDescription}}</span>
              </div>

        </div>
        <div class="row">
           
            <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                <span style="font-size: 12px;" class="h5"> From-To </span> <br />
                <span style="font-size: 12px;" class="text-muted">{{title.fromDate}} - {{title.endDate}}</span>
              </div>
           
            <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                <span style="font-size: 12px;" class="h5"> Status </span> <br />
                <span style="font-size: 12px;" class="text-muted">{{title.attachmentStatus}}</span>
              </div>
        </div>

        </mat-card-content>
    </mat-card>
    </div>