<div class="addContainer">
    <div class="modalHeader">
        <div class="editRowModal">
            <div class="modalHeader clearfix">
                <!-- <img [src]='advanceTable.img' alt="avatar"> -->
                <div class="modal-about">
                    <div class="font-weight-bold p-t-5 font-17">
                        {{dialogTitle}}</div>
                </div>
            </div>
        </div>
        <button mat-icon-button (click)="dialogRef.close()" aria-label="Close dialog">
      <mat-icon>close</mat-icon>
    </button>
    </div>
    <div mat-dialog-content>
        <form class="register-form m-4" [formGroup]="advanceTableForm" (ngSubmit)="submit">
            <div class="row">
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width" appearance="outline"  floatLabel="always">
                        <mat-label>Payer Name</mat-label>
                        <input required matInput formControlName="payerName">
                        <mat-error *ngIf="advanceTableForm.get('payerName').hasError('required')">
                            Payer Name is required
                        </mat-error>
                    </mat-form-field>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width" appearance="outline"  floatLabel="always">
                        <mat-label>Payer Address</mat-label>
                        <input required matInput formControlName="payerAddress">
                        <mat-error *ngIf="advanceTableForm.get('payerAddress').hasError('required')">
                            Payer Address is required
                        </mat-error>
                    </mat-form-field>
                </div>
            </div>
            <div class="row">
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width" appearance="outline" floatLabel="always"> 
                        <mat-label>Country</mat-label>                       
                        <input required type="text" matInput [matAutocomplete]="auto1"
                        formControlName="country" (change)="onCountryInputChange($event)">
                        <mat-autocomplete #auto1="matAutocomplete">
                            <mat-option *ngFor="let options of filteredCountryOptions | async"
                                [value]="options.geoPointName" (click)="getCountryID(options.geoPointID)">
                                {{options.geoPointName}}
                            </mat-option>
                        </mat-autocomplete>
                        <mat-error *ngIf="advanceTableForm.get('country').hasError('required')">
                            Country is required
                        </mat-error>
                    </mat-form-field>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width" appearance="outline" floatLabel="always"> 
                        <mat-label>State</mat-label>                       
                        <input required type="text" matInput [matAutocomplete]="auto2"
                        formControlName="state" (change)="onStateInputChange($event)">
                        <mat-autocomplete #auto2="matAutocomplete">
                            <mat-option *ngFor="let options of filteredStateOptions | async"
                                [value]="options.geoPointName" (click)="getStateID(options.geoPointID)">
                                {{options.geoPointName}}
                            </mat-option>
                        </mat-autocomplete>
                        <mat-error *ngIf="advanceTableForm.get('state').hasError('required')">
                            State  is required
                        </mat-error>
                    </mat-form-field>
                </div>
            </div>
            <div class="row">
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width" appearance="outline" floatLabel="always"> 
                        <mat-label>City</mat-label>                       
                        <input required type="text" matInput [matAutocomplete]="auto3"
                        formControlName="city">
                        <mat-autocomplete #auto3="matAutocomplete">
                            <mat-option *ngFor="let options of filteredCityOptions | async"
                                [value]="options.geoPointName" (click)="getCityID(options.geoPointID)">
                                {{options.geoPointName}}
                            </mat-option>
                        </mat-autocomplete>
                        <mat-error *ngIf="advanceTableForm.get('city').hasError('required')">
                            City is required
                        </mat-error>
                    </mat-form-field>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width" appearance="outline"  floatLabel="always">
                        <mat-label>Pin</mat-label>
                        <input required matInput formControlName="pin">
                        <mat-error *ngIf="advanceTableForm.get('pin').hasError('required')">
                           Pin is required
                        </mat-error>
                    </mat-form-field>
                </div>
            </div>
                <div class="row">
                    <div class="col-xl-6 col-lg-12 col-md-12 col-sm-12 mb-2">
                        <mat-form-field class="example-full-width" appearance="outline"  floatLabel="always">
                            <mat-label>GST Number</mat-label>
                            <input required matInput formControlName="gstNumber"
                            pattern="[0-9]{2}[A-Z]{3}[ABCFGHLJPTF]{1}[A-Z]{1}[0-9]{4}[A-Z]{1}[1-9A-Z]{1}Z[0-9A-Z]{1}"
                            maxlength="20">
                            <mat-error *ngIf="advanceTableForm.get('gstNumber').hasError('required')">
                                GST Number is required
                            </mat-error>
                        </mat-form-field>
                    </div>
                </div>
            
            <div class="row">
                 <div class="row" *ngIf="status">
                        <div class="col-12 mb-1">
                          <span style="color:red">{{status}}</span>
                        </div>
                    </div>
                <div class="col-xl-6 col-lg-12 col-md-12 col-sm-12 mb-2">
                    <div class="example-button-row">
                        <button mat-raised-button color="primary" [type]="submit" [disabled]="!advanceTableForm.valid || buttonDisabled"  (click)="confirmAdd()">Save</button>
                        <button mat-raised-button color="warn" (click)="onNoClick()" tabindex="-1">Cancel</button>
                    </div>
                </div>
            </div>
        </form>
    </div>