<div class="modalHeader">
    <div class="editRowModal">
        <div class="modalHeader clearfix">
            <div class="modal-about">
                <div class="font-weight-bold p-t-5 font-17">
                    Verification Status</div>
            </div>
        </div>
    </div>
    <button mat-icon-button (click)="dialog.close()" aria-label="Close dialog">
  <mat-icon>close</mat-icon>
</button>
</div>

<mat-table #table [dataSource]="dataSource" matSort class="mat-cell" >
    <ng-container matColumnDef="id">
        <mat-header-cell *matHeaderCellDef >Id</mat-header-cell>
        <mat-cell *matCellDef="let row">{{row.supplierVerificationStatusHistoryID}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="supplierName">
        <mat-header-cell *matHeaderCellDef >Supplier Name</mat-header-cell>
        <mat-cell *matCellDef="let row" (contextmenu)="onContextMenu($event, row)">
            {{row.supplierName}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="supplierVerificationStatus">
        <mat-header-cell *matHeaderCellDef >Status</mat-header-cell>
        <mat-cell *matCellDef="let row" (contextmenu)="onContextMenu($event, row)">
            {{row.supplierVerificationStatus}}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="supplierVerificationStatusDate">
        <mat-header-cell *matHeaderCellDef >Status Date</mat-header-cell>
        <mat-cell *matCellDef="let row" (contextmenu)="onContextMenu($event, row)">
            {{row.supplierVerificationStatusDate| date: 'dd-MM-yyyy' }}</mat-cell>
    </ng-container>
   
    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;" [style.cursor]="'pointer'" matRipple>
    </mat-row>
</mat-table>