<!-- <div class="addContainer" > -->
<div class="modalHeader">
  <div class="editRowModal">
    <div class="modalHeader clearfix">
      <div class="modal-about">
        <div class="font-weight-bold p-t-5 font-17">{{ dialogTitle }}</div>
      </div>
    </div>
  </div>
  <button mat-icon-button (click)="dialogRef.close()" aria-label="Close dialog">
    <mat-icon class="small-close-icon">close</mat-icon>
  </button>
</div>

<mat-card>
  <mat-card-content>
    <mat-dialog-content class="of-hidden">
      <div *ngFor="let item of stopDetailsInfo.stopsDetails">
        <b
          ><button
            class="BoldButton"
            mat-button
            *ngIf="item.reservationStopType == 'Pickup'"
          >
            {{ item.reservationStopAddress }}
          </button></b
        >
      </div>
      <div *ngFor="let item of stopDetailsInfo.stopsDetails">
        <b
          ><button
            class="BoldButton"
            mat-button
            *ngIf="item.reservationStopType == 'Enroute'"
          >
            {{ item.reservationStopAddress }}
          </button></b
        >
      </div>

      <div *ngFor="let item of stopDetailsInfo.stopsDetails">
        <b
          ><button
            class="BoldButton"
            mat-button
            *ngIf="item.reservationStopType == 'Dropoff'"
          >
            {{ item.reservationStopAddress }}
          </button></b
        >
      </div>

      <div class="row">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
          <div class="mapouter">
            <div class="gmap_canvas">
              <iframe
                class="gmap_iframe"
                frameborder="0"
                scrolling="no"
                marginheight="0"
                marginwidth="0"
                [src]="trustedUrl"
                loading="lazy"
                referrerpolicy="no-referrer-when-downgrade"
              ></iframe>
              <!-- src="https://www.google.com/maps/embed?pb=!1m40!1m12!1m3!1d112093.06851901312!2d77.07661206362685!3d28.602524925491192!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!4m25!3e0!4m5!1s0x390ce3b48ac80267%3A0x23e2a7779fcc3f7b!2sAmar%20Colony%2C%20Lajpat%20Nagar%204%2C%20New%20Delhi%2C%20Delhi!3m2!1d28.5617318!2d77.242679!4m5!1s0x390ce25c2bda02bd%3A0x88805483a1dca8bb!2sSouth%20Extension%20I%2C%20New%20Delhi%2C%20Delhi!3m2!1d28.573290699999998!2d77.2219418!4m5!1s0x390d036b61214b21%3A0xaaa9a3b98a1faee2!2sRajouri%20Garden%2C%20New%20Delhi%2C%20Delhi!3m2!1d28.6417002!2d77.1224529!4m5!1s0x390d1a9c31eec4e1%3A0x39493976cba4c89a!2sDwarka%2C%20New%20Delhi%2C%20Delhi!3m2!1d28.5822999!2d77.0499762!5e0!3m2!1sen!2sin!4v1671533777803!5m2!1sen!2sin" -->
            </div>
            <style>
              .mapouter {
                position: relative;
                text-align: right;
                width: 600px;
                height: 400px;
              }
              .gmap_canvas {
                overflow: hidden;
                background: none !important;
                width: 600px;
                height: 400px;
              }
              .gmap_iframe {
                width: 600px !important;
                height: 400px !important;
              }
            </style>
          </div>
        </div>
      </div>
    </mat-dialog-content>
  </mat-card-content>
</mat-card>
<br>
<div class="message" style="display: flex;align-items: center;margin-bottom: 10px;font-size: 14px;color: #110f0f;">
  <mat-icon class="circle-icon" style=" color:white; margin-right: 8px;font-size: 10px; border: 4px solid black;border-radius: 50%;background-color: white;display: inline-flex;align-items: center;justify-content: center;width: 20px;  
  height: 20px;">fiber_manual_record</mat-icon>
  <span>The circles on the map indicate the stops.</span>
</div>

