.text-heading 
	font-family: verdana,arial 
	font-size: 12pt 
	font-weight: bold 
	color: #000000 
	text-decoration: none 
	line-height: 16px 
	marging-top: 20px 
	text-align: center 
.text-subheading 
	font-family: verdana,arial 
	font-size: 8pt 
	font-weight: bold 
	color: #000000 
	text-decoration: none 
	line-height: 16px 
	text-align: center 
.text1 
	font-family: arial 
	font-size: 7pt 
	font-weight: normal 
	color: #000000 
	text-decoration: none 
	line-height: 15px 
	text-align: left 
	padding-left: 2px 
.text2 
	font-family: arial 
	font-size: 7pt 
	font-weight: normal 
	color: #000000 
	text-decoration: none 
	line-height: 14px 
	text-align: center 
	padding-left: 2px 
.text3 
	font-family: arial 
	font-size: 5pt 
	font-weight: normal 
	color: #000000 
	text-decoration: none 
	line-height: 12px 
	text-align: left 
	padding-left: 2px 
td, th 
	border: solid 1px #999 
	marging-left:15px