
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="card">
                     <div class="row">
                                <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 mb-2">
                                    <span class="TDValueBold">Manual DutySlip Image</span> <br />
                                    <span class="table-img tbl-col-width-per-12" *ngIf="oDOMAndMDSAdvanceTable.dutySlipImage; else naText">
                                        <img src="{{oDOMAndMDSAdvanceTable.dutySlipImage}}"
                                            (click)="openImageInNewTab(oDOMAndMDSAdvanceTable.dutySlipImage)"
                                            style="cursor: pointer;" /></span>
                                            <ng-template #naText>N/A</ng-template>
                                </div>
                                <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 mb-2">
                                    <span class="TDValueBold">Trip Start ODO Meter Image</span> <br />
                                    <span class="table-img tbl-col-width-per-12" *ngIf="oDOMAndMDSAdvanceTable.tripStartODOMeterImage; else naText">
                                        <img src="{{oDOMAndMDSAdvanceTable.tripStartODOMeterImage}}"
                                            (click)="openImageInNewTab(oDOMAndMDSAdvanceTable.tripStartODOMeterImage)"
                                            style="cursor: pointer;" /></span>
                                            <ng-template #naText>N/A</ng-template>

                                </div>
                                <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 mb-2">
                                    <span class="TDValueBold">Trip End ODOMeter Image</span> <br />
                                    <span class="table-img tbl-col-width-per-12" *ngIf="oDOMAndMDSAdvanceTable.tripEndODOMeterImage; else naText">
                                        <img src="{{oDOMAndMDSAdvanceTable.tripEndODOMeterImage}}"
                                            (click)="openImageInNewTab(oDOMAndMDSAdvanceTable.tripEndODOMeterImage)"
                                            style="cursor: pointer;" /></span>
                                            <ng-template #naText>N/A</ng-template>
                                </div>
                            </div>
                </div>
            </div>
        </div>
