<div>
  <!-- Left Sidebar -->
  <aside id="leftsidebar" class="sidebar" (mouseenter)="mouseHover($event)" (mouseleave)="mouseOut($event)">
    <!-- Menu -->
    <div class="menu">
      <ul id="sidebarnav" class="list"
        [ngStyle]="{'position' : 'relative', 'max-height' : listMaxHeight+'px', 'max-width' : listMaxWidth, 'overflow-y' : 'auto', 'overflow-x' : 'hidden'}">
        <li class="sidebar-user-panel">
          <div class="user-panel">
            <div class=" image">
              <!-- <img style="width: 100px; height: 100px;" src="assets/images/usrbig.jpg" class="img-circle user-img-circle" alt="User Image" /> -->
              <img style="width: 100px; height: 70px;" src="assets/images/logo-full1.png" alt="User Image" />
            </div>
          </div>
          <div class="profile-usertitle">
            <div class="sidebar-userpic-name">{{firstName +' '+ lastName}}</div>
            <div class="profile-usertitle-job "></div>
          </div>
          <div class="user-panel" style="margin-left: 20px;" appearance="outline" >
            <input type="text" [(ngModel)]="searchText" (ngModelChange)="onSearchTextChange($event)" placeholder="Search">
          </div>
        </li>
        <!-- Top Most level menu -->
        <li
          [class.active]="(sidebarItem.moduleName === 'Masters' && sidebarItem.submenu.length > 0) || (level1Menu === sidebarItem.moduleName && sidebarItem.submenu.length != 0) || (searchingOpen && sidebarItem.submenu.length > 0)"
          [class.menu-root-always-open]="sidebarItem.moduleName === 'Masters' && sidebarItem.submenu.length > 0"
          *ngFor="let sidebarItem of sidebarItems">
          <div class="header" *ngIf="sidebarItem.groupTitle === true">{{sidebarItem.title | translate}}</div>
          <a [routerLink]="sidebarItem.class === '' ? [sidebarItem.path] : null" *ngIf="!sidebarItem.groupTitle;"
            [ngClass]="[sidebarItem.class]" (click)="callLevel1Toggle($event, sidebarItem.moduleName)" class="menu-top">
            <i [ngClass]="[sidebarItem.icon]"></i>
            <span class="hide-menu">{{sidebarItem.title | translate}}
            </span>
          </a>
          <!-- First level menu -->
          <ul class="ml-menu" *ngIf="(sidebarItem.submenu | filterData: searchText).length > 0">
            <li [ngClass]="level2Menu === sidebarSubItem.moduleName? 'activeSub':''"
              *ngFor="let sidebarSubItem of sidebarItem.submenu | filterData: searchText; let i = index"
              [routerLinkActive]="sidebarSubItem.submenu.length > 0 ? '' : 'active'">
              <a [routerLink]="sidebarSubItem.submenu.length > 0 ? null : [sidebarSubItem.path]"
                (click)="callLevel2Toggle($event,sidebarSubItem.moduleName)" [ngClass]="[sidebarSubItem.class]">
                {{sidebarSubItem.title | translate}} 
              </a>
              <!-- Second level menu -->
              <ul class="ml-menu-2" *ngIf="sidebarSubItem.submenu.length > 0">
                <li *ngFor="let sidebarSubsubItem of sidebarSubItem.submenu"
                  [ngClass]="level3Menu === sidebarSubsubItem.moduleName? 'activeSubSub':''"
                  [routerLinkActive]="sidebarSubsubItem.submenu.length > 0 ? '' : 'active'">
                  <a [routerLink]="sidebarSubsubItem.submenu.length > 0 ? null : [sidebarSubsubItem.path]"
                    (click)="callLevel3Toggle($event,sidebarSubsubItem.moduleName)"
                    [ngClass]="[sidebarSubsubItem.class]">
                  </a>
                </li>
              </ul>
            </li>
          </ul>
        </li>
      </ul>
    </div>
    <!-- #Menu -->
  </aside>
  <!-- #END# Left Sidebar -->
</div>
