.table-responsive
  width: 100%
  overflow-x: auto

.message-log-table
  width: 100%
  border-collapse: collapse
  font-family: Arial, sans-serif

  th
    background: #08A9E6
    color: #000
    font-size: 13px
    font-weight: bold
    padding: 3px 4px
    border: 1px solid #2b2b2b
    text-align: left

  td
    font-size: 13px
    padding: 3px 4px
    border: 1px solid #2b2b2b
    background: #fff

  tr
    height: 28px