<div class="addContainer">
    <div class="modalHeader">
        <div class="editRowModal">
            <div class="modalHeader clearfix">
                <!-- <img [src]='advanceTable.img' alt="avatar"> -->
                <div class="modal-about">
                    <div class="font-weight-bold p-t-5 font-17">
                        {{dialogTitle}}</div>
                         <div *ngIf="status && status !== 'Changes allow'"
                        style="color:rgb(150, 4, 4); margin-top:5px; font-style: italic;">
                        ({{status}}!!!!!)
                    </div>
                </div>
            </div>
        </div>
        <button mat-icon-button (click)="dialogRef.close()" aria-label="Close dialog">
      <mat-icon>close</mat-icon>
    </button>
    </div>
    <div mat-dialog-content>
        <form
  *ngIf="dynamicForm && CustomerExtraFieldList?.length"
  class="register-form m-4"
  [formGroup]="dynamicForm"
  (ngSubmit)="onSubmit()">

            <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2"> 
                    <div *ngFor="let data of CustomerExtraFieldList" class="mb-3">

                            <!-- TEXTBOX -->

                            <div *ngIf="!isDropDown(data)">

                                <mat-form-field
                                    class="example-full-width"
                                    appearance="outline">

                                    <mat-label>{{data.fieldName}}</mat-label>

                                    <input
                                    matInput
                                    [formControlName]="data.fieldName">

                                </mat-form-field>

                            </div>

                            <!-- DROPDOWN -->

                            <div *ngIf="isDropDown(data)">

                            <mat-form-field
                                class="example-full-width"
                                appearance="outline">

                                <mat-label>{{data.fieldName}}</mat-label>

                                <mat-select
                                [formControlName]="data.fieldName">

                                <mat-option
                                    *ngFor="let item of getDropdownOptions(data)"
                                    [value]="item">

                                    {{item}}

                                </mat-option>

                                </mat-select>

                            </mat-form-field>

                            </div>

                    </div>


                </div>
            </div>                    
            
            <div class="row">
                <!-- <span style="color: red;">{{status}}</span> -->
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
                    <div class="example-button-row">
                        <button mat-raised-button color="primary" type="submit" [disabled]="!dynamicForm.valid || buttonDisabled" (click)="Put()">Save</button>
                        <button mat-raised-button color="warn" tabindex="-1">Cancel</button>
                    </div>
                </div>
            </div>
        </form>
  </div>
