<ng-container *ngIf="currentdataInformation">
  <div class="card">
    <div class="header bg-cyan">
      <h2>Current Duty</h2>
      <ul class="header-dropdown m-r-10">
        <li>
          <a style="color:#fff;padding:15px;position: relative;"  href="javascript:void(0);" (click)="scrollToLinkButton()">Go To Menu</a>
        </li>
      </ul>
    </div>

    <div style="background-color:  #ffffff">
      <div class="responsive_table">
        <mat-accordion>
          <mat-expansion-panel [expanded]="panelExpanded" class="p-0 m-0" (opened)="onPanelOpen()" (closed)="onPanelClose()">

            <!-- Panel Header -->
            <mat-expansion-panel-header>
              <mat-panel-title>
              </mat-panel-title>
            </mat-expansion-panel-header>
               <div class="panel-row is-header">
                  <div class="panel-cell"><b>Vendor</b></div>
                  <div class="panel-cell"><b>App</b></div>
                  <div class="panel-cell"><b>Car</b></div>
                  <div class="panel-cell"><b>Date of Assignment</b></div>
                  <div class="panel-cell"><b>Assign No</b></div>
                  <div class="panel-cell"><b>Duty No.</b></div>
                </div>
            <!-- Panel Content -->
            <div class="panel-row">
              <div class="panel-cell">
                {{ currentdataInformation.inventorySupplierName || 'N/A' }}
                    <!-- {{ currentdataInformation.driverSupplierName || 'N/A' }} -->
              </div>

              <div class="panel-cell">
                {{
                  (currentdataInformation.driverName || currentdataInformation.driverPhone?.split('-')[1])
                    ? (currentdataInformation.driverName || 'N/A') + '-' + (currentdataInformation.driverPhone?.split('-')[1] || 'N/A')
                    : 'N/A'
                }}
              </div>

              <div class="panel-cell">
                {{
                  (currentdataInformation.vehicle || currentdataInformation.registrationNumber)
                    ? (currentdataInformation.vehicle || 'N/A') + '-' + (currentdataInformation.registrationNumber || 'N/A')
                    : 'N/A'
                }}
              </div>

              <div class="panel-cell">
                {{
                  currentdataInformation.dateOfAllotment
                    ? (currentdataInformation.dateOfAllotment | date: 'dd-MM-yyyy')
                    : 'N/A'
                }}
              </div>

              <div class="panel-cell">
                {{ currentdataInformation.allotmentID || 'N/A' }}
              </div>

              <div class="panel-cell">
                {{ currentdataInformation.dutySlipID || 'N/A' }}
              </div>
            </div>

          </mat-expansion-panel>
        </mat-accordion>
      </div>
    </div>
  </div>
</ng-container>
