<div class="addContainer">
    <div class="modalHeader">
        <div class="editRowModal">
            <div class="modalHeader clearfix">
                <!-- <img [src]='advanceTable.img' alt="avatar"> -->
                <div class="modal-about">
                    <div class="font-weight-bold p-t-5 font-17" *ngIf="redirectedFrom==='Inventory'">
                        {{dialogTitle}} For {{registrationNumber}}
                    </div>
                    <div class="font-weight-bold p-t-5 font-17" *ngIf="redirectedFrom==='State'">
                        {{dialogTitle}} For {{state}}
                    </div>
                </div>
            </div>
        </div>
        <button mat-icon-button (click)="dialogRef.close()" aria-label="Close dialog">
            <mat-icon>close</mat-icon>
        </button>
    </div>
    <div mat-dialog-content>

        <!-- <mat-card class="cardDesign" *ngIf="dataSource">
                        <div class="body">
                            <div class="responsive_table">
                                    <mat-table #table [dataSource]="dataSource" matSort class="mat-cell">
                                    <ng-container matColumnDef="registrationNumber">
                                        <mat-header-cell *matHeaderCellDef>Reg. No.</mat-header-cell>
                                        <mat-cell *matCellDef="let row">{{row.registrationNumber}}</mat-cell>
                                    </ng-container>
        
                                    <ng-container matColumnDef="state">
                                        <mat-header-cell *matHeaderCellDef>State</mat-header-cell>
                                        <mat-cell *matCellDef="let row">{{row.state}}</mat-cell>
                                    </ng-container>
        
                                    <ng-container matColumnDef="interStateTaxStartDate">
                                        <mat-header-cell *matHeaderCellDef>StartDate</mat-header-cell>
                                        <mat-cell *matCellDef="let row" (contextmenu)="onContextMenu($event, row)">
                                            {{row.interStateTaxStartDate | date : 'dd-MM-yyyy'}}</mat-cell>
                                    </ng-container>
        
                                    <ng-container matColumnDef="interStateTaxEndDate">
                                        <mat-header-cell *matHeaderCellDef>EndDate</mat-header-cell>
                                        <mat-cell *matCellDef="let row" (contextmenu)="onContextMenu($event, row)">
                                            {{row.interStateTaxEndDate | date : 'dd-MM-yyyy'}}</mat-cell>
                                    </ng-container>
        
                                    <ng-container matColumnDef="interStateTaxAmount">
                                        <mat-header-cell *matHeaderCellDef>Tax Amount</mat-header-cell>
                                        <mat-cell *matCellDef="let row" (contextmenu)="onContextMenu($event, row)">
                                            {{row.interStateTaxAmount }}</mat-cell>
                                    </ng-container>
                                    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                                    <mat-row *matRowDef="let row; columns: displayedColumns;" [style.cursor]="'pointer'" matRipple>
                                    </mat-row>
                                </mat-table>
        
                                <div class="body">
                                    <div class="example-button-row">
        
                                        <button  color="primary" (click)="PreviousCall()"><mat-icon svgIcon="chevron_right"></mat-icon>
                                            <span>Previous</span></button>
                                        <button mat-raised-button color="primary" (click)="NextCall()">Next</button>
        
                                    </div>
                                </div>
        
                            </div>
                        </div>
                    </mat-card> -->



        <form class="register-form m-4" [formGroup]="advanceTableForm" (ngSubmit)="submit">
            <div class="row">
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width" appearance="outline" floatLabel="always">
                        <mat-label>Registration Number</mat-label>
                        <input required type="text" matInput formControlName="registrationNumber"
                            (keyup)="onRNkeyup($event)" [matAutocomplete]="auto1">
                        <mat-autocomplete #auto1="matAutocomplete"
                            (optionSelected)="OnRegNoSelect($event.option.value)">
                            <mat-option *ngFor="let option of filteredRegistrationNumberOptions | async"
                                [value]="option.registrationNumber" (click)="getInventoryID(option.inventoryID)">
                                {{option.registrationNumber}}
                            </mat-option>
                        </mat-autocomplete>
                        <mat-error *ngIf="advanceTableForm.get('registrationNumber')?.hasError('required')">
                            Registration No is required
                        </mat-error>

                        <!-- <mat-error *ngIf="
      advanceTableForm.get('registrationNumber')?.hasError('registrationInvalid') &&
      !advanceTableForm.get('registrationNumber')?.hasError('required')">
                            Please select a valid Registration Number
                        </mat-error> -->
                    </mat-form-field>
                </div>

                <!-- <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width" appearance="outline"  floatLabel="always">
                        <mat-label>Registration Number</mat-label>
                        <input matInput readonly formControlName="inventoryName" required>
                        <mat-error *ngIf="advanceTableForm.get('inventoryName').hasError('required')">
                            Registration Number is required
                        </mat-error>
                    </mat-form-field>
                </div> -->

                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width" appearance="outline" floatLabel="always">
                        <mat-label>Car Type</mat-label>
                        <input matInput readonly formControlName="vehicle" required>
                        <mat-error *ngIf="advanceTableForm.get('vehicle').hasError('required')">
                            Car Type is required
                        </mat-error>
                    </mat-form-field>
                </div>
            </div>
            <div class="row">
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">

                    <mat-form-field class="example-full-width" appearance="outline" floatLabel="always">
                        <mat-label>State</mat-label>
                        <input required type="text" matInput [matAutocomplete]="auto2" formControlName="state">
                        <mat-autocomplete #auto2="matAutocomplete"
                            (optionSelected)="OnStateSelect($event.option.value)">
                            <mat-option *ngFor="let options of filteredStateOptions | async"
                                [value]="options.geoPointName" (click)="getStateID(options.geoPointID)">
                                {{options.geoPointName}}
                            </mat-option>
                        </mat-autocomplete>
                        <mat-error *ngIf="advanceTableForm.get('state').hasError('required')">
                            State is required
                        </mat-error>
                        <mat-error *ngIf="
                advanceTableForm.get('state')?.hasError('stateInvalid') &&
                !advanceTableForm.get('state')?.hasError('required')">
                Please select a valid State
</mat-error>
                    </mat-form-field>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width" appearance="outline" floatLabel="always">
                        <mat-label>Amount</mat-label>
                        <input required matInput formControlName="amount">

                        <mat-error *ngIf="advanceTableForm.get('amount').hasError('required')">
                            Amount is required
                        </mat-error>
                    </mat-form-field>
                </div>
            </div>

            <div class="row">
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width" appearance="outline" floatLabel="always">
                        <mat-label>Start Date</mat-label>
                        <input required matInput [matDatepicker]="startDate" placeholder="DD/MM/YYYY"
                            formControlName="interStateTaxStartDate" (blur)="onBlurUpdateDate($event.target.value)">
                        <mat-datepicker-toggle matSuffix [for]="startDate"></mat-datepicker-toggle>
                        <mat-datepicker #startDate></mat-datepicker>
                        <mat-error *ngIf="advanceTableForm.get('interStateTaxStartDate').hasError('required')">
                            Date is required
                        </mat-error>
                        <mat-error *ngIf="advanceTableForm.get('interStateTaxStartDate')?.hasError('invalidDate')">
                            Invalid date format. Use DD/MM/YYYY.
                        </mat-error>

                    </mat-form-field>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width" appearance="outline" floatLabel="always">
                        <mat-label>End Date</mat-label>
                        <input required matInput [matDatepicker]="endDate" placeholder="DD/MM/YYYY"
                            formControlName="interStateTaxEndDate" (blur)="onBlurUpdateEndDate($event.target.value)">
                        <mat-datepicker-toggle matSuffix [for]="endDate"></mat-datepicker-toggle>
                        <mat-datepicker #endDate></mat-datepicker>
                        <mat-error *ngIf="advanceTableForm.get('interStateTaxEndDate').hasError('required')">
                            End Date is required
                        </mat-error>
                        <mat-error *ngIf="advanceTableForm.get('interStateTaxEndDate')?.hasError('invalidDate')">
                            Invalid date format. Use DD/MM/YYYY.
                        </mat-error>

                    </mat-form-field>
                </div>
            </div>
            <div class="row">
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width" appearance="outline" floatLabel="always">
                        <mat-label>Paid ON</mat-label>
                        <input required matInput [matDatepicker]="paidDate" placeholder="DD/MM/YYYY"
                            formControlName="paidOn" (blur)="onBlurUpdatepaidOnEndDate($event.target.value)">
                        <mat-datepicker-toggle matSuffix [for]="paidDate"></mat-datepicker-toggle>
                        <mat-datepicker #paidDate></mat-datepicker>
                        <mat-error *ngIf="advanceTableForm.get('paidOn').hasError('required')">
                            Date is required
                        </mat-error>
                        <mat-error *ngIf="advanceTableForm.get('paidOn')?.hasError('invalidDate')">
                            Invalid date format. Use DD/MM/YYYY.
                        </mat-error>

                    </mat-form-field>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width" appearance="outline" floatLabel="always">
                        <mat-label>Paid By</mat-label>
                        <input required type="text" matInput formControlName="paidBy" [matAutocomplete]="auto">
                        <mat-autocomplete #auto="matAutocomplete"
                            (optionSelected)="OnPaidBySelect($event.option.value)">
                            <mat-option *ngFor="let option of filteredEmployeeOptions | async"
                                [value]="option.firstName+ ' '+ option.lastName" (click)="getTitles(option.employeeID)">
                                {{option.firstName}} {{option.lastName}}
                            </mat-option>
                        </mat-autocomplete>
                        <mat-error *ngIf="advanceTableForm.get('paidBy').hasError('required')">
                            Paid By is required
                        </mat-error>

                        <mat-error *ngIf="
                    advanceTableForm.get('paidBy')?.hasError('paidByInvalid') &&
                    !advanceTableForm.get('paidBy')?.hasError('required')">
                    Please select a valid Employee
                            </mat-error>

                    </mat-form-field>
                </div>


            </div>

            <div class="row">
                <div class=" col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">

                    <mat-label>Image</mat-label>
                    <br>
                    <a href="{{ ImagePath }}" target="_blank" *ngIf="ImagePath">
                        <img [src]="ImagePath" class="table " style="height: 80px; width: auto;">
                    </a>

                    <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2" style="right: 15px;">
                        <app-myupload (onUploadFinished)="uploadFinishedSelfie($event)"></app-myupload>
                    </div>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width" appearance="outline" floatLabel="always">
                        <mat-label>Activation Status</mat-label>
                        <mat-select formControlName="activationStatus">
                            <mat-option [value]=true>Active</mat-option>
                            <mat-option [value]=false>Deleted</mat-option>
                        </mat-select>

                        <mat-error *ngIf="advanceTableForm.get('activationStatus').hasError('required')">
                            Activation Status is required
                        </mat-error>
                    </mat-form-field>
                </div>
            </div>

            <!-- <div class="row">
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width" appearance="outline" floatLabel="always">
                        <mat-label>Uploaded On</mat-label>
                        <input required matInput [matDatepicker]="uploadDate" formControlName="uploadedOn">
                        <mat-datepicker-toggle matSuffix [for]="uploadDate"></mat-datepicker-toggle>
                        <mat-datepicker #uploadDate></mat-datepicker>
                        <mat-error *ngIf="advanceTableForm.get('uploadedOn').hasError('required')">
                            Uploaded On is required
                        </mat-error>
                    </mat-form-field>
                </div>

                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width" appearance="outline" floatLabel="always">
                        <mat-label>Uploaded By</mat-label>
                        <input required readonly matInput formControlName="uploadedBy">

                        <mat-error *ngIf="advanceTableForm.get('uploadedBy').hasError('required')">
                            Uploaded By is required
                        </mat-error>
                    </mat-form-field>
                </div>
            </div> -->
            <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
                    <div class="example-button-row">
                        <!-- <div class="row" *ngIf="status">
                          <div class="col-12 mb-1">
                            <span style="color:red">{{status}}</span>
                          </div>
                        </div> -->
                        <!-- <button mat-raised-button *ngIf="saveDisabled" color="primary" [type]="submit" [disabled]="!advanceTableForm.valid || buttonDisabled"  (click)="confirmAdd()">Save</button> -->
                        <button mat-raised-button *ngIf="saveDisabled" color="primary" [type]="submit"
                            [disabled]="!advanceTableForm.valid" (click)="confirmAdd()">Save</button>
                        <mat-spinner *ngIf="!saveDisabled" diameter="30"></mat-spinner>
                        <button *ngIf="action==='add'" mat-raised-button color="warn" (click)="onNoClick()"
                            tabindex="-1">Reset</button>
                        <button *ngIf="action==='edit'" mat-raised-button color="warn" (click)="onNoClick()"
                            tabindex="-1">Cancel</button>
                    </div>
                </div>
            </div>
        </form>
    </div>