<div class="modalHeader">
  <div class="editRowModal">
    <div class="modalHeader clearfix">
      <div class="modal-about">
        <div class="font-weight-bold p-t-5 font-17">
          {{ dialogTitle }}
        </div>
      </div>
    </div>
  </div>
  <button mat-icon-button (click)="dialogRef.close()" aria-label="Close dialog">
    <mat-icon class="small-close-icon">close</mat-icon>
  </button>
</div>
<mat-card>
  <mat-card-content>
    <mat-dialog-content class="of-hidden">
      <div class="row">
        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
          <span class="TDValueBold">Vehicle</span> <br />
          <span class="TDValue">{{ vehicleInfo.vehicle.vehicle }}</span>
        </div>
        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
          <span class="TDValueBold"> Manufacturer</span> <br />
          <span class="TDValue">
            {{ vehicleInfo.vehicle.vehicleManufacturer }}</span
          >
        </div>
      </div>

      <div class="row">
        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
          <span class="TDValueBold"> Vehicle Category</span> <br />
          <span class="TDValue">
            {{ vehicleInfo.vehicle.vehicleCategory }}
          </span>
        </div>
        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
          <span class="TDValueBold">Baggage Capacity</span> <br />
          <span class="TDValue">{{
            vehicleInfo.vehicle.vehicleBaggageCapacity
          }}</span>
        </div>
      </div>

      <div class="row">
        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
          <span class="TDValueBold">Sitting Capacity</span> <br />
          <span class="TDValue">{{
            vehicleInfo.vehicle.vehicleSittingCapacity
          }}</span>
        </div>
        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
          <span class="TDValueBold"> Description </span> <br />
          <span class="TDValue">{{ vehicleInfo.vehicle.description }}</span>
        </div>
      </div>

      <div class="row">
        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
          <span class="TDValueBold"> Suggestive Image</span> <br />
          <img src="{{ vehicleInfo.vehicle.vehicleImage }}" />
        </div>
      </div>
    </mat-dialog-content>
  </mat-card-content>
</mat-card>
