mat-card-header
  background-color: #17a2b8 !important
  padding: 5px
  height:30px
  width: 100%

mat-card-content
  padding: 10px

mat-card
  padding:0
  background-color: #ebeef1
  margin-bottom: 20px

mat-checkbox
  font-style: italic
  font-size: 10% !important

