<div class="addContainer">
    <div class="modalHeader">
        <div class="editRowModal">
            <div class="modalHeader clearfix">
                <!-- <img [src]='advanceTable.img' alt="avatar"> -->
                <div class="modal-about">
                    <div class="font-weight-bold p-t-5 font-17">
                        {{dialogTitle}}</div>
                </div>
            </div>
        </div>
        <button mat-icon-button (click)="dialogRef.close()" aria-label="Close dialog">
            <mat-icon>close</mat-icon>
        </button>
    </div>
    <div mat-dialog-content>
        <form class="register-form m-4" [formGroup]="advanceTableForm" (ngSubmit)="submit">
            <div class="row">
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width" appearance="outline" floatLabel="always">
                        <mat-label>City</mat-label>
                        <input matInput formControlName="geoPointName" required>
                        <mat-error *ngIf="advanceTableForm.get('geoPointName').hasError('required')">
                            City is required
                        </mat-error>
                    </mat-form-field>
                </div>

                <!-- <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                        <mat-form-field class="example-full-width" appearance="outline" floatLabel="always">
                            <mat-label>City Group</mat-label>
                            <mat-select formControlName="cityGroupID" required #cityGroupVal [class.is-invalid]="cityGroupVal.invalid && cityGroupVal.touched">
                                <mat-option [value]="CityGroup.cityGroupID" *ngFor="let CityGroup of CityGroupList" >{{CityGroup.cityGroup}}</mat-option>
                            </mat-select>
                            <mat-error>
                                Please select a City Group
                            </mat-error>
                        </mat-form-field>
                    </div> -->
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width" appearance="outline" floatLabel="always">
                        <mat-label>City Group</mat-label>
                        <input type="text" matInput [matAutocomplete]="auto" formControlName="cityGroup">
                        <mat-autocomplete #auto="matAutocomplete"
                            (optionSelected)="onCityGroupSelected($event.option.value)">
                            <mat-option *ngFor="let options of filteredOptions | async" [value]="options.cityGroup"
                                (click)="getGroupID(options.cityGroupID)">
                                {{options.cityGroup}}
                            </mat-option>
                        </mat-autocomplete>
                        <mat-error *ngIf="advanceTableForm.controls['cityGroup'].hasError('cityGroupInvalid')">
                            Please select a City Group
                        </mat-error>
                    </mat-form-field>
                </div>

            </div>

            <div class="row">

                <!-- <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width" appearance="outline"  floatLabel="always">
                        <mat-label>Country</mat-label>
                        <mat-select  required formControlName="countryID">
                            <mat-option [value]="Country.geoPointID" *ngFor="let Country of CountryList">{{Country.geoPointName}}</mat-option>
                        </mat-select>
                        <mat-error>
                            Please select a Country
                        </mat-error>
                    </mat-form-field>        
                </div> -->
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width" appearance="outline" floatLabel="always">
                        <mat-label>Country</mat-label>
                        <input required type="text" matInput [matAutocomplete]="auto1" formControlName="country"
                            (keyup)="onCountryInputChanges($event)">
                        <mat-autocomplete #auto1="matAutocomplete"
                            (optionSelected)="onCountrySelected($event.option.value)">
                            <mat-option *ngFor="let options of filteredCountryOptions | async"
                                [value]="options.geoPointName" (click)="getCountryID(options.geoPointID)">
                                {{options.geoPointName}}
                            </mat-option>
                        </mat-autocomplete>
                        <mat-error *ngIf="advanceTableForm.controls['country'].hasError('countryNameInvalid')">
                            Please select a Country
                        </mat-error>
                    </mat-form-field>
                </div>

                <!-- <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width" appearance="outline" floatLabel="always">
                        <mat-label>State</mat-label>
                        <mat-select formControlName="geoPointParentID" required>
                            <mat-option [value]="State.geoPointID"
                                *ngFor="let State of StateList">{{State.geoPointName}}</mat-option>
                        </mat-select>
                        <mat-error>
                            please select a State
                        </mat-error>
                    </mat-form-field>
                </div> -->
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width" appearance="outline" floatLabel="always">
                        <mat-label>State</mat-label>
                        <input required type="text" matInput [matAutocomplete]="auto2" formControlName="state">
                        <mat-autocomplete #auto2="matAutocomplete"
                            (optionSelected)="onStateSelected($event.option.value)">
                            <mat-option *ngFor="let options of filteredStateOptions | async"
                                [value]="options.geoPointName" (click)="getStateID(options.geoPointID)">
                                {{options.geoPointName}}
                            </mat-option>
                        </mat-autocomplete>
                        <mat-error *ngIf="advanceTableForm.controls['state'].hasError('stateNameInvalid')">
                            Please select a State
                        </mat-error>
                    </mat-form-field>
                </div>
            </div>

            <div class="row">
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width" appearance="outline" floatLabel="always">
                        <mat-label>Geo Search String</mat-label>
                        <input matInput ngx-google-places-autocomplete [options]='options' #placesRef="ngx-places"
                            (onAddressChange)="handleAddressChange($event)" formControlName="geoSearchString" required
                            (input)="onPickupTyping()">

                        <mat-error *ngIf="
advanceTableForm.get('geoSearchString')?.invalid &&
(advanceTableForm.get('geoSearchString')?.touched 
 || advanceTableForm.get('geoSearchString')?.dirty)">

                            <span *ngIf="advanceTableForm.get('geoSearchString')?.hasError('required')">
                                Geo Search String is required
                            </span>

                            <span *ngIf="advanceTableForm.get('geoSearchString')?.hasError('invalidGeoSearchString')">
                                Please select an address from suggestions
                            </span>

                        </mat-error>

                    </mat-form-field>
                </div>

                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width" appearance="outline" floatLabel="always">
                        <mat-label>STD Code</mat-label>
                        <input matInput formControlName="citySTDCode" required>
                        <mat-error *ngIf="advanceTableForm.get('citySTDCode').hasError('required')">
                            CitySTDCode is required
                        </mat-error>
                    </mat-form-field>
                </div>
            </div>

            <!-- <div class="row">
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width" appearance="outline" floatLabel="always">
                        <mat-label>Latitude</mat-label>
                        <input matInput formControlName="latitude" readonly required>
                        <mat-error *ngIf="advanceTableForm.get('latitude').hasError('required')">
                            Latitude is required
                        </mat-error>
                    </mat-form-field>
                </div>

                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width" appearance="outline" floatLabel="always">
                        <mat-label>Longitude</mat-label>
                        <input matInput formControlName="longitude" readonly required>
                        <mat-error *ngIf="advanceTableForm.get('longitude').hasError('required')">
                            Longitude is required
                        </mat-error>
                    </mat-form-field>
                </div>
            </div> -->

            <div class="row">
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                    <mat-label>
                        Banner Image
                    </mat-label>
                    <a href="{{ ImagePath }}" target="_blank" *ngIf="ImagePath">
                        <img [src]="ImagePath" class="table " style="height: 80px; width: auto;">
                    </a>
                    <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                        <app-myupload (onUploadFinished)="uploadFinished($event)"></app-myupload>
                    </div>
                </div>

                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width" appearance="outline" floatLabel="always">
                        <mat-label>Banner ImageAlt Tag</mat-label>
                        <input matInput formControlName="bannerImageAltTag">

                    </mat-form-field>
                </div>
            </div>

            <div class="row">
                <div class=" col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                    <mat-label>
                        Icon
                    </mat-label>
                    <br>
                    <a href="{{ ImagePath1 }}" target="_blank" *ngIf="ImagePath1">
                        <img [src]="ImagePath1" class="table " style="height: 80px; width: auto;">
                    </a>

                    <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                        <app-myupload (onUploadFinished)="uploadICon($event)"></app-myupload>
                    </div>
                </div>

                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width" appearance="outline" floatLabel="always">
                        <mat-label>Icon Alt Tag </mat-label>
                        <input matInput formControlName="iconAltTag">

                    </mat-form-field>
                </div>

            </div>

            <div class="row">
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width" appearance="outline" floatLabel="always">
                        <mat-label>API Integration Code</mat-label>
                        <input matInput formControlName="apiIntegrationCode">

                    </mat-form-field>
                </div>

                <!-- <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width" appearance="outline" floatLabel="always">
                        <mat-label>City Tier</mat-label>
                        <mat-select required #citytierVal
                            [class.is-invalid]="citytierVal.invalid && citytierVal.touched"
                            formControlName="cityTierID">
                            <mat-option [value]="CityTiers.cityTierID"
                                *ngFor="let CityTiers of CityTierList">{{CityTiers.cityTierName}}</mat-option>
                        </mat-select>
                        <mat-error>
                            Please select a City Tier
                        </mat-error>
                    </mat-form-field>
                </div> -->
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width" appearance="outline" floatLabel="always">
                        <mat-label>City Tier</mat-label>
                        <input required type="text" matInput [matAutocomplete]="auto3" formControlName="cityTierName">
                        <mat-autocomplete #auto3="matAutocomplete"
                            (optionSelected)="onCityTierSelected($event.option.value)">
                            <mat-option *ngFor="let options of filteredTierOptions | async"
                                [value]="options.cityTierName" (click)="getTierID(options.cityTierID)">
                                {{options.cityTierName}}
                            </mat-option>
                        </mat-autocomplete>
                        <mat-error *ngIf="advanceTableForm.controls['cityTierName'].hasError('cityTierNameInvalid')">
                            Please select a City Tier
                        </mat-error>

                    </mat-form-field>
                </div>
            </div>

            <div class="row">
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width" appearance="outline" floatLabel="always">
                        <mat-label>Old RentNet GeoPoint Name</mat-label>
                        <input matInput formControlName="oldRentNetGeoPointName">
                        <mat-error *ngIf="advanceTableForm.get('oldRentNetGeoPointName').hasError('required')">
                            Old RentNet GeoPoint Name is required
                        </mat-error>
                    </mat-form-field>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width" appearance="outline" floatLabel="always">
                        <mat-label>Activation Status</mat-label>
                        <mat-select formControlName="activationStatus">
                            <mat-option [value]=true>Active</mat-option>
                            <mat-option [value]=false>Deleted</mat-option>
                        </mat-select>

                        <mat-error *ngIf="advanceTableForm.get('activationStatus').hasError('required')">
                            Activation Status is required
                        </mat-error>
                    </mat-form-field>
                </div>
            </div>

            <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
                    <div class="example-button-row">
                        <button mat-raised-button *ngIf="saveDisabled" color="primary" [type]="submit"
                            [disabled]="!advanceTableForm.valid" (click)="confirmAdd()">Save</button>
                        <mat-spinner *ngIf="!saveDisabled" diameter="30"></mat-spinner>
                        <button *ngIf="action==='add'" mat-raised-button color="warn" (click)="onNoClick()"
                            tabindex="-1">Reset</button>
                        <button *ngIf="action==='edit'" mat-raised-button color="warn" (click)="onNoClick()"
                            tabindex="-1">Cancel</button>
                    </div>
                </div>
            </div>
        </form>
    </div>