<div class="addContainer" >
    <div class="modalHeader">
        <div class="editRowModal">
            <div class="modalHeader clearfix">
                <!-- <img [src]='advanceTable.img' alt="avatar"> -->
                <div class="modal-about">
                    <div class="font-weight-bold p-t-5 font-17">
                        {{dialogTitle}}</div>
                </div>
            </div>
        </div>
        <button mat-icon-button (click)="dialogRef.close()" aria-label="Close dialog">
            <mat-icon>close</mat-icon>
        </button>
    </div>
    <div mat-dialog-content>     
        <form class="register-form m-4" [formGroup]="advanceTableForm" (ngSubmit)="submit">
        <div class="row">
      
            <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                <mat-form-field appearance="outline" floatLabel="always">
                    <mat-label>Car Category</mat-label>
                          <mat-select >

                              <mat-option value="yettostart">Hatch Back</mat-option>
                              <mat-option value="yettostart">Economy 1</mat-option>
                              <mat-option value="yettostart">Economy 2</mat-option>
                              <mat-option value="yettostart">Sedan</mat-option>
                              <mat-option value="yettostart">Crossover</mat-option>
                              <mat-option value="yettostart">MUV</mat-option>
                              <mat-option value="yettostart">SUV</mat-option>
                              <mat-option value="yettostart">Luxury</mat-option>
                          </mat-select>
                  </mat-form-field>
            </div>
            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 mb-2">
                <mat-form-field appearance="outline" floatLabel="always">
                    <mat-label>Car</mat-label>
                          <mat-select >
                              <mat-option value="yettostart">Suzuki Alto</mat-option>
                              <mat-option value="yettostart">Suzuki Wagon R</mat-option>
                              <mat-option value="yettostart">Suzuki Swift</mat-option>
                              <mat-option value="yettostart">Honda City</mat-option>
                              <mat-option value="yettostart">Innova Crysta</mat-option>
                              <mat-option value="yettostart">Fortuner</mat-option>
                              <mat-option value="yettostart">Endeavour</mat-option>
                              <mat-option value="yettostart">Mahindra TUV</mat-option>
                              <mat-option value="yettostart">Toyota Corrola</mat-option>
                              <mat-option value="yettostart">Kia Carnival</mat-option>
                          </mat-select>
                  </mat-form-field>
            </div>
        </div>
        <div class="row">
            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 mb-2">
                <mat-form-field appearance="outline" floatLabel="always" >
                    <mat-label>Vendor</mat-label>
                    <input  matInput >
                </mat-form-field>
            </div>
            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 mb-2">
                <mat-form-field appearance="outline" floatLabel="always" >
                    <mat-label>Registration Number</mat-label>
                    <input  matInput >
                </mat-form-field>

            </div>
 

           
        </div>
        <div class="row">
            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 mb-2">
                <mat-form-field appearance="outline" floatLabel="always" >
                    <mat-label>Driver Name</mat-label>
                    <input  matInput >
                </mat-form-field> 
            </div>

            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 mb-2">
                <mat-form-field appearance="outline" floatLabel="always" >
                    <mat-label>Father's Name</mat-label>
                    <input  matInput >
                </mat-form-field> 
               
            </div>
        </div>

        <div class="row">
            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 mb-2">
                <mat-form-field appearance="outline" floatLabel="always" >
                    <mat-label>License No.</mat-label>
                    <input  matInput >
                </mat-form-field>
            </div>

            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 mb-2">
                <mat-form-field appearance="outline" floatLabel="always">
                    <mat-label>RTO</mat-label>
                    <input  matInput >
                </mat-form-field>
            </div>
        </div>
        <div class="row">
            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 mb-2">
                <button type="button" class="btn btn-primary" >Save</button>     
            </div>
            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 mb-2">
                <button type="button" class="btn btn-primary" >Save and Attach</button>     
            </div>

        </div>

    </form>
    </div>
</div>