<div class="addContainer">
    <div class="modalHeader">
        <div class="editRowModal">
            <div class="modalHeader clearfix">
                <!-- <img [src]='advanceTable.img' alt="avatar"> -->
                <div class="modal-about" style="text-align: center;">
                    <div class="font-weight-bold p-t-5 font-17">
                        {{dialogTitle}}
                    </div>
                    <div class=" p-t-5 font-12">
                        Customer Contract <b>{{CustomerContractName}}</b> Applicable From <b>{{CustomerContractValidFrom
                            | date:'dd-MM-yyyy'}}</b> to <b>{{CustomerContractValidTo | date:'dd-MM-yyyy'}}</b>
                    </div>
                    <div class=" p-t-5 font-12">
                        Rate Card <b>{{supplierRateCardName}}</b>
                    </div>
                </div>
            </div>
        </div>
        <button mat-icon-button (click)="dialogRef.close()" aria-label="Close dialog">
            <mat-icon>close</mat-icon>
        </button>
    </div>
    <div mat-dialog-content>
        <form class="register-form m-4" [formGroup]="advanceTableForm" (ngSubmit)="submit">

            <div class="row">               
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                    <!-- <mat-form-field class="example-full-width" appearance="outline" floatLabel="always">
                        <mat-label>Vehicle Category</mat-label>
                        <mat-select required #vehicleCatVal [class.is-invalid]="vehicleCatVal.invalid && vehicleCatVal.touched" formControlName="customerContractCarCategoryID">
                            <mat-option [value]="VehicleCategory.customerContractCarCategoryID" *ngFor="let VehicleCategory of VehicleCategoryList">{{VehicleCategory.customerContractCarCategory}}</mat-option>
                        </mat-select>
                        <mat-error>
                            Please select a Vehicle Category
                        </mat-error>
                    </mat-form-field> -->
                      <mat-form-field class="example-full-width" appearance="outline" floatLabel="always">
                        <mat-label>Vehicle Category</mat-label>
                        <input required type="text" matInput formControlName="customerContractCarCategory" [matAutocomplete]="auto">
                        <mat-autocomplete #auto="matAutocomplete">
                          <mat-option *ngFor="let option of filteredCategoryOptions | async" 
                          [value]="option.customerContractCarCategory" (click)="getTitles(option.customerContractCarCategoryID)">
                            {{option.customerContractCarCategory}}
                          </mat-option>
                        </mat-autocomplete>
                        <mat-error *ngIf="advanceTableForm.get('customerContractCarCategory').hasError('invalidVCSelection')">
                           Please Select Vehicle Category
                        </mat-error>
                      </mat-form-field>

                </div>

                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                    <!-- <mat-form-field class="example-full-width" appearance="outline" floatLabel="always">
                        <mat-label>City Tier</mat-label>
                        <mat-select matInput formControlName="customerContractCityTiersID" required>
                            <mat-option [value]="CityTier.customerContractCityTiersID" *ngFor="let CityTier of CityTierList">{{CityTier.customerContractCityTier}}</mat-option>
                        </mat-select>  
                        <mat-error>
                            Please select a City Tier
                        </mat-error>
                    </mat-form-field> -->
                    <mat-form-field class="example-full-width" appearance="outline" floatLabel="always">
                        <mat-label>City Tier</mat-label>
                        <input required type="text" matInput formControlName="customerContractCityTier" [matAutocomplete]="auto1">
                        <mat-autocomplete #auto1="matAutocomplete">
                          <mat-option *ngFor="let option of filteredTierOptions | async" 
                          [value]="option.customerContractCityTier" (click)="getTierTitles(option.customerContractCityTiersID)">
                            {{option.customerContractCityTier}}
                          </mat-option>
                        </mat-autocomplete>
                        <mat-error *ngIf="advanceTableForm.get('customerContractCityTier').hasError('invalidCTSelection')">
                           Please Select City Tier
                        </mat-error>
                      </mat-form-field>
                </div>
            </div>

            <div class="row">
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width" appearance="outline" floatLabel="always">
                        <mat-label>Package</mat-label>
                        <input required type="text" matInput formControlName="package" [matAutocomplete]="auto2">
                        <mat-autocomplete #auto2="matAutocomplete">
                          <mat-option *ngFor="let option of filteredPackageOptions | async" 
                          [value]="option.package" (click)="getPackage(option.packageID)">
                            {{option.package}}
                          </mat-option>
                        </mat-autocomplete>
                        <mat-error *ngIf="advanceTableForm.get('package').hasError('invalidPackageSelection')">
                            Please Select Package
                        </mat-error>
                      </mat-form-field>
                </div>

                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width" appearance="outline" floatLabel="always">
                        <mat-label>Bill From/To</mat-label>
                        <mat-select required #billfromtoVal
                            [class.is-invalid]="billfromtoVal.invalid && billfromtoVal.touched"
                            formControlName="billFromTo">
                            <mat-option value="Garage">Garage</mat-option>
                            <mat-option value="Pickup">Pickup</mat-option>
                        </mat-select>
                        <mat-error>
                            Bill From/To is required
                        </mat-error>
                    </mat-form-field>
                </div>
            </div>
            <div class="row">
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width" appearance="outline" floatLabel="always">
                        <mat-label>Minimum Days </mat-label>
                        <input matInput (keypress)="numberOnly($event)" formControlName="minimumDays" required>
                        <mat-error *ngIf="advanceTableForm.get('minimumDays').hasError('required')">
                            Package KMs is required
                        </mat-error>
                    </mat-form-field>
                </div>

                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width" appearance="outline" floatLabel="always">
                        <mat-label>Free KM Per day</mat-label>
                        <input matInput (keypress)="numberOnly($event)" formControlName="freeKMPerday" required>
                        <mat-error *ngIf="advanceTableForm.get('freeKMPerday').hasError('required')">
                            Package Hours is required
                        </mat-error>
                    </mat-form-field>

                </div>
            </div>

            <div class="row">
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width" appearance="outline" floatLabel="always">
                        <mat-label>Package Rate</mat-label>
                        <input matInput (keypress)="keyPressNumbersDecimal($event)" formControlName="packageRate"
                            required>
                        <mat-error *ngIf="advanceTableForm.get('packageRate').hasError('required')">
                            Package Rate is required
                        </mat-error>
                    </mat-form-field>
                </div>

                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width" appearance="outline" floatLabel="always">
                        <mat-label>Extra Per Day Rate</mat-label>
                        <input matInput (keypress)="keyPressNumbersDecimal($event)" formControlName="extraPerdayRate"
                            required>
                        <mat-error *ngIf="advanceTableForm.get('extraPerdayRate').hasError('required')">
                            Extra Per Day Rate is required
                        </mat-error>
                    </mat-form-field>
                </div>
            </div>

            <div class="row">
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width" appearance="outline" floatLabel="always">
                        <mat-label>Extra Hour Rate </mat-label>
                        <input matInput (keypress)="keyPressNumbersDecimal($event)" formControlName="extraHourRate"
                            required>
                        <mat-error *ngIf="advanceTableForm.get('extraHourRate').hasError('required')">
                            Extra Hour Rate is required
                        </mat-error>
                    </mat-form-field>
                </div>

                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width" appearance="outline" floatLabel="always">
                        <mat-label>Extra KM Rate </mat-label>
                        <input matInput (keypress)="numberOnly($event)" formControlName="extraKMRate" required>
                        <mat-error *ngIf="advanceTableForm.get('extraKMRate').hasError('required')">
                            Extra KM Rate is required
                        </mat-error>
                    </mat-form-field>
                </div>
            </div>

            <div class="row">
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width" appearance="outline" floatLabel="always">
                        <mat-label>Delivery Charges </mat-label>
                        <input matInput (keypress)="keyPressNumbersDecimal($event)" formControlName="deliveryCharges"
                            required>
                        <mat-error *ngIf="advanceTableForm.get('deliveryCharges').hasError('required')">
                            Delivery Charges is required
                        </mat-error>
                    </mat-form-field>
                </div>

                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width" appearance="outline" floatLabel="always">
                        <mat-label>Delivery Charges At Night </mat-label>
                        <input matInput (keypress)="keyPressNumbersDecimal($event)"
                            formControlName="deliveryChargesAtNight" required>
                        <mat-error *ngIf="advanceTableForm.get('deliveryChargesAtNight').hasError('required')">
                            Delivery Charges At Night is required
                        </mat-error>
                    </mat-form-field>
                </div>
            </div>

            <div class="row">
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width" appearance="outline" floatLabel="always">
                        <mat-label>Pickup Charges</mat-label>

                        <input matInput (keypress)="numberOnly($event)" formControlName="pickupCharges" required>
                        <mat-error *ngIf="advanceTableForm.get('pickupCharges').hasError('required')">
                            Pickup Charges is required
                        </mat-error>
                    </mat-form-field>
                </div>

                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width" appearance="outline" floatLabel="always">
                        <mat-label>Pickup Charges At Night </mat-label>
                        <input matInput (keypress)="numberOnly($event)" formControlName="pickupChargesAtNight" required>
                        <mat-error *ngIf="advanceTableForm.get('pickupChargesAtNight').hasError('required')">
                            Pickup Charges At Night is required
                        </mat-error>
                    </mat-form-field>
                </div>
            </div>

            <div class="row">
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width" appearance="outline" floatLabel="always">
                        <mat-label>Night Charge Start Time</mat-label>
                        <input required matInput [owlDateTimeTrigger]="time1" [owlDateTime]="time1"
                            formControlName="nightChargeStartTime">
                        <mat-icon matSuffix [owlDateTimeTrigger]="time1" class="date-icon">schedule</mat-icon>
                        <owl-date-time [pickerType]="'timer'" #time1></owl-date-time>

                        <mat-error *ngIf="advanceTableForm.get('nightChargeStartTime').hasError('required')">
                            Night Charge Start Time is required
                        </mat-error>
                    </mat-form-field>
                </div>

                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width" appearance="outline" floatLabel="always">
                        <mat-label>Night Charge End Time</mat-label>
                        <input required matInput [owlDateTimeTrigger]="time2" [owlDateTime]="time2"
                            formControlName="nightChargeEndTime">
                        <mat-icon matSuffix [owlDateTimeTrigger]="time2" class="date-icon">schedule</mat-icon>
                        <owl-date-time [pickerType]="'timer'" #time2></owl-date-time>

                        <mat-error *ngIf="advanceTableForm.get('nightChargeEndTime').hasError('required')">
                            Night Charge End Time is required
                        </mat-error>
                    </mat-form-field>
                </div>
            </div>

            <div class="row">
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width" appearance="outline" floatLabel="always">
                        <mat-label>Next Day Charging</mat-label>
                        <input matInput [owlDateTimeTrigger]="ndc" [owlDateTime]="ndc"
                            formControlName="nextDayCharging">
                        <mat-icon matSuffix [owlDateTimeTrigger]="ndc" class="date-icon">today</mat-icon>
                        <owl-date-time #ndc></owl-date-time>
                    </mat-form-field>
                </div>

                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width" appearance="outline" floatLabel="always">
                        <mat-label>Grace KMs</mat-label>
                        <input matInput (keypress)="keyPressNumbersDecimal($event)" formControlName="graceKMs" required>
                        <mat-error *ngIf="advanceTableForm.get('graceKMs').hasError('required')">
                            Grace KMs is required

                        </mat-error>
                    </mat-form-field>
                </div>
            </div>

            <div class="row">
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width" appearance="outline" floatLabel="always">
                        <mat-label>Grace Hours</mat-label>
                        <input matInput (keypress)="keyPressNumbersDecimal($event)" formControlName="graceHours"
                            required>
                        <mat-error *ngIf="advanceTableForm.get('graceHours').hasError('required')">
                            Grace Hours is required
                        </mat-error>
                    </mat-form-field>
                </div>

                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width" appearance="outline" floatLabel="always">
                        <mat-label>Security Deposit Amount</mat-label>
                        <input matInput (keypress)="keyPressNumbersDecimal($event)"
                            formControlName="securityDepositAmount" required>
                        <mat-error *ngIf="advanceTableForm.get('securityDepositAmount').hasError('required')">
                            Security Deposit Amount is required
                        </mat-error>
                    </mat-form-field>
                </div>
            </div>

            <div class="row">
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width" appearance="outline" floatLabel="always">
                        <mat-label>Activation Status</mat-label>
                        <mat-select formControlName="activationStatus">
                            <mat-option [value]=true>Active</mat-option>
                            <mat-option [value]=false>Deleted</mat-option>
                        </mat-select>

                        <mat-error *ngIf="advanceTableForm.get('activationStatus').hasError('required')">
                            Activation Status is required
                        </mat-error>
                    </mat-form-field>
                </div>
            </div>

            <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
                    <div class="example-button-row">
                        <button mat-raised-button color="primary" [type]="submit" [disabled]="!advanceTableForm.valid"
                            (click)="confirmAdd()">Save</button>
                        <button *ngIf="action==='add'" mat-raised-button color="warn" (click)="reset()" tabindex="-1">Reset</button>
                        <button *ngIf="action==='edit'" mat-raised-button color="warn" (click)="onNoClick()" tabindex="-1">Cancel</button>
                    </div>
                </div>
            </div>
        </form>
    </div>