<!-- <div class="modalHeader">
    <div class="editRowModal">
      <div class="modalHeader clearfix">
        <div class="modal-about">
          <div class="font-weight-bold p-t-5 font-17">
          
          </div>
        </div>
      </div>
    </div>
    <button mat-icon-button (click)="dialogRef.close()" aria-label="Close dialog">
      <mat-icon class="small-close-icon">close</mat-icon>
    </button>
  </div>
  




    <div class="card" *ngFor="let feedBackData of driverFeedbackInfo">
      <div class="header bg-cyan">
          <h2>
            {{feedBackData.dateOfFeedback | date:'dd MMM yyyy'}}      
          </h2>
          <!-- <ul class="header-dropdown m-r-0">
            <li>
              <a href="#" onClick="return false;">
                <i class="material-icons">info_outline</i>
              </a>
            </li>
            <li>
              <a href="#" onClick="return false;">
                <i class="material-icons">help_outline</i>
              </a>
            </li>
          </ul> 
      </div>
      <div style="background-color: #ebeef1; margin-top: 10px;">
        <div class="row" >
          <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
             <h4>
              {{feedBackData.feedbackRemark}},Rating - {{feedBackData.feedbackPointsOutOfFive}},
              {{feedBackData.packageType}} -
              {{feedBackData.package}},{{feedBackData.timeOfFeedback | date:'shortTime'}},
             Sent - {{feedBackData.registrationNumber}}, {{feedBackData.vehicle}}
             </h4>
              
          </div>
        
        </div>
      </div>
      
  </div>  
  

    -->


    <div class="modalHeader">
      <div class="editRowModal">
        <div class="modalHeader clearfix" >
          <div class="modal-about">
            <div class="font-weight-bold p-t-5 font-17" >
              {{DriverName}}'s {{ dialogTitle }}
            </div>
          </div>
        </div>
      </div>
      <button mat-icon-button (click)="dialogRef.close()" aria-label="Close dialog">
        <mat-icon class="small-close-icon">close</mat-icon>
      </button>
    </div>

    <!-- Intentionally keep dialog body empty when no feedback exists
         to match compact header-only design -->
  <ng-container *ngIf="!isLoading && dataSource && dataSource.length > 0">
    <mat-dialog-content class="mat-typography">
    <ng-container  *ngFor="let feedBackData of dataSource" >
    <mat-card>
      <mat-card-content>
        
          <div class="row">
            <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 mb-2">
              <span class="TDValueBold">Date Of Feedback</span> <br />
              <span class="TDValue">{{feedBackData.dateOfFeedback | date:'dd MMM yyyy'}}</span>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 mb-2">
              <span class="TDValueBold">Feedback Remark</span> <br />
              <span class="TDValue">{{feedBackData.feedbackRemark}} </span>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 mb-2">
              <span class="TDValueBold">Feedback Points</span> <br />
              <span class="TDValue">{{feedBackData.feedbackPointsOutOfFive}} </span>
            </div>
           
          </div>
          <div class="row">
            <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 mb-2">
              <span class="TDValueBold">Package Type</span> <br />
              <span class="TDValue">{{feedBackData.packageType}}</span>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 mb-2">
              <span class="TDValueBold">Package</span> <br />
              <span class="TDValue">{{feedBackData.package}}</span>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 mb-2">
              <span class="TDValueBold">Time Of Feedback</span> <br />
              <span class="TDValue">{{feedBackData.timeOfFeedback | date:'shortTime'}}</span>
            </div>
          </div>
          <div class="row">
            <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 mb-2">
              <span class="TDValueBold">Registration No</span> <br />
              <span class="TDValue">{{feedBackData.registrationNumber}}</span>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 mb-2">
              <span class="TDValueBold">Car</span> <br />
              <span class="TDValue">{{feedBackData.vehicle}}</span>
            </div>
          </div>
      
      </mat-card-content>
    </mat-card>
    <br>
  </ng-container>
</mat-dialog-content>
</ng-container>
  <mat-progress-bar
    mode="indeterminate"
    *ngIf="isLoading && dataSource && dataSource.length > 0"
  ></mat-progress-bar>
  <mat-paginator
    *ngIf="!isLoading && dataSource && dataSource.length > 0 && totalData > 0"
    #paginator
    [length]="totalData"
    [pageSize]="recordsPerPage"
    (page)="onChangedPage($event)"
    showFirstLastButtons
  ></mat-paginator>
