.passenger-history-close-btn
  width: 50px !important
  height: 50px !important
  min-width: 50px !important
  border-radius: 50% !important
  background-color: #f1f1f1 !important
  display: inline-flex !important
  align-items: center !important
  justify-content: center !important
  box-shadow: none !important

.small-close-icon
  font-size: 42px
  line-height: 1
  color: #444
  font-weight: 300
