<section class="content">
    <div class="container-fluid">
        <div class="block-header">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <ul>
                        <li class="breadcrumb-item bcrumb-1">
                            <a routerLink="/dashboard/main">
                                <i class="fas fa-home"></i> Home</a>|
                            <a href="#" onClick="return false;">Admin</a>|
                            <a href="#" onClick="return false;">Invoice Home</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <mat-accordion>
            <mat-expansion-panel expanded="true">
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        Quick Search
                    </mat-panel-title>
                </mat-expansion-panel-header>

                <div id="exampleModalLongTitle" class="invoice-home-search quick-search-panel">
                    <div class="row">
                        <div class="col-xl-2 col-lg-2 col-md-2 col-sm-12 mb-2">
                            <mat-form-field class="example-full-width cp-quick-search-field" appearance="fill" floatLabel="auto" subscriptSizing="dynamic">
                                <mat-label>Customer Group</mat-label>
                                <input type="text" matInput [matAutocomplete]="auto" [formControl]="customerGroup">
                                <mat-autocomplete #auto (optionSelected)="onCustomerGroupSelected($event.option.value)"  panelWidth="custom-autocomplete-panel">
                                    <mat-option *ngFor="let options of filteredOptions | async"
                                        [value]="options.customerGroup" (click)="getGroupID(options.customerGroupID)">
                                        {{options.customerGroup}}
                                    </mat-option>
                                </mat-autocomplete>
                            </mat-form-field>
                        </div>

                        <div class="col-xl-2 col-lg-2 col-md-2 col-sm-12 mb-2">
                            <mat-form-field class="example-full-width cp-quick-search-field" appearance="fill" floatLabel="auto">
                                <mat-label>Customer</mat-label>
                                <input (keyup)="onKeyupCustomerName($event)" type="text" matInput [matAutocomplete]="auto1" [formControl]="customer">
                                <mat-autocomplete #auto1="matAutocomplete"
                                    (optionSelected)="onCustomerSelected($event.option.value)"  panelWidth="custom-autocomplete-panel">
                                    <mat-option *ngFor="let option of filteredCustomerOptions | async"
                                        [value]="option.customerName">
                                        {{option.customerName}}
                                    </mat-option>
                                </mat-autocomplete>
                                <!-- <mat-error *ngIf="customer.hasError('required')">Customer is required</mat-error> -->
                            </mat-form-field>
                        </div>

                        <div class="col-xl-2 col-lg-2 col-md-2 col-sm-12 mb-2">
                            <mat-form-field class="example-full-width cp-quick-search-field" appearance="fill" floatLabel="auto" subscriptSizing="dynamic">
                                <mat-label>Invoice No</mat-label>
                                <input type="text" matInput [(ngModel)]="searchInvoiceNo">
                            </mat-form-field>
                        </div>

                        <div class="col-xl-2 col-lg-2 col-md-2 col-sm-12 mb-2">
                            <mat-form-field class="example-full-width cp-quick-search-field" appearance="fill" floatLabel="auto" subscriptSizing="dynamic">
                                <mat-label>Branch</mat-label>
                                <input type="text" matInput [formControl]="branch" [matAutocomplete]="auto5">
                                <mat-autocomplete #auto5="matAutocomplete">
                                    <mat-option *ngFor="let options of filteredOrganizationalEntityOptions | async"
                                        [value]="options.organizationalEntityName">
                                        {{ options.organizationalEntityName }}
                                    </mat-option>
                                </mat-autocomplete>
                            </mat-form-field>
                        </div>

                        <div class="col-xl-2 col-lg-2 col-md-2 col-sm-12 mb-2">
                            <mat-form-field class="example-full-width cp-quick-search-field" appearance="fill" floatLabel="auto" subscriptSizing="dynamic">
                                <mat-label>Date From</mat-label>
                                <input matInput [matDatepicker]="startDate" [(ngModel)]="SearchFromDate">
                                <mat-datepicker-toggle matSuffix [for]="startDate"></mat-datepicker-toggle>
                                <mat-datepicker #startDate></mat-datepicker>
                            </mat-form-field>
                        </div>

                        <div class="col-xl-2 col-lg-2 col-md-2 col-sm-12 mb-2">
                            <mat-form-field class="example-full-width cp-quick-search-field" appearance="fill" floatLabel="auto" subscriptSizing="dynamic">
                                <mat-label>Date To</mat-label>
                                <input matInput [matDatepicker]="endDate" [(ngModel)]="SearchToDate">
                                <mat-datepicker-toggle matSuffix [for]="endDate"></mat-datepicker-toggle>
                                <mat-datepicker #endDate></mat-datepicker>
                            </mat-form-field>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-xl-2 col-lg-2 col-md-2 col-sm-12 mb-2">
                            <mat-form-field class="example-full-width cp-quick-search-field mb-3" appearance="fill" floatLabel="auto" subscriptSizing="dynamic">
                                <mat-label>Invoice Status</mat-label>
                                <mat-select [(ngModel)]="SearchInvoiceStatus">
                                    <mat-option value="Active">Active</mat-option>
                                    <mat-option value="Void">Void</mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>

                        <div class="col-xl-2 col-lg-2 col-md-2 col-sm-12 mb-2">
                            <mat-form-field class="example-full-width cp-quick-search-field mb-3" appearance="fill" floatLabel="auto" subscriptSizing="dynamic">
                                <mat-label>E - Invoice Status</mat-label>
                                <mat-select [(ngModel)]="SearchEInvoiceStatus">
                                    <mat-option value="Not Created">Not Created</mat-option>
                                    <mat-option value="Generated">Generated</mat-option>
                                    <mat-option value="Cancelled">Cancelled</mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                        <div class="col-xl-2 col-lg-2 col-md-2 col-sm-12 mb-2">
                            <mat-form-field class="example-full-width cp-quick-search-field" appearance="fill" floatLabel="auto" subscriptSizing="dynamic">
                                <mat-label>Duty Slip No</mat-label>
                                <input type="text" matInput [(ngModel)]="searchDutySlip">

                            </mat-form-field>
                        </div>
                        <div class="col-xl-2 col-lg-2 col-md-2 col-sm-12 mb-2">
                            <mat-form-field class="example-full-width cp-quick-search-field" appearance="fill" floatLabel="auto" subscriptSizing="dynamic">
                                <mat-label>Reservation ID</mat-label>
                                <input type="text" matInput [(ngModel)]="searchReservationID">

                            </mat-form-field>
                        </div>
                    </div>

                    <div class="row quick-search-actions">
                        <div class="col-xl-2 col-lg-2 col-md-2 col-sm-12 mb-2">
                            <button mat-raised-button color="primary" (click)="SearchData()"
                                data-target="#exampleModalCenter">
                                Search
                            </button>
                        </div>
                        <div class="col-xl-2 col-lg-2 col-md-2 col-sm-12 mb-2">
                            <button mat-raised-button color="primary" (click)="refresh()">
                                Refresh
                            </button>
                        </div>
                        <div class="col-xl-2 col-lg-2 col-md-2 col-sm-12 mb-2"></div>
                        <div class="col-xl-2 col-lg-2 col-md-2 col-sm-12 mb-2"></div>
                        <div class="col-xl-2 col-lg-2 col-md-2 col-sm-12 mb-2"></div>
                        <div class="col-xl-2 col-lg-2 col-md-2 col-sm-12 mb-2">
                            <button mat-raised-button color="primary" data-dismiss="modal" data-toggle="modal"
                                data-backDrop="false" (click)="openAttachDetachForAdd()"> Add New
                            </button>
                        </div>
                    </div>
                </div>
            </mat-expansion-panel>
        </mat-accordion>

        <br>

        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="card">
                    <div class="body">
                        <div class="responsive_table">
                            <div class="table-responsive">


                                <!-- <label>
                                <input type="checkbox" [(ngModel)]="isChecked">
                                Check me!
                            </label> -->
                                <!-- <p>Checkbox is {{ isChecked ? 'checked' : 'unchecked' }}</p> -->
                                <p *ngIf="!dataSource; then thenBlock2 else elseBlock2">
                                    This is not rendered
                                </p>

                                <ng-template #thenBlock2>
                                    <div class="alert alert-primary"
                                        style="background-color:#E8E8E8; text-align: center;">
                                        No Records Found</div>
                                    <div class="body">
                                        <div class="example-button-row">

                                            <button mat-raised-button color="primary"
                                                (click)="PreviousCall()">Previous</button>
                                            <button mat-raised-button color="primary" (click)="NextCall()">Next</button>

                                        </div>
                                    </div>

                                </ng-template>

                                <ng-template #elseBlock2>
                                    <div class="scrollable-table-container">
                                        <mat-table #table [dataSource]="dataSource" matSort
                                            class="mat-cell floating-header-table"
                                            (matSortChange)="SortingData($event)">

                                            <!-- <ng-container matColumnDef="SR">
                                                <mat-header-cell *matHeaderCellDef mat-sort-header>Select Request</mat-header-cell>
                                                <mat-cell *matCellDef="let row"><a style="color: #007bff;" (click)="openInNewTab(row)"><u>Select</u></a></mat-cell>
                                            </ng-container> -->

                                            <ng-container matColumnDef="invoiceNumberWithPrefix">
                                                <mat-header-cell *matHeaderCellDef
                                                    mat-sort-header>Number</mat-header-cell>
                                                <mat-cell
                                                    *matCellDef="let row">{{row.invoiceNumberWithPrefix}}</mat-cell>
                                            </ng-container>
                                            <ng-container matColumnDef="customerName">
                                                <mat-header-cell *matHeaderCellDef mat-sort-header>Customer
                                                    Name</mat-header-cell>
                                                <mat-cell *matCellDef="let row">{{row.customerName}}</mat-cell>
                                            </ng-container>

                                            <ng-container matColumnDef="invoiceDate">
                                                <mat-header-cell *matHeaderCellDef
                                                    mat-sort-header>Date</mat-header-cell>
                                                <mat-cell *matCellDef="let row"
                                                    (contextmenu)="onContextMenu($event, row)">
                                                    {{row.invoiceDate ? (row.invoiceDate | date : 'dd-MM-yyyy') :
                                                    'N/A'}}</mat-cell>
                                            </ng-container>

                                            <ng-container matColumnDef="invoiceTotalAmountAfterGST">
                                                <mat-header-cell *matHeaderCellDef
                                                    mat-sort-header>Amount</mat-header-cell>
                                                <mat-cell *matCellDef="let row"
                                                    (contextmenu)="onContextMenu($event, row)">
                                                    {{ row.invoiceTotalAmountAfterGST | currency : 'INR' : 'symbol' :
                                                    '1.0-0' || 'N/A'}}</mat-cell>
                                            </ng-container>

                                            <ng-container matColumnDef="totalCreditNoteAmount">
                                                <mat-header-cell *matHeaderCellDef mat-sort-header
                                                    style="white-space: nowrap;">Credit Amount</mat-header-cell>
                                                <mat-cell *matCellDef="let row"
                                                    (contextmenu)="onContextMenu($event, row)">
                                                    {{ row.totalCreditNoteAmount | currency : 'INR' : 'symbol' : '1.0-0'
                                                    ||
                                                    'N/A'}}</mat-cell>
                                            </ng-container>

                                            <ng-container matColumnDef="organizationalEntityName">
                                                <mat-header-cell *matHeaderCellDef
                                                    mat-sort-header>Branch</mat-header-cell>
                                                <mat-cell *matCellDef="let row"
                                                    (contextmenu)="onContextMenu($event, row)">
                                                    {{row.organizationalEntityName ? row.organizationalEntityName :
                                                    'N/A'}}</mat-cell>
                                            </ng-container>

                                            <ng-container matColumnDef="invoiceType">
                                                <mat-header-cell *matHeaderCellDef mat-sort-header>Invoice
                                                    Type</mat-header-cell>
                                                <mat-cell *matCellDef="let row"
                                                    (contextmenu)="onContextMenu($event, row)">
                                                    {{row.invoiceType ? row.invoiceType : 'N/A'}}</mat-cell>
                                            </ng-container>

                                            <ng-container matColumnDef="invoiceStatusActiveOrVoid">
                                                <mat-header-cell *matHeaderCellDef mat-sort-header>Invoice
                                                    Status</mat-header-cell>
                                                <mat-cell *matCellDef="let row"
                                                    (contextmenu)="onContextMenu($event, row)">
                                                    {{row.invoiceStatusActiveOrVoid ? row.invoiceStatusActiveOrVoid :
                                                    'N/A'}}</mat-cell>
                                            </ng-container>

                                            <ng-container matColumnDef="IRNStatus">
                                                <mat-header-cell *matHeaderCellDef mat-sort-header>E - Invoice
                                                    Status</mat-header-cell>
                                                <mat-cell *matCellDef="let row"
                                                    (contextmenu)="onContextMenu($event, row)">
                                                    {{row.irnStatus ? row.irnStatus : 'N/A'}}</mat-cell>
                                            </ng-container>
                                            <!-- View Credit Note -->
                                            <ng-container matColumnDef="viewCreditNote">
                                                <mat-header-cell *matHeaderCellDef class="pr-0"
                                                    style="width: 70px; padding: 0; margin: 0;">Credit
                                                    Note</mat-header-cell>
                                                <mat-cell *matCellDef="let row; let i=index;" class="pr-0"
                                                    style="width: 70px; padding: 0; margin: 0;">

                                                    <!-- <button mat-raised-button color="primary"
                                                    [disabled]="row.customerName==='Individual'" (click)="openAttachDetachForEdit(row.invoiceNumberWithPrefix)">
                                                    Select
                                                </button> -->
                                                </mat-cell>
                                            </ng-container>

                                            <ng-container matColumnDef="viewHistory">
                                                <mat-header-cell *matHeaderCellDef class="pl-0"
                                                    style="width: 50px; padding: 0; margin: 0;">History</mat-header-cell>
                                                <mat-cell *matCellDef="let row; let i=index;" class="pl-0"
                                                    style="width: 50px; padding: 0; margin: 0;">

                                                    <button mat-raised-button color="primary"
                                                        [disabled]="row.customerName==='Individual'"
                                                        (click)="viewCreditNote(row)">
                                                        Select
                                                    </button>
                                                </mat-cell>
                                            </ng-container>

                                            <!-- actions -->
                                            <ng-container matColumnDef="actions">
                                                <mat-header-cell *matHeaderCellDef class="pr-0"
                                                    [ngClass]="'tbl-col-width-per-9'">Actions</mat-header-cell>
                                                <mat-cell *matCellDef="let row; let i=index;" class="pr-0"
                                                    [ngClass]="'tbl-col-width-per-9'">

                                                    <button mat-raised-button color="primary"
                                                        (contextmenu)="onContextMenu($event, row)"
                                                        (click)="onContextMenu($event, row)">
                                                        Actions
                                                    </button>
                                                </mat-cell>
                                            </ng-container>

                                            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                                            <mat-row *matRowDef="let row; columns: displayedColumns;"
                                                [style.cursor]="'pointer'" matRipple>
                                            </mat-row>
                                        </mat-table>
                                    </div>

                                    <!-- context menu start -->
                                    <div style="visibility: hidden; position: fixed"
                                        [style.left]="contextMenuPosition.x" [style.top]="contextMenuPosition.y"
                                        [matMenuTriggerFor]="contextMenu">
                                    </div>
                                    <mat-menu #contextMenu="matMenu">
                                        <ng-template matMenuContent let-item="item">
                                            <button mat-menu-item (click)="openAttachDetachForEdit(item)"
                                                [disabled]="item.invoiceType==='InvoiceGeneral'">
                                                <mat-icon>create</mat-icon>
                                                <span>Edit</span>
                                            </button>

                                            <!-- <button mat-menu-item>
                                                <mat-icon>how_to_reg</mat-icon>
                                                <span>Create Credit Note</span>
                                            </button> -->

                                            <button mat-menu-item (click)="viewCreditNote(item)">
                                                <mat-icon>how_to_reg</mat-icon>
                                                <span>Credit Note History</span>
                                            </button>
                                            <button mat-menu-item (click)="viewInvoiceBilling(item)">
                                                <mat-icon>how_to_reg</mat-icon>
                                                <span>Invoice History</span>
                                            </button>
                                            <button mat-menu-item (click)="ViewBill(item)">
                                                <mat-icon>how_to_reg</mat-icon>
                                                <span>View Bill</span>
                                            </button>
                                            <button mat-menu-item (click)="cancelInvoice(item)"
                                                [disabled]="item.invoiceStatusActiveOrVoid === 'Void'">
                                                <mat-icon>how_to_reg</mat-icon>
                                                <span>Cancel Invoice</span>
                                            </button>
                                        </ng-template>
                                    </mat-menu>

                                    <div class="body">
                                        <div class="example-button-row">

                                            <button mat-raised-button color="primary"
                                                (click)="PreviousCall()">Previous</button>
                                            <button mat-raised-button color="primary" (click)="NextCall()">Next</button>

                                        </div>
                                    </div>

                                </ng-template>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>