<div class="addContainer">
    <div class="modalHeader">
        <div class="editRowModal">
            <div class="modalHeader clearfix">
                <!-- <img [src]='advanceTable.img' alt="avatar"> -->
                <div class="modal-about">
                    <div class="font-weight-bold p-t-5 font-17">
                        {{dialogTitle}} {{CustomerGroupName}}</div>
                </div>
            </div>
        </div>
        <button mat-icon-button (click)="dialogRef.close()" aria-label="Close dialog">
            <mat-icon>close</mat-icon>
        </button>
    </div>
    <div mat-dialog-content *ngIf=" this.someAction !== 'CP'">
        <form class="register-form m-4" [formGroup]="advanceTableForm" (ngSubmit)="submit">

            <div class="row">
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width" appearance="outline" floatLabel="always">
                        <mat-label>Customer</mat-label>
                        <input required type="text" matInput formControlName="customerName" [matAutocomplete]="auto15">
                        <mat-autocomplete #auto15="matAutocomplete"
                            (optionSelected)="OnCustomerSelect($event.option.value)">
                            <mat-option *ngFor="let option of filteredCustomerOptions  | async"
                                [value]="option.customerName" (click)="getCustomerID(option.customerID)">
                                {{option.customerName}}
                            </mat-option>
                        </mat-autocomplete>
                        <mat-error *ngIf="advanceTableForm.controls['customerName'].hasError('customerInvalid')">
                            Please select a Customer
                        </mat-error>
                    </mat-form-field>
                </div>

                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width" appearance="outline" floatLabel="always">
                        <mat-label>Salutation</mat-label>
                        <input required type="text" matInput formControlName="salutation" [matAutocomplete]="auto">
                        <mat-autocomplete #auto="matAutocomplete"
                            (optionSelected)="OnSalutationSelect($event.option.value)">
                            <mat-option *ngFor="let option of filteredSalutationOptions | async"
                                [value]="option.salutation" (click)="getTitles(option.salutationID)">
                                {{option.salutation}}
                            </mat-option>
                        </mat-autocomplete>
                        <mat-error *ngIf="advanceTableForm.controls['salutation'].hasError('salutationInvalid')">
                            Please select a Salutation
                        </mat-error>
                    </mat-form-field>
                </div>
            </div>

            <div class="row">
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width" appearance="outline" floatLabel="always">
                        <mat-label>Customer Person Name</mat-label>
                        <input matInput formControlName="customerPersonName" required>
                        <mat-error *ngIf="advanceTableForm.get('customerPersonName')?.hasError('required')">
                            Customer Person Name is required
                        </mat-error>
                        <mat-error *ngIf="advanceTableForm.get('customerPersonName')?.hasError('duplicate')">
                            Duplicate Name and Mobile combination found in this Customer Group
                        </mat-error>
                    </mat-form-field>
                </div>

                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width" appearance="outline" floatLabel="always">
                        <mat-label>Gender</mat-label>
                        <mat-select required #genderVal [class.is-invalid]="genderVal.invalid && genderVal.touched"
                            formControlName="gender">
                            <mat-option value="Male">Male</mat-option>
                            <mat-option value="Female">Female</mat-option>
                            <mat-option value="Other">Other</mat-option>
                        </mat-select>

                        <mat-error>
                            Gender is required
                        </mat-error>
                    </mat-form-field>
                </div>
            </div>

            <div class="row">
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width" appearance="outline" floatLabel="always">
                        <mat-label>Importance</mat-label>
                        <mat-select required #importanceVal
                            [class.is-invalid]="importanceVal.invalid && importanceVal.touched"
                            formControlName="importance" (selectionChange)="onImportanceChange($event)">
                            <mat-option value="CXO">CXO</mat-option>
                            <mat-option value="General">General</mat-option>
                            <mat-option value="VIP">VIP</mat-option>
                        </mat-select>

                        <mat-error>
                            Importance is required
                        </mat-error>
                    </mat-form-field>
                </div>

                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width" appearance="outline" floatLabel="always">
                        <mat-label>Primary Email</mat-label>
                        <input matInput formControlName="primaryEmail" (input)="onPrimaryEmailChange()" required>
                        <mat-error *ngIf="advanceTableForm.get('primaryEmail')?.hasError('required')">
                            Primary Email is required
                        </mat-error>
                        <!-- <mat-error *ngIf="advanceTableForm.get('primaryEmail')?.hasError('duplicate')">
                            Duplicate Email found for this customer
                        </mat-error> -->
                    </mat-form-field>

                </div>
            </div>

            <div class="row">
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width" appearance="outline" floatLabel="always">
                        <mat-label>Billing Email</mat-label>
                        <input matInput formControlName="billingEmail" required>
                        <mat-error *ngIf="advanceTableForm.get('billingEmail').hasError('required')">
                            Billing Email is required
                        </mat-error>
                    </mat-form-field>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-1 col-sm-1 mb-1">
                    <!-- <mat-form-field class="example-full-width" appearance="outline" floatLabel="always">
                        <mat-label>Country Code</mat-label>
                        <mat-select 
                            formControlName="countryCode">
                            <mat-option [value]="GeoPoint.countryISDCode"
                                *ngFor="let GeoPoint of CountryCodeList">{{GeoPoint.countryISDCode}}</mat-option>
                        </mat-select>
                    </mat-form-field> -->
                    <mat-form-field class="example-full-width" appearance="outline" floatLabel="always">
                        <mat-label>Country Code</mat-label>
                        <input required type="text" matInput formControlName="countryCode" [matAutocomplete]="auto9">

                        <mat-autocomplete #auto9="matAutocomplete" (optionSelected)="onCountryCodeSelected($event)">
                            <mat-option *ngFor="let option of filteredCountryCodeOptions | async"
                                [value]="option.countryISDCode">
                                <img [src]="option.icon" alt="{{option.countryISOCode}}" width="20" height="20"
                                    style="margin-right: 15px;">
                                {{option.countryISOCode}} {{option.countryISDCode}}
                            </mat-option>
                        </mat-autocomplete>

                        <mat-error *ngIf="advanceTableForm.get('countryCode').hasError('required')">
                            Country Code is required
                        </mat-error>
                    </mat-form-field>

                </div>
                <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6 mb-1">
                    <mat-form-field class="example-full-width" appearance="outline" floatLabel="always">
                        <mat-label>Primary Mobile</mat-label>
                        <input matInput formControlName="primaryMobile" required (input)="onCustomerPersonName()">
                        <mat-error *ngIf="advanceTableForm.get('primaryMobile')?.hasError('required')">
                            Primary Mobile is required
                        </mat-error>
                        <mat-error *ngIf="advanceTableForm.get('primaryMobile')?.hasError('duplicate')">
                            Duplicate Name and Mobile combination found in this Customer Group
                        </mat-error>
                    </mat-form-field>
                </div>
            </div>

            <div class="row">
                <div class="col-xl-3 col-lg-3 col-md-1 col-sm-1 mb-1">
                    <!-- <mat-form-field class="example-full-width" appearance="outline" floatLabel="always">
                        <mat-label>Country Code</mat-label>
                        <mat-select 
                            formControlName="countryCode">
                            <mat-option [value]="GeoPoint.countryISDCode"
                                *ngFor="let GeoPoint of CountryCodeList">{{GeoPoint.countryISDCode}}</mat-option>
                        </mat-select>
                    </mat-form-field> -->
                    <mat-form-field class="example-full-width" appearance="outline" floatLabel="always">
                        <mat-label>Country Code</mat-label>
                        <input type="text" matInput formControlName="countryCodes" [matAutocomplete]="auto10">
                        <mat-autocomplete #auto10="matAutocomplete" (optionSelected)="onCountryCode($event)">
                            <mat-option *ngFor="let option of filteredCountryCodesOptions | async"
                                [value]="option.countryISDCode">
                                <img [src]="option.icon" alt="{{option.countryISOCode}}" width="20" height="20"
                                    style="margin-right: 8px;">
                                {{option.countryISOCode}} {{option.countryISDCode}}
                            </mat-option>
                        </mat-autocomplete>

                    </mat-form-field>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6 mb-1">
                    <mat-form-field class="example-full-width" appearance="outline" floatLabel="always">
                        <mat-label>Secondary Mobile1</mat-label>
                        <input matInput formControlName="secondaryMobile1">
                        <!-- <mat-error *ngIf="advanceTableForm.get('secondaryMobile1').hasError('required')">
                            Secondary Mobile1 is required
                        </mat-error> -->
                    </mat-form-field>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-1 col-sm-1 mb-1">
                    <!-- <mat-form-field class="example-full-width" appearance="outline" floatLabel="always">
                        <mat-label>Country Code</mat-label>
                        <mat-select 
                            formControlName="countryCode">
                            <mat-option [value]="GeoPoint.countryISDCode"
                                *ngFor="let GeoPoint of CountryCodeList">{{GeoPoint.countryISDCode}}</mat-option>
                        </mat-select>
                    </mat-form-field> -->
                    <mat-form-field class="example-full-width" appearance="outline" floatLabel="always">
                        <mat-label>Country Code</mat-label>
                        <input type="text" matInput formControlName="mobileCode" [matAutocomplete]="auto11">
                        <mat-autocomplete #auto11="matAutocomplete" (optionSelected)="onCountryCodeMobile($event)">
                            <mat-option *ngFor="let option of filteredMobileCodeOptions | async"
                                [value]="option.countryISDCode">
                                <img [src]="option.icon" alt="{{option.countryISOCode}}" width="15" height="15"
                                    style="margin-right: 8px;">
                                {{option.countryISOCode}} {{option.countryISDCode}}
                            </mat-option>
                        </mat-autocomplete>

                    </mat-form-field>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6 mb-1">

                    <mat-form-field class="example-full-width" appearance="outline" floatLabel="always">
                        <mat-label>Secondary Mobile2</mat-label>
                        <input matInput formControlName="secondaryMobile2">
                        <!-- <mat-error *ngIf="advanceTableForm.get('secondaryMobile2').hasError('required')">
                            Secondary Mobile2 is required
                        </mat-error> -->
                    </mat-form-field>
                </div>
            </div>

            <div class="row">
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width" appearance="outline" floatLabel="always">
                        <mat-label>Is Contact Person</mat-label>
                        <mat-select required #isContactPersonVal
                            [class.is-invalid]="isContactPersonVal.invalid && isContactPersonVal.touched"
                            formControlName="isContactPerson">
                            <mat-option [value]=true>Yes</mat-option>
                            <mat-option [value]=false>No</mat-option>
                        </mat-select>

                        <mat-error>
                            Is Contact Person is required
                        </mat-error>
                    </mat-form-field>
                </div>

                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width" appearance="outline" floatLabel="always">
                        <mat-label>Is Booker</mat-label>
                        <mat-select required #isBookerVal
                            [class.is-invalid]="isBookerVal.invalid && isBookerVal.touched" formControlName="isBooker"
                            [disabled]="
                                    advanceTable?.isPassenger === true &&
                                    (!advanceTable?.isAdmin && !advanceTable?.isBooker)
                                    ">
                            <mat-option [value]=true>Yes</mat-option>
                            <mat-option [value]=false>No</mat-option>
                        </mat-select>

                        <mat-error>
                            Is Booker is required
                        </mat-error>
                    </mat-form-field>
                </div>
            </div>

            <div class="row">
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width" appearance="outline" floatLabel="always">
                        <mat-label>Is Passenger</mat-label>
                        <mat-select required #isPassengerVal
                            [class.is-invalid]="isPassengerVal.invalid && isPassengerVal.touched"
                            formControlName="isPassenger">
                            <mat-option [value]=true>Yes</mat-option>
                            <mat-option [value]=false>No</mat-option>
                        </mat-select>

                        <mat-error>
                            Is Passenger is required
                        </mat-error>
                    </mat-form-field>
                </div>

                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width" appearance="outline" floatLabel="always">
                        <mat-label>Is Admin</mat-label>
                        <mat-select required #isAdminVal [class.is-invalid]="isAdminVal.invalid && isAdminVal.touched"
                            formControlName="isAdmin" [disabled]="
                                    advanceTable?.isPassenger === true &&
                                    (!advanceTable?.isAdmin && !advanceTable?.isBooker)
                                    ">
                            <mat-option [value]=true>Yes</mat-option>
                            <mat-option [value]=false>No</mat-option>
                        </mat-select>

                        <mat-error>
                            Is Admin is required
                        </mat-error>
                    </mat-form-field>
                </div>
            </div>

            <div class="row">
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width" appearance="outline" floatLabel="always">
                        <mat-label>Mask Mobile Number</mat-label>
                        <mat-select required #mmnVal [class.is-invalid]="mmnVal.invalid && mmnVal.touched"
                            formControlName="maskMobileNumber">
                            <mat-option [value]=true>Yes</mat-option>
                            <mat-option [value]=false>No</mat-option>
                        </mat-select>

                        <mat-error>
                            Mask Mobile Number is required
                        </mat-error>
                    </mat-form-field>
                </div>

                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width" appearance="outline" floatLabel="always">
                        <mat-label>Send SMS-Whats App</mat-label>
                        <mat-select required #sSMSWAVal [class.is-invalid]="sSMSWAVal.invalid && sSMSWAVal.touched"
                            formControlName="sendSMSWhatsApp">
                            <mat-option [value]=true>Yes</mat-option>
                            <mat-option [value]=false>No</mat-option>
                        </mat-select>

                        <mat-error>
                            Send SMS-Whats App is required
                        </mat-error>
                    </mat-form-field>
                </div>
            </div>

            <div class="row">
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width" appearance="outline" floatLabel="always">
                        <mat-label>Send Email</mat-label>
                        <mat-select required #sendEmailVal
                            [class.is-invalid]="sendEmailVal.invalid && sendEmailVal.touched"
                            formControlName="sendEmail">
                            <mat-option [value]=true>Yes</mat-option>
                            <mat-option [value]=false>No</mat-option>
                        </mat-select>

                        <mat-error>
                            Send Email is required
                        </mat-error>
                    </mat-form-field>
                </div>

                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width" appearance="outline" floatLabel="always">
                        <mat-label>Customer Department</mat-label>
                        <mat-select formControlName="customerDepartmentID">
                            <mat-option [value]="CustomerDepartment.customerDepartmentID"
                                *ngFor="let CustomerDepartment of CustomerDepartmentList">
                                {{CustomerDepartment.customerDepartment}}
                            </mat-option>
                        </mat-select>
                        <!-- <mat-label>Customer Department</mat-label>
                        <input required type="text" matInput formControlName="customerDepartment" [matAutocomplete]="auto2">
                        <mat-autocomplete #auto2="matAutocomplete">
                          <mat-option *ngFor="let option of filteredDepartmentOptions | async" 
                          [value]="option.customerDepartment" (click)="getDepartment(option.customerDepartmentID)">
                            {{option.customerDepartment}}
                          </mat-option>
                        </mat-autocomplete> -->
                        <mat-error>
                            <div style="width: 70%;">
                                Customer Department is required
                            </div>

                            <div style="float: right;margin-top: -20px;">
                                <div style="float: right;font-family: italic;">
                                    <a style="cursor: pointer;color: #007bff;font-size: 10px !important; font-style: italic;"
                                        (click)="openCustomerDepartment()">
                                        Add
                                    </a>
                                </div>
                            </div>
                        </mat-error>
                        <mat-hint align="end">
                            <div style="float: right;font-family: italic;">
                                <a style="cursor: pointer;color: #007bff;font-size: 10px !important; font-style: italic;"
                                    (click)="openCustomerDepartment()">
                                    Add
                                </a>
                            </div>
                        </mat-hint>
                    </mat-form-field>
                </div>
            </div>

            <!-- <div class="row">
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width" appearance="outline" floatLabel="always">
                        <mat-label>Password</mat-label>
                        <input matInput type="password" formControlName="password"  />
                    </mat-form-field>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width" appearance="outline" floatLabel="always">
                        <mat-label>Confirm Password</mat-label>
                        <input matInput type="password" formControlName="confirmPassword"/>
                    </mat-form-field>
                </div>
            </div> -->
            <div class="row">
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2"
                    *ngIf="advanceTableForm.value.importance === 'VIP'">
                    <mat-form-field class="example-full-width" appearance="outline" floatLabel="always">
                        <!-- <mat-label>Customer Designation</mat-label>
                        <mat-select formControlName="customerDesignationID">
                            <mat-option [value]="CustomerDesignation.customerDesignationID"
                                *ngFor="let CustomerDesignation of CustomerDesignationList">
                                {{CustomerDesignation.customerDesignation}}
                            </mat-option>
                        </mat-select> -->
                        <mat-label>Customer Designation</mat-label>
                        <input required type="text" matInput formControlName="customerDesignation"
                            [matAutocomplete]="auto1">
                        <mat-autocomplete #auto1="matAutocomplete"
                            (optionSelected)="OncustomerDesignationSelect($event.option.value)">
                            <mat-option *ngFor="let option of filteredDesignationOptions | async"
                                [value]="option.customerDesignation"
                                (click)="getDesignation(option.customerDesignationID)">
                                {{option.customerDesignation}}
                            </mat-option>
                        </mat-autocomplete>
                        <mat-error>
                            <div style="width: 70%;">
                                Customer Designation is required
                            </div>

                            <div style="float: right;margin-top: -20px;">
                                <div style="float: right;font-family: italic;">
                                    <a style="cursor: pointer;color: #007bff;font-size: 10px !important; font-style: italic;"
                                        (click)="openCustomerDesignation()">
                                        Add
                                    </a>
                                </div>
                            </div>
                        </mat-error>
                        <mat-hint align="end">
                            <div style="float: right;font-family: italic;">
                                <a style="cursor: pointer;color: #007bff;font-size: 10px !important; font-style: italic;"
                                    (click)="openCustomerDesignation()">
                                    Add
                                </a>
                            </div>
                        </mat-hint>
                    </mat-form-field>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2"
                    *ngIf="advanceTableForm.value.importance !== 'VIP'">
                    <mat-form-field class="example-full-width" appearance="outline" floatLabel="always">
                        <!-- <mat-label>Customer Designation</mat-label>
                        <mat-select formControlName="customerDesignationID">
                            <mat-option [value]="CustomerDesignation.customerDesignationID"
                                *ngFor="let CustomerDesignation of CustomerDesignationList">
                                {{CustomerDesignation.customerDesignation}}
                            </mat-option>
                        </mat-select> -->
                        <mat-label>Customer Designation</mat-label>
                        <input type="text" matInput formControlName="customerDesignation" [matAutocomplete]="auto16">
                        <mat-autocomplete #auto16="matAutocomplete"
                            (optionSelected)="OncustomerDesignationSelect($event.option.value)">
                            <mat-option *ngFor="let option of filteredDesignationOptions | async"
                                [value]="option.customerDesignation"
                                (click)="getDesignation(option.customerDesignationID)">
                                {{option.customerDesignation}}
                            </mat-option>
                        </mat-autocomplete>
                        <mat-error>
                            <div style="width: 70%;">
                                Customer Designation is required
                            </div>

                            <div style="float: right;margin-top: -20px;">
                                <div style="float: right;font-family: italic;">
                                    <a style="cursor: pointer;color: #007bff;font-size: 10px !important; font-style: italic;"
                                        (click)="openCustomerDesignation()">
                                        Add
                                    </a>
                                </div>
                            </div>
                        </mat-error>
                        <mat-hint align="end">
                            <div style="float: right;font-family: italic;">
                                <a style="cursor: pointer;color: #007bff;font-size: 10px !important; font-style: italic;"
                                    (click)="openCustomerDesignation()">
                                    Add
                                </a>
                            </div>
                        </mat-hint>
                    </mat-form-field>
                </div>

                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width" appearance="outline" floatLabel="always">
                        <mat-label>Password</mat-label>
                        <input name="password" [type]="showPassword ? 'text' : 'password'" matInput
                            formControlName="password">
                        <mat-icon matSuffix (click)="showPassword = !showPassword">{{ showPassword ? 'visibility_off' :
                            'visibility' }}</mat-icon>
                        <!-- <mat-error *ngIf="advanceTableForm.get('newPassword').hasError('required')">Password is required</mat-error> -->
                    </mat-form-field>
                </div>
            </div>

            <div class="row">
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width" appearance="outline" floatLabel="always">
                        <mat-label>Confirm Password</mat-label>
                        <input name="password" [type]="showConfirmPassword ? 'text' : 'password'" matInput
                            formControlName="confirmPassword" (click)="markAsTouched('confirmPassword')">

                        <mat-error *ngIf="advanceTableForm.get('confirmPassword').hasError('required') ">Confirm
                            Password is required</mat-error>
                        <mat-icon matSuffix (click)="showConfirmPassword = !showConfirmPassword">{{ showConfirmPassword
                            ? 'visibility_off' : 'visibility' }}</mat-icon>
                        <mat-error
                            *ngIf="advanceTableForm.get('confirmPassword').hasError('confirmPasswordValidator') || advanceTableForm.get('confirmPassword').touched">Passsword
                            and
                            Confirm Password didn't match. </mat-error>
                    </mat-form-field>
                </div>

                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width" appearance="outline" floatLabel="always">
                        <mat-label>Prefer App Based Driver</mat-label>
                        <mat-select required #pabdVal [class.is-invalid]="pabdVal.invalid && pabdVal.touched"
                            formControlName="preferAppBasedDriver">
                            <mat-option [value]=true>Yes</mat-option>
                            <mat-option [value]=false>No</mat-option>
                        </mat-select>

                        <mat-error>
                            Prefer App Based Driver is required
                        </mat-error>
                    </mat-form-field>
                </div>
            </div>

            <div class="row">
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width" appearance="outline" floatLabel="always">
                        <mat-label>Employee Code</mat-label>
                        <input matInput formControlName="employeeCode">
                        <!-- <mat-error *ngIf="advanceTableForm.get('employeeCode').hasError('required')">
                            Employee Code is required
                        </mat-error> -->
                    </mat-form-field>
                </div>

                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width" appearance="outline" floatLabel="always">
                        <mat-label>Loyal Guest</mat-label>
                        <mat-select required formControlName="loyalGuest">
                            <mat-option [value]=true>Yes</mat-option>
                            <mat-option [value]=false>No</mat-option>
                        </mat-select>
                        <mat-error>
                            Loyal Guest is required
                        </mat-error>
                    </mat-form-field>
                </div>
            </div>

            <div class="row">
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width" appearance="outline" floatLabel="always">
                        <mat-label>Is Default For Integration Request</mat-label>
                        <mat-select required formControlName="isDefaultForIntegrationRequest">
                            <mat-option [value]=true>Yes</mat-option>
                            <mat-option [value]=false>No</mat-option>
                        </mat-select>

                        <mat-error>
                            IsDefault For Integration Request Status is required
                        </mat-error>
                    </mat-form-field>
                </div>

                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width" appearance="outline" floatLabel="always">
                        <mat-label>Old RentNet ID</mat-label>
                        <input matInput type="number" formControlName="oldRentNetID" />

                    </mat-form-field>
                </div>
            </div>

            <div class="row">
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width" appearance="outline" floatLabel="always">
                        <mat-label>Allow Login To CDP</mat-label>
                        <mat-select required formControlName="allowLoginToCDP">
                            <mat-option [value]=true>Yes</mat-option>
                            <mat-option [value]=false>No</mat-option>
                        </mat-select>
                        <mat-error>
                            Allow Login To CDP is required
                        </mat-error>
                    </mat-form-field>
                </div>

                 <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width" appearance="outline" floatLabel="always">
                        <mat-label>Allow Login To Customer App</mat-label>
                        <mat-select required formControlName="allowLoginToCustomerApp">
                            <mat-option [value]=true>Yes</mat-option>
                            <mat-option [value]=false>No</mat-option>
                        </mat-select>
                        <mat-error>
                            Allow Login To Customer App is required
                        </mat-error>
                    </mat-form-field>
                </div>
                
            </div>

            <div class="row">
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width" appearance="outline" floatLabel="always">
                        <mat-label>Activation Status</mat-label>
                        <mat-select formControlName="activationStatus">
                            <mat-option [value]=true>Active</mat-option>
                            <mat-option [value]=false>Deleted</mat-option>
                        </mat-select>

                        <mat-error *ngIf="advanceTableForm.get('activationStatus').hasError('required')">
                            Activation Status is required
                        </mat-error>
                    </mat-form-field>
                </div>
            </div>

            <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
                    <div class="example-button-row">
                        <button mat-raised-button color="primary" *ngIf="saveDisabled" [type]="submit"
                            [disabled]="!advanceTableForm.valid" (click)="confirmAdd()">Save</button>
                        <mat-spinner *ngIf="!saveDisabled" diameter="30"></mat-spinner>
                        <button *ngIf="action==='add'" mat-raised-button color="warn" (click)="reset()"
                            tabindex="-1">Reset</button>
                        <button *ngIf="action==='edit'" mat-raised-button color="warn" (click)="onNoClick()"
                            tabindex="-1">Cancel</button>
                    </div>
                </div>
            </div>
        </form>
    </div>

    <div mat-dialog-content *ngIf=" this.someAction === 'CP'">
        <form class="register-form m-4" [formGroup]="advanceTableForm" (ngSubmit)="submit">

            <div class="row">
                <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6 mb-2">
                    <mat-form-field class="example-full-width" appearance="outline" floatLabel="always">
                        <mat-label>Customer</mat-label>
                        <input required type="text" matInput formControlName="customerName" [matAutocomplete]="auto15">
                        <mat-autocomplete #auto15="matAutocomplete">
                            <mat-option *ngFor="let option of filteredCustomerOptions | async"
                                [value]="option.customerName" (click)="getCustomerID(option.customerID)">
                                {{option.customerName}}
                            </mat-option>
                        </mat-autocomplete>
                        <mat-error *ngIf="advanceTableForm.controls['customerName'].hasError('customerInvalid')">
                            Please select a Customer
                        </mat-error>
                    </mat-form-field>
                </div>

                <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6 mb-2">
                    <mat-form-field class="example-full-width" appearance="outline" floatLabel="always">
                        <mat-label>Salutation</mat-label>
                        <input required type="text" matInput formControlName="salutation" [matAutocomplete]="auto">
                        <mat-autocomplete #auto="matAutocomplete"
                            (optionSelected)="OnSalutationSelect($event.option.value)">
                            <mat-option *ngFor="let option of filteredSalutationOptions | async"
                                [value]="option.salutation" (click)="getTitles(option.salutationID)">
                                {{option.salutation}}
                            </mat-option>
                        </mat-autocomplete>
                        <mat-error *ngIf="advanceTableForm.controls['salutation'].hasError('salutationInvalid')">
                            Please select a Salutation
                        </mat-error>
                    </mat-form-field>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6 mb-2">
                    <mat-form-field class="example-full-width" appearance="outline" floatLabel="always">
                        <mat-label>Customer Person Name</mat-label>
                        <input matInput formControlName="customerPersonName" required>
                        <mat-error *ngIf="advanceTableForm.get('customerPersonName').hasError('required')">
                            Customer Person Name is required
                        </mat-error>
                    </mat-form-field>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6 mb-2">
                    <mat-form-field class="example-full-width" appearance="outline" floatLabel="always">
                        <mat-label>Gender</mat-label>
                        <mat-select required formControlName="gender">
                            <mat-option value="Male">Male</mat-option>
                            <mat-option value="Female">Female</mat-option>
                            <mat-option value="Other">Other</mat-option>
                        </mat-select>
                        <mat-error>Gender is required</mat-error>
                    </mat-form-field>
                </div>
            </div>

            <div class="row">
                <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6 mb-2">
                    <mat-form-field class="example-full-width" appearance="outline" floatLabel="always">
                        <mat-label>Importance</mat-label>
                        <mat-select required formControlName="importance">
                            <mat-option value="CXO">CXO</mat-option>
                            <mat-option value="General">General</mat-option>
                            <mat-option value="VIP">VIP</mat-option>
                        </mat-select>
                        <mat-error>Importance is required</mat-error>
                    </mat-form-field>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6 mb-2">
                    <mat-form-field class="example-full-width" appearance="outline" floatLabel="always">
                        <mat-label>Primary Email</mat-label>
                        <input matInput formControlName="primaryEmail" required (input)="onPrimaryEmailChange()">
                        <mat-error *ngIf="advanceTableForm.get('primaryEmail').hasError('required')">
                            Primary Email is required
                        </mat-error>
                    </mat-form-field>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6 mb-2">
                    <mat-form-field class="example-full-width" appearance="outline" floatLabel="always">
                        <mat-label>Billing Email</mat-label>
                        <input matInput formControlName="billingEmail" required>
                        <mat-error *ngIf="advanceTableForm.get('billingEmail').hasError('required')">
                            Billing Email is required
                        </mat-error>
                    </mat-form-field>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6 mb-2">
                    <mat-form-field class="example-full-width" appearance="outline" floatLabel="always">
                        <mat-label>Mask Mobile Number</mat-label>
                        <mat-select required #mmnVal [class.is-invalid]="mmnVal.invalid && mmnVal.touched"
                            formControlName="maskMobileNumber">
                            <mat-option [value]=true>Yes</mat-option>
                            <mat-option [value]=false>No</mat-option>
                        </mat-select>
                        <mat-error>
                            Mask Mobile Number is required
                        </mat-error>
                    </mat-form-field>
                </div>
            </div>

            <div class="row">
                <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6 mb-2">
                    <mat-form-field class="example-full-width" appearance="outline" floatLabel="always">
                        <mat-label>Country Code</mat-label>
                        <input required type="text" matInput formControlName="countryCode" [matAutocomplete]="auto9">

                        <mat-autocomplete #auto9="matAutocomplete" (optionSelected)="onCountryCodeSelected($event)">
                            <mat-option *ngFor="let option of filteredCountryCodeOptions | async"
                                [value]="option.countryISDCode">
                                <img [src]="option.icon" alt="{{option.countryISOCode}}" width="20" height="20"
                                    style="margin-right: 15px;">
                                {{option.countryISOCode}} {{option.countryISDCode}}
                            </mat-option>
                        </mat-autocomplete>

                        <mat-error *ngIf="advanceTableForm.get('countryCode').hasError('required')">
                            Country Code is required
                        </mat-error>
                    </mat-form-field>
                </div>

                <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6 mb-2">
                    <mat-form-field class="example-full-width" appearance="outline" floatLabel="always">
                        <mat-label>Primary Mobile</mat-label>
                        <input matInput formControlName="primaryMobile" required>
                        <mat-error *ngIf="advanceTableForm.get('primaryMobile').hasError('required')">
                            Primary Mobile is required
                        </mat-error>
                    </mat-form-field>
                </div>

                <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6 mb-2">
                    <mat-form-field class="example-full-width" appearance="outline" floatLabel="always">
                        <mat-label>Country Code</mat-label>
                        <input type="text" matInput formControlName="countryCodes" [matAutocomplete]="auto10">
                        <mat-autocomplete #auto10="matAutocomplete" (optionSelected)="onCountryCode($event)">
                            <mat-option *ngFor="let option of filteredCountryCodesOptions | async"
                                [value]="option.countryISDCode">
                                <img [src]="option.icon" alt="{{option.countryISOCode}}" width="20" height="20"
                                    style="margin-right: 8px;">
                                {{option.countryISOCode}} {{option.countryISDCode}}
                            </mat-option>
                        </mat-autocomplete>

                    </mat-form-field>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6 mb-2">
                    <mat-form-field class="example-full-width" appearance="outline" floatLabel="always">
                        <mat-label>Secondary Mobile1</mat-label>
                        <input matInput formControlName="secondaryMobile1">
                        <!-- <mat-error *ngIf="advanceTableForm.get('secondaryMobile1').hasError('required')">
                            Secondary Mobile1 is required
                        </mat-error> -->
                    </mat-form-field>
                </div>
            </div>

            <div class="row">
                <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6 mb-2">
                    <mat-form-field class="example-full-width" appearance="outline" floatLabel="always">
                        <mat-label>Country Code</mat-label>
                        <input type="text" matInput formControlName="mobileCode" [matAutocomplete]="auto11">
                        <mat-autocomplete #auto11="matAutocomplete" (optionSelected)="onCountryCodeMobile($event)">
                            <mat-option *ngFor="let option of filteredMobileCodeOptions | async"
                                [value]="option.countryISDCode">
                                <img [src]="option.icon" alt="{{option.countryISOCode}}" width="15" height="15"
                                    style="margin-right: 8px;">
                                {{option.countryISOCode}} {{option.countryISDCode}}
                            </mat-option>
                        </mat-autocomplete>
                    </mat-form-field>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6 mb-2">
                    <mat-form-field class="example-full-width" appearance="outline" floatLabel="always">
                        <mat-label>Secondary Mobile2</mat-label>
                        <input matInput formControlName="secondaryMobile2">
                        <!-- <mat-error *ngIf="advanceTableForm.get('secondaryMobile2').hasError('required')">
                            Secondary Mobile2 is required
                        </mat-error> -->
                    </mat-form-field>
                </div>

                <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6 mb-2">
                    <mat-form-field class="example-full-width" appearance="outline" floatLabel="always">
                        <mat-label>Customer Department</mat-label>
                        <mat-select formControlName="customerDepartmentID">
                            <mat-option [value]="CustomerDepartment.customerDepartmentID"
                                *ngFor="let CustomerDepartment of CustomerDepartmentList">
                                {{CustomerDepartment.customerDepartment}}
                            </mat-option>
                        </mat-select>
                        <mat-error>
                            <div style="width: 70%;">Customer Department is required</div>
                            <div style="float: right;margin-top: -20px;">
                                <a style="cursor: pointer;color: #007bff;font-size: 10px !important; font-style: italic;"
                                    (click)="openCustomerDepartment()">Add</a>
                            </div>
                        </mat-error>
                        <mat-hint align="end">
                            <a style="cursor: pointer;color: #007bff;font-size: 10px !important; font-style: italic;"
                                (click)="openCustomerDepartment()">Add</a>
                        </mat-hint>
                    </mat-form-field>
                </div>

                <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6 mb-2">
                    <mat-form-field class="example-full-width" appearance="outline" floatLabel="always">
                        <mat-label>Customer Designation</mat-label>
                        <mat-select formControlName="customerDesignationID">
                            <mat-option [value]="CustomerDesignation.customerDesignationID"
                                *ngFor="let CustomerDesignation of CustomerDesignationList">
                                {{CustomerDesignation.customerDesignation}}
                            </mat-option>
                        </mat-select>
                        <mat-error>
                            <div style="width: 70%;">Customer Designation is required</div>
                            <div style="float: right;margin-top: -20px;">
                                <a style="cursor: pointer;color: #007bff;font-size: 10px !important; font-style: italic;"
                                    (click)="openCustomerDesignation()">Add</a>
                            </div>
                        </mat-error>
                        <mat-hint align="end">
                            <a style="cursor: pointer;color: #007bff;font-size: 10px !important; font-style: italic;"
                                (click)="openCustomerDesignation()">Add</a>
                        </mat-hint>
                    </mat-form-field>
                </div>
            </div>

            <div class="row">
                <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width" appearance="outline" floatLabel="always">
                        <mat-label>Loyal Guest</mat-label>
                        <mat-select required formControlName="loyalGuest">
                            <mat-option [value]=true>Yes</mat-option>
                            <mat-option [value]=false>No</mat-option>
                        </mat-select>
                        <mat-error>
                            Loyal Guest is required
                        </mat-error>
                    </mat-form-field>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width" appearance="outline" floatLabel="always">
                        <mat-label>Employee Code</mat-label>
                        <input matInput formControlName="employeeCode">
                    </mat-form-field>
                </div>

                <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width" appearance="outline" floatLabel="always">
                        <mat-label>Old RentNet ID</mat-label>
                        <input matInput type="number" formControlName="oldRentNetID" />

                    </mat-form-field>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width" appearance="outline" floatLabel="always">
                        <mat-label>Allow Login To CDP</mat-label>
                        <mat-select required formControlName="allowLoginToCDP">
                            <mat-option [value]=true>Yes</mat-option>
                            <mat-option [value]=false>No</mat-option>
                        </mat-select>
                        <mat-error>
                            Allow Login To CDP is required
                        </mat-error>
                    </mat-form-field>
                </div>

                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width" appearance="outline" floatLabel="always">
                        <mat-label>Activation Status</mat-label>
                        <mat-select formControlName="activationStatus">
                            <mat-option [value]=true>Active</mat-option>
                            <mat-option [value]=false>Deleted</mat-option>
                        </mat-select>

                        <mat-error *ngIf="advanceTableForm.get('activationStatus').hasError('required')">
                            Activation Status is required
                        </mat-error>
                    </mat-form-field>
                </div>

                <!-- <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width" appearance="outline" floatLabel="always">
                        <mat-label>Activation Status</mat-label>
                        <mat-select formControlName="activationStatus">
                            <mat-option [value]="true">Active</mat-option>
                            <mat-option [value]="false">Deleted</mat-option>
                        </mat-select>
                        <mat-error *ngIf="advanceTableForm.get('activationStatus').hasError('required')">
                            Activation Status is required
                        </mat-error>
                    </mat-form-field>
                </div> -->

                <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12 mb-2">
                    <div class="example-button-row">
                        <!-- <button mat-raised-button color="primary" [type]="submit" [disabled]="!advanceTableForm.valid"
                            (click)="confirmAdd()">Save</button> -->
                        <button mat-raised-button color="primary" [type]="submit" *ngIf="saveDisabled"
                            [disabled]="isSaving || !advanceTableForm.valid" (click)="confirmAdd()">
                            {{ isSaving ? 'Saving...' : 'Save' }}
                        </button>
                        <mat-spinner *ngIf="!saveDisabled" diameter="30"></mat-spinner>
                        <button *ngIf="action==='add'" mat-raised-button color="warn" (click)="reset()"
                            tabindex="-1">Reset</button>
                        <button *ngIf="action==='edit'" mat-raised-button color="warn" (click)="onNoClick()"
                            tabindex="-1">Cancel</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>