<div class="addContainer">
    <div class="modalHeader">
        <div class="editRowModal">
            <div class="modalHeader clearfix">
                <!-- <img [src]='advanceTable.img' alt="avatar"> -->
                <div class="modal-about">
                  <!-- <div style="font-weight: bold; padding-top: 5px; font-size: 17px;">
                    {{dialogTitle}} for {{reservationGroupID}}
                  </div> -->
                  <div style="font-weight: bold; padding-top: 5px; font-size: 17px;">
                    {{dialogTitle}} 
                  </div>
                    <div *ngIf="ReasonMessageShow">
                        <span style="color: red;font-size: 15px;">Reservation for {{customerDetailData}} are not allowed due to the following reason :
                            <br/>
                            {{Reason}}
                        </span>
                    </div>
                </div>
            </div>
        </div>
        <button mat-icon-button (click)="dialogRef.close()" aria-label="Close dialog">
      <mat-icon>close</mat-icon>
    </button>
    </div>
    <div mat-dialog-content>
        <form class="register-form m-4" [formGroup]="advanceTableForm" (ngSubmit)="submit">
          <div class="row">
            <div class="col-xl-4 col-lg-3 col-md-6 col-sm-12 mb-2">
               <mat-form-field class="example-full-width" appearance="outline"  floatLabel="always">
                        <mat-label>Customer</mat-label>
                        <input required type="text" matInput formControlName="customerCustomerGroup"
                            [matAutocomplete]="auto1">
                        <mat-autocomplete #auto1="matAutocomplete" (optionSelected)="onCustomerSelected($event.option.value)"  panelWidth="custom-autocomplete-panel">
                            <mat-option *ngFor="let option of filteredCustomerCustomerGroupOptions | async"
                                [value]="option.customerName +'-'+option.customerGroup"
                                (click)="getCustomerCustomerGroupID(option.customerID,option.customerGroupID, option.customerName,option.customerGroup,option.customerTypeID,option.customerType)"
                                >
                                {{option.customerName}} - {{option.customerGroup}}
                            </mat-option>
                        </mat-autocomplete>
                        <mat-error *ngIf="advanceTableForm.controls['customerCustomerGroup'].hasError('customerInvalid')">
                            Please select a valid Customer 
                        </mat-error>
                       
                    </mat-form-field>
            </div>
      
            <div class="col-xl-4 col-lg-3 col-md-6 col-sm-12 mb-2">
              <mat-form-field class="example-full-width" appearance="outline" floatLabel="always">
                <mat-label>Customer Type</mat-label>
                <input required type="text" matInput formControlName="customerType" readonly>
                <mat-error *ngIf="advanceTableForm.controls['customerType'].hasError('customerTypeInvalid')">
                  Please select a valid Customer Type
                </mat-error>
              </mat-form-field>
            </div>
      
            <div class="col-xl-4 col-lg-3 col-md-6 col-sm-12 mb-2">
              <mat-form-field class="example-full-width" appearance="outline" floatLabel="always">
                <mat-label>Booker</mat-label>
                <input required type="text" matInput formControlName="primaryBooker" [matAutocomplete]="auto2">
                <mat-autocomplete #auto2="matAutocomplete" (optionSelected)="onBookerSelected($event.option.value)" panelWidth="custom-autocomplete-panel">
                  <mat-option *ngFor="let option of filteredBookerOptions | async"
                    [value]="option.customerPersonName + '-' + option.gender + '-' + option.importance+ '-' + option.phone+ '-'+ option.customerDepartment+ '-'+ option.customerDesignation+'-'+ option.customerName"
                    (click)="getBookerID(option.customerPersonID)">
                    {{option.customerPersonName}} - {{option.gender}} - {{option.importance}} - {{option.phone}} - {{option.customerDepartment}} - {{option.customerDesignation}} - {{option.customerName}}
                  </mat-option>
                </mat-autocomplete>
                <mat-error *ngIf="advanceTableForm.controls['primaryBooker'].hasError('primaryBookerInvalid')">
                  Please select a valid Booker
                </mat-error>
              </mat-form-field>
            </div>
      
          </div>
      
          <div class="row">
            <div class="col-xl-4 col-lg-3 col-md-6 col-sm-12 mb-2">
              <mat-form-field class="example-full-width" appearance="outline" floatLabel="always">
                <mat-label>No Of Bookings</mat-label>
                <input required matInput formControlName="numberOfBookings">
                <mat-error *ngIf="advanceTableForm.get('numberOfBookings').hasError('required')">
                  No Of Bookings is required
                </mat-error>
              </mat-form-field>
            </div>

            <div class="col-xl-4 col-lg-3 col-md-6 col-sm-12 mb-2">
              <mat-form-field class="example-full-width" appearance="outline" floatLabel="always">
                <mat-label>Booking Type</mat-label>
                <mat-select required #typeVal [class.is-invalid]="typeVal.invalid && typeVal.touched" formControlName="bookingType">
                  <mat-option value="Normal">Normal</mat-option>
                  <mat-option value="Delegation">Delegation</mat-option>
                  <mat-option value="Event">Event</mat-option>
                </mat-select>
                <mat-error>Booking Type is required</mat-error>
              </mat-form-field>
            </div>

            <div class="col-xl-4 col-lg-3 col-md-6 col-sm-12 mb-2">
              <mat-form-field class="example-full-width" appearance="outline" floatLabel="always">
                <mat-label>Location</mat-label>
                <input required type="text" matInput formControlName="locationName" [matAutocomplete]="auto0">
                <mat-autocomplete #auto0="matAutocomplete" (optionSelected)="OnLocationSelect($event.option.value)"  panelWidth="custom-autocomplete-panel">
                  <mat-option *ngFor="let option of filteredLocationNameOptions | async" 
                              [value]="option.organizationalEntityName" 
                              (click)="getLocationID(option.organizationalEntityID)">
                    {{option.organizationalEntityName}}
                  </mat-option>
                </mat-autocomplete>
                <mat-error *ngIf="advanceTableForm.controls['locationName'].hasError('locationNameInvalid')">
                  Please select a valid Location
                </mat-error>
              </mat-form-field>
            </div>
          </div>
      
          <div class="row">
            <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
              <mat-form-field class="example-full-width" appearance="outline" floatLabel="always">
                <mat-label>Sales Executive</mat-label>
                <input type="text" matInput formControlName="salesExecutive" [matAutocomplete]="auto5">
                <mat-autocomplete #auto5="matAutocomplete" (optionSelected)="onSESelected($event.option.value)"  panelWidth="custom-autocomplete-panel">
                  <mat-option *ngFor="let option of filteredEmployeeOptions | async"
                    [value]="option.firstName + ' ' + option.lastName + '-' + option.mobile+ '-' + option.email"
                    (click)="getSalesExecutiveID(option.employeeID)">
                    {{option.firstName + ' ' + option.lastName + '-' + option.mobile+ '-' + option.email}}
                  </mat-option>
                </mat-autocomplete>
                <mat-error *ngIf="advanceTableForm.controls['salesExecutive'].hasError('salesExecutiveInvalid')">
                  Please select a valid Sales Executive
                </mat-error>
              </mat-form-field>
            </div>

            <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
              <mat-form-field class="example-full-width" appearance="outline" floatLabel="always">
                <mat-label>KAM</mat-label>
                <input type="text" matInput formControlName="kam" [matAutocomplete]="auto6">
                <mat-autocomplete #auto6="matAutocomplete" (optionSelected)="onKAMSelected($event.option.value)"  panelWidth="custom-autocomplete-panel">
                  <mat-option *ngFor="let option of filteredEmployeesOptions | async"
                    [value]="option.firstName + ' ' + option.lastName  +  '-' + option.mobile+ '-' + option.email"
                    (click)="getCustomerKAMID(option.employeeID)">
                    {{option.firstName + ' ' + option.lastName +  '-' + option.mobile+ '-' + option.email}}
                  </mat-option>
                </mat-autocomplete>
                <mat-error *ngIf="advanceTableForm.controls['kam'].hasError('kamInvalid')">
                  Please select a KAM
                </mat-error>
              </mat-form-field>
            </div>
          </div>

          <div class="row">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
              <div class="example-button-row">
                <button mat-raised-button *ngIf="saveDisabled" color="primary" [disabled]="!advanceTableForm.valid" (click)="confirmAdd()">Save</button>
                <mat-spinner *ngIf="!saveDisabled" diameter="30"></mat-spinner>
                <button mat-raised-button color="warn" (click)="onNoClick()" tabindex="-1">Cancel</button>
              </div>
            </div>
          </div>
        </form>
      </div>
      