<section class="content">
    <div class="container-fluid">
        <div class="block-header">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <ul>
                        <li class="breadcrumb-item bcrumb-1">
                            <a routerLink="/dashboard/main">
                                <i class="fas fa-home"></i> Home</a>|
                            <a href="#" onClick="return false;">Admin</a>|
                            <a href="#" onClick="return false;">Vehicle Interstate Tax</a>
                        </li>
                    </ul>
                    <ul class="breadcrumb breadcrumb-style ">
                        <li class="breadcrumb-item">
                            <h2 *ngIf="redirectingFrom==='Inventory'">Interstate Tax For <b>{{regNo}}</b></h2>
                            <h2 *ngIf="redirectingFrom==='State'">Interstate Tax For <b>{{StateName}}</b></h2>
                            <h2 *ngIf="!redirectingFrom">Interstate Tax</h2>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="card">
                    <div class="body">
                        <div class="responsive_table">
                            <div class="materialTableHeader">
                                <div class="row">
                                <ng-template #searchDialog let-dialogRef="dialogRef">
    <h2 mat-dialog-title>Vehicle Interstate Tax</h2>
    <div mat-dialog-content>
<mat-form-field class="example-full-width" appearance="outline" *ngIf="redirectingFrom === 'Inventory' || !redirectingFrom" floatLabel="always">
                                                    <mat-label>State</mat-label>
                                                    <input type="text" matInput [matAutocomplete]="auto1" [formControl]="state">
                                                    <mat-autocomplete #auto1="matAutocomplete">
                                                        <mat-option *ngFor="let options of filteredStateOptions | async"
                                                            [value]="options.geoPointName" (click)="getTitles(options.geoPointID)">
                                                            {{options.geoPointName}}
                                                        </mat-option>
                                                    </mat-autocomplete>
                                                </mat-form-field>

                                                <mat-form-field class="example-full-width" appearance="outline" *ngIf="redirectingFrom === 'State' || !redirectingFrom" floatLabel="always">
                                                    <mat-label>Registration Number</mat-label>
                                                    <input type="text" matInput [matAutocomplete]="auto2" [formControl]="registrationNumber">
                                                    <mat-autocomplete #auto2="matAutocomplete">
                                                        <mat-option *ngFor="let options of filteredRegistrationOptions | async"
                                                            [value]="options.registrationNumber" (click)="getInventoryID(options.inventoryID)">
                                                            {{options.registrationNumber}}
                                                        </mat-option>
                                                    </mat-autocomplete>
                                                </mat-form-field>

                                                <mat-form-field class="example-full-width" appearance="outline"  floatLabel="always">
                                                    <mat-label>Start Date</mat-label>
                                                    <input matInput [matDatepicker]="startingDate" [(ngModel)]="SearchStartDate">
                                                    <mat-datepicker-toggle matSuffix [for]="startingDate"></mat-datepicker-toggle>
                                                    <mat-datepicker #startingDate></mat-datepicker>
                                                </mat-form-field>

                                                <mat-form-field class="example-full-width" appearance="outline"  floatLabel="always">
                                                    <mat-label>End Date</mat-label>
                                                    <input matInput [matDatepicker]="endingDate" [(ngModel)]="SearchEndDate">
                                                    <mat-datepicker-toggle matSuffix [for]="endingDate"></mat-datepicker-toggle>
                                                    <mat-datepicker #endingDate></mat-datepicker>
                                                </mat-form-field>

                                                <mat-form-field class="example-full-width mb-3"
                                                    appearance="outline" floatLabel="always">
                                                    <mat-label>Activation Status</mat-label>
                                                    <mat-select [(value)]="SearchActivationStatus">
                                                        <mat-option [value]=true>Active</mat-option>
                                                        <mat-option [value]=false>Deleted</mat-option>
                                                    </mat-select>
                                                </mat-form-field>
    </div>
    <div mat-dialog-actions align="end">
        <button mat-button (click)="dialogRef.close()">Cancel</button>
        <button mat-raised-button color="primary" (click)="SearchFromDialog(dialogRef)">Search</button>
    </div>
</ng-template>
                                <div style="width: 70%; float:left;padding-top: 15px;padding-left: 22px;">
                                    <div *ngIf="SearchStartDate" style="float: left;"><b>Start Date</b> : {{SearchStartDate}},</div>
                                    <div *ngIf="SearchEndDate" style="float: left;"><b>End Date</b> : {{SearchEndDate}}</div>
                                </div>
                                
                                <div style="width: 30%; text-align:right;">
                                    <button mat-raised-button color="primary" (click)="openSearchDialog()">
                                        Search
                                    </button>
                                    &nbsp;
                                    <button mat-mini-fab color="primary" (click)="addNew()">
                                        <mat-icon class="col-white">add</mat-icon>
                                    </button>
                                    &nbsp;
                                    <button mat-mini-fab color="primary" (click)="refresh()">
                                        <mat-icon class="col-white">refresh</mat-icon>
                                    </button>
                                    &nbsp;
                                </div>
                                </div>
                            </div>

                            <!-- <label>
                                <input type="checkbox" [(ngModel)]="isChecked">
                                Check me!
                            </label> -->
                            <!-- <p>Checkbox is {{ isChecked ? 'checked' : 'unchecked' }}</p> -->
                            <p *ngIf="!dataSource; then thenBlock2 else elseBlock2">
                                This is not rendered
                            </p>

                            <ng-template #thenBlock2>
                                <div class="alert alert-primary" style="background-color:#E8E8E8; text-align: center;">
                                    No Records Found</div>
                                <div class="body">
                                    <div class="example-button-row">

                                        <button mat-raised-button color="primary"
                                            (click)="PreviousCall()">Previous</button>
                                        <button mat-raised-button color="primary" (click)="NextCall()">Next</button>

                                    </div>
                                </div>

                            </ng-template>

                            <ng-template #elseBlock2  >
                                 <div class="scrollable-table-container">
                                <mat-table #table [dataSource]="dataSource" matSort class="mat-cell floating-header-table" (matSortChange)="SortingData($event)" *ngIf="redirectingFrom">

                                    <ng-container matColumnDef="id">
                                        <mat-header-cell *matHeaderCellDef mat-sort-header>Id</mat-header-cell>
                                        <mat-cell *matCellDef="let row">{{row.inventoryInsuranceID}}</mat-cell>
                                    </ng-container>

                                    <ng-container matColumnDef="geoPoint.GeoPointName" *ngIf="redirectingFrom==='Inventory'">
                                        <mat-header-cell *matHeaderCellDef mat-sort-header>State</mat-header-cell>
                                        <mat-cell *matCellDef="let row" (contextmenu)="onContextMenu($event, row)">
                                            {{row.state}}</mat-cell>
                                    </ng-container>

                                    <ng-container matColumnDef="registrationNumber" *ngIf="redirectingFrom==='State'">
                                        <mat-header-cell *matHeaderCellDef mat-sort-header>Registration Number</mat-header-cell>
                                        <mat-cell *matCellDef="let row" (contextmenu)="onContextMenu($event, row)">
                                            {{row.registrationNumber}}</mat-cell>
                                    </ng-container>

                                    <ng-container matColumnDef="interStateTaxAmount">
                                        <mat-header-cell *matHeaderCellDef mat-sort-header>Tax Amount</mat-header-cell>
                                        <mat-cell *matCellDef="let row" (contextmenu)="onContextMenu($event, row)">
                                            {{row.interStateTaxAmount}}</mat-cell>
                                    </ng-container>

                                    <ng-container matColumnDef="interStateTaxStartDate">
                                        <mat-header-cell *matHeaderCellDef mat-sort-header>Start Date</mat-header-cell>
                                        <mat-cell *matCellDef="let row" (contextmenu)="onContextMenu($event, row)">
                                            {{row.interStateTaxStartDate | date:'dd-MM-yyyy'}} </mat-cell>
                                    </ng-container>

                                    <ng-container matColumnDef="interStateTaxEndDate">
                                        <mat-header-cell *matHeaderCellDef mat-sort-header>End Date</mat-header-cell>
                                        <mat-cell *matCellDef="let row" (contextmenu)="onContextMenu($event, row)">
                                            {{row.interStateTaxEndDate | date:'dd-MM-yyyy'}} </mat-cell>
                                    </ng-container>

                                    <ng-container matColumnDef="interStateTaxImage">
                                        <mat-header-cell *matHeaderCellDef [ngClass]="'tbl-col-width-per-6'">Image</mat-header-cell>
                                        <mat-cell *matCellDef="let row" class="table-img tbl-col-width-per-6" (contextmenu)="onContextMenu($event, row)">
                                           <img src="{{row.interStateTaxImage}}"/> </mat-cell>
                                    </ng-container>
                                    
                                    <ng-container matColumnDef="status">
                                        <mat-header-cell *matHeaderCellDef>Status</mat-header-cell>
                                        <mat-cell *matCellDef="let row">
                                            {{activeData}}</mat-cell>
                                    </ng-container>
                                    <!-- actions -->
                                    <ng-container matColumnDef="actions">
                                        <mat-header-cell *matHeaderCellDef class="pr-0"
                                            [ngClass]="'tbl-col-width-per-9'">Actions</mat-header-cell>
                                        <mat-cell *matCellDef="let row; let i=index;" class="pr-0"
                                            [ngClass]="'tbl-col-width-per-9'">
                                            
                                            <button mat-raised-button color="primary"
                                                (contextmenu)="onContextMenu($event, row)"
                                                (click)="onContextMenu($event, row)">
                                                Actions
                                            </button>
                                        </mat-cell>
                                    </ng-container>
                                   
                                    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                                    <mat-row *matRowDef="let row; columns: displayedColumns;" [style.cursor]="'pointer'"
                                        matRipple>
                                    </mat-row>
                                </mat-table>
                                </div>
<div class="scrollable-table-container">
                                <mat-table #table [dataSource]="dataSource" matSort class="mat-cell floating-header-table" (matSortChange)="SortingData($event)" *ngIf="!redirectingFrom">

                                    <ng-container matColumnDef="id">
                                        <mat-header-cell *matHeaderCellDef mat-sort-header>Id</mat-header-cell>
                                        <mat-cell *matCellDef="let row">{{row.inventoryInsuranceID}}</mat-cell>
                                    </ng-container>

                                    <ng-container matColumnDef="geoPoint.GeoPointName">
                                        <mat-header-cell *matHeaderCellDef mat-sort-header>State</mat-header-cell>
                                        <mat-cell *matCellDef="let row" (contextmenu)="onContextMenu($event, row)">
                                            {{row.state}}</mat-cell>
                                    </ng-container>

                                    <ng-container matColumnDef="registrationNumber">
                                        <mat-header-cell *matHeaderCellDef mat-sort-header>Registration Number</mat-header-cell>
                                        <mat-cell *matCellDef="let row" (contextmenu)="onContextMenu($event, row)">
                                            {{row.registrationNumber}}</mat-cell>
                                    </ng-container>

                                    <ng-container matColumnDef="interStateTaxAmount">
                                        <mat-header-cell *matHeaderCellDef mat-sort-header>Tax Amount</mat-header-cell>
                                        <mat-cell *matCellDef="let row" (contextmenu)="onContextMenu($event, row)">
                                            {{row.interStateTaxAmount}}</mat-cell>
                                    </ng-container>

                                    <ng-container matColumnDef="interStateTaxStartDate">
                                        <mat-header-cell *matHeaderCellDef mat-sort-header>Start Date</mat-header-cell>
                                        <mat-cell *matCellDef="let row" (contextmenu)="onContextMenu($event, row)">
                                            {{row.interStateTaxStartDate | date:'dd-MM-yyyy'}} </mat-cell>
                                    </ng-container>

                                    <ng-container matColumnDef="interStateTaxEndDate">
                                        <mat-header-cell *matHeaderCellDef mat-sort-header>End Date</mat-header-cell>
                                        <mat-cell *matCellDef="let row" (contextmenu)="onContextMenu($event, row)">
                                            {{row.interStateTaxEndDate | date:'dd-MM-yyyy'}} </mat-cell>
                                    </ng-container>

                                    <ng-container matColumnDef="interStateTaxImage">
                                        <mat-header-cell *matHeaderCellDef [ngClass]="'tbl-col-width-per-9'">Image</mat-header-cell>
                                        <mat-cell *matCellDef="let row" class="table-img tbl-col-width-per-9" (contextmenu)="onContextMenu($event, row)">
                                           <img src="{{row.interStateTaxImage}}"/> </mat-cell>
                                    </ng-container>
                                    
                                    <ng-container matColumnDef="status">
                                        <mat-header-cell *matHeaderCellDef>Status</mat-header-cell>
                                        <mat-cell *matCellDef="let row">
                                            {{activeData}}</mat-cell>
                                    </ng-container>
                                    <!-- actions -->
                                    <ng-container matColumnDef="actions">
                                        <mat-header-cell *matHeaderCellDef class="pr-0"
                                            [ngClass]="'tbl-col-width-per-9'">Actions</mat-header-cell>
                                        <mat-cell *matCellDef="let row; let i=index;" class="pr-0"
                                            [ngClass]="'tbl-col-width-per-9'">
                                            
                                            <button mat-raised-button color="primary"
                                                (contextmenu)="onContextMenu($event, row)"
                                                (click)="onContextMenu($event, row)">
                                                Actions
                                            </button>
                                        </mat-cell>
                                    </ng-container>
                                   
                                    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                                    <mat-row *matRowDef="let row; columns: displayedColumns;" [style.cursor]="'pointer'"
                                        matRipple>
                                    </mat-row>
                                </mat-table>
                            </div>
                                <!-- Loading spinner -->
                                <!-- <div *ngIf="exampleDatabase.isTblLoading" class="tbl-spinner">
                                <mat-progress-spinner color="primary" [diameter]="40" mode="indeterminate">
                                </mat-progress-spinner>
                            </div> -->

                                <!-- context menu start -->
                                <div style="visibility: hidden; position: fixed" [style.left]="contextMenuPosition.x"
                                    [style.top]="contextMenuPosition.y" [matMenuTriggerFor]="contextMenu">
                                </div>
                                <mat-menu #contextMenu="matMenu">
                                    <ng-template matMenuContent let-item="item">
                                        <!-- <button mat-menu-item (click)="addNew()">
                    <mat-icon>add_box</mat-icon>
                    <span>Add</span>
                  </button> -->
                                        <button mat-menu-item (click)="editCall(item)">
                                            <mat-icon>create</mat-icon>
                                            <span>Edit</span>
                                        </button>
                                        <button *ngIf="shouldShowDeleteButton(item)"  mat-menu-item (click)="deleteItem(item)">
                                            <mat-icon>delete</mat-icon>
                                            <span>Delete</span>
                                        </button>
                                        <!-- <button mat-menu-item (click)="refresh()">
                    <mat-icon>refresh</mat-icon>
                    <span>Refresh</span>
                  </button> -->


                                    </ng-template>
                                </mat-menu>

                                <!-- context menu end -->

                                <!-- <div *ngIf="!exampleDatabase.isTblLoading" class="no-results" [style.display]="dataSource.renderedData.length == 0 ? '' : 'none'">
                                No results
                            </div> -->

                                <div class="body">
                                    <div class="example-button-row">

                                        <button mat-raised-button color="primary"
                                            (click)="PreviousCall()">Previous</button>
                                        <button mat-raised-button color="primary" (click)="NextCall()">Next</button>

                                    </div>
                                </div>

                            </ng-template>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>