<div class="addContainer">
    <div class="modalHeader">
        <div class="editRowModal">
            <div class="modalHeader clearfix">
                <!-- <img [src]='advanceTable.img' alt="avatar"> -->
                <div class="modal-about">
                    <div class="font-weight-bold p-t-5 font-17">
                        {{dialogTitle}}</div>
                          <div *ngIf="status && status.toLowerCase().trim() !== 'changes allow'"
         style="color:rgb(150, 4, 4); padding:8px 15px; font-style: italic;">
                  ({{status}}!!!!) 
                </div>
                </div>
            </div>
        </div>
        <button mat-icon-button (click)="dialogRef.close()" aria-label="Close dialog">
      <mat-icon>close</mat-icon>
    </button>
    </div>
    <div mat-dialog-content>
        <form class="register-form m-4" [formGroup]="advanceTableForm" (ngSubmit)="submit()">
           
            <div class="row">
                <div class="col-xl-12 col-lg-6 col-md-12 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width"  appearance="outline" floatLabel="always">
                        <mat-label>Pickup Time</mat-label>
                        <input matInput [owlDateTimeTrigger]="time1" [owlDateTime]="time1" formControlName="pickupTime"  [disabled]="isTNCSelected">
                        <button mat-icon-button matSuffix type="button" [owlDateTimeTrigger]="time1" class="date-icon" aria-label="Open time picker"><mat-icon>schedule</mat-icon></button>
                        <owl-date-time [pickerType]="'timer'" #time1></owl-date-time>
                        <mat-hint align="end">
                                        <div style="float: right; font-size: 10px !important; font-style: italic">
                                            <mat-checkbox color="primary" [(indeterminate)]="indeterminate"
                                                [labelPosition]="labelPosition" formControlName="isTimeNotConfirmed"
                                                (change)="onTNCChange($event.checked)">TNC</mat-checkbox>
                                        </div>
                                    </mat-hint>
                    </mat-form-field>
                </div>
            </div>
          
          
            <div class="row">
                 <!-- <div class="row" *ngIf="status">
                <div class="col-12 mb-1">
                  <span style="color:red">{{status}}</span>
                </div>
            </div> -->
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
                    <div class="example-button-row">
                        <button mat-raised-button color="primary" type="button"
                          [disabled]="!advanceTableForm.valid || buttonDisabled || isSubmitting"
                          (click)="confirmAdd()">
                          <span *ngIf="!isSubmitting">Save</span>
                          <span *ngIf="isSubmitting">Saving…</span>
                        </button>
                        <mat-spinner *ngIf="isSubmitting" diameter="28" class="pickup-time-spinner"></mat-spinner>
                    <button mat-raised-button color="warn" type="button" (click)="onNoClick()"
                        tabindex="-1">Cancel</button>
                    </div>
                </div>
            </div>
        </form>
    </div>