.booking-backup-search-grid
  .row
    margin-left: -6px
    margin-right: -6px

  .row > .col
    flex: 0 0 20% !important
    max-width: 20% !important
    padding-left: 6px
    padding-right: 6px

  .example-full-width
    width: 100%

@media (max-width: 1199.98px)
  .booking-backup-search-grid .row > .col
    flex: 0 0 20% !important
    max-width: 20% !important

@media (max-width: 991.98px)
  .booking-backup-search-grid .row > .col
    flex: 0 0 20% !important
    max-width: 20% !important

@media (max-width: 575.98px)
  .booking-backup-search-grid .row > .col
    flex: 0 0 20% !important
    max-width: 20% !important
