<div *ngFor="let data of advanceTableBI;index as i " >


    <div class="row" style="margin-left: 20px;margin-top: 20px;">
        <!-- <a style="cursor: pointer;color: #007bff;" (click)="BillingInstructionEdit(i)">
            Billing Instruction {{i+1}} - Edit - Delete</a> -->
            <a style="cursor: pointer; color: #007bff;">
                Billing Instruction {{i + 1}} -
                <span style="cursor: pointer; color: #007bff;" (click)="BillingInstructionEdit(i)">Edit</span> -
                <span style="cursor: pointer; color: #007bff;" (click)="deleteItem(i)">Delete</span>
            </a>
    </div>

    <div class="row" style="margin-left: 20px;margin-top: 20px;">
        <div class="col-xl-4 col-lg-6 col-md-12 col-sm-12 mb-2">
            <span>
                <b>
                    Billing Instruction
                </b>
            </span>
            <br />
            <span>{{data.reservationBillingInstruction}}</span>
        </div>

        <div class="col-xl-4 col-lg-6 col-md-12 col-sm-12 mb-2">
            <span>
                <b>
                    Billing Instruction By
                </b>
            </span>
            <br />
            <span>{{data.firstName}} {{data.lastName}}</span>
        </div>

        <div class="col-xl-4 col-lg-6 col-md-12 col-sm-12 mb-2">
            <span>
                <b>
                    Attachment
                </b>
            </span>
            <br />
            <span>
                <a href="{{data.reservationBillingInstructionAttachment}}" target="_blank" style="cursor: pointer;color: #007bff;">
                <!-- View -->
                <img [src]="data.reservationBillingInstructionAttachment" style="max-width: 70px; max-height: 70px;" />
                </a>
            </span>
        </div>
    </div>

    
</div>

