<!-- modelpopup
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog">
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Reservation / Dutyslip Search</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <mat-form-field class="example-full-width" appearance="outline" floatLabel="always">
                    <mat-label>Booking Number</mat-label>
                    <input type="text" matInput [(ngModel)]="reservationID" (ngModelChange)="onInputChange()" [disabled]="isReservationDisabled">
                </mat-form-field>

                <mat-form-field class="example-full-width" appearance="outline" floatLabel="always">
                    <mat-label>Dutyslip Number</mat-label>
                    <input type="text" matInput [(ngModel)]="dutyslipID" (ngModelChange)="onInputChange()" [disabled]="isDutySlipDisabled">
                </mat-form-field>
            </div>
            <div class="modal-footer">
                <button mat-raised-button color="primary" data-dismiss="modal" (click)="SearchData()">Search</button>
            </div>
        </div>
    </div>
</div> -->

<div class="card search-card">

  <div class="card-header">
    <h5>Reservation / Dutyslip Search</h5>
  </div>

  <div class="card-body">

    <div class="row">

      <div class="col-md-5">
        <mat-form-field appearance="outline" style="width:100%" floatLabel="always">
          <mat-label>Booking Number</mat-label>
          <input matInput [(ngModel)]="reservationID"
          (ngModelChange)="onInputChange()"
          [disabled]="isReservationDisabled">
        </mat-form-field>
      </div>

      <div class="col-md-5">
        <mat-form-field appearance="outline" style="width:100%" floatLabel="always">
          <mat-label>Dutyslip Number</mat-label>
          <input matInput [(ngModel)]="dutyslipID"
          (ngModelChange)="onInputChange()"
          [disabled]="isDutySlipDisabled">
        </mat-form-field>
      </div>

      <div class="col-md-2" style="margin-top:5px;">
        <button mat-raised-button color="primary" (click)="SearchData()">
          Search
        </button>
      </div>

    </div>

  </div>

</div>