<div class="addContainer">
    <div class="modalHeader">
        <div class="editRowModal">
            <div class="modalHeader clearfix">
                <!-- <img [src]='advanceTable.img' alt="avatar"> -->
                <div class="modal-about">
                    <div class="font-weight-bold p-t-5 font-17">
                        {{dialogTitle}}</div>
                </div>
            </div>
        </div>
        <button mat-icon-button (click)="dialogRef.close()" aria-label="Close dialog">
            <mat-icon>close</mat-icon>
        </button>
    </div>
    <div style="max-height: 400px; overflow-y: auto;">
        <!-- <div mat-dialog-content> -->
        <form class="register-form m-4" [formGroup]="advanceTableForm" (ngSubmit)="submit">

            <div class="row">
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width" appearance="outline" floatLabel="always">
                        <mat-label>First Name</mat-label>
                        <input matInput formControlName="firstName" (keypress)="keyPressAlphaNumeric($event)" required>
                        <mat-error *ngIf="advanceTableForm.get('firstName').hasError('required')">
                            First Name is required
                        </mat-error>
                    </mat-form-field>
                </div>

                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width" appearance="outline" floatLabel="always">
                        <mat-label>Last Name</mat-label>
                        <input matInput formControlName="lastName" (keypress)="keyPressAlphaNumeric($event)" required>
                        <mat-error *ngIf="advanceTableForm.get('lastName').hasError('required')">
                            Last Name is required
                        </mat-error>
                    </mat-form-field>
                </div>

            </div>
            <div class="row">
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width" appearance="outline" floatLabel="always">
                        <mat-label>Gender</mat-label>
                        <mat-select required formControlName="gender">
                            <mat-option value="Other">Other</mat-option>
                            <mat-option value="Male">Male</mat-option>
                            <mat-option value="Female">Female</mat-option>
                        </mat-select>

                        <mat-error *ngIf="advanceTableForm.get('gender').hasError('required')">
                            Gender is required
                        </mat-error>
                    </mat-form-field>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                    <!-- <mat-form-field class="example-full-width" appearance="outline" floatLabel="always">
                        <mat-label>Reporting Manager</mat-label>
                        <mat-select formControlName="reportingManagerID">
                            <mat-option [value]="Employee.employeeID"
                                *ngFor="let Employee of EmployeesList">{{Employee.firstName}}</mat-option>
                        </mat-select>
                        <mat-error *ngIf="advanceTableForm.get('reportingManagerID').hasError('required')">
                            Please select a Reporting Manager
                        </mat-error>
                    </mat-form-field> -->
                    <mat-form-field class="example-full-width" appearance="outline" floatLabel="always">
                        <mat-label>Reporting Manager</mat-label>
                        <input required type="text" matInput formControlName="reportingManager"
                            [matAutocomplete]="auto">
                        <mat-autocomplete #auto="matAutocomplete"
                            (optionSelected)="OnReportingManagerSelect($event.option.value)">
                            <mat-option *ngFor="let option of filteredEmployeeOptions | async"
                                [value]="option.firstName+ ' '+ option.lastName + ' ' + (option.employeeOfficeID)" (click)="getTitles(option.employeeID)">
                                {{option.firstName}} {{option.lastName}} {{ option.employeeOfficeID }}
                            </mat-option>
                        </mat-autocomplete>
                        <mat-error
                            *ngIf="advanceTableForm.controls['reportingManager'].hasError('reportingManagerInvalid')">
                            Please select a Reporting Manager
                        </mat-error>
                    </mat-form-field>
                </div>
            </div>
            <div class="row">
                <div class="col-xl-3 col-lg-3 col-md-1 col-sm-1 mb-1">

                    <mat-form-field class="example-full-width" appearance="outline" floatLabel="always">
                        <mat-label>Country Code</mat-label>
                        <input type="text" matInput formControlName="countryCodes" [matAutocomplete]="auto10">
                        <mat-autocomplete #auto10="matAutocomplete" (optionSelected)="onCountryCode($event)">
                            <mat-option *ngFor="let option of filteredCountryCodesOptions | async"
                                [value]="option.countryISDCode">
                                <div style="display: flex; align-items: center;">
                                    <img [src]="option.icon" alt="{{option.countryISOCode}}" width="20" height="20"
                                        style="margin-right: 8px;">
                                    <span>{{option.countryISOCode}} {{option.countryISDCode}}</span>
                                </div>
                            </mat-option>
                        </mat-autocomplete>
                        <mat-error
                            *ngIf="advanceTableForm.controls['countryCodes'].hasError('countryCodesTypeInvalid')">
                            Please select a Country Code
                        </mat-error>

                    </mat-form-field>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6 mb-1">
                    <mat-form-field class="example-full-width" appearance="outline" floatLabel="always">
                        <mat-label>Mobile</mat-label>
                        <input matInput formControlName="mobile" required (input)="onMobileChange()">
                        <mat-error *ngIf="advanceTableForm.get('mobile').hasError('required')">
                            Mobile is required
                        </mat-error>
                        <mat-error *ngIf="advanceTableForm.get('mobile').hasError('duplicate')">
                            Mobile is already exist
                        </mat-error>
                    </mat-form-field>
                </div>

                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width" appearance="outline" floatLabel="always">
                        <mat-label>Email</mat-label>
                        <input matInput type="email" formControlName="email" required (input)="onEmailChange()">
                        <mat-error *ngIf="advanceTableForm.get('email')?.hasError('required')">
                            Email is required
                        </mat-error>

                        <mat-error *ngIf="advanceTableForm.get('email')?.hasError('email')">
                            Please enter a valid email address
                        </mat-error>

                        <mat-error *ngIf="advanceTableForm.get('email')?.hasError('duplicate')">
                            Email already exists
                        </mat-error>
                    </mat-form-field>
                </div>

            </div>
            <div class="row">
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width" appearance="outline" floatLabel="always">
                        <mat-label>Office ID</mat-label>
                        <input matInput formControlName="employeeOfficeID" required>
                        <mat-error *ngIf="advanceTableForm.get('employeeOfficeID').hasError('required')">
                            Employee Office ID is required
                        </mat-error>
                    </mat-form-field>
                </div>

                <!-- <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width" appearance="outline" floatLabel="always">
                        <mat-label>Login Name</mat-label>
                        <input matInput formControlName="loginName" required>
                        <mat-error *ngIf="advanceTableForm.get('loginName').hasError('required')">
                            Login Name is required
                        </mat-error>
                    </mat-form-field>
                </div> -->

                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width" appearance="outline" floatLabel="always">
                        <mat-label>Employee Of</mat-label>
                        <input matInput formControlName="employeeOf" readonly>
                        <!-- <mat-select required formControlName="employeeOf">
                            <mat-option value="Eco">Eco</mat-option>
                            <mat-option value="Supplier">Supplier</mat-option>
                        </mat-select> -->

                        <!-- <mat-error *ngIf="advanceTableForm.get('employeeOf').hasError('required')">
                            Employee Of is required
                        </mat-error> -->
                    </mat-form-field>
                </div>

            </div>
            <div class="row">

                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                    <!-- <mat-form-field class="example-full-width" appearance="outline" floatLabel="always">
                        <mat-label>Supplier</mat-label>
                        <mat-select required #supplierVal
                            [class.is-invalid]="supplierVal.invalid && supplierVal.touched"
                            formControlName="supplierID">
                            <mat-option [value]="Supplier.supplierID" *ngFor="let Supplier of SupplierList">{{Supplier.
                                supplierName}}</mat-option>
                        </mat-select>
                        <mat-error>
                            Please select a Supplier
                        </mat-error>
                    </mat-form-field> -->
                    <mat-form-field class="example-full-width" appearance="outline" floatLabel="always">
                        <mat-label>Supplier</mat-label>
                        <input type="text" required matInput formControlName="supplierName" [matAutocomplete]="auto4">
                        <mat-autocomplete #auto4="matAutocomplete"
                            (optionSelected)="OnSupplierSelect($event.option.value)">
                            <mat-option *ngFor="let option of filteredSupplierOptions | async"
                                [value]="option.supplierName" (click)="getsupplierID(option.supplierID)">
                                {{option.supplierName}}
                            </mat-option>
                        </mat-autocomplete>
                        <mat-error *ngIf="advanceTableForm.controls['supplierName'].hasError('supplierNameInvalid')">
                            Please select a Supplier Name
                        </mat-error>
                    </mat-form-field>
                </div>

                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width" appearance="outline" floatLabel="always">
                        <mat-label>Employment Status</mat-label>
                        <mat-select required formControlName="employmentStatus">
                            <mat-option value="Active">Active</mat-option>
                            <mat-option value="Exited">Exited</mat-option>
                            <mat-option value="OnHold">OnHold</mat-option>

                        </mat-select>

                        <mat-error *ngIf="advanceTableForm.get('employmentStatus').hasError('required')">
                            Employment Status is required
                        </mat-error>
                    </mat-form-field>
                </div>

            </div>

            <!-- <div class="row">
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width" appearance="outline" floatLabel="always">
                        <mat-label>Employee Type</mat-label>
                        <mat-select required formControlName="employmentType">
                            <mat-option value="Permanent">Eco</mat-option>
                            <mat-option value="Contracted">Contracted</mat-option>
                            <mat-option value="PartTime">PartTime</mat-option>
                        </mat-select>
                        <mat-error *ngIf="advanceTableForm.get('employeeOf').hasError('required')">
                            Employee Type is required
                        </mat-error>
                    </mat-form-field>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width" appearance="outline" floatLabel="always">
                        <mat-label>Contract Valid Up To</mat-label>
                        <input required matInput [matDatepicker]="contractValidUpTo"
                            formControlName="contractValidUpTo">
                        <mat-datepicker-toggle matSuffix [for]="contractValidUpTo"></mat-datepicker-toggle>
                        <mat-datepicker #contractValidUpTo></mat-datepicker>
                        <mat-error *ngIf="advanceTableForm.get('contractValidUpTo').hasError('required')">
                            Contract Valid Up To is required
                        </mat-error>
                    </mat-form-field>
                </div>
            </div> -->

            <div class="row">

                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">

                    <mat-form-field class="example-full-width" appearance="outline" floatLabel="always">
                        <mat-label>Date Of Leaving</mat-label>
                        <input matInput [matDatepicker]="dateOfLeaving" placeholder="DD/MM/YYYY"
                            formControlName="dateOfLeaving" (blur)="onBlurUpdateDate($event.target.value)">
                        <mat-datepicker-toggle matSuffix [for]="dateOfLeaving"></mat-datepicker-toggle>
                        <mat-datepicker #dateOfLeaving></mat-datepicker>
                        <!-- <mat-error *ngIf="advanceTableForm.get('dateOfLeaving').hasError('required')">
                            Date Of Leaving is required
                        </mat-error> -->
                    </mat-form-field>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2"
                    *ngIf="advanceTableForm.value.employmentStatus === 'Exited'">
                    <mat-form-field class="example-full-width" appearance="outline" floatLabel="always">
                        <mat-label>Date Of Leaving</mat-label>
                        <input required matInput [matDatepicker]="dateOfLeaving" placeholder="DD/MM/YYYY"
                            formControlName="dateOfLeaving" (blur)="onBlurUpdateDate($event.target.value)">
                        <mat-datepicker-toggle matSuffix [for]="dateOfLeaving"></mat-datepicker-toggle>
                        <mat-datepicker #dateOfLeaving></mat-datepicker>
                        <mat-error *ngIf="advanceTableForm.get('dateOfLeaving').hasError('required')">
                            Date Of Leaving is required
                        </mat-error>
                        <mat-error *ngIf="advanceTableForm.get('dateOfLeaving')?.hasError('invalidDate')">
                            Invalid date format. Use DD/MM/YYYY.
                        </mat-error>
                    </mat-form-field>
                </div>

                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width" appearance="outline" floatLabel="always">
                        <mat-label>Package Amount</mat-label>
                        <mat-select required formControlName="packageAmount">
                            <mat-option [value]=true>Yes</mat-option>
                            <mat-option [value]=false>No</mat-option>
                        </mat-select>
                        <mat-error *ngIf="advanceTableForm.get('packageAmount').hasError('required')">
                            Package Amount is required
                        </mat-error>
                    </mat-form-field>
                </div>
            </div>

            <!-- <div class="row">
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width" appearance="outline"  floatLabel="always">
                        <mat-label>Password</mat-label>
                        <input name="password" [type]="showPassword ? 'text' : 'password'" matInput formControlName="password">
                        <mat-icon matSuffix (click)="showPassword = !showPassword">{{ showPassword ? 'visibility_off' : 'visibility' }}</mat-icon>
                        
                    </mat-form-field>
                </div>

                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width" appearance="outline"  floatLabel="always">
                        <mat-label>Confirm Password</mat-label>
                        <input  name="password" [type]="showConfirmPassword ? 'text' : 'password'" matInput formControlName="confirmPassword" (click)="markAsTouched('confirmPassword')">
                        
                        <mat-error *ngIf="advanceTableForm.get('confirmPassword').hasError('required') ">Confirm Password is required</mat-error>
                        <mat-icon matSuffix (click)="showConfirmPassword = !showConfirmPassword">{{ showConfirmPassword ? 'visibility_off' : 'visibility' }}</mat-icon>
                        <mat-error *ngIf="advanceTableForm.get('confirmPassword').hasError('confirmPasswordValidator') || advanceTableForm.get('confirmPassword').touched">Passsword and
                            Confirm Password didn't match. </mat-error>
                        
                    </mat-form-field>
                
                </div>
            </div> -->

            <!-- <div class="row">
                
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width" appearance="outline" floatLabel="always">
                        <mat-label>Activation Status</mat-label>
                        <mat-select formControlName="activationStatus">
                            <mat-option [value]=true>Active</mat-option>
                            <mat-option [value]=false>Deleted</mat-option>
                        </mat-select>

                        <mat-error *ngIf="advanceTableForm.get('activationStatus').hasError('required')">
                            Activation Status is required
                        </mat-error>
                    </mat-form-field>
                </div>
            </div> -->

            <div class="row">
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width" appearance="outline" floatLabel="always">
                        <mat-label>Role</mat-label>
                        <input type="text" matInput required formControlName="role" [matAutocomplete]="auto9">
                        <mat-autocomplete #auto9="matAutocomplete" (optionSelected)="OnRoleSelect($event.option.value)">
                            <mat-option *ngFor="let option of filteredRoleOptions | async" [value]="option.role"
                                (click)="getRoleID(option.roleID)">
                                {{option.role}}
                            </mat-option>
                        </mat-autocomplete>
                        <mat-error *ngIf="advanceTableForm.controls['role'].hasError('roleTypeInvalid')">
                            Please select a Role
                        </mat-error>
                    </mat-form-field>
                </div>

                <!-- <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width" appearance="outline" floatLabel="always">
                        <mat-label>Location</mat-label>
                        <input required type="text" matInput formControlName="organizationalEntityName" [matAutocomplete]="auto1">
                        <mat-autocomplete #auto1="matAutocomplete">
                            <mat-option *ngFor="let option of filteredLocationOptions | async"
                                [value]="option.organizationalEntityName" (click)="getLocationID(option.organizationalEntityID)">
                                {{option.organizationalEntityName}}
                            </mat-option>
                        </mat-autocomplete>
                        <mat-error *ngIf="advanceTableForm.get('organizationalEntityName').hasError('required')">
                            Please select a Location
                        </mat-error>
                    </mat-form-field>
                </div> -->
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width" appearance="outline" floatLabel="always">
                        <mat-label>VPN</mat-label>
                        <mat-select formControlName="vpn">
                            <mat-option [value]=true>Yes</mat-option>
                            <mat-option [value]=false>No</mat-option>
                        </mat-select>
                        <mat-error *ngIf="advanceTableForm.get('vpn').hasError('required')">
                            VPN is required
                        </mat-error>
                    </mat-form-field>
                </div>
            </div>

            <div class="row">
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2" *ngIf="advanceTableForm.value.vpn === false">
                    <mat-form-field class="example-full-width" appearance="outline" floatLabel="always">
                        <mat-label>Reason</mat-label>
                        <input matInput formControlName="reason" required>
                        <mat-error *ngIf="advanceTableForm.get('reason').hasError('required')">
                            Reason is required
                        </mat-error>
                    </mat-form-field>
                </div>
            </div>

            <div class="row">
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width" appearance="outline" floatLabel="always">
                        <mat-label>Show All Location</mat-label>
                        <mat-select formControlName="showAllLocation">
                            <mat-option [value]=true>Centralized</mat-option>
                            <mat-option [value]=false>Location Based</mat-option>
                        </mat-select>
                        <mat-error *ngIf="advanceTableForm.get('activationStatus').hasError('required')">
                            Activation Status is required
                        </mat-error>
                    </mat-form-field>
                </div>

                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width" appearance="outline" floatLabel="always">
                        <mat-label>Location</mat-label>
                        <input required type="text" matInput formControlName="employeeAttachedToLocation"
                            [matAutocomplete]="auto1">
                        <mat-autocomplete #auto1="matAutocomplete"
                            (optionSelected)="OnLocationSelect($event.option.value)">
                            <mat-option *ngFor="let option of filteredLocationOptions | async"
                                [value]="option.organizationalEntityName"
                                (click)="getLocationID(option.organizationalEntityID)">
                                {{option.organizationalEntityName}}
                            </mat-option>
                        </mat-autocomplete>
                        <mat-error
                            *ngIf="advanceTableForm.get('employeeAttachedToLocation').hasError('locationTypeInvalid')">
                            Please select a Location
                        </mat-error>
                    </mat-form-field>
                </div>
            </div>
            <div class="row">
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width" appearance="outline" floatLabel="always">
                        <mat-label>Old RenNet ID</mat-label>
                        <input matInput type="number" formControlName="oldRenNetID" />

                    </mat-form-field>
                </div>

                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width" appearance="outline" floatLabel="always">
                        <mat-label>Activation Status</mat-label>
                        <mat-select formControlName="activationStatus">
                            <mat-option [value]=true>Active</mat-option>
                            <mat-option [value]=false>Deleted</mat-option>
                        </mat-select>
                        <mat-error *ngIf="advanceTableForm.get('activationStatus').hasError('required')">
                            Activation Status is required
                        </mat-error>
                    </mat-form-field>
                </div>
            </div>

            <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
                    <div class="example-button-row">
                        <button mat-raised-button *ngIf="saveDisabled" color="primary" [type]="submit"
                            [disabled]="!advanceTableForm.valid" (click)="confirmAdd()">Save</button>
                        <mat-spinner *ngIf="!saveDisabled" diameter="30"></mat-spinner>
                        <button *ngIf="action==='add'" mat-raised-button color="warn" (click)="onNoClick()"
                            tabindex="-1">Reset</button>
                        <button *ngIf="action==='edit'" mat-raised-button color="warn" (click)="onNoClick()"
                            tabindex="-1">Cancel</button>

                        <!-- <button mat-raised-button color="primary" [type]="submit" *ngIf="isButtonVisible"
                            (click)="organizationalEntityStakeHoldersCall()">
                            Add Desgination</button> -->

                    </div>
                </div>
            </div>
        </form>
        <!-- </div> -->
    </div>