<div class="signup-wrapper">
  <div class="signup-box mat-box">

    <div class="logo-box">
      <img src="assets/images/logoeco.png" />
    </div>

    <form class="mat-form">

      <!-- Corporate Name -->
      <mat-form-field appearance="outline" floatLabel="always">
        <mat-label>Corporate Name</mat-label>
        <mat-icon matPrefix>business</mat-icon>
        <input matInput placeholder="Corporate Name">
      </mat-form-field>

      <!-- Name -->
      <mat-form-field appearance="outline" class="mat-input-full" floatLabel="always">
        <mat-label>Name*</mat-label>
        <mat-icon matPrefix>person</mat-icon>
        <input matInput placeholder="Name*">
      </mat-form-field>

      <!-- Gender -->
      <mat-form-field appearance="outline" class="mat-input-full" floatLabel="always">
        <mat-label>Gender*</mat-label>
        <mat-icon matPrefix>wc</mat-icon>

        <mat-select>
          <mat-option value="male">Male</mat-option>
          <mat-option value="female">Female</mat-option>
        </mat-select>
      </mat-form-field>

      <!-- Designation -->
      <mat-form-field appearance="outline" class="mat-input-full" floatLabel="always">
        <mat-label>Designation</mat-label>
        <mat-icon matPrefix>badge</mat-icon>
        <input matInput placeholder="Designation">
      </mat-form-field>

      <!-- Employee ID -->
      <mat-form-field appearance="outline" class="mat-input-full" floatLabel="always">
        <mat-label>Employee ID</mat-label>
        <mat-icon matPrefix>credit_card</mat-icon>
        <input matInput placeholder="Employee ID">
      </mat-form-field>

      <!-- Email -->
      <mat-form-field appearance="outline" class="mat-input-full" floatLabel="always">
        <mat-label>Email Address*</mat-label>
        <mat-icon matPrefix>email</mat-icon>
        <input matInput placeholder="Email Address*">
      </mat-form-field>

      <!-- Mobile -->
      <mat-form-field appearance="outline" class="mat-input-full" floatLabel="always">
        <mat-label>Mobile No*</mat-label>
        <mat-icon matPrefix>phone</mat-icon>
        <input matInput placeholder="Mobile No*">
      </mat-form-field>

      <!-- Residence Address -->
      <mat-form-field appearance="outline" class="mat-input-full" floatLabel="always">
        <mat-label>Residence Address as per Google Map</mat-label>
        <mat-icon matPrefix>location_on</mat-icon>
        <input matInput placeholder="Residence Address as per Google Map">
      </mat-form-field>

      <!-- Exact Address -->
      <mat-form-field appearance="outline" class="mat-input-full" floatLabel="always">
        <mat-label>Exact Address with Pincode</mat-label>
        <mat-icon matPrefix>location_on</mat-icon>
        <input matInput placeholder="Exact Address with Pincode">
      </mat-form-field>

      <!-- Register Button -->
      <button mat-raised-button class="btn-register">Register</button>

    </form>

  </div>
</div>
