<section class="content">
    <div class="container-fluid">
        <div class="block-header">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <ul>
                        <li class="breadcrumb-item bcrumb-1">
                            <a routerLink="/dashboard/main">
                                <i class="fas fa-home"></i> Home</a>|
                            <a href="#" onClick="return false;">Admin</a>|
                            <a href="#" onClick="return false;">Customer</a>
                        </li>
                    </ul>
                    <ul class="breadcrumb breadcrumb-style ">
                        <li class="breadcrumb-item">
                            <h2>Customer</h2>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="card">
                    <div class="body">
                        <div class="responsive_table">
                            <div class="materialTableHeader">
                                <div class="row">
                                    <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog">
                                        <div class="modal-dialog modal-dialog-centered">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h5 class="modal-title" id="exampleModalLongTitle">Customer
                                                    </h5>
                                                    <button type="button" class="close" data-dismiss="modal"
                                                        aria-label="Close">
                                                        <span aria-hidden="true">&times;</span>
                                                    </button>
                                                </div>
                                                <div class="modal-body">
                                                    <mat-form-field class="example-full-width" appearance="outline" floatLabel="always">
                                                        <mat-label>Name</mat-label>
                                                        <input type="text" matInput [(ngModel)]="searchCustomerName">
                                                    </mat-form-field>

                                                    <!-- <mat-form-field class="example-full-width" appearance="outline" floatLabel="always">
                                                        <mat-label>Customer Type</mat-label>
                                                        <mat-select [formControl]="customerType"
                                                            [(ngModel)]="searchCustomerType">
                                                            <mat-option [value]="Customer.customerType"
                                                                *ngFor="let Customer of CustomerTypeList">{{Customer.customerType}}</mat-option>
                                                        </mat-select>
                                                    </mat-form-field> -->

                                                    <mat-form-field class="example-full-width" appearance="outline" floatLabel="always">
                                                        <mat-label>Customer Type</mat-label>
                                                        <input type="text" matInput [matAutocomplete]="auto1"
                                                            [formControl]="customerType">
                                                        <mat-autocomplete #auto1="matAutocomplete">
                                                            <mat-option
                                                                *ngFor="let options of filteredTypeOptions | async"
                                                                [value]="options.customerType">
                                                                {{options.customerType}}
                                                            </mat-option>
                                                        </mat-autocomplete>
                                                    </mat-form-field>

                                                    <!-- <mat-form-field class="example-full-width" appearance="outline" floatLabel="always">
                                                        <mat-label>Customer Category</mat-label>
                                                        <mat-select [formControl]="customerCategory"
                                                            [(ngModel)]="searchCustomerCategory">
                                                            <mat-option [value]="Customers.customerCategory"
                                                                *ngFor="let Customers of customerCategoryList">{{Customers.customerCategory}}</mat-option>
                                                        </mat-select>
                                                    </mat-form-field> -->

                                                    <!-- <mat-form-field class="example-full-width" appearance="outline" floatLabel="always"> 
                                                        <mat-label>Customer Category</mat-label>                       
                                                        <input  type="text" matInput [matAutocomplete]="auto4"
                                                        [formControl]="customerCategory">
                                                        <mat-autocomplete #auto4="matAutocomplete">
                                                            <mat-option *ngFor="let options of filteredCategoryOptions | async"
                                                                [value]="options.customerCategory">
                                                                {{options.customerCategory}}
                                                            </mat-option>
                                                        </mat-autocomplete>
                                                        
                                                    </mat-form-field> -->

                                                    <!-- <mat-form-field class="example-full-width" appearance="outline" floatLabel="always">
                                                        <mat-label>Customer Group</mat-label>
                                                        <mat-select [formControl]="customerGroup"
                                                            [(ngModel)]="searchcustomerGroup">
                                                            <mat-option [value]="Customers.customerGroup"
                                                                *ngFor="let Customers of customerGroupList">{{Customers.customerGroup}}</mat-option>
                                                        </mat-select>
                                                    </mat-form-field> -->

                                                    <mat-form-field class="example-full-width" appearance="outline" floatLabel="always">
                                                        <mat-label>Customer Group</mat-label>
                                                        <input type="text" matInput [matAutocomplete]="auto"
                                                            [formControl]="customerGroup">
                                                        <mat-autocomplete #auto="matAutocomplete">
                                                            <mat-option *ngFor="let options of filteredOptions | async"
                                                                [value]="options.customerGroup">
                                                                {{options.customerGroup}}
                                                            </mat-option>
                                                        </mat-autocomplete>

                                                    </mat-form-field>

                                                    <mat-form-field class="example-full-width mb-3"
                                                        appearance="outline" floatLabel="always">
                                                        <mat-label>Activation Status</mat-label>
                                                        <mat-select [(value)]="SearchActivationStatus">
                                                            <mat-option [value]=true>Active</mat-option>
                                                            <mat-option [value]=false>Deleted</mat-option>
                                                        </mat-select>
                                                    </mat-form-field>

                                                </div>
                                                <div class="modal-footer">
                                                    <button mat-raised-button color="primary" (click)="SearchData()"
                                                        data-dismiss="modal">Search</button>

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- <div style="width: 70%; float:left;padding-top: 15px;padding-left: 22px;">
                                        <div *ngIf="searchCustomerName" style="float: left;"><b>Customer Name</b> :
                                            {{searchCustomerName}},</div>
                                        <div *ngIf="customerType.value" style="float: left;"><b>Customer Type</b> :
                                            {{customerType.value}},</div>
                                        <div *ngIf="customerCategory.value" style="float: left;"><b>Customer
                                                Category</b> : {{customerCategory.value}},</div>
                                        <div *ngIf="customerGroup.value" style="float: left;"><b>Customer Group</b> :
                                            {{customerGroup.value}}</div>
                                    </div> -->

                                    <div class="customer-toolbar-left">
                                        <div class="customer-search-group">
                                            <select class="form-control customer-search-type"
                                                [(ngModel)]="selectedFilter">
                                                <option value="search" hidden>Search By</option>
                                                <option value="name">Customer Name</option>
                                                <option value="customerType">Customer Type</option>
                                                <option value="customerGroup">Customer Group</option>
                                            </select>

                                            <input type="text" class="form-control customer-search-input"
                                                placeholder="Filter" id="inputGroup" [(ngModel)]="searchTerm"
                                                (ngModelChange)="onSearchTermChange($event)"
                                                (keyup.enter)="onSearchClick()" />

                                            <button type="button" class="btn btn-light customer-search-btn"
                                                (click)="onSearchClick()">
                                                <i class="fas fa-search"></i>
                                            </button>
                                        </div>
                                    </div>

                                    <div class="customer-toolbar-right">
                                        <button mat-raised-button color="primary" data-dismiss="modal"
                                            data-toggle="modal" data-backdrop="false" data-target="#exampleModalCenter">
                                            Search
                                        </button>
                                        &nbsp;
                                        <button mat-raised-button color="primary" (click)="CIPlus()">
                                            Add Corp. Indi.
                                        </button>
                                        &nbsp;
                                        <button mat-raised-button color="primary" (click)="addNew()">
                                            <!-- <mat-icon class="col-white">add</mat-icon> -->
                                            Add Corporate
                                        </button>
                                        &nbsp;
                                        <button mat-mini-fab color="primary" (click)="refresh()">
                                            <mat-icon class="col-white">refresh</mat-icon>
                                        </button>
                                        &nbsp;
                                    </div>
                                </div>
                            </div>

                            <!-- <label>
                                <input type="checkbox" [(ngModel)]="isChecked">
                                Check me!
                            </label> -->
                            <!-- <p>Checkbox is {{ isChecked ? 'checked' : 'unchecked' }}</p> -->
                            <div *ngIf="isLoading && !dataSource" class="grid-loading-indicator"
                                 style="padding: 40px; text-align: center;">
                                <mat-progress-spinner mode="indeterminate" diameter="40"
                                    style="display: inline-block;"></mat-progress-spinner>
                                <div style="margin-top: 12px; color: #666;">Loading records&hellip;</div>
                            </div>

                            <p *ngIf="!isLoading && !dataSource; then thenBlock2"></p>
                            <ng-container *ngIf="dataSource" [ngTemplateOutlet]="elseBlock2"></ng-container>

                            <ng-template #thenBlock2>
                                <div class="alert alert-primary" style="background-color:#E8E8E8; text-align: center;">
                                    No Records Found</div>
                                <div class="body">
                                    <div class="example-button-row">

                                        <button mat-raised-button color="primary"
                                            (click)="PreviousCall()">Previous</button>
                                        <button mat-raised-button color="primary" (click)="NextCall()">Next</button>

                                    </div>
                                </div>

                            </ng-template>

                            <ng-template #elseBlock2>
                                <div class="scrollable-table-container">
                                    <mat-table #table [dataSource]="dataSource" matSort
                                        class="mat-cell floating-header-table" (matSortChange)="SortingData($event)">

                                        <ng-container matColumnDef="id">
                                            <mat-header-cell *matHeaderCellDef mat-sort-header>Id</mat-header-cell>
                                            <mat-cell *matCellDef="let row">{{row.customerID}}</mat-cell>
                                        </ng-container>

                                        <ng-container matColumnDef="customerName">
                                            <mat-header-cell *matHeaderCellDef
                                                mat-sort-header>Customer</mat-header-cell>
                                            <mat-cell *matCellDef="let row" (contextmenu)="onContextMenu($event, row)">
                                                {{row.customerName? row.customerName : 'N/A'}}</mat-cell>
                                        </ng-container>

                                        <ng-container matColumnDef="tallyCustomerID">
                                            <mat-header-cell *matHeaderCellDef
                                                mat-sort-header>CustomerID</mat-header-cell>
                                            <mat-cell *matCellDef="let row" (contextmenu)="onContextMenu($event, row)">
                                                {{row.tallyCustomerID ? row.tallyCustomerID : 'N/A'}}</mat-cell>
                                        </ng-container>

                                        <ng-container matColumnDef="customerGroup">
                                            <mat-header-cell *matHeaderCellDef mat-sort-header>Group</mat-header-cell>
                                            <mat-cell *matCellDef="let row" (contextmenu)="onContextMenu($event, row)">
                                                {{row.customerGroup ? row.customerGroup : 'N/A'}}</mat-cell>
                                        </ng-container>

                                        <ng-container matColumnDef="customerType">
                                            <mat-header-cell *matHeaderCellDef mat-sort-header>Type</mat-header-cell>
                                            <mat-cell *matCellDef="let row" (contextmenu)="onContextMenu($event, row)">
                                                {{row.customerType ? row.customerType : 'N/A'}}</mat-cell>
                                        </ng-container>

                                        <ng-container matColumnDef="customerCategory">
                                            <mat-header-cell *matHeaderCellDef
                                                mat-sort-header>Category</mat-header-cell>
                                            <mat-cell *matCellDef="let row" (contextmenu)="onContextMenu($event, row)">
                                                {{row.customerCategory ? row.customerCategory : 'N/A'}}</mat-cell>
                                        </ng-container>

                                        <ng-container matColumnDef="cityName">
                                            <mat-header-cell *matHeaderCellDef mat-sort-header>City</mat-header-cell>
                                            <mat-cell *matCellDef="let row" (contextmenu)="onContextMenu($event, row)">
                                                {{row.cityName ? row.cityName : 'N/A'}}</mat-cell>
                                        </ng-container>

                                        <ng-container matColumnDef="keyAccountManagerName">
                                            <mat-header-cell *matHeaderCellDef mat-sort-header>Kam</mat-header-cell>
                                            <mat-cell *matCellDef="let row">
                                                {{ row.keyAccountManagerName || 'N/A' }}
                                            </mat-cell>
                                        </ng-container>

                                        <ng-container matColumnDef="salesManagerName">
                                            <mat-header-cell *matHeaderCellDef mat-sort-header>Sales
                                                Person</mat-header-cell>
                                            <mat-cell *matCellDef="let row">
                                                {{ row.salesManagerName || 'N/A' }}
                                            </mat-cell>
                                        </ng-container>
                                        <ng-container matColumnDef="status">
                                            <mat-header-cell *matHeaderCellDef mat-sort-header>Status</mat-header-cell>
                                            <mat-cell *matCellDef="let row">
                                                {{row.ActiveStatus}}</mat-cell>
                                        </ng-container>
                                        <!-- actions -->
                                        <ng-container matColumnDef="actions">
                                            <mat-header-cell *matHeaderCellDef class="pr-0"
                                                [ngClass]="'tbl-col-width-per-9'">Actions</mat-header-cell>
                                            <mat-cell *matCellDef="let row; let i=index;" class="pr-0"
                                                [ngClass]="'tbl-col-width-per-9'">

                                                <button mat-raised-button color="primary"
                                                    [disabled]="row.customerName==='Individual'"
                                                    (contextmenu)="onContextMenu($event, row)"
                                                    (click)="onContextMenu($event, row)">
                                                    Actions
                                                </button>
                                            </mat-cell>
                                        </ng-container>

                                        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                                        <mat-row *matRowDef="let row; columns: displayedColumns;"
                                            [style.cursor]="'pointer'" matRipple>
                                        </mat-row>
                                    </mat-table>
                                </div>
                                <!-- Loading spinner -->
                                <!-- <div *ngIf="exampleDatabase.isTblLoading" class="tbl-spinner">
                                <mat-progress-spinner color="primary" [diameter]="40" mode="indeterminate">
                                </mat-progress-spinner>
                            </div> -->

                                <!-- context menu start -->
                                <div style="visibility: hidden; position: fixed" [style.left]="contextMenuPosition.x"
                                    [style.top]="contextMenuPosition.y" [matMenuTriggerFor]="contextMenu">
                                </div>
                                <mat-menu #contextMenu="matMenu">
                                    <ng-template matMenuContent let-item="item">
                                        <button mat-menu-item (click)="editCall(item)">
                                            <mat-icon>create</mat-icon>
                                            <span>Edit</span>
                                        </button>
                                        <button *ngIf="shouldShowDeleteButton(item)" mat-menu-item
                                            (click)="deleteItem(item)">
                                            <mat-icon>delete</mat-icon>
                                            <span>Delete</span>
                                        </button>

                                        <ng-container *ngFor="let menuItem of menuItems">
                                            <button mat-menu-item [matTooltip]="menuItem.tooltip"
                                                (click)="openInNewTab(menuItem, item)">
                                                <mat-icon>how_to_reg</mat-icon>
                                                <span>{{ menuItem.label }}</span>
                                            </button>

                                        </ng-container>
                                    </ng-template>
                                </mat-menu>

                                <div class="body">
                                    <div class="example-button-row">

                                        <button mat-raised-button color="primary"
                                            (click)="PreviousCall()">Previous</button>
                                        <button mat-raised-button color="primary" (click)="NextCall()">Next</button>

                                    </div>
                                </div>

                            </ng-template>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- <button mat-menu-item (click)="editCall(item)">
                                            <mat-icon>create</mat-icon>
                                            <span>Edit</span>
                                        </button>
                                        <button mat-menu-item (click)="deleteItem(item)">
                                            <mat-icon>delete</mat-icon>
                                            <span>Delete</span>
                                        </button>

                                        <button mat-menu-item (click)="customerAddress(item)">
                                            <mat-icon>how_to_reg</mat-icon>
                                            <span>Address</span>
                                        </button>
                                        <button matTooltip="Customer Key Account Manager" mat-menu-item (click)="customerKeyAccountManager(item)">
                                            <mat-icon>how_to_reg</mat-icon>
                                            <span>Key Account Manager</span>
                                        </button>
                                        <button mat-menu-item (click)="customerBillingExecutive(item)">
                                            <mat-icon>how_to_reg</mat-icon>
                                            <span>Billing Executive</span>
                                        </button>
                                        <button mat-menu-item (click)="customerCollectionExecutive(item)">
                                            <mat-icon>how_to_reg</mat-icon>
                                            <span>Collection Executive</span>
                                        </button>
                                        <button matTooltip="Customer Reservation Executive" mat-menu-item (click)="customerReservationExecutive(item)">
                                            <mat-icon>how_to_reg</mat-icon>
                                            <span>Reservation Executive</span>
                                        </button>
                                        <button mat-menu-item (click)="customerServiceExecutive(item)">
                                            <mat-icon>how_to_reg</mat-icon>
                                            <span>Service Executive</span>
                                        </button>
                                        <button mat-menu-item (click)="customerConfigurationBilling(item)">
                                            <mat-icon>how_to_reg</mat-icon>
                                            <span>Configuration Billing</span>
                                        </button>
                                        <button matTooltip="Customer Configuration Reservation" mat-menu-item (click)="customerConfigurationReservation(item)">
                                            <mat-icon>how_to_reg</mat-icon>
                                            <span>Configuration Reservation</span>
                                        </button>
                                        <button mat-menu-item (click)="customerCityMapping(item)">
                                            <mat-icon>how_to_reg</mat-icon>
                                            <span>Category Mapping</span>
                                        </button>
                                        <button matTooltip="Customer Configuration Supplier" mat-menu-item (click)="customerConfigurationSupplier(item)">
                                            <mat-icon>how_to_reg</mat-icon>
                                            <span>Configuration Supplier</span>
                                        </button>
                                        <button mat-menu-item (click)="customerBlocking(item)">
                                            <mat-icon>how_to_reg</mat-icon>
                                            <span>Blocking</span>
                                        </button>
                                        <button matTooltip="Customer Configuration Invoicing" mat-menu-item (click)="customerConfigurationInvoicing(item)">
                                            <mat-icon>how_to_reg</mat-icon>
                                            <span>Configuration Invoicing</span>
                                        </button>
                                        
                                        <button mat-menu-item (click)="customerSalesManager(item)">
                                            <mat-icon>how_to_reg</mat-icon>
                                            <span>Sales Manager</span>
                                        </button>
                                        <button matTooltip="Customer Configuration Messaging" mat-menu-item (click)="customerConfigurationMessaging(item)">
                                            <mat-icon>how_to_reg</mat-icon>
                                            <span>Configuration Messaging</span>
                                        </button>

                                        <button mat-menu-item (click)="customerStatus(item)">
                                            <mat-icon>how_to_reg</mat-icon>
                                            <span>Configuration SEZ</span>
                                        </button>

                                        <button matTooltip="Car And Driver Details SMS EMail" mat-menu-item (click)="driverDetailsSMsEMail(item)">
                                            <mat-icon>how_to_reg</mat-icon>
                                            <span>Car And Driver Details SMS EMail</span>
                                        </button>

<!--  -->
<!-- <button mat-menu-item (click)="customerReservation(item)">
                                            <mat-icon>how_to_reg</mat-icon>
                                            <span>Reservation Alert</span>
                                        </button>

                                        <button mat-menu-item (click)="customerContractMapping(item)">
                                            <mat-icon>how_to_reg</mat-icon>
                                            <span>Contract Mapping</span>
                                        </button>

                                       - <button mat-menu-item (click)="reservationAlert(item)">
                                            <mat-icon>how_to_reg</mat-icon>
                                            <span>Reservation Alert</span>
                                        </button> -->
<!-- <button mat-menu-item (click)="stopReservation(item)">
                                            <mat-icon>how_to_reg</mat-icon>
                                            <span>Stop Reservation</span>
                                        </button>
                                       
                                        <button mat-menu-item (click)="customerReservationFields(item)">
                                            <mat-icon>how_to_reg</mat-icon>
                                            <span>Reservation Field</span>
                                        </button>

                                        <button mat-menu-item (click)="customerInvoiceTemplate(item)">
                                            <mat-icon>how_to_reg</mat-icon>
                                            <span> Invoice Template</span>
                                        </button> -->