<section class="content">
    <div class="container-fluid">
        <div class="block-header">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <ul>
                        <li class="breadcrumb-item bcrumb-1">
                            <a routerLink="/dashboard/main">
                                <i class="fas fa-home"></i> Home</a>|
                            <a href="#" onClick="return false;">Admin</a>|
                            <a href="#" onClick="return false;">Booking Request</a>
                        </li>
                    </ul>
                    <ul class="breadcrumb breadcrumb-style ">
                        <li class="breadcrumb-item">
                            <h2>Booking Request</h2>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="card">
                    <div class="body">
                        <div class="responsive_table">
                            <div class="table-responsive">
                                <div class="materialTableHeader">
                                    <div class="row">
                                        <ng-template #searchDialog let-dialogRef="dialogRef">
    <h2 mat-dialog-title>Booking Request</h2>
    <div mat-dialog-content>
<div class="row">
                                                        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                                                            <mat-form-field class="example-full-width" appearance="outline" floatLabel="always">
                                                                <mat-label>From Date</mat-label>
                                                                <input matInput [matDatepicker]="startDate"
                                                                    [(ngModel)]="SearchFromDate">
                                                                <mat-datepicker-toggle matSuffix
                                                                    [for]="startDate"></mat-datepicker-toggle>
                                                                <mat-datepicker #startDate></mat-datepicker>
                                                            </mat-form-field>
                                                        </div>
    
                                                        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                                                            <mat-form-field class="example-full-width" appearance="outline" floatLabel="always">
                                                                <mat-label>To Date</mat-label>
                                                                <input matInput [matDatepicker]="endDate"
                                                                    [(ngModel)]="SearchToDate">
                                                                <mat-datepicker-toggle matSuffix
                                                                    [for]="endDate"></mat-datepicker-toggle>
                                                                <mat-datepicker #endDate></mat-datepicker>
                                                            </mat-form-field>
                                                        </div>
                                                       </div>

                                                       <div class="row">
                                                        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                                                            <mat-form-field class="example-full-width" appearance="outline" floatLabel="always">
                                                                <mat-label>Request From Date</mat-label>
                                                                <input matInput [matDatepicker]="startDate1"
                                                                    [(ngModel)]="SearchRequestFromDate">
                                                                <mat-datepicker-toggle matSuffix
                                                                    [for]="startDate1"></mat-datepicker-toggle>
                                                                <mat-datepicker #startDate1></mat-datepicker>
                                                            </mat-form-field>
                                                        </div>
    
                                                        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                                                            <mat-form-field class="example-full-width" appearance="outline" floatLabel="always">
                                                                <mat-label>Request To Date</mat-label>
                                                                <input matInput [matDatepicker]="endDate1"
                                                                    [(ngModel)]="SearchRequestToDate">
                                                                <mat-datepicker-toggle matSuffix
                                                                    [for]="endDate1"></mat-datepicker-toggle>
                                                                <mat-datepicker #endDate1></mat-datepicker>
                                                            </mat-form-field>
                                                        </div>
                                                       </div>

                                                       <div class="row">
                                                        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                                                            <mat-form-field class="example-full-width" appearance="outline" floatLabel="always">
                                                                <mat-label>TRN</mat-label>
                                                                <input matInput [(ngModel)]="SearchTRN">
                                                            </mat-form-field>
                                                        </div>

                                                        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                                                        <mat-form-field class="example-full-width" appearance="outline" floatLabel="always">
                                                            <mat-label>Customer</mat-label>
                                                            <input type="text" matInput
                                                                            [matAutocomplete]="auto3"
                                                                            [formControl]="customerName">
                                                            <mat-autocomplete #auto3="matAutocomplete">
                                                                <mat-option
                                                                    *ngFor="let option of filteredCustomerOptions | async"
                                                                    [value]="option.customerName">
                                                                    {{option.customerName}}
                                                                </mat-option>
                                                            </mat-autocomplete>
                                                         </mat-form-field>
                                                        </div>
                                                       </div>

                                                       <div class="row">
                                                        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                                                            <mat-form-field class="example-full-width" appearance="outline" floatLabel="always">
                                                                <mat-label>Eco Booking No</mat-label>
                                                                <input matInput [(ngModel)]="SearchEcoBookingNo">
                                                            </mat-form-field>
                                                        </div>

                                                        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                                                            <mat-form-field class="example-full-width" appearance="outline" floatLabel="always">
                                                                <mat-label>Request Status</mat-label>
                                                                <mat-select [(ngModel)]="SearchStatus">
                                                                    <mat-option value="Accepted">Accepted</mat-option>
                                                                    <mat-option value="Rejected">Rejected</mat-option>
                                                                    <mat-option value="Requested">Requested</mat-option>
                                                                    <mat-option value="Pending">Pending</mat-option>
                                                                </mat-select>
                                                            </mat-form-field>
                                                        </div>
                                                       </div>
    </div>
    <div mat-dialog-actions align="end">
        <button mat-button (click)="dialogRef.close()">Cancel</button>
        <button mat-raised-button color="primary" (click)="SearchFromDialog(dialogRef)">Search</button>
    </div>
</ng-template>
                                        <!-- <div style="width: 70%; float:left;padding-top: 10px;padding-left: 22px;">
                                        <div *ngIf="SearchName" style="float: left;"><b>Unlock Employee</b> : {{SearchName}},</div>
                                    </div> -->

                                        <div style="width: 70%; float:left;padding-top: 6px;padding-left: 12px;">
                                            <div class="col-lg-6">
                                                <div class="form-group">
                                                    
                                                </div>
                                            </div>
                                        </div>

                                        <div style="width: 30%; text-align: right;">

                                            <button mat-raised-button color="primary" (click)="openSearchDialog()">
                                                Search
                                            </button>
                                            &nbsp;
                                            <!-- <button mat-mini-fab color="primary" (click)="addNew()">
                                            <mat-icon class="col-white">add</mat-icon>
                                        </button> -->
                                            &nbsp;
                                            <button mat-mini-fab color="primary" (click)="refresh()">
                                                <mat-icon class="col-white">refresh</mat-icon>
                                            </button>

                                        </div>
                                    </div>
                                </div>

                                <!-- <label>
                                <input type="checkbox" [(ngModel)]="isChecked">
                                Check me!
                            </label> -->
                                <!-- <p>Checkbox is {{ isChecked ? 'checked' : 'unchecked' }}</p> -->
                                <p *ngIf="!dataSource; then thenBlock2 else elseBlock2">
                                    This is not rendered
                                </p>

                                <ng-template #thenBlock2>
                                    <div class="alert alert-primary"
                                        style="background-color:#E8E8E8; text-align: center;">
                                        No Records Found</div>
                                    <div class="body">
                                        <div class="example-button-row">

                                            <button mat-raised-button color="primary"
                                                (click)="PreviousCall()">Previous</button>
                                            <button mat-raised-button color="primary" (click)="NextCall()">Next</button>

                                        </div>
                                    </div>

                                </ng-template>

                                <ng-template #elseBlock2>
                                    <div class="scrollable-table-container">
                                        <mat-table #table [dataSource]="dataSource" matSort class="mat-cell floating-header-table"
                                            (matSortChange)="SortingData($event)">

                                            <!-- <ng-container matColumnDef="SR">
                                                <mat-header-cell *matHeaderCellDef mat-sort-header>Select Request</mat-header-cell>
                                                <mat-cell *matCellDef="let row"><a style="color: #007bff;" (click)="openInNewTab(row)"><u>Select</u></a></mat-cell>
                                            </ng-container> -->

                                            <ng-container matColumnDef="IntegrationRequestID">
                                                <mat-header-cell *matHeaderCellDef mat-sort-header>Request No.</mat-header-cell>
                                                <mat-cell *matCellDef="let row">{{row.integrationRequestGroupID + '.' + row.integrationRequestID}}</mat-cell>
                                            </ng-container>

                                            <ng-container matColumnDef="CustomerTravelRequestNumber">
                                                <mat-header-cell *matHeaderCellDef mat-sort-header>TR No.</mat-header-cell>
                                                <mat-cell *matCellDef="let row">{{row.customerTravelRequestNumber}}</mat-cell>
                                            </ng-container>

                                            <ng-container matColumnDef="CustomerName">
                                                <mat-header-cell *matHeaderCellDef mat-sort-header>Customer Name</mat-header-cell>
                                                <mat-cell *matCellDef="let row" (contextmenu)="onContextMenu($event, row)">
                                                    {{row.customerName ? row.customerName : 'N/A'}}</mat-cell>
                                            </ng-container>

                                            <ng-container matColumnDef="RequestDate">
                                                <mat-header-cell *matHeaderCellDef mat-sort-header>Booking Date</mat-header-cell>
                                                <mat-cell *matCellDef="let row" (contextmenu)="onContextMenu($event, row)">
                                                    {{ (row.requestDate | date : 'dd-MM-yyyy') || 'N/A'}}</mat-cell>
                                            </ng-container>

                                            <ng-container matColumnDef="PickupDate">
                                                <mat-header-cell *matHeaderCellDef mat-sort-header>Pickup Date</mat-header-cell>
                                                <mat-cell *matCellDef="let row" (contextmenu)="onContextMenu($event, row)">
                                                    {{row.pickupDate ? (row.pickupDate | date : 'dd-MM-yyyy') : 'N/A'}}</mat-cell>
                                            </ng-container>

                                            <ng-container matColumnDef="RequestStatus">
                                                <mat-header-cell *matHeaderCellDef mat-sort-header>Status</mat-header-cell>
                                                <mat-cell *matCellDef="let row" (contextmenu)="onContextMenu($event, row)" 
                                                        [ngClass]="{
                                                                'status-requested': row.requestStatus === 'Requested',
                                                                'status-approved': row.requestStatus === 'Approved',
                                                                'status-rejected': row.requestStatus === 'Rejected' 
                                                                                || row.requestStatus === 'Cancelled' 
                                                                                || row.requestStatus === 'Cancel'
                                                                }">
                                                    {{row.requestStatus ? row.requestStatus : 'N/A'}}</mat-cell>
                                            </ng-container>

                                            <ng-container matColumnDef="ReservationID">
                                                <mat-header-cell *matHeaderCellDef mat-sort-header>Booking No.</mat-header-cell>
                                                <mat-cell *matCellDef="let row" (contextmenu)="onContextMenu($event, row)">
                                                    {{row.reservationID ? row.reservationGroupID +'.'+row.reservationID : 'N/A'}}</mat-cell>
                                            </ng-container>

                                            <ng-container matColumnDef="PickupTime">
                                                <mat-header-cell *matHeaderCellDef mat-sort-header>Confirmation Date</mat-header-cell>
                                                <mat-cell *matCellDef="let row" (contextmenu)="onContextMenu($event, row)">
                                                    {{ (row.pickupDate || row.pickupTime) ? (row.pickupDate ? (row.pickupDate | date:'dd-MM-yyyy') : '') + ' ' + 
                                                          (row.pickupTime ? (row.pickupTime | date:'shortTime') : '') 
                                                        : 'N/A' }}</mat-cell>
                                            </ng-container>

                                            <ng-container matColumnDef="RequestTime">
                                                <mat-header-cell *matHeaderCellDef mat-sort-header>Booking Time</mat-header-cell>
                                                <mat-cell *matCellDef="let row" (contextmenu)="onContextMenu($event, row)">
                                                    {{row.requestTime ? (row.requestTime | date : 'shortTime') : 'N/A'}}</mat-cell>
                                            </ng-container>

                                            <ng-container matColumnDef="CheckedByEco">
                                                <mat-header-cell *matHeaderCellDef mat-sort-header>Checked By Eco</mat-header-cell>
                                                <mat-cell *matCellDef="let row" (contextmenu)="onContextMenu($event, row)">
                                                    {{row.checkedByEco === true ? 'Yes' : 'No' }}</mat-cell>
                                            </ng-container>
                                            <!-- actions -->
                                            <ng-container matColumnDef="actions">
                                                <mat-header-cell *matHeaderCellDef class="pr-0"
                                                    [ngClass]="'tbl-col-width-per-9'">Actions</mat-header-cell>
                                                <mat-cell *matCellDef="let row; let i=index;" class="pr-0"
                                                    [ngClass]="'tbl-col-width-per-9'">

                                                    <button mat-raised-button color="primary" [disabled]="row.customerName==='Individual'"
                                                    (contextmenu)="onContextMenu($event, row)"
                                                    (click)="onContextMenu($event, row)">
                                                    Actions
                                                </button>
                                                </mat-cell>
                                            </ng-container>

                                            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                                            <mat-row *matRowDef="let row; columns: displayedColumns;"
                                                [style.cursor]="'pointer'" matRipple>
                                            </mat-row>
                                        </mat-table>
                                    </div>

                                    <!-- context menu start -->
                                    <div style="visibility: hidden; position: fixed"
                                        [style.left]="contextMenuPosition.x" [style.top]="contextMenuPosition.y"
                                        [matMenuTriggerFor]="contextMenu">
                                    </div>
                                    <mat-menu #contextMenu="matMenu">
                                        <ng-template matMenuContent let-item="item">
                                            <button mat-menu-item (click)="openInNewTab(item)">
                                                <mat-icon>how_to_reg</mat-icon>
                                                <span>Configuration</span>
                                              </button>
                                        </ng-template>
                                    </mat-menu>



                                    <div class="body">
                                        <div class="example-button-row">

                                            <button mat-raised-button color="primary"
                                                (click)="PreviousCall()">Previous</button>
                                            <button mat-raised-button color="primary" (click)="NextCall()">Next</button>

                                        </div>
                                    </div>

                                </ng-template>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>