

.map-card
  width: 90%
  height: 100%
  border-radius: 12px
  display: flex
  flex-direction: column

.map-content
  flex: 1
  display: flex
  justify-content: center
  align-items: center
  padding: 0

.map-image
  width: 80%
  height: 80%
  object-fit: cover
  border-radius: 8px